body * {
  font-family: PTSans;
}
body a {
  color: #00add7;
}
body #block-system-main * {
  font-size: 15px;
}
body[class*='students'] #block-system-main .course-title h1 {
  font-size: 25px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
}
body[class*='students'] #block-system-main .course-title {
  display: inline-block;
  float: left;
}
#main > .page-title {
  width: 91%;
  margin: 0px auto;
}
.curator-add-form #table-results-courator-form th.select-all input[type="checkbox"] {
  display: none;
}
.curator-add-form #table-results-courator-form th.select-all input[type="checkbox"]:checked+label {
  background-position: 0px 0px;
}
table.table-striped td {
  background-color: #f6f7f9;
}
#content-wrapper table.table-striped td {
  background-color: #f6f7f9;
  border: none;
}
.curator-add-form #table-results-courator-form th.select-all label {
  background-image: url(images/button_cheked.png);
  background-position: 0px -60px;
  background-repeat: no-repeat;
  clip: auto;
  display: inline-block;
  height: 20px;
  left: 0px;
  margin-bottom: 0px;
  vertical-align: bottom;
  width: 20px;
}
#block-by-step-drop-list-course {
  margin-bottom: 0px;
  position: relative;
}
#block-by-step-drop-list-course .drop_list_content {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: -55px;
}
body[class*='students'] #block-system-main .course-identification {
  color: #909192;
  display: inline-block;
  float: right;
}
body[class*='students'] #block-system-main .add-student-title {
  clear: both;
  margin-bottom: 20px;
}
body[class*='students'] #block-system-main .course-content {
  overflow: hidden;
  margin-bottom: 20px;
}
body[class*='students'] #block-system-main .manually-add-title {
  font-size: 15px;
  font-weight: bold;
}
body[class*='students'] #add-pupil-to-lesson-form .form-type-textfield {
  position: relative;
}
body[class*='students'] #add-pupil-to-lesson-form .form-type-textfield label {
  color: #909192;
  font-weight: normal;
  left: 15px;
  position: absolute;
  top: 10px;
}
body[class*='students'] #add-pupil-to-lesson-form .form-type-textfield {
  float: left;
  width: 49%;
}
body[class*='students'] #add-pupil-to-lesson-form .form-type-textfield .form-control {
  padding: 19px 12px;
}
body[class*='students'] #add-pupil-to-lesson-form #names-wrapper {
  margin-bottom: 20px;
  overflow: hidden;
}
/*body[class*='students'] #add-pupil-to-lesson-form .fields.even {
  overflow: hidden;
}*/
body[class*='students'] #add-pupil-to-lesson-form .form-type-select {
  float: right;
  width: 49%;
}
body[class*='students'] #add-pupil-to-lesson-form .form-type-select .form-select {
  color: #909192;
  height: 40px;
}
body[class*='students'] #add-pupil-to-lesson-form .form-type-select .form-select option {
  margin: 5px;
}
body[class*='students'] #add-pupil-to-lesson-form .form-type-select label {
  display: none;
}
body[class*='students'] #add-pupil-to-lesson-form #edit-add-more {
  background-color: inherit;
  border: none;
  color: #21b7dc;
  display: inline-block;
  float: left;
  font-size: 15px;
  padding: 6px 0px;
}
body[class*='students'] #add-pupil-to-lesson-form #edit-submit {
  background-color: #21b7dc;
  color: #fff;
  display: inline-block;
  float: right;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 29px;
  text-transform: uppercase;
}
body[class*='students'] #add-pupil-to-lesson-form {
  overflow: hidden;
}
body[class*='students'] #by-step-date-form .form-item-field-user-mail {
  float: left;
  margin-top: 25px;
  padding-right: 15px;
  position: relative;
  width: 50%;
}
body[class*='students'] #by-step-date-form .form-item-field-user-mail>label {
  color: #909192;
  font-size: 15px;
  font-weight: normal;
  left: 15px;
  position: absolute;
  top: 5px;
}
body[class*='students'] form.uplvl-file-field #edit-file-fid .uplvl-file-field-btn {
  background-color: inherit;
  border: none;
  color: #42c1e0;
  font-size: 12pt;
  padding: 10px 0px;
}
body[class*='students'] form.uplvl-file-field #edit-file-fid .input-group-btn {
  display: inline-block;
  min-width: 120px;
  width: auto;
}
body[class*='students'] form.uplvl-file-field #edit-file-fid input[type="text"].form-control {
  background-color: inherit;
  border: none;
  box-shadow: none;
  display: inline-block;
  float: none;
  left: 100px;
  position: absolute;
  top: 7px;
  width: auto;
}
body[class*='students'] form.uplvl-file-field #edit-file-fid .uplvl-file-field-btn:active {
  border: none;
  box-shadow: none;
}
body[class*='students'] form.uplvl-file-field #edit-file-fid span.input-group-btn {
  display: block;
  width: auto;
}
body[class*='students'] form.uplvl-file-field .form-type-managed-file .form-managed-file {
  display: inline-block;
}
body[class*='students'] form.uplvl-file-field .form-type-managed-file>label {
  display: block;
  font-size: 20px;
}
body[class*='students'] form.uplvl-file-field .form-type-managed-file>label .grey-text {
  color: #909192;
  font-size: 15px;
  font-weight: normal;
}
body[class*='students'] form.uplvl-file-field #edit-file-fid span.input-group-btn>button {
  background-color: #00add7;
  border-color: #00add7;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 4px;
  padding: 9px 25px;
  text-transform: uppercase;
}
body[class*='students'] form.uplvl-file-field .form-type-managed-file p.help-block {
  display: inline-block;
  margin-left: 10px;
}
body[class*='students'] form.uplvl-file-field .form-type-managed-file p.help-block>br {
  display: none;
}
body[class*='students'] form.uplvl-file-field {
  margin: 25px 0px;
}
body[class*='students'] form.uplvl-file-field .form-submit {
  background: inherit;
  border: none;
  color: #909192;
  padding: 6px 0px;
}
body[class*='students'] #by-step-date-form #edit-text {
  display: none;
}
body[class*='students'] #by-step-date-form #edit-date-search {
  /*clear: both;*/
  margin: 0px;
}
body[class*='students'] #by-step-date-form .date-search {
  float: left;
  margin-top: 25px;
  overflow: hidden;
  width: 33%;
}
body[class*='students'] #by-step-date-form .date-search .form-type-date-popup label {
  float: left;
  line-height: 33px;
  margin-left: 5px;
  width: 25%;
}
body[class*='students'] #by-step-date-form .date-search .container-inline-date:first-child {
  clear: none;
  display: inline-block;
  width: 55%;
}
body[class*='students'] #by-step-date-form .date-search .container-inline-date {
  display: inline-block;
  width: 35%;
}
body[class*='students'] #by-step-date-form .date-search .container-inline-date .form-type-date-popup {
  width: 100%;
}
body[class*='students'] #by-step-date-form .date-search .container-inline-date #edit-field-date-from {
  padding: 0px;
  width: 65%;
}
body[class*='students'] #by-step-date-form .container-inline-date {
  clear: none;
}
body[class*='students'] #by-step-date-form #edit-field-date-from .form-item-field-date-from-date {
  position: relative;
  width: 100%;
}
body[class*='students'] #by-step-date-form #edit-field-date-from .form-item-field-date-from-date input.form-text {
  width: 100%;
}
body[class*='students'] #by-step-date-form .form-item-field-date-till-date {
  width: 100%;
}
body[class*='students'] #by-step-date-form .form-item-field-date-till-date input.date-till {
  width: 100%;
}
body[class*='students'] #by-step-date-form #edit-field-date-till {
  padding: 0px;
  position: relative;
}
body[class*='students'] .student-approve-settings  #by-step-date-form button.form-submit {
  background-color: #00add7;
  border-color: #00add7;
  color: #fff;
  float: left;
  font-size: 11pt;
  font-weight: bold;
  margin-top: 25px;
  padding: 6px 25px;
  text-transform: uppercase;
}
body[class*='students'] #by-step-date-form .form-item-field-date-till-date:after {
  background-image: url('images/arrowdown.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
  content: '';
  display: block;
  height: 10px;
  position: absolute;
  right: 12px;
  top: 12px;
  width: 9px;
}
body[class*='students'] #by-step-date-form .form-item-field-date-from-date:after {
  background-image: url('images/arrowdown.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
  content: '';
  display: block;
  height: 10px;
  position: absolute;
  right: 12px;
  top: 12px;
  width: 9px;
}
body[class*='students'] .approve-student-title .grey {
  font-size: 20px;
  font-weight: bold;
}
.table-title {
  display: none;
}
body[class*='students'] .approve-student-title {
  margin-bottom: 25px;
}
body[class*='students'] #by-step-date-form {
  overflow: hidden;
  padding-bottom: 45px;
}
#main .content #block-system-main {
  width: 91%;
  margin: 0px auto;
}
body[class*='curator-add'] #block-system-main .course-title {
  display: inline-block;
  float: left;

}
body[class*='curator-add'] #block-system-main .course-identification {
  color: #909192;
  display: inline-block;
  float: right;
}
body[class*='curator-add'] #block-system-main .course-title h1 {
  font-size: 25px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
body[class*='curator-add'] #block-system-main .course-content {
  overflow: hidden;
}
body[class*='curator-add'] #add-courator-form #names-wrapper .form-type-textfield {
  position: relative;
}
body[class*='curator-add'] #add-courator-form #names-wrapper .form-type-textfield label {
  color: #909192;
  font-weight: normal;
  left: 15px;
  position: absolute;
  top: 8px;
}
body[class*='curator-add'] #add-courator-form #names-wrapper .form-type-textfield input {
  float: left;
  padding: 18px 12px;
  width: 42%;
}
body[class*='curator-add'] #add-courator-form #names-wrapper .form-type-textfield .help-block {
  float: right;
  margin: 0px;
  padding: 0px 10px;
  width: 55%;
}
body[class*='curator-add'] #add-courator-form #names-wrapper .form-type-textfield {
  overflow: hidden;
}
body[class*='curator-add'] #main .list-settings-title .add-curator-title {
  font-size: 15px;
  font-weight: bold;
}
body[class*='curator-add'] .list-settings-title {
  clear: both;
  margin-bottom: 20px;
}
body[class*='curator-add'] #add-courator-form #edit-add-more {
  background-color: inherit;
  border: none;
  color: #21b7dc;
  display: inline-block;
  float: left;
  font-size: 15px;
  padding: 6px 0px;
}
body[class*='curator-add'] #add-courator-form #edit-submit {
  background-color: #21b7dc;
  color: #fff;
  display: inline-block;
  float: right;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 29px;
  text-transform: uppercase;
}
body[class*='curator-add'] #courator-add-course-form-wrapper {
  clear: both;
}
body[class*='curator-add'] #table-results-courator-form #edit-delete-courator {
  background: inherit;
  border: none;
  color: #909192;
  font-size: 18px;
  padding: 6px 5px;
}
body[class*='curator-add'] #table-results-courator-form {
  margin: 45px 0px;
}

body[class*='pupil-list'] #block-system-main .course-content .course-title {
  float: left;
  overflow: hidden;
  width: 85%;
}
body[class*='pupil-list'] #by-step-pupils-search-form {
  width: 75%;
}
body[class*='pupil-list'] #block-system-main .course-content .course-title h1 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0px;
  padding: 0px;
  text-transform: uppercase;
}
body[class*='pupil-list'] .course-content .course-nid {
  color: #909192;
  float: right;
  width: 10%;
  text-align: right;
}
body[class*='pupil-list'] #block-system-main .course-content {
  margin-bottom: 20px;
  overflow: hidden;
}
body[class*='pupil-list'] #by-step-pupils-search-form .form-item-field-user-mail {
  margin-bottom: 25px;
  position: relative;
  width: 100%;
}
body[class*='pupil-list'] #by-step-pupils-search-form .form-item-field-user-mail label {
  color: #909192;
  font-weight: normal;
  left: 15px;
  position: absolute;
  top: 8px;
}
body[class*='pupil-list'] #by-step-pupils-search-form .form-item-field-user-mail input.form-text {
  padding: 19px 12px;
}
body[class*='pupil-list'] #by-step-pupils-search-form .date-search .form-type-select label {
  display: inline-block;
  line-height: 33px;
  width: 45%;
}
body[class*='pupil-list'] #by-step-pupils-search-form .date-search .form-type-select #edit-date-search-pupil-status {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
body[class*='pupil-list'] #by-step-pupils-search-form .date-search  .form-item-date-search-pupil-status {
  display: inline-block;
  margin-bottom: 25px;
  width: 59%;
}
body[class*='pupil-list'] #by-step-pupils-search-form .container-inline-date .form-item-date-search-field-date-from>label {
  display: none;
}
body[class*='pupil-list'] #by-step-pupils-search-form .container-inline-date .form-item-date-search-field-date-till>label {
  display: none;
}
body[class*='pupil-list'] #by-step-pupils-search-form .uplvl-date-defise {
  font-size: 35px;
  font-weight: normal;
  left: 48%;
  position: absolute;
  top: -10px;
}
body[class*='pupil-list'] #by-step-pupils-search-form .container-inline-date {
  margin: 0px;
  padding: 0px ;
  position: relative;
  vertical-align: top;
}
body[class*='pupil-list'] #by-step-pupils-search-form .container-inline-date:after {
  background-image: url('images/arrowdown.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
  content: '';
  display: block;
  height: 10px;
  position: absolute;
  right: 12px;
  top: 12px;
  width: 9px;
}
body[class*='pupil-list'] #by-step-pupils-search-form .container-inline-date input[type='text'] {
  width: 100%;
}
body[class*='pupil-list'] #by-step-pupils-search-form #edit-date-search-field-date-from,
body[class*='pupil-list'] #by-step-pupils-search-form #edit-date-search-field-date-till {
  padding: 0px;
}
body[class*='pupil-list'] #by-step-pupils-search-form .uplvl-date {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 40%;
}
body[class*='pupil-list'] #by-step-pupils-search-form .uplvl-date .uplvl-date-from {
  float: left;
  width: 45%;
}
body[class*='pupil-list'] #by-step-pupils-search-form .uplvl-date .uplvl-date-till {
  float: right;
  position: relative;
  width: 45%;
}
body[class*='pupil-list'] #by-step-pupils-search-form .form-item-date-search-field-date-from,
body[class*='pupil-list'] #by-step-pupils-search-form .form-item-date-search-field-date-till {
  margin: 0px;
  padding: 0px;
}
body[class*='pupil-list'] #by-lesson-search .uplvl-lessons-title {
  display: inline-block;
  float: left;
  width: 45%;
}
body[class*='pupil-list'] #by-lesson-search .uplvl-lessons-check {
  box-sizing: content-box;
  float: left;
  padding-left: 5px;
  position: relative;
  width: 50%;
}
body[class*='pupil-list'] #by-lesson-search {
  width: 59%;
}
body[class*='pupil-list'] #by-lesson-search .uplvl-lessons-check .form-type-select>label {
  display: none;
}
body[class*='pupil-list'] #by-lesson-search .uplvl-lessons-check .from {
  float: left;
  width: 45%;
}
body[class*='pupil-list'] #by-lesson-search .uplvl-lessons-check .till {
  float: right;
  width: 45%;
}
body[class*='pupil-list'] #by-step-pupils-search-form button.search-button {
  background-color: #21b7dc;
  border: none;
  clear: both;
  color: #fff;
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 8px 29px;
  text-transform: uppercase;
}
body[class*='pupil-list'] .course .list-pupil-inform {
  clear: both;
  font-size: 20px;
  font-weight: bold;
}
#results-pupil-add-wrapper {
  clear: both;
}
form[id*="table-results"] .table-select-processed .select-all input[type="checkbox"] {
  /*visibility: hidden;*/
}
form[id*="table-results"] .table-select-processed .form-type-checkbox>label {
  background-image: url(images/button_cheked.png);
  background-position: 0px -60px;
  background-repeat: no-repeat;
  clip: auto;
  left: 0px;
}
form[id*="table-results"] .table-select-processed .selected .form-type-checkbox>label {
  background-image: url(images/button_cheked.png);
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
form[id*="table-results"] .table-select-processed .form-type-checkbox {
  position: relative;
}

form[id*="table-results"] .table-select-processed .form-type-checkbox>input[type="checkbox"] {
  display: none;
}
#by-step-pupils-search-form form#table-results-pupil-form a {
  color: #00add7;
}
#by-step-pupils-search-form form[id*="table-results-pupil"] button.form-submit {
  background: inherit;
  border: none;
  box-shadow: none;
  color: #00add7;
  font-size: 15px;
}
#by-step-pupils-search-form form#table-results-pupil-form .table-striped thead th {
  color: #909192;
}
form#table-results-pupil-form .table-striped thead th.select-all input[type="checkbox"] {
  display: none;
}
form#table-results-pupil-form .table-striped thead th.select-all label {
  background-image: url(images/button_cheked.png);
  background-position: 0px -60px;
  background-repeat: no-repeat;
  clip: auto;
  left: 0px;
  width: 20px;
  height: 20px;
  margin: 0px;
}
form#table-results-pupil-form .table-striped thead th.select-all input[type="checkbox"]:checked+label {
  background-position: 0px 0px;
}
td .form-type-select .select-pupil-lesson-switch {
  background-color: inherit;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
#table-results-pupil-form {
  margin-bottom: 50px;
}
#by-step-pupils-search-form .table-striped thead th {
  background: inherit;
  border: none;
  color: #909192;
  font-weight: normal;
  padding-bottom: 10px;
}
#by-step-pupils-search-form .table-striped tbody td {
  background: #f6f7f9;
  border: none;
}
@media all and (max-width: 1200px) {
  body[class*='students'] #by-step-date-form .date-search {
    width: 40%;
  }
  body[class*='students'] #by-step-date-form .date-search .form-type-date-popup label {
    width: 30%;
  }
  body[class*='students'] .student-approve-settings #by-step-date-form button.form-submit {
    margin-bottom: 15px;
  }
  body[class*='pupil-list'] #by-step-pupils-search-form {
    width: 85%;
  }
}
@media all and (max-width: 960px) {
  body[class*='students'] #by-step-date-form .date-search {
    clear: both;
    float: left;
    width: 75%;
  }
  body[class*='students'] .student-approve-settings #by-step-date-form button.form-submit {
    padding: 7px 25px;
  }
  body[class*='students'] #by-step-date-form .form-item-field-user-mail {
    width: 100%;
  }
  body[class*='students'] .approve-student-title {
    margin-bottom: 0px;
  }
  body[class*='pupil-list'] #by-step-pupils-search-form .date-search .form-item-date-search-pupil-status {
    display: block;
  }
  body[class*='pupil-list'] #by-step-pupils-search-form .uplvl-date {
    display: block;
    width: 57%;
    overflow: hidden;
  }
  body[class*='pupil-list'] #by-step-pupils-search-form .date-search {
    margin-bottom: 25px;
  }
  body[class*='pupil-list'] #by-step-pupils-search-form .date-search .form-type-select label {
    line-height: 20px;
  }
}
@media all and (max-width: 800px) {
  body[class*='students'] #by-step-date-form .date-search {
    float: left;
    width: 73%;
  }
  body[class*='students'] .student-approve-settings #by-step-date-form button.form-submit {
    float: left;
  }
  body[class*='pupil-list'] #by-step-pupils-search-form .date-search .form-item-date-search-pupil-status {
    width: 80%
  }
  body[class*='pupil-list'] #by-step-pupils-search-form .uplvl-date {
    width: 37%;
  }
  body[class*='pupil-list'] #by-lesson-search .uplvl-lessons-check {
    float: none;
    width: 61%;
    position: relative;
    overflow: hidden;
    padding: 0px;
    margin-bottom: 20px;
  }
}
@media all and (max-width: 700px) {
  body[class*='students'] #add-pupil-to-lesson-form .form-type-textfield {
    float: none;
    width: 100%;
  }
  body[class*='students'] #add-pupil-to-lesson-form .form-type-select {
    float: none;
    width: 100%;
  }
  body[class*='students'] #by-step-date-form .date-search {
    width: 68%;
  }
  body[class*='pupil-list'] #by-step-pupils-search-form .date-search .form-type-select #edit-date-search-pupil-status {
    display: block;
    margin-top: 15px;
    width: 60%;
  }
  body[class*='pupil-list'] #by-step-pupils-search-form .uplvl-date {
    width: 48%;
  }
  body[class*='pupil-list'] #by-lesson-search {
    width: 80%;
  }
}
@media all and (max-width: 600px) {
  body[class*='students'] #by-step-date-form .date-search {
    width: 100%;
  }
  body[class*='students'] #by-step-date-form .date-search .container-inline-date:first-child {
    width: 60%;
  }
  body[class*='students'] #by-step-date-form .date-search .container-inline-date {
    width: 37%;
  }
  body[class*='students'] .student-approve-settings #by-step-date-form button.form-submit {
    margin-top: 5px;
  }
  body[class*='students'] #by-step-date-form .date-search {
    margin-top: 10px;
  }
  body[class*='students'] form.uplvl-file-field .form-type-managed-file>label .grey-text {
    display: block;
  }
  body[class*='students'] form.uplvl-file-field .form-type-managed-file p.help-block>br {
    display: block;
  }
}
@media all and (max-width: 480px) {
  body[class*='pupil-list'] .course-content .course-title h1 {
    font-size: 25px;
    margin-bottom: 25px;
  }
  body[class*='pupil-list'] #by-step-pupils-search-form .date-search .form-item-date-search-pupil-status {
    width: 100%;
  }
  body[class*='pupil-list'] #by-step-pupils-search-form .date-search .form-type-select label {
    width: 100%;
  }
  body[class*='pupil-list'] #by-step-pupils-search-form .date-search .form-type-select #edit-date-search-pupil-status {
    width: 80%;
  }
  body[class*='pupil-list'] #by-step-pupils-search-form .uplvl-date {
    width: 80%;
  }
  body[class*='pupil-list'] #by-lesson-search .uplvl-lessons-title {
    width: 100%;
    float: none;
  }
  body[class*='pupil-list'] #by-lesson-search .uplvl-lessons-check {
    width: 100%;
  }
}