
body * {
  font-family: PTSans;
  font-size: 15px;
}
body a {
  color: #00add7;
}
body #block-system-main * {
  font-size: 15px;
}
.course a:hover,
.course a:active,
.course a:visited,
.course a:focus,
.course a {
  color: #00add7;
  text-decoration: none;
}
#block-system-main .course .course-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: PTSans;
  width: 90%;
  float: left;
}
#task-edit-content .task-timer div {
  display: inline-block;
}
#task-edit-content .task-timer {
  text-align: center;
  border: 2px solid grey;
  margin: 25px 0px;
  padding: 10px 25px;
  border-radius: 25px;
  font-size: 20px;
  background: lightgrey;
  width: 120px;
  margin: 20px auto;
}
#pupil-answer-auto-task-form button[id*="edit-submit"] {
  background-color: #21b7dc;
  border: none;
  clear: both;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 50px;
    padding: 10px 29px;
  text-transform: uppercase;
}
#pupil-answer-auto-task-form fieldset[id*="edit-question-number"] {
  border: none;
  background-color: inherit;
  box-shadow: none;
}
#pupil-answer-auto-task-form fieldset[id*="edit-question-number"]>legend {
  border: none;
  background-color: inherit;
  box-shadow: none;
}
#block-system-main .course .course-id {
  float: right;
  display: inline-block;
  color: #909192;
}
#block-system-main .course {
  overflow: hidden;
  display: block;
  font-family: PTSans;
  font-size: 16px;
  font-weight: normal;
  margin: 0px auto;
  width: 91%;
}
#block-system-main .course-lessons {
  width: 91%;
  margin: 0px auto;
}
#block-system-main .course-lessons #block-with-lessons {
  border-top: 2px solid #e0e1e3;
  border-bottom: 2px solid #e0e1e3;
}
#block-with-lessons .titles {
  display: block;
  float: left;
  width: 100%;
  font-size: 15px;
  color: #909192;
}
.course-lessons #block-with-lessons .titles {
  color: #7b7b7b;
  font-weight: 600;
  padding: 25px 0;
}
.course-lessons #block-with-lessons .titles {
  color: #7b7b7b;
  font-weight: 600;
  font-size: 15px;
  font-family: PTSans;
}
#block-with-lessons .less .lesson-number {
  background-image: url('images/lesson-circle.png');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  float: left;
  min-height: 40px;
  padding: 10px 1px;
  text-align: center;
  width: 10%;
  max-width: 40px;
  margin-right: 25px;
}
#block-with-lessons .less .lesson-number.highlight {
  background-image: url('images/lesson-checked.png');
  color: #FFFFFF;
}
#block-with-lessons .less-scrol {
  overflow: auto;
  margin: 10px 0;
  max-height: 370px;
  clear: both;
}
#block-with-lessons .less, #block-with-lessons .add-more {
  clear: both;
  display: block;
  float: left;
  padding-bottom: 40px;
  position: relative;
  width: 100%;
  font-size: 15px;
}
#block-with-lessons .less .lesson-title-tasks,
#block-with-lessons .add-more .add-more-lessons-text {
  display: block;
  float: left;
  padding-top: 8px;
  width: 90%;
}
.lesson-title-tasks .lesson-title {
  cursor: pointer;
  display: block;
  float: left;
  max-width: 80%;
}
.lesson-title-tasks .lesson-total-tasks {
  clear: both;
  color: #909192;
  display: block;
}
#block-with-lessons .less .span-line {
  background-image: url('images/lesson-line.png');
  background-repeat: no-repeat;
  clear: both;
  display: block;
  min-height: 85px;
  position: absolute;
  top: 37px;
  left: 2%;
  width: 3px;
  z-index: -1;
}
.node-text_type_task_answer-form #edit-body #body-add-more-wrapper {
  display: block !important;
}
/*.text-format-wrapper .form-textarea-wrapper textarea {
  display: block !important;
  visibility: inherit !important;
}*/
#block-with-lessons .lesson-status {
  float: right;
  max-width: 20%;
  color: #0D47DD;
}
#block-system-main .course-lessons>.title {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0px;
}
#block-system-main .course-lessons .lesson-content-field>ul.nav {
  border-bottom: 2px solid #e0e1e3;
  margin: 25px 0px;
}
#block-system-main .course-lessons .lesson-content-field>ul.nav>li {
  border-bottom: 2px solid #e0e1e3;
  margin-bottom: -2px;
}
#block-system-main .course-lessons .lesson-content-field>ul.nav>li.active {
  border-bottom: 2px solid #00add7;
}
#block-system-main .course-lessons .lesson-content-field>ul.nav>li>a {
  text-transform: uppercase;
  border: none;
  background: inherit;
  color: #2a2d2e;
}
.course-lessons .lesson-content-field .tab-content .present-lvl ul,
.course-lessons .lesson-content-field .tab-content .video-lvl ul {
  margin: 25px 0px;
}
.course-lessons .lesson-content-field .tab-content .tab-pane ul {
  border: none;
  padding-left: 0px;
  overflow: hidden;
}
.tabs-video .tab-content {
  margin: 15px 0px;
}
.course-lessons .lesson-content-field .tab-content #tasks-tabpanel ul>li {
  cursor: pointer;
  border: none;
  float: left;
  list-style: none;
  width: 55px !important;
  height: 40px;
  position: relative;
}
.course-lessons .lesson-content-field .tab-content .present-lvl ul>li,
.course-lessons .lesson-content-field .tab-content .video-lvl ul>li {
  margin-right: 25px;
}
.course-lessons .lesson-content-field .tab-content .present-lvl ul>li a:before,
.course-lessons .lesson-content-field .tab-content .video-lvl ul>li a:before {
  background-color: #ccc;
  content: '';
  display: inline-block;
  height: 2px;
  left: -60px;
  position: absolute;
  top: 14px;
  width: 70px;
  z-index: -5;
}
.course-lessons .lesson-content-field .tab-content .present-lvl ul>li:first-child a:before,
.course-lessons .lesson-content-field .tab-content .video-lvl ul>li:first-child a:before {
  display: none;
}
.course-lessons .lesson-content-field .tab-content .tab-pane ul>li.active>a {
  background: #0d4795;
  color: #fff;
}
.course-lessons .lesson-content-field .tab-content .tab-pane ul>li>a {
  background-color: #f6f7f9;
  border-radius: 50% 50%;
  border: 2px solid #0d4795;
  color: #0d4795;
  display: block;
  font-size: 15px;
  height: 33px;
  margin: 0px auto;
  padding: 4px 11px;
  width: 33px;
}
/*.course-lessons .lesson-content-field .tab-content .tab-pane ul>li .task-number {
  padding: 4px 0px;
  text-align: center;
  border: 2px solid #0d4795;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-top: 4px;
  color: #0d4795;
}*/
.course-lessons .lesson-content-field .tab-content .tab-pane ul>li .task-number a {
  background-color: #f6f7f9;
  border-radius: 50% 50%;
  border: 2px solid #0d4795;
  box-sizing: border-box;
  color: #0d4795;
  display: block;
  font-size: 15px;
  height: 33px;
  line-height: 22px;
  margin: -2px 0px 0px -2px;
  padding: 4px 10px;
  width: 33px;
}
.course-lessons .lesson-content-field .tab-content .tab-pane ul>li .task-number {
  background-color: #f6f7f9;
  border-radius: 50% 50%;
  border: 2px solid #0d4795;
  box-sizing: border-box;
  color: #0d4795;
  display: block;
  font-size: 15px;
  height: 33px;
  line-height: 30px;
  margin: 2px auto 0px;
  padding: 0px;
  text-align: center;
  width: 33px;
}
.course-lessons .lesson-content-field .tab-content .tab-pane ul>li .task-number a:hover {
  text-decoration: none;
}
.course-lessons .lesson-content-field .tab-content .tab-pane ul>li .task-number a.active {
  background: #0d4795;
  color: #fff;
}
.node-text_type_task_answer-form .field-name-body {
  margin: 25px 0px;
}
.node-text_type_task_answer-form .field-name-body .form-type-textarea label {
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.node-text_type_task_answer-form .field-name-body .form-type-textarea+a.ckeditor_links {
  display: none !important;
}
.node-text_type_task_answer-form .field-type-file fieldset.panel {
  background: inherit;
  border: none;
  box-shadow: none;
}
.node-text_type_task_answer-form .field-type-file fieldset.panel legend {
  background: inherit;
  border: none;
  display: none;
}
.field-type-file .form-managed-file .input-group-btn .btn-file:active {
  box-shadow: none;
  border: none;
}
.field-type-file .form-managed-file .input-group-btn .btn-file {
  background-color: inherit;
  border: none;
  color: #42c1e0;
  font-size: 12pt;
  padding: 10px 0px;
}
.field-type-file .form-managed-file div.input-group-btn {
  display: inline-block;
  min-width: 120px;
  width: auto;
}
form[id*="text-type-task-answer-node-form"] .form-type-managed-file .file-widget span>button {
  background-color: #00add7;
  border-color: #00add7;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 4px;
  padding: 9px 25px;
  text-transform: uppercase;
}
form[id*="text-type-task-answer-node-form"] .form-type-managed-file {
  position: relative;
}
form[id*="text-type-task-answer-node-form"] .form-type-managed-file .form-managed-file {
  display: inline-block;
  width: 25%;
  min-width: 125px;
}
form[id*="text-type-task-answer-node-form"] .form-type-managed-file div.input-group-btn {
  display: inline-block;
  min-width: 120px;
  width: auto;
}
form[id*="text-type-task-answer-node-form"] .form-type-managed-file .form-managed-file>input[type="text"] {
  border: none;
  background: inherit;
  box-shadow: none;
  position: absolute;
  top: 5px;
  left: 160px;
  max-width: 300px;
  padding: 0px;
}
form[id*="text-type-task-answer-node-form"] .form-type-managed-file p.help-block {
  display: inline-block;
  position: absolute;
  top: 52px;
  font-size: 13px;
  left: 160px;
}
form[id*="text-type-task-answer-node-form"] .form-type-managed-file p.help-block>br {
  display: none;
}
.field-type-file  fieldset .panel-body table thead th {
  color: #909192;
  font-size: 15px;
  font-weight: normal;
  padding: 10px 0px;
}
.field-type-file  fieldset .panel-body table tbody .form-submit {
  background: inherit;
  border: none;
  color: #909192;
  font-size: 15px;
  padding: 0px;
}
form[id*="text-type-task-answer-node-form"] .form-type-managed-file>label {
  display: none;
  font-size: 15px;
  margin-top: 30px;
  font-weight: normal;
}
.node-text_type_task_answer-form .tabledrag-toggle-weight-wrapper {
  display: none;
}
#task-edit-content .question-body {
  font-size: 15px;
}
.field-name-field-answer-link .form-item .description #ajax-target {
  display: none;
}
.field-name-field-answer-link .form-item .field-add-more-submit {
  background: inherit;
  border: none;
  color: #42c1e0;
  font-size: 15px;
  margin: 10px 0px;
  padding: 0px;
}
#task-edit-content .field-widget-text-textfield .field-multiple-table tbody tr {
  background-color: #f6f7f9;
}
#task-edit-content .field-name-field-answer-link  .field-multiple-table tbody tr td {
  background-color: #f6f7f9;
  border: none;
  padding: 0px;
}
#task-edit-content .field-name-field-answer-link  .field-multiple-table thead tr th {
  border: none;
  font-size: 15px;
  font-weight: normal;
  color: #909192;
}
#task-edit-content .field-name-field-answer-link  .field-multiple-table tbody tr td.field-multiple-drag {
  display: none;
}
#task-edit-content .field-name-field-answer-link  table.field-multiple-table {
  width: 40%;
}
.node-text_type_task_answer-form .field-type-file fieldset.panel .panel-body {
  padding: 0px;
}
.node-text_type_task_answer-form .form-actions button.form-submit {
  background-color: #00add7;
  border-color: #00add7;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
  padding: 9px 25px;
  text-transform: uppercase;
}
#block-system-main .less-body-content {
  word-break: break-word;
  font-size: 15px;
}
#block-system-main .field-type-file table.table-striped td {
  border: none;
  background-color: #f6f7f9;
  padding: 5px 0px;
  color: #909192;
}
#block-system-main .field-type-file table.table-striped td a.tabledrag-handle {
  display: none;
}
#block-system-main .field-type-file table.table-striped td img.file-icon {
  display: none;
}
.course-lessons .bx-wrapper {
  margin: 25px 0px 25px 45px !important;
}

#block-system-main .lesson-content-field .task-number.task-accepted {
  background: #0c5802;
  border-radius: 50%;
  border: 2px solid #0d4795;
  box-sizing: border-box;
  color: #fff;
  height: 33px;
  line-height: 20px;
  margin: 3px auto 0px;
  padding: 5px 0px;
  text-align: center;
  vertical-align: top;
  width: 33px;
}
#block-system-main .lesson-content-field .task-number.task-accepted>a {
  background-color: inherit;
  border-radius: 0px;
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  height: auto;
  margin: 0px auto;
  padding: 0px;
  width: auto;
}
#block-system-main .lesson-content-field .task-number.task-to-check>a {
   background-color: inherit;
  border-radius: 50%;
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  height: auto;
  margin: 0px auto;
  padding: 0px;
  width: auto;
}
#block-system-main .lesson-content-field .task-number.task-to-check {
  background: #87CEEB;
  border-radius: 50%;
  border: 2px solid #0d4795;
  box-sizing: border-box;
  color: #fff;
  height: 33px;
  line-height: 20px;
  margin: 3px auto 0px;
  padding: 5px 0px;
  text-align: center;
  font-weight: bold;
  vertical-align: top;
  width: 33px;
}
.course-lessons .lesson-content-field .tab-content .tab-pane ul>li .task-number.task-to-fix a {
  background: darkred;
  color: #fff;
}
#task-edit-content .question-title-pupil-task {
  display: none;
}
#task-edit-content .courator-comment {
  margin-top: 15px;
}
#task-edit-content .courator-comment>span {
  font-weight: bold;
  color: #909192;
}
#task-edit-content .courator-comment .comment-row {
  margin: 10px 0px;
}
#task-edit-content .courator-comment .comment-row:before {
  display: inline-block;
  content: '-';
  width: 10px;
  height: auto;
  float: left;
}
#block-system-main .lesson-content-field .task-number.task-fixed {
  background: darkorange;
  border-radius: 50%;
  border: 2px solid #0d4795;
  box-sizing: border-box;
  color: #fff;
  height: 33px;
  line-height: 20px;
  margin: 3px auto 0px;
  padding: 5px 0px;
  text-align: center;
  vertical-align: top;
  width: 33px;
  font-weight: bold;
}
#send-tasks-check-form #edit-send-lesson {
  background: #00add7;
  color: #ffffff;
  font-weight: bold;
  border-color: #00add7;
  margin-bottom: 25px;
  padding: 10px 20px;
  text-transform: uppercase;
}
#tasks #task-edit-content .question .question-title {
  display: none;
}
.bx-wrapper .bx-controls .bx-controls-direction a {
  z-index: 0;
}
form[id*="text-task-form"] fieldset {
  background: inherit;
  border: none;
  box-shadow: none;
}
form[id*="text-task-form"] fieldset legend.panel-heading {
  border: none;
  background: inherit;
  padding: 25px 0px;
  font-size: 20px;
  font-weight: bold;
}
form[id*="text-task-form"] fieldset .panel-body {
  padding: 0px;
}
form[id*="text-task-form"] fieldset .panel-body a.ckeditor_links {
  display: none !important;
}
fieldset[id*="edit-answer-body-format"].filter-wrapper {
  display: none;
}
.title-fieldset-files fieldset[id*="edit-answer-file"] {
  width: 50%;
  display: inline-block;
  float: left;
  margin-top: 15px;
}
.title-fieldset-files fieldset[id*="edit-answer-links"] {
  width: 50%;
  display: inline-block;
  float: right;
  margin-top: 15px;
}
.title-fieldset-files fieldset[id*="edit-answer-file"] legend.panel-heading,
.title-fieldset-files fieldset[id*="edit-answer-links"] legend.panel-heading {
  font-weight: normal;
}
.title-fieldset-files fieldset[id*="edit-answer-file"] .panel-body,
.title-fieldset-files fieldset[id*="edit-answer-links"] .panel-body {
  color: #909192;
}
form[id*="text-task-form"] #edit-change-form {
  display: none;
}
form[id*="pupil-answer-auto"] .form-type-item.form-item {
  display: inline-block;
}
form[id*="pupil-answer-auto"] .form-type-checkbox {
  display: inline-block;
}
form[id*="pupil-answer-auto"] .form-type-item .true-text {
  display: none;
}
form[id*="pupil-answer-auto"] .wrapp-form-answer input[type="checkbox"] {
  display: none;
}
form[id*="pupil-answer-auto"] .wrapp-form-answer input[type="checkbox"]+label:before {
  background-image: url(images/button_cheked.png);
  content: '';
  display: block;
  width: 21px;
  height: 21px;
  background-position: 0px -60px;
  float: left;
  background-repeat: no-repeat;
  margin-right: 15px;
}
form[id*="pupil-answer-auto"] .wrapp-form-answer input[type="checkbox"]:checked+label:before {
  background-image: url(images/button_cheked.png);
  content: '';
  display: block;
  width: 21px;
  height: 21px;
  background-position: 0px 0px;
  float: left;
  background-repeat: no-repeat;
}
form[id*="pupil-answer-test-task-form"] fieldset legend.panel-heading,
#check-test-form fieldset legend.panel-heading {
  background-color: inherit;
  border: none;
  box-shadow: none;
}
form[id*="pupil-answer-test-task-form"] fieldset,
#check-test-form fieldset {
  background-color: inherit;
  border: none;
  box-shadow: none;
  margin-bottom: 0px;
}
form[id*="pupil-answer-auto-task-form"] .panel-heading .panel-title .task-number,
form[id*="pupil-answer-test-task-form"] .panel-heading .panel-title .task-number {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0px;
}
fieldset[id*="edit-question-number"] .wrapp-form-answer .form-type-checkbox {
  display: inline-block;
}
fieldset[id*="edit-question-number"] .wrapp-form-answer div[id*="edit-letter"] {
  display: inline-block;
}
fieldset[id*="edit-question-number"] .wrapp-form-answer .form-type-checkbox+label {
  display: inline-block;
  margin-left: 15px;
  font-weight: normal;
}
fieldset[id*="edit-question-number"] .wrapp-form-answer .true-text {
  display: none;
}
form[id*="pupil-answer-test-task-form"] .form-wrapper .form-type-item  .task-body {
  color: #909291;
}
form[id*="pupil-answer-test-task-form"] button {
  background: #01afec;
  border-radius: 3px;
  border: none;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin-top: 7px;
  outline: none;
  padding: 10px 20px;
  text-transform: uppercase;
}
form[id*="pupil-answer-test-task-form"] button:hover {
  background: #01afec;
  border-radius: 3px;
  border: none;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin-top: 7px;
  outline: none;
  padding: 10px 20px;
  text-transform: uppercase;
}
fieldset[id*="edit-question-number"] .wrapp-form-answer .form-type-checkbox input[type="checkbox"] {
  display: none;
}
fieldset[id*="edit-question-number"] .wrapp-form-answer .form-type-checkbox label[for*="edit"] {
  display: none;
}
fieldset[id*="edit-question-number"] .wrapp-form-answer .form-type-checkbox input[type="checkbox"]+label:before {
  background-image: url(images/button_cheked.png);
  content: '';
  display: block;
  width: 21px;
  height: 21px;
  background-position: 0px -60px;
  float: left;
  background-repeat: no-repeat;
}
fieldset[id*="edit-question-number"] .wrapp-form-answer .form-type-checkbox input[type="checkbox"]:checked+label:before {
  background-image: url(images/button_cheked.png);
  content: '';
  display: block;
  width: 21px;
  height: 21px;
  background-position: 0px 0px;
  float: left;
  background-repeat: no-repeat;
}
/*fieldset[id*="edit-question-number"] .wrapp-form-answer .form-type-checkbox+label:before {
  background-image: url(images/button_cheked.png);
  content: '';
  display: block;
  width: 21px;
  height: 21px;
  background-position: 0px -60px;
  float: left;
  background-repeat: no-repeat;
  margin-right: 10px;
}*/
#main form[id*="pupil-answer-test-task-form"] div[id*="edit-text"] .title {
  text-transform: uppercase;
  margin: 25px 0px 10px;
  font-weight: bold;
}
#main form[id*="pupil-answer-test-task-form"] div[id*="edit-text"] .text-warn {
  color: #909291;
}
#main fieldset[id*="edit-question-number"] div[id*="edit-question-body"] {
  display: block;
  padding-bottom: 15px;
  border-bottom: 2px solid #ccc;
  color: #909291;
}
@media all and (max-width: 1100px){
  #block-with-lessons .less .span-line {
    left: 19px;
  }
  form[id*="text-type-task-answer-node-form"] .form-type-managed-file p.help-block>br {
    display: block;
  }
}
@media all and (max-width: 900px){
  #block-with-lessons .less .lesson-number {
    margin-right: 15px;
  }
  form[id*="text-type-task-answer-node-form"] .form-type-managed-file p.help-block {
    top: 45px;
  }
  #task-edit-content .field-name-field-answer-link table.field-multiple-table {
    width: 50%;
  }
  #block-with-lessons .less .lesson-title-tasks,
  #block-with-lessons .add-more .add-more-lessons-text {
      padding-left: 10px;
      padding-top: 0px;
  }
  #block-with-lessons .less .lesson-number {
    margin-right: 0px;
  }
}
@media all and (max-width: 767px){
  #block-system-main .course-lessons {
    width: 98%;
  }
  #main {
    margin-left: 30px;
  }
}
@media all and (max-width: 650px){
  #block-with-lessons .less .lesson-title-tasks {
    width: 85%;
    padding-top: 0px;
  }
  .course-lessons .lesson-content-field .tab-content .tab-pane ul>li .task-number {
    text-align: center;
  }
  #block-with-lessons .less .lesson-number {
    margin-right: 5px;
  }
  #block-system-main .course-lessons div[id*="video"] {
    text-align: center;
    margin: 15px 0px;
  }
  #block-system-main .course-lessons div[id*="video"] iframe {
    width: 100% !important;
  }
  .course-lessons .lesson-content-field .tab-content .tab-pane ul>li {
    background-position: 13px 4px;
  }
  #task-edit-content .field-name-field-answer-link table.field-multiple-table {
    width: 75%;
  }
}