body * {
  font-family: PTSans;
}
body a {
  color: #00add7;
}
body #block-system-main * {
  font-size: 15px;
}
body #main {
  font-size: 15px;
}
body[class*='bonus'] #block-ul-bonus-system-bonuses-list .bonus-item .preview-bonus {
  margin-left: 15px;
}
body[class*='bonus'] .course-item .course-image {
  width: 40%;
}
form[id*="bonus-node"] #body-add-more-wrapper a.ckeditor_links {
  display: none !important;
}
#block-ul-bonus-system-drop-list-bonus {
  width: 91%;
  margin: 25px auto;
}
/*page add bonus */
#block-ul-bonus-system-bonuses-list .bonus-item {
  background: #fff;
  color: #909192;
  display: block;
  margin: 30px 0;
  width: 100%;
}
#block-system-main {
  width: 91%;
  margin: 0px auto;
}
#delete-bonus-form button#edit-submit {
  border: none;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 20px;
  text-transform: uppercase;
  margin: 35px 0px;
}
#block-ul-bonus-system-bonuses-list .bonus-item .preview-bonus {
  display: inline-block;
  vertical-align: top;
}
#block-ul-bonus-system-bonuses-list .bonus-preview-picture {
  display: inline-block;
  margin-right: 5px;
}
#block-ul-bonus-system-bonuses-list .bonus-item .preview-bonus .bonus-title {
  margin: 20px 0px 10px 0px;
}
#block-ul-bonus-system-bonuses-list .bonus-title a {
  color: black;
  font-weight: bold;
}
#block-ul-bonus-system-bonuses-list .bonus-item .preview-bonus .bonus-price {
  margin-top: 35px;
  margin-bottom: 20px;
}
#edit-field-bonus-image {
  border: 3px dashed #e0e1e3;
  clear: both;
  min-height: 200px;
  min-width: 200px;
  position: relative;
  text-align: center;
}
#edit-field-bonus-image .form-type-managed-file {
  margin-bottom: 0px;
}
#edit-field-bonus-image label {
  display: none;
}
#edit-field-bonus-image .image-widget-data input.form-control {
  background: inherit;
  border: none;
  box-shadow: none;
  color: #909192;
  margin-bottom: 0;
  text-align: center;
}
form[id*="bonus-node"] input {
  font-size: 12pt;
  margin-bottom: 20px;
  padding: 19px 15px;
}
#edit-field-bonus-image .input-group-btn>span {
  background-color: inherit;
  background-image: url(images/profile-logo-upload.png);
  background-repeat: no-repeat;
  border: none;
  height: 80px;
  margin-bottom: 10px;
  margin-top: 85px;
  padding: 0px;
  text-indent: -9999px;
  width: 80px;
}
#edit-field-bonus-image .image-widget-data button.btn {
  background: inherit;
  border: none;
  color: #909192;
  font-size: 15pt;
  font-weight: bold;
  margin-bottom: 50px;
}
#edit-field-bonus-image .help-block {
  display: none;
}
form[id*="bonus-node"] #body-add-more-wrapper {
  display: block !important;
}
form[id*="bonus-node"] #edit-body label {
  display: none;
}
form[id*="bonus-node"] #edit-field-bonuse-reference label {
  display: none;
}
form[id*="bonus-node"] .bonus-inform label {
  color: #909192;
  font-size: 16px;
  font-weight: normal;
  left: 15px;
  position: absolute;
  top: 9px;
  z-index: 10;
}
form[id*="bonus-node"] .form-item-title,
form[id*="bonus-node"] .field-name-field-bonuse-reference,
form[id*="bonus-node"] .field-name-field-bonus-price {
  position: relative;
}
form[id*="bonus-node"] #node_bonus_form_group_bonus_settings {
  background: inherit;
  border: none;
  box-shadow: none;
}
form[id*="bonus-node"] #node_bonus_form_group_bonus_settings .panel-body {
  padding: 15px 0px;
}
form[id*="bonus-node"] #node_bonus_form_group_bonus_settings .panel-heading {
  background: inherit;
  border: none;
  padding: 15px 0px;
}
form[id*="bonus-node"] #node_bonus_form_group_bonus_settings .panel-heading .panel-title  {
  font-weight: bold;
}
form[id*="bonus-node"] #edit-field-bonus-price {
  width: 50%;
}
form[id*="bonus-node"] .form-actions #edit-submit {
  background-color: #00add7;
  border-color: #00add7;
  color: #fff;
  font-size: 11pt;
  font-weight: bold;
  padding: 9px 25px;
  text-transform: uppercase;
}
#edit-field-bonus-image .input-group-btn>span:active {
  box-shadow: none;
}
form[id*="bonus-node"] .form-actions #edit-preview,
form[id*="bonus-node"] .form-actions #edit-custom-delete-library {
  background: inherit;
  border: none;
  color: #979899;
}
form[id*="bonus-node"] #edit-custom-delete-bonus {
  background: inherit;
  border: none;
  box-sizing: border-box;
  color: #909192;
  font-size: 15px;
  padding: 10px 15px;
}
form[id*="bonus-node"] #edit-field-bonus-image .image-widget-data .file {
  display: none;
}
form[id*="bonus-node"] #edit-field-bonus-image .image-widget.form-managed-file .image-widget-data>.btn-danger {
  background-color: inherit;
  background-image: url(images/gtk-close.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
  border: none;
  height: 30px;
  padding: 0px;
  position: absolute;
  right: 5px;
  text-indent: -999px;
  top: 5px;
  width: 30px;
}
form[id*="bonus-node"] #edit-field-bonus-image .image-widget-data .file-size {
  display: none;
}
form[id*="bonus-node"] #edit-field-bonus-image .image-widget .image-preview img {
  display: block;
  height: auto;
  margin: 0 ;
  max-width: 100%;
  min-height: 1px;
  position: relative;
  width: 100%;
}
form[id*="bonus-node"] #edit-field-bonus-image .form-type-managed-file .image-preview {
  float: none;
  padding: 0px;
  width: 100%;
}
.page-bonus #main .page-title h1 {
  margin: 0px;
  padding: 0px;
  display: none;
}
.page-bonus #block-system-main .uplvl-bonus-content {
  width: 66%;
  display: inline-block;
}
.page-bonus #block-system-main .uplvl-bonus-inform {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  width: 30%;
}
.page-bonus #block-system-main .uplvl-bonus-content .bonus_title {
  font-family: PtSans;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0px;
  text-transform: uppercase;
}
.bonus_img img.bonus_image {
  border-radius: 5px;
  max-width: 100%;
  height: auto;
}
.uplvl-bonus-inform .bonus_course,
.uplvl-bonus-inform .bonus_cost_points {
  color: #909192;
  font-size: 15px;
  margin: 12px 0px;
}
.uplvl-bonus-inform .bonus_course .bonus-kurses,
.uplvl-bonus-inform .bonus_cost_points .bonus-price {
  color: black;
}
body[class*='bonus'] #block-system-main .edit_links {
  border-top: 2px solid #ccc;
  margin-top: 25px;
  padding: 35px 0px;
}
body[class*='bonus'] #block-system-main .edit_links .edit_bonus a {
  background: #00add7;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 15px;
  text-transform: uppercase;
}
body[class*='bonus'] #block-system-main .edit_links .delete_bonus a {
  padding: 10px 15px;
  box-sizing: border-box;
  color: #909192;
  font-size: 15px;
}
.chosen-container-multi .chosen-choices li.search-choice span{
  font-size: 15px;
}
body[class*='bonus'] .main-course-list .bonus-item .courses:after {
  content: ', ';
  display: inline-block;
}
.main-bonus-list {
  display: block;
  width: 100%;
  font-family: PTSans;
  font-size: 16px;
  font-weight: normal;
}
.add-bonus {
  display: block;
  width: 100%;
  border: 3px dashed #e0e1e3;
}
.add-bonus-img a {
  display: block;
  background: url('images/add_course.png');
  width: 80px;
  height: 80px;
  margin: 15px auto;
}
.add-bonus-title a {
  display: block;
  color: #909192;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
}
body[class*="bonus"] #bonus-node-form #edit_field_bonuse_reference_und_chosen .search-choice {
  background: #e0e1e3;
  color: #909192;
  margin: 1px 2px 1px 1px;
  padding: 8px 20px 8px 10px;
}
body[class*="bonus"] #bonus-node-form #edit_field_bonuse_reference_und_chosen .search-choice a {
  top: 9px;
}
body[class*="bonus"] #bonus-node-form #edit_field_bonuse_reference_und_chosen {
  height: auto;
  padding: 0px;
  width: 100% !important;
}
body[class*="bonus"] #bonus-node-form .form-type-select .chosen-choices {
  background: none;
  border: none;
  box-shadow: none;
  line-height: 30px;
  padding: 0px;
}
body[class*='bonus'] .main-course-list .bonus-item .courses:last-child:after {
  display: none;
}
#block-ul-bonus-system-drop-list-bonus .all_item_list_drop.dropdown-menu li {
  border-bottom: 1px solid #ccc;
  color: #909192;
  font-size: 16px;
  margin: 0px;
  padding: 8px 15px;
}
@media (max-width: 960px) {
  #edit-field-bonus-image .input-group-btn>span {
    margin-top: 40px;
  }
  #edit-field-bonus-image .image-widget-data button.btn {
    margin-bottom: 15px;
  }
}
@media (max-width: 800px) {
  #edit-field-section-files .form-type-mfw-managed-file .help-block>br {
    display: block;
  }
  .bonus-preview-picture {
    width: 40%;
  }
  .bonus-preview-picture img {
    width: 100%;
    height: auto;
  }
  .bonus_img img.bonus_image {
    height: auto;
  }
  #block-ul-bonus-system-bonuses-list .bonus-item .preview-bonus .bonus-title {
    margin: 0px 0px 10px 0px;
  }
  #block-ul-bonus-system-bonuses-list .bonus-item .preview-bonus .bonus-price {
    margin-top: 25px;
    margin-bottom: 10px;
  }
}

@media (max-width: 700px) {
  .bonus-images #edit-field-bonus-image {
    min-width: 300px;
    width: 40%;
    margin: 10px auto 20px auto;
  }
}
@media (max-width: 600px) {
  body[class*='bonus'] #block-system-main .uplvl-bonus-content{
    width: 100%;
    margin-bottom: 15px;
  }
  body[class*='bonus'] #block-system-main .uplvl-bonus-inform {
    width: 100%;
  }
  body[class*='bonus'] #block-system-main .uplvl-bonus-inform .bonus-kurses,
  body[class*='bonus'] #block-system-main .uplvl-bonus-inform .bonus-price {
    display: inline-block;
    margin-left: 5px;
  }
  .bonus-item .preview-bonus .bonus-preview-cource {
    margin: 15px 0px 10px 0px;
  }
  .bonus-item .preview-bonus .bonus-price {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  body[class*='bonus'] .bonus-preview-picture {
    width: 100%;
    margin: 15px;
  }
  body[class*='bonus'] .bonus-preview-picture img {
    height: 170px;
    width: auto;
  }
}
@media (max-width: 400px) {
   .bonus-preview-picture img {
    height: 130px;
    width: auto;
    max-width: 100%;
  }
}

}
