body * {
  font-family: PTSans;
}
body a {
  color: #00add7;
}
body .block-system * {
  font-size: 15px;
}
.course {
  display: block;
  font-family: PTSans;
  font-size: 16px;
  font-weight: normal;
  margin: 0px auto;
  width: 91%;
}
.course-content {
  border-bottom: 3px solid #e0e1e3;
  display: block;
  margin-bottom: 30px;
  padding-bottom: 30px;
  width: 100%;
  overflow: hidden;
  margin-top: 5px;
}
.course a:hover,
.course a:active,
.course a:visited,
.course a:focus,
.course a {
  color: #00add7;
  text-decoration: none;
}
.page-project-team a:hover {
  color: #21b7dc;
}
.page-project-team a {
  color: #21b7dc;
}
.page-project-team .team-content a[class*="message"] {
  color: #909192;
  display: inline-block;
  /*margin-left: 15px;*/
  float: right;
}
.team-content .course-admin {
  width: 400px;
}
.team-content .course-courators {
  margin: 20px 0px;
}
.team-content .tech-support {
  margin: 35px 0px;
}
.team-content .tech-support label {
  font-weight: normal;
}
.team-content .course-admin>label {
  display: block;
  font-weight: normal;
}
.team-content .course-admin .name {
  display: inline-block;
}
.page-project-team ul[class="courators"] {
  padding: 0px;
}
.page-project-team ul[class="courators"] li {
  list-style-type: none;
}
.course-content .course-title-descr {
  display: block;
  float: left;
  width: 66%;
  margin-right: 4%;
}
.course-content .course-title-descr .course-description {
  word-wrap: break-word;
}
#block-system-main .readmore-js-toggle {
  margin: 25px 0px 10px;
}
.course-content .course-img-data .course-img img {
  border-radius: 5px;
  height: auto;
  margin-bottom: 15px;
  max-width: 300px;
  width: 100%;
}
.course-content .course-img-data {
  display: block;
  float: left;
  width: 30%;
}
.course-title-descr .course-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: PTSans;
}
.course-title-descr .course-id {
  color: #909192;
  margin-bottom: 20px;
}
.course-img-data .course-type,
.course-img-data .course-direction,
.course-img-data .course-price,
.course-img-data .course-time {
  color: #909192;
}
.course-img-data .course-type span,
.course-img-data .course-direction span,
.course-img-data .course-price span,
.course-img-data .course-time span {
  float: right;
  display: inline-block;
  color: #2a2d2e;
  text-align: right;
}
.course-img-data .course-open{
  margin-top: 20px;
}
.course-lessons {
  display: block;
  width: 100%;
}
.lesson-title-tasks .lesson-edit{
  display: inline-block;
  margin-left: 20px;
}
.lesson-title-tasks .lesson-edit .edit-show {
  background: url('images/lesson-edit-button.png');
  display: block;
  font-size: 0;
  height: 11px;
  width: 12px;
}
.lesson-title-tasks .lesson-title {
  cursor: pointer;
  display: block;
  float: left;
  max-width: 85%;
}
.lesson-title-tasks .lesson-total-tasks {
  clear: both;
  color: #909192;
  display: block;
}
#block-with-lessons .less .span-line {
  background-image: url('images/lesson-line.png');
  background-repeat: no-repeat;
  clear: both;
  display: block;
  min-height: 125px;
  position: absolute;
  top: 37px;
  left: 10.89%;
  width: 3px;
}
.page-courator-view-history #block-with-lessons .less .span-line {
  left: 4.95%;
}
.page-courator-view-history #block-with-lessons .less-scrol {
  margin-bottom: 25px;
}
.course-lessons #block-with-lessons .titles {
  font-weight: 600;
  padding: 25px 0;
}
#block-with-lessons .titles {
  display: block;
  float: left;
  width: 100%;
  font-size: 15px;
  color: #909192;
}
#block-with-lessons .titles .title-pupil{
  float: left;
  display: block;
  width: 10%;
  font-size: 15px;
}
#block-with-lessons .titles .title-lessons{
  display: block;
  float: left;
  width: 90%;

}
#block-with-lessons .less-scrol {
  overflow: auto;
  margin: 10px 0;
  max-height: 370px;
  clear: both;
}
#block-with-lessons .less,
#block-with-lessons .add-more {
  clear: both;
  display: block;
  float: left;
  padding-bottom: 40px;
  position: relative;
  width: 100%;
}
#block-with-lessons .less .lesson-pupils,
#block-with-lessons .add-more .add-more-lessons-empty {
  display: block;
  float: left;
  width: 6%;
}
#block-with-lessons .less .lesson-number {
  background-image: url('images/lesson-circle.png');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  float: left;
  min-height: 40px;
  padding: 10px 1px;
  text-align: center;
  width: 10%;
}
.course-lessons-check #block-with-lessons .less .lesson-number {
  cursor: default;
}
#block-with-lessons .less .lesson-number.highlight {
  background-image: url('images/lesson-checked.png');
  color: #FFFFFF;
}
#block-with-lessons .less .lesson-title-tasks,
#block-with-lessons .add-more .add-more-lessons-text  {
  display: block;
  float: left;
  padding-top: 8px;
  width: 84%;
}
body[class*="pupil-course"] #block-with-lessons .less .span-line {
  left: 4.89%;
}
#block-with-lessons .less .span-line {
  background-image: url('images/lesson-line.png');
  background-repeat: no-repeat;
  clear: both;
  display: block;
  min-height: 125px;
  position: absolute;
  top: 37px;
  left: 10.89%;
  width: 3px;
  z-index: -1;
}
#block-with-lessons .less .lesson-title-tasks,
#block-with-lessons .add-more .add-more-lessons-text  {
  display: block;
  float: left;
  padding-top: 8px;
  width: 84%;
}
button[id*="edit-submit"] {
  background: #00add7;
  color: #ffffff;
  font-weight: bold;
  border-color: #00add7;
  margin-bottom: 25px;
  padding: 10px 20px;
  text-transform: uppercase;
}
.recast-form .panel-body {
  padding: 10px 0px;
}
#check-form,
#recast-form {
  display: none;
}
#check-form.active-check-form,
#recast-form.active-check-form {
  display: block;
}
#block-with-lessons .less:nth-last-child(2) .span-line{
  min-height: 90px;
}
#block-with-lessons .add-more .add-more-lessons {
  display: block;
  float: left;
  min-height: 40px;
  padding: 9px 1px;
  text-align: center;
  width: 10%;
}
.add-more-lessons .add-more-lessons-link {
  background-position: center;
  background-repeat: no-repeat;
  background: url('images/lesson-add.png');
  display: inline-block;
  height: 33px;
  width: 33px;
}
#block-with-lessons .add-more .add-more-lessons-text {
  color: #00add7;
}
.page-my-courses #main > .page-title {
  width: 91%;
  margin: 0px auto;
}
#block-by-step-drop-list-course {
  margin-bottom: 0px;
  position: relative;
}
#block-by-step-drop-list-course .drop_list_content {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: -55px;
}
.page-project-team .page-title h1 {
  margin: 0px;
}
.page-project-team .link-faq {
  margin: 0px;
}
.page-title {
  width: 91%;
  margin: 0px auto;
}
.course-lessons .less .check-lessons {
  float: right;
  margin-right: 25px;
}
.lesson-title-tasks .lesson-status {
  float: right;
  color: #909192;
  max-width: 20%;
  text-align: right;
}
.page-courator-view-lesson-history .lesson-content {
  width: 91%;
  margin: 0px auto 35px;
}
.page-courator-view-lesson-history .content .pupil-name {
  font-weight: bold;
  font-size: 20px;
  color: #333;
}
.page-courator-view-lesson-history .content .lesson-title-number {
  margin: 25px 0px;
}
.page-courator-view-lesson-history .content .lesson-title-number .lesson-title {
  display: inline-block;
    color: #90928C;
}
.page-courator-view-lesson-history .content .lesson-title-number .lesson-number {
  background-color: #0d4795;
  border-radius: 50% 50%;
  border: 2px solid #0d4795;
  color: #0d4795;
  color: #fff;
  display: inline-block;
  height: 33px;
  margin-right: 15px;
  padding: 4px 11px;
  text-align: center;
  width: 33px;
}
.page-courator-view-lesson-history .lesson-content .bx-wrapper .task-number {
  background-color: #f6f7f9;
  border-radius: 50% 50%;
  border: 2px solid #0d4795;
  color: #0d4795;
  display: inline-block;
  height: 33px;
  margin-right: 15px;
  margin-top: 3px;
  padding: 4px 10px;
  position: relative;
  text-align: center;
  width: 33px;
}
.page-courator-view-lesson-history .lesson-content .bx-wrapper .task-number>a {
  background-color: #f6f7f9;
  border-radius: 50% 50%;
  border: 2px solid #0d4795;
  color: #0d4795;
  display: inline-block;
  height: 33px;
  left: -2px;
  margin-right: 15px;
  padding: 4px 10px;
  position: absolute;
  text-align: center;
  top: -2px;
  width: 33px;
}
.page-courator-view-lesson-history .lesson-content .bx-wrapper .task-number>a:hover {
  text-decoration: none;
}
.page-courator-view-lesson-history .lesson-content .bx-wrapper .task-number>a:focus {
  text-decoration: none;
}
.page-courator-view-lesson-history .page-title {
  display: none;
}
.page-courator-view-lesson-history .lesson-content .bx-wrapper .task-number>a.active {
  background-color: #0d4795;
  color: #fff;
}
.page-courator-view-lesson-history .lesson-content .bx-wrapper .bxslider-custom>li {
  margin-right: 10px;
  width: 45px !important;
}
.page-courator-view-lesson-history #pupil-task-log .answer-content .title {
  font-weight: bold;
  font-size: 17px;
  margin: 15px 0px;
}
.page-courator-view-lesson-history #pupil-task-log .answer-content .answer-value {
  margin-bottom: 25px;
}
@media all and (max-width: 1000px) and (min-width: 860px){
  .course-img-data .course-type span,
  .course-img-data .course-direction span,
  .course-img-data .course-price span,
  .course-img-data .course-time span {
    float: none;
    display: block;
    text-align: left;
    margin-bottom: 5px;
  }
}
@media all and (max-width: 860px){
  .course-content .course-title-descr,
  .course-content .course-img-data {
    clear: both;
    width: 100%;
  }
  /*#block-with-lessons .less .span-line {
    left: 11.1%;
  }*/
  #block-with-lessons .less .span-line {
    left: 10.9%;
  }
  .course-content .course-title-descr {
    margin-right: 0;
    margin-bottom: 25px;
  }
  .course-img-data .course-type,
  .course-img-data .course-direction,
  .course-img-data .course-price,
  .course-img-data .course-time {
    width: 60%;
  }
}
@media all and (max-width: 767px) {
  #block-with-lessons .titles .title-pupil,
  #block-with-lessons .less .lesson-pupils,
  #block-with-lessons .add-more .add-more-lessons-empty {
    display: none;
  }
  #block-with-lessons .less .span-line {
    left: 4.8%;
  }
  #block-with-lessons .less .lesson-number {
    padding: 10px 1px;
  }
  .course {
    width: 100%;
  }
  #main {
    margin-left: 40px;
  }
  .course-img-data .course-type,
  .course-img-data .course-direction,
  .course-img-data .course-price,
  .course-img-data .course-time {
    width: 75%;
  }
  #block-with-lessons .less .lesson-number {
    min-width: 35px;
  }
}
@media all and (max-width: 500px) {
  .course-img-data .course-type,
  .course-img-data .course-direction,
  .course-img-data .course-price,
  .course-img-data .course-time {
    width: 100%;
  }
  #block-with-lessons .less .lesson-title-tasks,
  #block-with-lessons .add-more .add-more-lessons-text {
    padding-left: 10px;
  }
}