
body * {
  font-family: PTSans;
}
body a {
  color: #00add7;
}
body .content * {
  font-size: 15px;
}
.main-course-list {
  display: block;
  width: 91%;
  margin: 0px auto;
  font-family: PTSans;
  font-size: 16px;
  font-weight: normal;
  padding-top: 15px;
}
.add-course {
  display: block;
  width: 100%;
  border: 3px dashed #e0e1e3;
}
.add-course-img a {
  display: block;
  background: url('images/add_course.png');
  width: 80px;
  height: 80px;
  margin: 15px auto;
}
.add-course-img a:hover {
  font-size: 0;
}
.add-course-title a {
  display: block;
  color: #909192;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
}
.add-course-title a:hover {
  color: #909192;
}
.course-item {
  background: #fff;
  color: #909192;
  display: block;
  margin: 30px 0;
  width: 100%;
  position: relative;
}
.course-item .course-image {
  display: inline-block;
  margin-right: 5px;
}
.page-my-courses #main > .page-title {
  width: 91%;
  margin: 0px auto;
}
#main > .page-title h1 {
  margin-bottom: 0px;
}
.course-item .course-image img {
border-radius: 5px;
}
.course-item .course-data {
  display: inline-block;
  vertical-align: top;
  padding-left: 15px;
  min-width: 300px;
  max-width: 60%;
}
.course-data .course-tid {
  display: block;
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
.course-tid .c-title {
  display: inline-block;
  width: 85%;
  float: left;
  font-size: 18px;
  font-weight: bold;
}
.course-tid .c-title a {
  color: #2a2d2e;
}
.course-tid .c-author {
  display: inline-block;
  float: right;
  position: absolute;
  right: 15px;
  text-align: right;
  top: 10px;
}
.count-pupils {
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 25px;
}
.course-pupils {
  display: inline-block;
}
.course-data .c-description {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.course-data .count-puils {
  display: block;
  width: 100%;
}
@media all and (max-width: 1100px){
  .course-item .course-image {
    max-width: 39%;
  }
  .course-item .course-image img {
    width: 100%;
  }
}
@media all and (max-width: 870px){
  .course-item .course-data {
    width: 60%;
  }
  .course-item .course-image img {
    height: auto;
  }
}
@media all and (max-width: 767px){
  .main-course-list {
    width: 100%;
  }
  .page-my-courses #main {
    margin-left: 20px;
  }
}
@media all and (max-width: 590px){
  .course-item .course-image {
    clear: both;
    width: 100%;
  }
  .course-item .course-data {
    clear: both;
    width: 100%;
    height: 240px;
  }
  .course-data .course-tid .c-title {
    clear: both;
    width: 100%;
  }
  .course-data .course-tid .c-author {
    clear: both;
    width: 100%;
  }
  .course-item .course-image img {
    height: 170px;
    width: auto;
  }
}