body * {
  font-family: PTSans;
}
body a {
  color: #00add7;
}
body #block-system-main * {
  font-size: 15px;
}
#block-system-main .leaf .course-title {
  float: left;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  width: 90%;
}
#main > .page-title {
  width: 91%;
  margin: 0px auto;
}
#block-system-main .leaf-2 {
  margin: 10px 0px 20px;
  overflow: hidden;
}
#block-system-main .leaf .course-id {
  float: right;
  color: #909192;
}
#block-system-main {
  width: 91%;
  margin: 0px auto;
}
#block-with-lessons {
  padding: 25px 0px;
  border-top: 3px solid #ccc;
  margin-bottom: 25px;
}
#block-with-lessons .titles {
  overflow: hidden;
  margin: 25px 0px;
  color: #909291;
}
#block-with-lessons .titles .title-tendency {
  float: left;
}
#block-with-lessons .less-scrol {
  overflow: hidden;
  min-height: 200px;
}
.page-curator-tendency #block-by-step-drop-list-course {
  margin-bottom: 0px;
  position: relative;
}
.page-curator-tendency #block-by-step-drop-list-course .drop_list_content {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: -55px;
}
#block-with-lessons .less-scrol .less {
  overflow: hidden;
  margin: 10px 0px;
}
#block-with-lessons .less-scrol .tendency-content-field {
  float: left;
}
#block-with-lessons .less-scrol .lesson-number,
#block-with-lessons .titles .title-pupil-number {
  width: 5%;
}
#block-with-lessons .less-scrol .lesson-leaf,
#block-with-lessons .titles .title-lessons {
  width: 45%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#block-with-lessons .less .lesson-pupils,
#block-with-lessons .titles .title-pupil {
  width: 10%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#block-with-lessons .less .lesson-time {
  float: left;
}
#block-with-lessons .less .lesson-time,
#block-with-lessons .titles .lesson-time-tendency {
  width: 28%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lesson-total-tasks {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 95%;
  color: #909291;
}
#block-with-lessons .less .tendency_bad,
#block-with-lessons .less .tendency_good {
  float: left;
}
#block-with-lessons .less .tendency_bad .circle {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  margin-left: 5px;
}
#block-with-lessons .less .tendency_good .circle {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  margin-left: 5px;
}
.lesson-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 95%;
}
#block-with-lessons .less .tendency_bad,
#block-with-lessons .less .tendency_good,
#block-with-lessons .titles .lesson-tendency {
  width: 10%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 767px){
  #main {
    margin-left: 30px;
  }
  #block-system-main {
    width: 100%;
  }
  #block-by-step-drop-list-course {
    width: 100%;
  }
}