#block-ul-bonus-system-drop-list-bonus {
  margin-bottom: 25px;
  margin-left: 15px;
  margin-top: 15px;
  position: relative;
}
#block-ul-bonus-system-drop-list-bonus .title-drop-list {
  background: inherit;
  border: 2px solid #ccc;
  color: #909192;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
#block-ul-bonus-system-drop-list-bonus .drop_list_content span.glyphicon {
  margin-right: 10px;
}
#block-ul-library-system-uplvldrop-list-library {
  margin-bottom: 25px;
  margin-left: 15px;
  margin-top: 15px;
  position: relative;
}
#block-ul-library-system-uplvldrop-list-library .glyphicon {
  margin-right: 10px;
}
#block-ul-library-system-uplvldrop-list-library .title-drop-list {
  background: inherit;
  border: 2px solid #ccc;
  color: #909192;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
#block-ul-library-system-uplvldrop-list-library .all_item_list_drop.dropdown-menu li {
  border-bottom: 1px solid #ccc;
  color: #909192;
  font-size: 16px;
  margin: 0px;
  padding: 8px 15px;
  background: #f6f7f9;
}
#block-ul-library-system-uplvldrop-list-library .all_item_list_drop.dropdown-menu {
  background: #f6f7f9;
}
#block-by-step-drop-list-course {
  margin: 0px auto 20px;
  width: 91%;
  position: relative;
}
#block-by-step-drop-list-course .title-drop-list {
  background: inherit;
  border: 2px solid #ccc;
  color: #909192;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
#block-by-step-drop-list-course .glyphicon {
  margin-right: 10px;
}
#block-by-step-drop-list-course  .all_item_list_drop.dropdown-menu li {
  border-bottom: 1px solid #ccc;
  color: #909192;
  font-size: 16px;
  margin: 0px;
  padding: 6px 15px;
  background: #f6f7f9;
}
#block-ul-bonus-system-drop-list-bonus .all_item_list_drop.dropdown-menu li {
  border-bottom: 1px solid #ccc;
  color: #909192;
  font-size: 16px;
  margin: 0px;
  padding: 8px 15px;
  background: #f6f7f9;
}
#block-ul-bonus-system-drop-list-bonus .all_item_list_drop.dropdown-menu,
#block-by-step-drop-list-course  .all_item_list_drop.dropdown-menu {
  background: #f6f7f9;
}
.page-curator-send-messages #block-by-step-drop-list-course {
  margin-left: 0px;
}