@font-face {
    font-family: 'PTSans';
    src: url(../fonts/ptsans/PTS55F.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PTSans';
    src: url(../fonts/ptsans/PTS75F.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'PTSans';
    src: url(../fonts/ptsans/PTN57F.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}
/*@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/ubuntu/Ubuntu-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}*/