body * {
  font-family: PTSans;
}
body a {
  color: #00add7;
}
body #block-system-main * {
  font-size: 15px;
}
.page-curator-check-course .course {
  width: 100%;
}
.page-curator-check-course #block-system-main {
  width: 91%;
  margin: 0px auto;
}
.page-project-team a {
  color: #21b7dc;
}
.page-courator .bx-wrapper .bx-controls-direction a {
  z-index: 0 !important;
}
#block-by-step-drop-list-course {
  margin-bottom: 0px;
  position: relative;
}
#block-by-step-drop-list-course .drop_list_content {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: -55px;
}
.page-curator-check-course table.sticky-enabled thead>tr>th {
  border: none;
  color: #909192;
  padding: 15px 0px;
}
.page-curator-check-course table.sticky-enabled tbody>tr>td {
  padding: 10px 0px;
}
.form-textarea-wrapper .cke_inner.cke_reset iframe {
  display: block !important;
}
.page-curator-check-course #block-system-main .course-content .course-title {
  float: left;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  width: 90%;
}
.page-curator-check-course #block-system-main .course-content .course-id {
  color: #909192;
  float: right;
  font-size: 15px;
  padding-top: 5px;
  text-align: right;
}
.course {
  display: block;
  font-family: PTSans;
  font-size: 16px;
  font-weight: normal;
  margin: 0px auto;
  width: 91%;
}
.course-content {
  border-bottom: 3px solid #e0e1e3;
  display: block;
  margin-bottom: 30px;
  padding-bottom: 30px;
  width: 100%;
  overflow: hidden;
}
.course-lessons #block-with-lessons .titles {
  color: #7b7b7b;
  font-weight: 600;
  padding: 25px 0;
}
#block-with-lessons .titles {
  display: block;
  float: left;
  margin-bottom: 30px;
  width: 100%;
  font-size: 15px;
  color: #909192;
}
#block-with-lessons .titles .title-pupil{
  float: left;
  display: block;
  width: 10%;
}
#block-with-lessons .titles .title-lessons{
  display: block;
  float: left;
  width: 90%;

}
#block-with-lessons .less-scrol {
  overflow: auto;
  margin: 10px 0 30px;
  max-height: 315px;
  clear: both;
}
#block-with-lessons .less,
#block-with-lessons .add-more {
  clear: both;
  display: block;
  float: left;
  padding-bottom: 40px;
  position: relative;
  width: 100%;
}
#block-with-lessons .less .lesson-pupils,
#block-with-lessons .add-more .add-more-lessons-empty {
  display: block;
  float: left;
  width: 6%;
}
#block-with-lessons .less .lesson-number {
  background-image: url('images/lesson-circle.png');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  float: left;
  min-height: 40px;
  padding: 10px 1px;
  text-align: center;
  width: 10%;
  min-width: 45px;
}
.course-lessons-check #block-with-lessons .less .lesson-number {
  cursor: default;
}
#block-with-lessons .less .lesson-number.highlight {
  background-image: url('images/lesson-checked.png');
  color: #FFFFFF;
}
#block-with-lessons .less .lesson-number.active {
  background-image: url('images/lesson-checked.png');
  color: #FFFFFF;
}
#block-with-lessons .less .lesson-title-tasks,
#block-with-lessons .add-more .add-more-lessons-text  {
  display: block;
  float: left;
  padding-top: 8px;
  width: 84%;
}
#courator-check-task-pupils {
  border-top: 3px solid #e0e1e3;
  margin-top: 40px;
  padding-top: 30px;
  margin-bottom: 20px;
}
#check-content {
  min-height: 250px;
}
#block-with-lessons .bx-wrapper {
  margin-left: 45px !important;
}
#block-with-lessons .bx-wrapper .bx-viewport {
  height: 34px !important;
  margin: 25px 0px;
}
.sub-content #block-content .lessons {
  display: inline-block;
  margin-right: 40px;
  position: relative;
}
/*ul .task-number:after {
  background-color: #ccc;
  content: '';
  display: inline-block;
  height: 2px;
  left: 30px;
  position: absolute;
  top: 16px;
  width: 65px;
  z-index: -1;
}*/
ul li:last-child .task-number:after {
  display: none;
}
.sub-content #block-content .lessons a {
  text-decoration: none;
}
.sub-content #block-content .lessons a .sub-title:hover {
  background-image: url('images/lesson-checked.png');
  color: #FFFFFF;
}
.check-lesson-content {
  padding: 20px 0px 10px 0px;
  border-top: 2px solid #e0e1e3;
}
.check-lesson-content #block-user-check .user-name {
  font-size: 20px;
  font-weight: bold;
}
 #block-lessons-slider {
  padding: 10px 15px;
}
.sub-content #block-content .title {
  display: none;
}
.text-format-wrapper .filter-wrapper {
  display: none;
}
#send-task-recast-form .text-format-wrapper a.ckeditor_links {
  display: none !important;
}
#courator-check-task {
  padding-top: 15px;
}
#courator-check-task .question {
  padding: 10px 0px;
}
.sub-content #block-content .lessons a .sub-title {
  background-image: url('images/lesson-circle.png');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  line-height: 40px;
  min-height: 40px;
  text-align: center;
  width: 40px;
}
.course-lessons-check ul.bxslider-custom li .task-number a:hover {
  text-decoration: none;
}
.course-lessons-check ul.bxslider li .task-number a {
  border-radius: 50% 50%;
  border: 2px solid #0d4795;
  color: #0d4795;
  display: block;
  height: 33px;
  margin: 0px auto;
  padding: 5px 11px;
  width: 33px;
  background-color: #f6f7f9;
}
.course-lessons-check ul.bxslider li .task-number.task-no-active {
  border-radius: 50% 50%;
  border: 2px solid #0d4795;
  color: #fff;
  display: block;
  height: 33px;
  margin: 0px auto;
  padding: 5px 11px;
  width: 33px;
  background-color: #0c5802;
}
.course-lessons-check ul.bxslider-custom li .task-number a.active {
  background: #0d4795;
  color: #fff;
}
/*.course-lessons-check ul.bxslider li .task-number a {
  background-image: url('images/lesson-circle.png');
  background-position: 10px 0px;
  background-repeat: no-repeat;
  display: block;
  float: none;
  min-height: 40px;
  padding: 7px 12px;
  width: 100%;
}
.course-lessons-check ul.bxslider li .task-number a.active {
  background-image: url('images/lesson-checked.png');
  color: #fff;
}*/
#block-with-lessons button[id*="ctools-ajax-sample-button"].form-submit {
  background-color: #21b7dc;
  border: none;
  clear: both;
  color: #fff;
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 8px 29px;
  text-transform: uppercase;
}
#check-content-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 25px;
}
.course-content {
  border-bottom: 3px solid #e0e1e3;
  display: block;
  margin-bottom: 30px;
  overflow: hidden;
  padding-bottom: 30px;
  width: 100%;
}
table tr td {
  background: #f6f7f9;
  border: none;
}
.bx-wrapper ul.bxslider-custom .task-number.highlight {
  background-image: url('images/lesson-checked.png');
  color: #FFFFFF;
}
.bx-wrapper ul li {
  display: inline-block;
  margin: 0px auto;
  min-width: 40px;
  position: relative;
  text-align: center;
  width: 53px !important;
}
.lesson-title-tasks .lesson-title {
  cursor: pointer;
  display: block;
  float: left;
  max-width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.lesson-title-tasks .check-lessons {
  color: #909192;
  float: right;
  margin-right: 25px;
}
.lesson-title-tasks .lesson-total-tasks {
  clear: both;
  color: #909192;
  display: block;
}
.course-lessons-check  #check-content table.table-striped th {
  border: none;
  font-size: 15px;
  color: #909192;
  font-weight: bold;
  vertical-align: top;
  padding-bottom: 10px;
  background: #f6f7f9;
}
.course-lessons-check  #check-content table.table-striped td {
  background: #f6f7f9;
  border: none;
  font-size: 15px;
}
#block-system-main .course-title {
  float: left;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  width: 80%;
}
#block-system-main .course-id {
  color: #909192;
  float: right;
  font-size: 15px;
  padding-top: 5px;
  width: 10%;
}
.course-lessons-check {
  width: 91%;
  margin: 0px auto;
}
#block-with-lessons .less .span-line {
  background-image: url('images/lesson-line.png');
  background-repeat: no-repeat;
  clear: both;
  display: block;
  left: 10.89%;
  min-height: 85px;
  position: absolute;
  top: 37px;
  width: 3px;
  z-index: -1;
}
form.text-task-form fieldset.title-fieldset-files {
  background: inherit;
  border: none;
  box-shadow: none;
}
form.text-task-form fieldset.title-fieldset-files legend.panel-heading>.panel-title .answer-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}
form.text-task-form fieldset.title-fieldset-files .panel-body>fieldset[id*='edit-answer-links'] {
  float: right;
  width: 50%;
}
form.text-task-form fieldset.title-fieldset-files .panel-body>fieldset[id*='edit-answer-file'] {
  width: 50%;
  float: left;
}
form.text-task-form fieldset.title-fieldset-files .panel-body>fieldset.panel.form-wrapper {
  background: inherit;
  border: none;
  box-shadow: none;
  margin-top: 25px;
  word-wrap: break-word;
}
fieldset.title-fieldset-files .text-format-wrapper a[id*='edit-answer-body'] {
  display: none;
}
form.text-task-form fieldset.title-fieldset-files+.form-submit {
  /*margin-left: 20px;*/
  background: #00add7;
  border-color: #00add7;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 25px;
  padding: 10px 20px;
  text-transform: uppercase;
}
form.text-task-form fieldset.title-fieldset-files .panel-body fieldset.panel .empty-file,
form.text-task-form fieldset.title-fieldset-files .panel-body fieldset.panel .empty-link {
  color: #909192;
}
fieldset[id*="edit-answer-files"] .panel-body {
  padding: 10px 0px;
}
fieldset[id*="edit-answer-files"] .panel-body .ckeditor_links {
  display: none !important;
}
form[id*='text-task-form'] fieldset.title-fieldset-files legend.panel-heading {
  border: none;
  background: inherit;
  padding: 10px 0px;
}
.recast-form div[id*="edit-change-form"],
.text-task-form div[id*="edit-change-form"] {
  color: #909192;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0px;
  padding: 10px 20px;
  vertical-align: top;
}
#check-form,
#recast-form {
  display: none;
}
#check-form.active-check-form,
#recast-form.active-check-form {
  display: block;
}
.recast-form fieldset legend.panel-heading {
  background: inherit;
  border: none;
  box-shadow: none;
  padding: 10px 0px;
}
.recast-form fieldset legend.panel-body {
  padding: 15px 0px;
}
.recast-form fieldset {
  background: inherit;
  border: none;
  box-shadow: none;
}
.recast-form fieldset {
  background: inherit;
  border: none;
  box-shadow: none;
}
.recast-form .panel-body {
  padding: 10px 0px;
}
#block-system-main #block-with-lessons .bxslider-custom li .task-number a {
  background-color: #f6f7f9;
  border-radius: 50% 50%;
  border: 2px solid #0d4795;
  color: #0d4795;
  display: block;
  font-size: 15px;
  height: 33px;
  margin: 0px auto;
  padding: 4px 11px;
  width: 33px;
}
#block-system-main #block-with-lessons .bxslider-custom li .task-number a.active {
  background: #0d4795;
  color: #fff;
}
#block-system-main #block-with-lessons .bxslider-custom li .task-no-active {
  background-color: darkgreen;
  border-radius: 50% 50%;
  border: 2px solid #0d4795;
  color: #fff;
  display: block;
  font-size: 15px;
  height: 33px;
  margin: 0px auto;
  padding: 4px 11px;
  width: 33px;
}
#block-system-main #block-with-lessons .bxslider-custom li .task-on-recast {
  background-color: darkred;
  border-radius: 50% 50%;
  border: 2px solid #0d4795;
  color: #fff;
  display: block;
  font-size: 15px;
  height: 33px;
  margin: 0px auto;
  padding: 4px 11px;
  width: 33px;
}
#modalContent .ctools-modal-dialog {
  height: 415px !important;
}
#courator-transfer-pupil-form .form-type-select {
  margin-bottom: 0px;
}
#courator-transfer-pupil-form  #edit-top-text {
  margin-bottom: 0px;
}
button[id*="edit-submit"] {
  background: #00add7;
  border-color: #00add7;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 25px;
  padding: 10px 20px;
  text-transform: uppercase;
}
button[id*="edit-submit"]:hover,
button[id*="edit-submit"]:focus {
  background: #00add7;
  border-color: #00add7;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 25px;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
}
#send-recast-task-form button {
  background: #00add7;
  border-color: #00add7;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 25px;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
}
#main > .page-title {
  width: 91%;
  margin: 0px auto;
}
#send-task-test-recast-form .text-format-wrapper a.ckeditor_links {
  display: none !important;
}
#check-test-form .panel-heading .panel-title .task-number {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0px;
}
#check-test-form .panel-heading .panel-title .task-number+.task-body {
  color: #909291;
}
#pupil-answer-test-task-form fieldset legend.panel-heading,
#check-test-form fieldset legend.panel-heading {
  background-color: inherit;
  border: none;
}
#check-test-form fieldset legend.panel-heading .panel-title.fieldset-legend {
  border-bottom: 2px solid #ccc;
  padding-bottom: 15px;
}
#pupil-answer-test-task-form fieldset,
#check-test-form fieldset {
  background-color: inherit;
  border: none;
  box-shadow: none;
}
#check-test-form fieldset[id*="edit-question-number"] .wrapp-form-answer .form-type-item {
  display: inline-block;
  margin-bottom: 0px;
}
fieldset[id*="edit-question-number"] .wrapp-form-answer .form-type-item .asnwer-true,
fieldset[id*="edit-question-number"] .wrapp-form-answer .form-type-item .asnwer-user {
  display: none;
}
#check-test-form fieldset[id*="edit-question-number"] .wrapp-form-answer .form-type-checkbox {
  display: inline-block;
  margin: 5px 0px;
}
#check-test-form fieldset[id*="edit-question-number"] .wrapp-form-answer div[id*="edit-question-table"] {
  display: block;
}
.bx-controls-direction>a {
  z-index: 0 !important;
}
fieldset[id*="edit-question-number"] .wrapp-form-answer span.false-answer {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: inherit;
}
fieldset[id*="edit-question-number"] .wrapp-form-answer span.answ-letter {
  margin-right: 5px;
}
fieldset[id*="edit-question-number"] .wrapp-form-answer span.true-answer {
  background: green;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
#courator-check-task .question .question-title {
  margin-left: 15px;
  font-weight: bold;
  font-size: 30px;
}
@media all and (max-width: 860px){
  .lesson-title-tasks .check-lessons {
    margin-right: 10px;
  }
  #block-with-lessons .less .lesson-pupils {
    display: none;
  }
  #block-with-lessons .titles .title-pupil {
    display: none;
  }
  #block-with-lessons .less .span-line {
    left: 4.89%;
  }
  #block-system-main .course-title {
    font-size: 25px;
  }
}
@media all and (max-width: 767px) {
  #main {
    margin-left: 0px;
  }
  .lesson-title-tasks .check-lessons {
    float: none;
    margin-right: 0px;
    clear: both;
  }
  .lesson-title-tasks .lesson-title {
    max-width: 90%;
    white-space: nowrap;
    word-wrap: normal;
  }
  #block-with-lessons .less .lesson-number {
    margin-right: 5px;
  }
  form.text-task-form fieldset.title-fieldset-files .panel-body>fieldset.panel.form-wrapper,
  form.text-task-form fieldset.title-fieldset-files .panel-body>fieldset[id*='edit-answer-file'] {
    width: 100%;
    float: none;
  }
}
@media all and (max-width: 520px) {
  #block-with-lessons .less .span-line {
    left: 5.4%;
  }
}