body * {
  font-family: PTSans;
}
body a {
  color: #00add7;
}
body .content * {
  font-size: 15px;
}
#block-system-main {
  width: 91%;
  margin: 0px auto;
}
.form-item-title input {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  color: #555;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.428571429;
  padding: 6px 12px;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  vertical-align: middle;
  width: 100%;
}

.lesson-body {
  clear: both;
  padding: 0px;
}
body[class*=lessons] .form-type-managed-file div.input-group-btn .uplvl-file-field-btn:active {
  border: none;
  box-shadow: none;
}
body[class*=lessons] .logged-in fieldset.filter-wrapper {
  display: none;
}
body[class*=lessons] .logged-in.admin-menu fieldset.filter-wrapper[id*="edit-body"] {
  display: block;
}
body[class*=lessons] .process-uplvl-labels .form-group {
  position: relative;
}
body[class*=lessons] #lesson-node-form .process-uplvl-labels .form-group label {
  color: #ccc;
  font-size: 15px;
  font-weight: normal;
  left: 15px;
  position: absolute;
  top: 10px;
}
body[class*=lessons] .form-type-checkbox label {
  font-size: 15px;
}
body[class*=lessons] .form-type-checkbox input[id*='finish-page'] {
  display: none;
}
body[class*=lessons] .form-type-checkbox input[id*='finish-page']+label:before {
  background-image: url(images/button_cheked.png);
  background-position: 0px -60px;
  background-repeat: no-repeat;
  clip: auto;
  content: '';
  display: inline-block;
  height: 20px;
  left: 0px;
  margin-right: 10px;
  vertical-align: bottom;
  width: 20px;
}
body[class*=lessons] .form-type-checkbox input[id*='finish-page']:checked+label:before {
  background-position: 0px 0px;
}
body[class*=lessons] #edit-field-finish-page-und .checkbox input[type=checkbox] {
  height: 15px;
  margin-left: -10px;
  width: 15px;
}
body[class*=lessons] .form-type-managed-file span.input-group-btn {
  display: block;
  width: auto;
}
body[class*=lessons] .form-type-managed-file input[type='text'].form-control {
  background-color: inherit;
  border: none;
  box-shadow: none;
  display: inline-block;
  float: none;
  width: auto;
}
body[class*=lessons] #body-add-more-wrapper label {
  display: none;
}
body[class*=lessons] .form-type-managed-file div.input-group-btn {
  display: inline-block;
  min-width: 120px;
  width: auto;
}
body[class*=lessons] .form-type-managed-file .form-managed-file {
  display: inline-block;
}
body[class*=lessons] #lessonTabContent .form-type-managed-file>label {
  display: block;
  visibility: hidden;
}
body[class*=lessons] .form-type-managed-file p.help-block {
  display: inline-block;
  margin-left: 10px;
}
body[class*=lessons] .form-type-managed-file p.help-block>br {
  display: none;
}
body[class*=lessons] #main .form-type-managed-file .file-widget span>button {
  background-color: #00add7;
  border-color: #00add7;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 4px;
  padding: 9px 25px;
  text-transform: uppercase;
}
body[class*=lessons] .form-type-managed-file div.input-group-btn .uplvl-file-field-btn {
  background-color: inherit;
  border: none;
  border: none;
  color: #42c1e0;
  font-size: 12pt;
  padding: 10px 0px;
}
body[class*=lessons] #lesson-node-form .form-type-managed-file [id*='remove-button'] {
  padding: 0px 10px;
  margin-left: 15px;
}
body[class*=lessons] #edit-actions button[id*='delete'] {
  background-color: inherit;
  border: none;
  clear: both;
  color: #909192;
}
body[class*=lessons] .form-item-field-finish-page-und>label {
  display: none;
}
body[class*=lessons] #edit-actions button[id*='submit'] {
  background-color: #00add7;
  border-color: #00add7;
  color: #fff;
  font-size: 11pt;
  font-weight: bold;
  padding: 9px 25px;
  text-transform: uppercase;
}
body[class*=lessons] #edit-actions {
  border-top: 2px solid #ccc;
  margin-bottom: 100px;
  margin-top: 55px;
  padding-top: 30px;
}
body[class*=lessons] #edit-field-lesson-videos {
  clear: both;
}
body[class*=lessons] #lessonTabContent input[id*='edit-field-lesson-video-link'] + p.help-block {
  display: none;
}
body[class*=lessons] #lessonTabContent .form-managed-file input[type="text"].form-control {
  margin-top: 5px;
  position: absolute;
}
body[class*=lessons] #lessonTab {
  border-bottom: 2px solid #ccc;
  margin-bottom: 25px;
}
body[class*=lessons] #lessonTab>li>a {
  color: black;
  text-transform: uppercase;
}
body[class*=lessons] .page-edit-task #main .nav-tabs>li,
body[class*=lessons] .page-add-lessons #main .nav-tabs>li {
  bottom: -1px;
  position: relative;
}
body[class*=lessons] #lessonTab.nav-tabs>li.active {
  border-bottom: 2px solid blue;
}
body[class*=lessons] #lessonTab.nav-tabs>li.active>a {
  background: inherit;
  border: none;
}
body[class*=lessons] #main .add-to-lessons {
  clear: both;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}
body[class*=lessons] #edit-field-finish-page {
  clear: both;
  margin-bottom: 35px;
}
body[class*=lessons] .add-lessons-title {
  font-family: AdelleCyrillic;
  font-size: 31px;
  font-weight: bold;
  margin-bottom: 25px;
  margin-top: 5px;
  text-transform: uppercase;
}
body[class*=lessons] .form-type-textfield input[type='text']{
  padding: 20px 15px;
}
body[class*=lessons] #lessonTabContent ul.nav-tabs li.add-lesson-step>a {
  border-radius: 50% 50%;
  border: 2px solid #0d4795;
  color: #0d4795;
  padding: 5px 11px;
}
body[class*=lessons] #lessonTabContent ul.nav-tabs li.active.add-lesson-step>a {
  background: #0d4795;
  color: #fff;
}
body[class*=lessons] #lessonTabContent ul.nav-tabs li.add-lesson-step:after {
  background: #ccc;
  content: '';
  display: block;
  height: 3px;
  left: 35px;
  position: absolute;
  top: 16px;
  width: 44px;
}
body[class*=lessons] #lessonTabContent ul.nav-tabs li.active.add-lesson-task>a {
  background: #0d4795;
  border: 2px solid #0d4795;
  color: #fff;
  padding: 5px 11px;
}
body[class*=lessons] #lessonTabContent #task div[id*='add-task'] {
  margin: 15px 0px 15px 0px;
}
body[class*=lessons] #lessonTabContent ul.nav-tabs li.add-lesson-task>a {
  border-radius: 20px;
  border: 2px solid #0d4795;
  color: #0d4795;
  padding: 5px 11px;
}
body[class*=lessons] #lessonTabContent ul.nav-tabs li.last-step:after {
  display: none;
}
body[class*=lessons] #main #lessonTabContent ul.nav-tabs li {
  margin-bottom: 10px;
  margin-right: 44px;
}
#main #lessonTabContent ul.nav-tabs {
  border-bottom: none;
}
#main > .page-title {
  margin: 0px auto;
  width: 91%;
}
#section-node-form #edit_field_section_reference_und_chosen a.chosen-single {
  border: none;
  box-shadow: none;
  background-image: none;
}
.form-item-title input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#curator-delete-lesson-form #edit-mark {
  margin: 25px 0px;
}
#curator-delete-lesson-form {
  margin: 50px 0px;
  min-height: 350px;
}
#curator-delete-lesson-form #edit-submit {
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 25px;
}
.lesson-body {
  clear: both;
  padding: 0px;
}
body[class*=task] .form-type-managed-file div.input-group-btn .uplvl-file-field-btn:active {
  border: none;
  box-shadow: none;
}
body[class*=task] .logged-in fieldset.filter-wrapper {
  display: none;
}
body[class*=task] .logged-in.admin-menu fieldset.filter-wrapper[id*="edit-body"] {
  display: block;
}
body[class*=task] .process-uplvl-labels .form-group {
  position: relative;
}
#edit-more-link.form-group a {
  color: #00add7;
  font-size: 15px;
}
#edit-more-link.form-group .icon-show:after {
  background-image: url(images/drop-hide-list-arrou.png);
  background-position: 0px -15px;
  background-repeat: no-repeat;
  background-size: 100%;
  content: '';
  display: inline-block;
  height: 10px;
  margin-left: 5px;
  width: 10px;
}
#edit-more-link.form-group .icon-hide:after {
  background-image: url(images/drop-hide-list-arrou.png);
  background-position: 0px 3px;
  background-repeat: no-repeat;
  background-size: 100%;
  content: '';
  display: inline-block;
  height: 10px;
  margin-left: 5px;
  width: 10px;
}
#lesson-node-form .lesson-body {
  padding: 0px;
}
#lesson-node-form .lesson-body #body-add-more-wrapper {
  margin: 15px 0px;
}
#lesson-node-form .lesson-body #body-add-more-wrapper a.ckeditor_links {
  display: none !important;
}
body[class*=task] #lesson-node-form .process-uplvl-labels .form-group label {
  color: #ccc;
  left: 15px;
  position: absolute;
  top: 10px;
  font-weight: normal;
  font-size: 15px;
}
#edit-field-finish-page .form-type-checkbox label {
  font-size: 15px;
  padding: 0px;
}
body[class*=task] .form-type-checkbox input[id*='finish-page'] {
  display: none;
}
body[class*=task] .form-type-checkbox input[id*='finish-page']+label:before {
  background-image: url(images/button_cheked.png);
  background-position: 0px -60px;
  background-repeat: no-repeat;
  clip: auto;
  content: '';
  display: inline-block;
  height: 20px;
  left: 0px;
  margin-right: 10px;
  vertical-align: bottom;
  width: 20px;
}
body[class*=task] .form-type-checkbox input[id*='finish-page']:checked+label:before {
  background-position: 0px 0px;
}
body[class*=task] #edit-field-finish-page-und .checkbox input[type=checkbox] {
  height: 15px;
  margin-left: -10px;
  width: 15px;
}
body[class*=task] .form-type-managed-file span.input-group-btn {
  display: block;
  width: auto;
}
body[class*=task] .form-type-managed-file input[type='text'].form-control {
  background-color: inherit;
  border: none;
  box-shadow: none;
  display: inline-block;
  float: none;
  width: auto;
}
body[class*=task] #body-add-more-wrapper label {
  display: none;
}
body[class*=task] .form-type-managed-file div.input-group-btn {
  display: inline-block;
  min-width: 120px;
  width: auto;
}
body[class*=task] .form-type-managed-file .form-managed-file {
  display: inline-block;
}
body[class*=task] #lessonTabContent .form-type-managed-file>label {
  display: block;
  visibility: hidden;
}
body[class*=task] .form-type-managed-file p.help-block {
  display: inline-block;
  margin-left: 10px;
}
body[class*=task] .form-type-managed-file p.help-block>br {
  display: none;
}
body[class*=task] #main .form-type-managed-file .file-widget span>button {
  background-color: #00add7;
  border-color: #00add7;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 4px;
  padding: 9px 25px;
  text-transform: uppercase;
}
body[class*=task] .form-type-managed-file div.input-group-btn .uplvl-file-field-btn {
  background-color: inherit;
  border: none;
  border: none;
  color: #42c1e0;
  font-size: 12pt;
  padding: 10px 0px;
}
body[class*=task] #lesson-node-form .form-type-managed-file [id*='remove-button'] {
  padding: 0px 10px;
  margin-left: 15px;
  background: inherit;
  border: none;
  color: #909192;
}
body[class*=task] #edit-actions button[id*='delete'] {
  background-color: inherit;
  border: none;
  clear: both;
  color: #909192;
}
body[class*=task] .form-item-field-finish-page-und>label {
  display: none;
}
body[class*=task] #edit-actions button[id*='submit'] {
  background-color: #00add7;
  border-color: #00add7;
  color: #fff;
  font-size: 11pt;
  font-weight: bold;
  padding: 9px 25px;
  text-transform: uppercase;
}
body[class*=task] #edit-actions {
  border-top: 2px solid #ccc;
  margin-bottom: 100px;
  margin-top: 55px;
  padding-top: 30px;
}
body[class*=task] #edit-field-lesson-videos {
  clear: both;
}
body[class*=task] #lessonTabContent input[id*='edit-field-lesson-video-link'] + p.help-block {
  display: none;
}
body[class*=task] #lessonTabContent .form-managed-file input[type="text"].form-control {
  margin-top: 5px;
  position: absolute;
}
body[class*=task] #lessonTab {
  border-bottom: 2px solid #ccc;
  margin-bottom: 25px;
}
body[class*=task] #lessonTab>li>a {
  color: #555;
  text-transform: uppercase;
}
body[class*=task] .page-edit-task #main .nav-tabs>li,
body[class*=task] .page-add-lessons #main .nav-tabs>li {
  bottom: -1px;
  position: relative;
}
body[class*=task] #lessonTab.nav-tabs>li.active {
  border-bottom: 2px solid blue;
}
body[class*=task] #lessonTab.nav-tabs>li.active>a {
  background: inherit;
  border: none;
}
body[class*=task] #main .add-to-lessons {
  clear: both;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}
#edit-field-finish-page {
  clear: both;
  margin-bottom: 35px;
  padding: 0px;
}
body[class*=task] .add-lessons-title {
  font-family: AdelleCyrillic;
  font-size: 31px;
  font-weight: bold;
  margin-bottom: 25px;
  margin-top: 5px;
  text-transform: uppercase;
}
body[class*=task] .form-type-textfield input[type='text']{
  padding: 20px 15px;
}
body[class*=task] #lessonTabContent ul.nav-tabs li.add-lesson-step>a {
  border-radius: 50% 50%;
  border: 2px solid #0d4795;
  color: #0d4795;
  padding: 5px 11px;
}
body[class*=task] #lessonTabContent ul.nav-tabs li.active.add-lesson-step>a {
  background: #0d4795;
  color: #fff;
}
body[class*=task] #lessonTabContent ul.nav-tabs li.add-lesson-step:after {
  background: #ccc;
  content: '';
  display: block;
  height: 3px;
  left: 35px;
  position: absolute;
  top: 16px;
  width: 44px;
}
body[class*=task] #lessonTabContent ul.nav-tabs li.active.add-lesson-task>a {
  background: #0d4795;
  border: 2px solid #0d4795;
  color: #fff;
  padding: 5px 11px;
}
body[class*=task] #lessonTabContent #task div[id*='add-task'] {
  margin: 15px 0px 15px 0px;
}
body[class*=task] #lessonTabContent ul.nav-tabs li.add-lesson-task>a {
  border-radius: 20px;
  border: 2px solid #0d4795;
  color: #0d4795;
  padding: 5px 11px;
}
body[class*=task] #lessonTabContent ul.nav-tabs li.last-step:after {
  display: none;
}
body[class*=task] #main #lessonTabContent ul.nav-tabs li {
  margin-bottom: 10px;
  margin-right: 44px;
}
#main #lessonTabContent ul.nav-tabs {
  border-bottom: none;
}

#section-node-form #edit_field_section_reference_und_chosen a.chosen-single {
  border: none;
  box-shadow: none;
  background-image: none;
}
div[id*="field-lesson-video-link"] .form-type-textfield>label {
  display: inline-block !important;
}
#lesson-node-form .form-type-checkbox {
  padding: 0px;
}
#task-container .nav {
  border: none;
}
#task-container button {
  background-color: #00add7;
  border-color: #00add7;
  color: #fff;
  font-size: 11pt;
  font-weight: bold;
  padding: 9px 25px;
  text-transform: uppercase;
}
#task #task-container .form-wrapper .form-type-item {
  display: inline-block;
  margin-right: 50px;
  position: relative;
}
#task #task-container .form-wrapper>.form-type-item>a {
  background: #f6f7f9;
  border-radius: 50% 50%;
  border: 2px solid #0d4795;
  color: #0d4795;
  height: 33px;
  padding: 5px 10px;
  width: 33px;
}
#task #task-container .form-wrapper>.form-type-item>a:before {
  background-color: #ccc;
  content: '';
  display: block;
  height: 3px;
  left: -56px;
  position: absolute;
  top: 10px;
  width: 60px;
  z-index: -1;
}
#task #task-container .form-wrapper>.form-type-item:first-child>a:before {
  display: none;
}
#task #task-container a:hover {
  text-decoration: none;
}
#task #task-container a:focus {
  text-decoration: none;
}
div[id*="field-task-question-add-more-wrapper"] .field-multiple-table .field-multiple-drag {
  display: none;
}
div[id*="field-task-question-add-more-wrapper"] .field-multiple-table td {
  padding: 0px;
}
#task-container button[id*="remove"] {
  background-color: inherit;
  border: none;
  color: #909291;
  font-weight: normal;
  text-transform: capitalize;
  padding: 0px;
}
#task-container button[id*="delete"] {
  background-color: inherit;
  border: none;
  color: #909291;
  font-weight: normal;
  text-transform: capitalize;
  padding: 0px;
}
#task #task-container  .tab-pane .form-wrapper .nav .form-wrapper label.select-type a {
  border-radius: 25px;
  border: 2px solid #0d4795;
  color: #0d4795;
  padding: 5px 13px;
}
#task #task-container .tab-pane .form-wrapper .nav .form-wrapper .form-type-item {
  margin-right: 20px;
}
.tab-content table[id*="field-auto-test-quest"] .draggable .field-multiple-drag {
  display: none;
}
.tab-content table[id*="field-auto-test-quest"] .draggable td {
  padding: 0px;
}
#task-container .tab-pane .text-format-wrapper>.filter-wrapper {
  display: none;
}
#task-container .tab-pane .text-format-wrapper>a.ckeditor_links {
  display: none !important;
}
#block-system-main table.table-striped td {
  background-color: #f6f7f9;
}
#block-system-main table.table-striped th {
  background-color: #f6f7f9;
}
#block-system-main .form-item input[type="checkbox"] {
  display: none;
}
#block-system-main .form-item input[type="checkbox"]+label:before {
  background-image: url(images/button_cheked.png);
  content: '';
  display: block;
  width: 21px;
  height: 21px;
  background-position: 0px -60px;
  float: left;
  background-repeat: no-repeat;
}
#block-system-main .form-item input[type="checkbox"]:checked+label:before {
  background-image: url(images/button_cheked.png);
  content: '';
  display: block;
  width: 21px;
  height: 21px;
  background-position: 0px 0px;
  float: left;
}