body * {
  font-family: PTSans;
}
body a {
  color: #00add7;
}
body #block-system-main * {
  font-size: 15px;
}
#main > .page-title {
  width: 91%;
  margin: 0px auto 15px;
}
#main > .page-title h1 {
  margin-bottom: 0px;
}
#body-add-more-wrapper .form-type-textarea label {
  font-size: 15px;
  margin: 15px 0px;
}
#edit-field-library-image {
  border: 3px dashed #e0e1e3;
  clear: both;
  min-width: 200px;
  position: relative;
  max-height: 170px;
  max-width: 300px;
  text-align: center;
}
#block-system-main table.table-striped {
  padding-top: 25px;
  border-top: 2px solid #e0e1e3;
}
#edit-field-library-image label {
  display: none;
}
#edit-field-library-image .help-block {
  display: none;
}
#add-user-library-form {
  width: 60%;
  min-width: 400px;
}
#add-user-library-form .form-item-e-mail>label {
  margin: 15px 0px;
  font-size: 18px;
  font-weight: bold;
}
#add-user-library-form button#edit-submit {
  background: #00add7;
  border: none;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 20px;
  text-transform: uppercase;
  margin: 20px 0px;
}
#add-user-library-form .form-item-e-mail input#edit-e-mail {
  height: 40px;
}
#block-system-main table tbody a {
  color: black;
}
#block-system-main {
  margin: 0px auto;
  padding: 0px;
  width: 91%;
}

 #block-ul-library-system-uplvldrop-list-library {
  margin-bottom: 0px;
  position: relative;
  width: 91%;
  margin: 0px auto;
}
#block-ul-library-system-uplvldrop-list-library .drop_list_content {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: -60px;
}
#edit-field-library-image .input-group-btn>span {
  background-color: inherit;
  background-image: url(images/profile-logo-upload.png);
  background-repeat: no-repeat;
  border: none;
  height: 80px;
  margin-bottom: 0px;
  margin-top: 20px;
  padding: 0px;
  text-indent: -9999px;
  width: 80px;
}
#block-system-main table form[id*="delete-library-user"] button {
  border: none;
  background: inherit;
  color: #999;
}
#edit-field-library-image .input-group-btn>span:active {
  box-shadow: none;
}
#block-system-main .section_all_content {
  margin-top: 15px;
  padding-top: 10px;
  overflow: hidden;
}
#edit-field-library-image .image-widget-data input.form-control {
  background: inherit;
  border: none;
  box-shadow: none;
  color: #909192;
  margin-bottom: 0;
  text-align: center;
}
#edit-field-library-image .image-widget-data button.btn {
  background: inherit;
  border: none;
  color: #909192;
  font-size: 15pt;
  font-weight: bold;
  margin-bottom: 0px;
}

#edit-field-library-image .form-type-managed-file .image-preview {
  float: none;
  padding: 0px;
  width: 100%;
}
#edit-field-library-image .image-widget .image-preview img {
  display: block;
  height: auto;
  margin: 0 ;
  max-width: 100%;
  min-height: 1px;
  position: relative;
  width: 100%;
}
.uplvl-section .s_name a {
  color: #151414;
}
#edit-field-library-image .image-widget-data .file {
  display: none;
}
#edit-field-library-image .image-widget-data .file-size {
  display: none;
}
#edit-field-library-image  .form-type-managed-file {
  margin-bottom: 0px;
}
#edit-field-library-image .image-widget.form-managed-file .image-widget-data>.btn-danger {
  background-color: inherit;
  background-image: url(images/gtk-close.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
  border: none;
  height: 30px;
  padding: 0px;
  position: absolute;
  right: 5px;
  text-indent: -999px;
  top: 5px;
  width: 30px;
}
form[id*="library-node"] .librarys-inform label {
  color: #909192;
  font-size: 16px;
  font-weight: normal;;
  left: 15px;
  position: absolute;
  top: 9px;
  z-index: 10;
}
#library-node-form #edit-body label {
  display: none;
}
form[id*="library-node"] #edit-field-library-price,
form[id*="library-node"] .librarys-inform .form-item-title,
form[id*="library-node"] .librarys-inform .field-name-field-library-course {
  position: relative;
}
form[id*="library-node"] #edit-field-library-price label {
  color: #909192;
  font-size: 16px;
  font-weight: normal;
  left: 15px;
  position: absolute;
  top: 9px;
  z-index: 10;
}

form[id*="library-node"] #body-add-more-wrapper {
  display: block !important;
}
form[id*="library-node"] input {
  font-size: 12pt;
  margin-bottom: 20px;
  padding: 19px 15px;
}
form[id*="library-node"] .library-field-price {
  margin-bottom: 35px;
  padding: 0px;
}
form[id*="library-node"] .form-actions #edit-submit {
  background-color: #00add7;
  border-color: #00add7;
  color: #fff;
  font-size: 11pt;
  font-weight: bold;
  padding: 9px 25px;
  text-transform: uppercase;
}
form[id*="library-node"] .form-actions #edit-preview,
form[id*="library-node"] .form-actions #edit-custom-delete-library {
  background: inherit;
  border: none;
  color: #979899;
}
form[id*="library-node"] .form-actions {
  padding: 0px 15px;
  margin-bottom: 75px;
}
form[id*="library-node"] .setting-title-library {
  font-size: 1.4em;
  font-weight: bold;
  margin: 40px 0px 30px 0px;
}
form[id*="library-node"] .library-images {
  margin-bottom: 17px;
}
.page-node-add-library #main>.page-title {
  width: 91%;
  margin: 0px auto;
  padding: 15px;
}
.page-node-add-library #main>.page-title h1 {
  margin-bottom: 15px;
  padding: 0px 15px;
}
.page-node-add-library #block-system-main {
  margin: 0px auto;
  width: 91%;
}
body[class*="library"] .section_all_content .s_number {
  background-image: url('images/lesson-circle.png');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  float: left;
  line-height: 25px;
  min-height: 40px;
  padding: 9px 1px;
  text-align: center;
  width: 33px;
}
body[class*="library"] .section_all_content .s_number.highlight {
  background-image: url('images/lesson-checked.png');
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  cursor: pointer;
  display: block;
  float: left;
  line-height: 25px;
  min-height: 40px;
  padding: 9px 1px;
  text-align: center;
  width: 33px;
}
body[class*="library"] .section-short-inform {
  display: inline-block;
  margin-left: 15px;
  min-height: 90px;
  vertical-align: middle;
}
body[class*="library"] .section-short-inform .section-edit {
  display: inline-block;
  margin-left: 20px;
}
body[class*="library"] .section-short-inform .s_name {
  display: block;
  float: left;
  cursor: pointer;
}
#block-system-main .sections_content .section .uplvl-section:first-child>.s_number:before {
  display: none;
}
#block-system-main .sections_content .section .s_number:last-child {
  background: red;
  color: red;
}
body[class*="library"] .section_all_content .s_number:before {
  background: #ccc;
  content: '';
  display: block;
  height: 70px;
  margin-left: 14px;
  margin-top: -65px;
  position: absolute;
  width: 3px;
  z-index: -2;
}
.sections_content .section_all_content .section .uplvl-section:nth-last-child(2) .s_number:after {
  background: #ccc;
  content: '';
  display: block;
  height: 70px;
  margin-left: 14px;
  margin-top: 0px;
  position: absolute;
  width: 3px;
  z-index: -2;
}
body[class*="library"] .section-short-inform .section-edit .edit-show {
  background: url('images/lesson-edit-button.png');
  display: block;
  font-size: 0;
  height: 11px;
  width: 12px;
}
/*body[class*="library"] .sections_content {
  border-top: 2px solid #e0e1e3;
  margin-top: 50px;
}*/
body[class*="library"] .section_edit_links .section_header_title {
  color: #909192;
  font-size: 15px;
  margin: 25px 0px;
}
body[class*="library"] #library-node-form .form-type-select .chosen-choices {
  background: none;
  border: none;
  box-shadow: none;
  line-height: 30px;
  padding: 0px;
}
body[class*="library"] #library-node-form .form-type-select .chosen-choices {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0px;
}
body[class*="library"] #library-node-form .search-choice a {
  top: 9px;
}
body[class*="library"] #library-node-form #edit_field_library_course_und_chosen {
  padding: 0px;
  width: 100% !important;
  height: auto;
}
body[class*="library"] #library-node-form .search-choice {
  background: #e0e1e3;
  color: #909192;
  margin: 1px 2px 1px 1px;
  padding: 10px 20px 10px 10px;
}
#better-messages-wrapper {
  min-width: 600px !important;
}
#section-node-form .form-type-textfield {
  position: relative;
}
#section-node-form .form-type-textfield>label {
  color: #909192;
  font-size: 16px;
  font-weight: normal;
  left: 15px;
  position: absolute;
  top: 9px;
  z-index: 10;
}
#section-node-form .form-type-textfield input#edit-title {
  font-size: 12pt;
  margin: 20px 0px;
  padding: 19px 15px;
}
#section-node-form #edit-body #body-add-more-wrapper {
  display: block !important;
}
#section-node-form #edit-body #body-add-more-wrapper .form-type-textarea span.field-edit-link {
  display: none;
}
#section-node-form #edit-field-section-reference .form-type-select {
  margin: 45px 0px;
}
#section-node-form #edit-field-section-reference .form-type-select>label {
  display: inline-block;
  width: 20%;
  font-size: 15px;
}
#section-node-form #edit-field-section-reference .form-type-select>select {
  display: inline-block;
  width: 45%;
  font-size: 15px;
}
#section-node-form #edit-field-section-files legend.panel-heading {
  display: none;
}
#section-node-form #edit-field-section-files fieldset {
  background: inherit;
  border: none;
  box-shadow: none;
}
#section-node-form #edit-field-section-files fieldset .panel-body {
  padding: 0px;
}
#section-node-form #edit-field-section-files fieldset .panel-body .file-widget input[type="text"] {
  background: inherit;
  border: none;
  box-shadow: none;
  display: inline-block;
  float: none;
  min-width: 250px;
  position: absolute;
  width: auto;
}
#edit-field-section-files .form-managed-file {
  display: inline-block;
}
#edit-field-section-files .form-managed-file div.input-group-btn {
  display: inline-block;
  min-width: 120px;
  width: auto;
}
#edit-field-section-files .form-managed-file div.input-group-btn .uplvl-file-field-btn {
  background-color: inherit;
  border: none;
  color: #42c1e0;
  font-size: 12pt;
  padding: 10px 0px;
}
#edit-field-section-files .form-managed-file div.input-group-btn .uplvl-file-field-btn:active {
  box-shadow: none;
}
#edit-field-section-files .form-type-mfw-managed-file>label {
  display: none;
}
#edit-field-section-files .form-managed-file span.input-group-btn {
  display: block;
  width: auto;
}
#edit-field-section-files .form-managed-file span.input-group-btn button {
  background-color: #00add7;
  border-color: #00add7;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 4px;
  padding: 9px 25px;
  text-transform: uppercase;
}
#edit-field-section-files .form-type-mfw-managed-file .help-block {
  color: #979899;
  display: inline-block;
  margin-left: 10px;
}
#edit-field-section-files .form-type-mfw-managed-file .help-block>br {
  display: none;
}
#section-node-form #edit-actions button#edit-submit {
  background-color: #00add7;
  border-color: #00add7;
  color: #fff;
  font-size: 11pt;
  font-weight: bold;
  padding: 9px 25px;
  text-transform: uppercase;
}
#section-node-form #edit-actions button#edit-preview,
#section-node-form #edit-actions button[id*="delete"] {
  background: inherit;
  border: none;
  color: #979899;
  height: auto;
}
#section-node-form #edit-actions {
  border-top: 2px solid #ccc;
  margin-bottom: 80px;
  margin-top: 55px;
  padding-top: 30px;
}
#block-system-main .section_all_content .s_add_text a {
  background-position: center;
  background-repeat: no-repeat;
  background: url('images/lesson-add.png');
  display: inline-block;
  height: 33px;
  width: 33px;
}
#block-system-main .section_all_content .s_add_text {
  display: block;
  float: left;
  min-height: 40px;
}
#block-system-main .section_all_content .uplvl_s_add_text {
  color: #00add7;
  display: block;
  float: left;
  margin-bottom: 50px;
  margin-left: 20px;
  padding-top: 5px;
}
#block-system-main .section_all_content .uplvl_s_add_text a {
  color: #00add7;
  font-size: 15px;
}
#block-system-main .section_all_content .uplvl_s_add_text a:hover {
  color: #00add7;
}
#block-system-main .sections_content .section {
  font-size: 15px;
  max-height: 300px;
  overflow: auto;
}
body[class*='library'] .uplvl-section {
  position: relative;
}
body[class*='library'] #block-system-main .section-short-inform .s_files_number {
  color: #909192;
}
body[class*='library'] #block-system-main .library_img img {
  max-width: 100%;
}
body[class*="library"] #library-node-form #edit-field-library-course label {
  display: none;
}
/*#block-ul-bonus-system-bonuses-list .bonus-item .courses,
body[class*='library'] .main-course-list .library-item .courses {
  color: black;
}*/
body[class*='library'] .main-course-list .library-item .courses:after {
  content: ', ';
  display: inline-block;
}
body[class*='library'] .main-course-list .library-item .courses:last-child:after {
  display: none;
}
.main-library-list {
  display: block;
  font-family: PTSans;
  font-size: 16px;
  font-weight: normal;
  margin: 0px auto;
  width: 91%;
}
.add-library {
  display: block;
  width: 100%;
  border: 3px dashed #e0e1e3;
}
.add-library-img a {
  background: url('images/add_course.png');
  display: block;
  height: 80px;
  margin: 15px auto;
  width: 80px;
}
.add-library-title a {
  color: #909192;
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}
#body-add-more-wrapper a.ckeditor_links {
  display: none !important;
}
#delete-library-form #edit-submit {
  background-color: #00add7;
  border-color: #00add7;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin: 20px 0px;
  padding: 9px 25px;
  text-transform: uppercase;
}
#section-node-form #edit-field-section-files table[id*="edit-field-section-files-und"]  button[id*="remove"] {
  border: none;
  background: inherit;
  color: #909192;
  padding: 0px;
}
#edit-field-section-files table[id*="edit-field-section-files-und"]  tr th {
  color: #909192;
  border: none;
  background: #f6f7f9;
  padding: 15px 0px;
}
#edit-field-section-files table[id*="edit-field-section-files-und"]  tr td {
  border: none;
  background: #f6f7f9;
  padding: 10px 0px;
}
#edit-field-section-files table.table-striped[id*="edit-field-section-files-und"] {
  padding-top: 25px;
  border: none;
  width: 75%;
}
#edit-field-section-files .tabledrag-toggle-weight-wrapper {
  display: none;
}
#edit-field-section-files table[id*="edit-field-section-files-und"] tr td a.tabledrag-handle {
  display: none;
}
#edit-field-section-files table[id*="edit-field-section-files-und"]  tr td .file-widget .file img.file-icon {
  display: none;
}
#delete-section-form button#edit-submit {
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 25px;
  margin: 25px 0px;
}
#block-system-main .table-striped th {
  background: #f6f7f9;
  padding: 30px 0px 10px;
  color: #909192;
}
.page-section-delete #main > .page-title h1 {
  padding: 15px;
}
@media (max-width: 1100px) {
  .library-item .library-preview-picture {
    max-width: 39%;
  }
  .library-item .library-preview-picture img {
    width: 100%;
  }
}
@media (max-width: 960px) {
  #edit-field-library-image .input-group-btn>span {
    margin-top: 40px;
  }
  #edit-field-library-image .image-widget-data button.btn {
    margin-bottom: 15px;
  }
}
@media (max-width: 800px) {
  #edit-field-section-files .form-type-mfw-managed-file .help-block>br {
    display: block;
  }
  .library-preview-picture {
    width: 40%;
  }
  .library-preview-picture img {
    width: 100%;
    height: auto;
  }
  .library-item .preview-library .library-title {
    margin: 10px 0px 10px 0px;
  }
  .library_img img {
    height: auto;
  }
  .library-item .preview-library .library-price {
    margin-top: 25px;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px){
  .main-library-list {
    width: 100%;
  }
  #main {
    margin-left: 30px;
  }
  .page-library #main {
    margin-left: 20px;
  }
  .library-item .preview-library .library-title {
    margin: 5px 0px 5px 0px;
  }
  .library-item .preview-library .library-preview-cource {
    margin: 10px 0px 5px 0px;
  }
  .library-item .preview-library .library-price {
    margin: 10px 0px;
  }
  .page-node-add-library #block-system-main {
    width: 100%;
    padding: 0px;
  }
  .page-node-add-library #main>.page-title {
    width: 100%;
    font-size: 25px;
  }
}
@media (max-width: 600px) {
  .library-item .preview-library .library-preview-cource {
    margin: 15px 0px 10px 0px;
  }
  .library-item .preview-library .library-price {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .library-item .library-preview-picture {
    max-width: 50%;
  }
  .library-item .preview-library {
    max-width: 100%;
  }
  .library-preview-picture {
    width: 100%;
    margin: 15px;
  }
  .library-preview-picture img {
    height: 170px;
    width: auto;
    max-width: 100%;
  }
}
@media (max-width: 480px) {
   .library-preview-picture img {
    height: 130px;
    width: auto;
  }
  .library-item .library-preview-picture {
    max-width: 75%;
  }
}