body * {
  font-family: PTSans;
}
body a {
  color: #00add7;
}
body #block-system-main * {
  font-size: 15px;
}
input.form-control {
  font-size: 15px;
}
.page-title,
.content {
  width: 91%;
  margin: 0px auto;
}
.search-form {
  margin: 0px auto;
  width: 100%;
}
.page-im #main .content {
  padding-top: 5px;
}
#tab-messages {
  border-bottom: 3px solid #e0e1e3;
  clear: both;
  margin: 20px auto;
  padding: 15px 0px;
  width: 100%;
}
.im_users {
  margin-bottom: 45px;
  min-height: 175px;
}
.page-messages-new #ul-messanger-search-form,
.page-messages-new .form-item-recipient {
  display: none;
}
.picture-user {
  border-radius: 50%;
  display: inline-block;
  float: left;
  height: 40px;
  margin-right: 15px;
  overflow: hidden;
  width: 40px;
}
.im-users-item .picture-user img {
  min-height: 100%;
  text-align: center;
  width: 100%;
}
.user_wrapper {
  clear: both;
  margin: 15px 0px;
  overflow: hidden;
  position: relative;
}
.user_wrapper .name-user a {
  color: #2a2d2e;
}
.role-user {
  color: #909192;
}
#ul-messanger-search-form .search-field-item {
  display: inline-block;
  float: left;
  margin-right: 25px;
  width: 70%;
}
#ul-messanger-search-form .search-field-item+button {
  background: #00add7;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  float: left;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 25px;
  text-transform: uppercase;
}
#privatemsg-new button {
  background: #00add7;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  margin: 35px 0px;
  padding: 10px 25px;
  text-transform: uppercase;
}
#privatemsg-new textarea {
  resize: none;
}
.user_wrapper .user-message {
  position: absolute;
  right: 10px;
  top: 5px;
}
#ul-messanger-search-form #edit-search {
  height: 40px;
}
#tab-messages>a:hover {
  text-decoration: none;
}
#tab-messages>a.active {
  border-bottom: 3px solid #00add7;
  bottom: -1px;
  color: #2a2d2e;
  font-size: 14px;
  padding: 15px 20px;
  position: relative;
  text-transform: uppercase;
}
#tab-messages>a {
  color: #2a2d2e;
  font-size: 14px;
  padding: 15px 20px;
  position: relative;
  text-transform: uppercase;
}
.privatemsg-author-avatar {
  border-radius: 50%;
  height: 40px;
  overflow: hidden;
  padding: 0px;
  width: 40px;
}
.privatemsg-author-avatar img {
  min-height: 100%;
  text-align: center;
  vertical-align: bottom;
  width: 100%;
}
.privatemsg-message-column {
  position: relative;
  width: 90%;
}
/*.privatemsg-message-column a[href*="/messages/delete"] {
  position: absolute;
  right: 5px;
  top: 5px;
}
.privatemsg-message-column .links.list-inline {
  margin: 0px;
  padding: 0px;
  position: absolute;
  right: 5px;
  top: 5px;
}*/
.privatemsg-message-column .links.list-inline {
  display: none;
  margin: 0px;
  padding: 0px;
}
#main > .page-title h1 {
  margin: 20px 0px 25px;
}
.privatemsg-message-participants {
  display: none;
}
.privatemsg-message-date {
  float: right;
}
div.privatemsg-message-information {
  border: none;
}
.privatemsg-message .privatemsg-message-body {
 margin-left: 0px;
}
#block-system-main .privatemsg-message {
  border-radius: 2px;
  margin: 5px 0px;
  padding: 5px 10px;
}
#block-system-main .privatemsg-message:last-child {
  border-bottom: 2px solid red;
}
#privatemsg-delete button {
  display: block;
  font-weight: bold;
  margin: 25px 0px;
  padding: 10px 25px;
  text-transform: uppercase;
}
#privatemsg-delete #edit-cancel {
  color: 909291;
  display: block;
  margin: 25px 0px;
  padding: 10px 0px;
}
.privatemsg-message-new {
  background-color: #e8e9eb;
}
span.new.privatemsg-message-new {
  display: none;
}
.im-initer .picture {
  border-radius: 50%;
  display: inline-block;
  height: 40px;
  overflow: hidden;
  padding: 0px;
  vertical-align: bottom;
  width: 40px;
}
.im-initer .im-line {
  display: inline-block;
  margin-top: 5px;
  vertical-align: top;
}
.im-initer .picture img {
  height: 100%;
  line-height: 40px;
  text-align: center;
  vertical-align: bottom;
  width: 100%;
}
.im-initer {
  float: left;
  width: 50%;
}
.im-last {
  float: left;
  width: 50%;
}
.im-last .last-message {
  line-height: 40px;
  vertical-align: bottom;
}
.im-item {
  border-bottom: 2px solid #e0e1e3;
  margin: 5px 0px;
  padding: 15px 5px;
}
.ims-list {
  margin-bottom: 45px;
  min-height: 200px;
}
.im-last .last-message {
  cursor: pointer;
}
.im-item .time {
  color: #909291;
  display: inline-block;
}
.im-item .name {
  display: inline-block;
  margin: 0px 5px;
}
#block-system-main .privatemsg-message-last {
  border-bottom: 2px solid #e0e1e3;
  margin-bottom: 25px;
  padding-bottom: 15px;
}
#block-system-main .im-item  .last-message {
  background-color: #e8e9eb;
  padding: 10px;
}
#block-system-main .im-item  .last-message.no-pic {
  background-color: inherit;
}
@media (max-width: 767px){
  .main-container  #main {
    margin-left: 20px;
  }
  .user_wrapper .user-message {
    top: 20px;
  }
  .im-initer, .im-last {
    float: none;
    margin: 5px 0px;
    width: 100%;
  }
}
@media (max-width: 500px){

}