html body {
  background-color: #f6f7f9;
  font-family: PTSans;
}
body[class*="course"] form#course-node-form {
  margin-left: 38px;
  width: 84%;
  margin-top: 20px;
}
body[class*="course"] .node-course-form fieldset {
  background-color: inherit;
  border: none;
  box-shadow: none;
  margin-bottom: 0px;
}
body[class*="course"] .node-course-form #edit-field-curs-image .form-type-managed-file {
  border: 2px dashed #ccc;
  min-height: 170px;
  min-width: 250px;
  position: relative;
}
body[class*="course"] #edit-field-curs-image {
  width: 33.3333333%;
  float: left;
  min-width: 250px;
}
body[class*="course"] .courses_inform {
  width: 64%;
  float: right;
}
body[class*="course"] .node-course-form label {
  font-size: 15px;
  font-weight: normal;
  padding: 0px;
}
body[class*="course"] #course-node-form .field-widget-text-textarea-with-summary {
  clear: both;
}
body[class*="course"] #main .page-title {
  display: none;
}
#course-node-form .add_course_title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bold;
  margin: 15px 0px 30px;
}
body[class*="course"] .node-course-form .form-type-checkbox label:before {
  background-image: url(images/button_cheked.png);
  background-position: 0px -60px;
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  height: 20px;
  margin-right: 12px;
  vertical-align: middle;
  width: 20px;
}
.page-node-add-course.admin-menu #body-add-more-wrapper fieldset[id^="edit-body-und"] {
  display: block;
}
body[class*="course"] #body-add-more-wrapper fieldset[id^="edit-body-und"] {
  display: none;
}
body[class*="course"] .node-course-form .form-type-checkbox input:checked + label:before {
  background-position: 0px 0px;
}
body[class*="course"] .node-course-form .form-type-checkbox input {
  display: none;
}
body[class*="course"] .node-course-form .form-type-select label {
  display: inline-block;
  width: 35%;
}
body[class*="course"] .node-course-form .form-item-field-course-teacher-und label {
  display: inline-block;
  padding-left: 15px;
  width: 35%;
}
body[class*="course"] .node-course-form #node_course_form_group_course_settings {
  width: 52.5%;
}
body[class*="course"] .node-course-form #node_course_form_group_course_settings .fieldset-legend {
  font-size: 14pt;
  font-weight: bold;
  margin-bottom: 8px;
  text-transform: uppercase;
}
body[class*="course"] .node-course-form .panel-heading {
  background-color: inherit;
  border: none;
}
body[class*="course"] .node-course-form .form-type-select select.form-select {
  color: #909192;
  display: inline-block;
  width: 64%;
}
body[class*="course"] .node-course-form .form-type-checkbox {
  clear: both;
  margin-bottom: 25px;
  padding: 0px;
}
body[class*="course"] .node-course-form #node_course_form_group_course_settings .form-type-textfield label {
  display: inline-block !important;
  width: 70%;
}
body[class*="course"] #node_course_form_group_course_settings .form-type-textfield input.form-control {
  display: inline-block;
  width: 29%;
}
body[class*="course"] .node-course-form #field-specializ-course-add-more-wrapper {
  clear: both;
  margin-bottom: 15px;
}
body[class*="course"] .node-course-form #node_course_form_group_course_settings #edit-field-specializ-course label {
  display: inline-block !important;
  width: 40%;
}
 body[class*="course"] .node-course-form #edit-field-course-teacher {
  width: 51%;
  clear: both;
}
body[class*="course"] .node-course-form #edit-field-specializ-course input[type="text"] {
  display: inline-block;
  width: 59%;
}
body[class*="course"] .node-course-form .form-item-field-activate-activation-und > label {
  display: none;
}
body[class*="course"] .node-course-form .form-item-title,
body[class*="course"] .node-course-form #edit-field-link-soc-kurs {
  margin-top: 3px;
  position: relative;
}
body[class*="course"] .node-course-form .form-item-title label,
body[class*="course"] .node-course-form #edit-field-link-soc-kurs label {
  color: #9fa0a1;
  left: 15px;
  position: absolute;
  top: 10px;
}
body[class*="course"] #course-node-form .courses-images-logo {
  margin: 0px;
  padding: 0px;
}
body[class*="course"] .node-course-form #body-add-more-wrapper .form-type-textarea span.field-edit-link {
  display: none;
}
body[class*="course"] .node-course-form .form-item-title input,
body[class*="course"] .node-course-form #edit-field-link-soc-kurs input {
  padding: 20px;
}
body[class*="course"] .node-course-form #edit-field-curs-image .image-widget-data button.form-submit {
  background: inherit;
  border: none;
  color: #909192;
  font-size: 19px;
}
body[class*="course"] .node-course-form #edit-field-curs-image .form-managed-file img {
  height: 100%;
  width: 100%;
}
body[class*="course"] .node-course-form #edit-field-curs-image .image-preview {
  float: none;
  padding: 0px;
  max-height: 300px;
  overflow: hidden;
}
body[class*="course"] .node-course-form #edit-field-curs-image .image-widget-data button[id*="remove-button"] {
  background-image: url(images/Delete.png);
  background-position: 70% 0;
  background-repeat: no-repeat;
  background-size: 60% 60%;
  border: none;
  height: 30px;
  position: absolute;
  right: 5px;
  text-indent: -9999px;
  top: 5px;
  width: 30px;
}
#course-node-form #body-add-more-wrapper {
  display: block !important;
}
#course-node-form #body-add-more-wrapper .text-format-wrapper a.ckeditor_links {
  display: none !important;
}
body[class*="course"] .node-course-form .file,
body[class*="course"] .node-course-form .file-size {
  display: none;
}
body[class*="course"] .node-course-form #edit-field-curs-image .form-type-managed-file p.help-block {
  display: none;
}
body[class*="course"] .node-course-form #edit-field-curs-image .image-widget-data {
  text-align: center;
}
body[class*="course"] .node-course-form #edit-field-curs-image .image-widget-data .input-group-btn > span.uplvl-file-field-btn {
  background-color: inherit;
  background-image: url(images/profile-logo-upload.png);
  background-repeat: no-repeat;
  border: none;
  height: 80px;
  margin-top: 20px;
  padding: 0px;
  text-indent: -9999px;
  width: 80px;
}
body[class*="course"] .node-course-form #edit-field-curs-image .image-widget-data .input-group-btn > span.uplvl-file-field-btn:active {
  box-shadow: none;
}
body[class*="course"] .node-course-form #edit-field-curs-image .image-widget-data .form-control {
  background-color: inherit;
  border: none;
  box-shadow: none;
  text-align: center;
}
body[class*="course"] .node-course-form #edit-actions button#edit-submit {
  background: #00add7;
  border: none;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 20px;
  text-transform: uppercase;
}
body[class*="course"] .node-course-form #edit-actions button.form-submit {
  border: none;
  background: inherit;
  text-transform: capitalize;
  color: #909192;
  font-size: 15px;
}
#node_course_form_group_course_settings #edit-field-if-lesson-open label[for="edit-field-if-lesson-open-und"] {
  display: none;
}
@media (max-width: 1100px){
body[class*="course"] .node-course-form .form-type-textfield,
body[class*="course"] .node-course-form .form-type-select {
  width: 100%;
   }
body[class*="course"] .node-course-form #node_course_form_group_course_settings {
  width: 60%;
  }
body[class*="course"] .node-course-form #edit-field-course-teacher {
  width: 58%;
}
}
@media (max-width: 992px){
body[class*="course"] .node-course-form #node_course_form_group_course_settings {
  width: 80%;
}
body[class*="course"] .node-course-form #edit-field-course-teacher {
  width: 77%;
}
body[class*="course"] form#course-node-form {
  width: 100%;
  margin-left: 0px;
}
body[class*="course"] .courses_inform {
  width: %;
  float: none;
  clear: both;
}
}
@media (max-width: 800px){
  body[class*="course"] .node-course-form .form-type-textfield,
  body[class*="course"] .node-course-form .form-type-select {
    margin-left: 0px;
    width: 100%;
  }
  body[class*="course"] .node-course-form #node_course_form_group_course_settings {
    width: 90%;
  }
  body[class*="course"] .node-course-form #edit-field-course-teacher {
    width: 87%;
  }
  body[class*="course"] form#course-node-form {
    width: 95%;
    margin: 0px auto;
  }
}
@media (max-width: 767px){
  body[class*="course"] .node-course-form #edit-field-curs-image .form-type-managed-file {
    width: 33%;
    margin: 0px auto;
  }
  body[class*="course"] form#course-node-form {
    width: 100%;
    margin: 0px auto;
  }
  #main {
    margin-left: 30px;
  }
  body[class*="course"] #course-node-form .field-widget-text-textarea-with-summary {
    width: 90%;
  }
}
@media (max-width: 720px){
body[class*="course"] .node-course-form .form-type-textfield,
body[class*="course"] .node-course-form .form-type-select {
  width: 90%;
}
body[class*="course"] .node-course-form .form-type-textfield,
body[class*="course"] .node-course-form .form-type-select {
  width: 90%;
}
body[class*="course"] .node-course-form #field-specializ-course-add-more-wrapper > .form-type-textfield {
  width: 100%;
}
body[class*="course"] .node-course-form #edit-field-specializ-course input[type="text"] {
  width: 59%;
}
body[class*="course"] #edit-field-curs-image {
  float: none;
  margin: 20px 0px;
}
body[class*="course"] .courses_inform {
  width: 100%;
  float: none;
}
body[class*="course"] .node-course-form #field-specializ-course-add-more-wrapper {
  width: 90%;
}
}
@media (max-width: 680px){
body[class*="course"] .node-course-form .form-type-textfield,
body[class*="course"] .node-course-form .form-type-select,
body[class*="course"] .node-course-form #edit-field-specializ-course {
  width: 100%;
}
body[class*="course"] .node-course-form #field-specializ-course-add-more-wrapper {
  width: 100%;
}
body[class*="course"] #main .page-title>h1 {
  text-align: center;
}
body[class*="course"] .node-course-form #edit-field-specializ-course,
body[class*="course"] .node-course-form #node_course_form_group_course_settings {
  width: 100%;
}
}
@media (max-width: 560px){
body[class*="course"] .node-course-form .form-type-textfield,
body[class*="course"] .node-course-form .form-type-select,
body[class*="course"] .node-course-form #edit-field-specializ-course {
  width: 100%;
}
body[class*="course"] .node-course-form #edit-field-specializ-course,
body[class*="course"] .node-course-form #node_course_form_group_course_settings {
  width: 100%;
}
body[class*="course"] .node-course-form  #edit-field-course-teacher {
  width: 96%;
}
body[class*="course"] #course-node-form .courses-images-logo {
  float: none;
}
  body[class*="course"] .node-course-form .form-type-select label {
    width: 100%;
  }
  body[class*="course"] .node-course-form .form-type-select select.form-select {
    width: 100%;
  }
  body[class*="course"] .node-course-form #node_course_form_group_course_settings .form-type-textfield label {
    width: 100%;
  }
  body[class*="course"] #node_course_form_group_course_settings .form-type-textfield input.form-control {
    width: 100%;
  }
  body[class*="course"] .node-course-form #edit-field-specializ-course label {
    width: 100%;
  }
  body[class*="course"] .node-course-form #edit-field-specializ-course input[type="text"] {
    width: 100%;
  }
}

@media (max-width: 480px){
  body[class*="course"] .node-course-form .form-item-title label,
  body[class*="course"] .node-course-form #edit-field-link-soc-kurs label {
    font-size: 0.9em;
  }
}
