#main > .page-title .header-link a {
  background: url('images/edit-profile.png') 0 0 no-repeat;
  display: block;
  float: right;
  width: 40px;
  height: 40px;
  font-size: 0;
  margin-top: -10px;
}

.region-content.left-region {
  width: 200px;
  display: block;
  margin-top: 15px;
}
.region-content.left-region > .inside {
  padding: 0;
}
.field-name-field-user-image img {
  display: block;
  height: auto;
  margin: 10px auto 15px;
  max-width: 100%;
  min-height: 1px;
  position: relative;
  width: 100%;
}

.region-content.right-region {
  margin-top: 20px;
  padding: 0 0 0 15px;
  width: 77%;
  font-family: PTSans;
  font-size: 16px;
  font-weight: normal;
  float: right;
}

.right-region .user-name {
  margin-bottom: 20px;
  font-weight: bold;
  font-size:18px;
}
.right-region .user-main-info{
  display: block;
  margin-bottom: 20px;
}
.right-region .years-city,
.right-region .left {
  display: block;
  float: left;
  width:47%;
  margin-right: 5%;
}
.right-region .user-info{
  display: block;
  clear:both;
  margin-bottom: 30px;
}
.right-region .phone-skype,
.right-region .right {
  display: block;
  float: left;
  width:47%;
}
.right-region .years-city{
  color: #2a2d2e;
}
.right-region .phone-skype div,
.right-region .user-info .left div,
.right-region .user-info .right div {
  color: #909192;
  width: 100%;
}
.right-region .phone-skype span,
.right-region .user-info .left div span,
.right-region .user-info .right div span{
  float: right;
  display: inline-block;
  color: #2a2d2e;
  text-align: right;
}
.right-region .user-info .left div a,
.right-region .user-info .right div a{
  color: #00add7;
}

.right-region .bottom {
  border-top: 1px solid #CCCCCC;
  padding-top: 40px;
}
.right-region .bottom .user-about,
.right-region .bottom .user-experience {
  color: #2a2d2e;
  margin-bottom: 25px;
}
.right-region .bottom .user-about span,
.right-region .bottom .user-experience span {
  color: #909192;
  display: block;
  margin-top: 25px;
}

@media all and (max-width: 1180px){
  .right-region .user-main-info {
    margin: 0;
  }
  .right-region .years-city {
    margin-bottom: 20px;
  }
  .right-region .years-city,
  .right-region .left {
    float: none;
    width:100%;
    margin-right: 0;
  }
  .right-region .phone-skype,
  .right-region .right {
    float: none;
    width: 100%;
  }
  .region-content.right-region {
    width: 72%;
  }
}

@media all and (max-width: 900px){
  .region-content.right-region {
    width: 65%;
  }
}
@media all and (max-width: 767px) {
  #main {
    margin-left: 30px;
    padding-left: 0px;
    padding-right: 10px;
  }
}
@media all and (max-width: 670px){
  .region-content.left-region {
    width: 30%;
    float: none;
  }
  .region-content.right-region {
    width: 100%;
    float: none;
    padding: 0;
  }
}

.region-content .bottom-region {
  width: 100%;
  font-family: PTSans;
  font-size: 16px;
  font-weight: normal;
  color: #2a2d2e;
  border-top: 1px solid #CCCCCC;
  padding: 20px 0 20px 0;
}
.bottom-region .course-head,
.bottom-region .course
 {
  padding-top: 20px;
}
.bottom-region .course-table-title {
  font-weight: bold;
  font-size: 20px;
}
.bottom-region .course-head,
.bottom-region .course-label {
  color: #909192;
}
.bottom-region .course-label{
  display: none;
}
.bottom-region .course-id-head,
.bottom-region .course-id {
  display: block;
  float: left;
  width: 8%;
  margin-right: 2%;
  min-height: 1px;
}
.bottom-region .course-direction-head,
.bottom-region .course-direction {
  display: block;
  float: left;
  width: 24%;
  margin-right: 2%;
  min-height: 1px;
}
.bottom-region .course-title-head,
.bottom-region .course-title {
  display: block;
  float: left;
  width: 31%;
  margin-right: 2%;
  min-height: 1px;
}
.bottom-region .course-study-head,
.bottom-region .course-study {
  display: block;
  float: left;
  width: 31%;
  min-height: 1px;
}
.bottom-region .course{
  clear: both;
}
.footer {
  padding-top: 0px;
  border: none;
}
@media all and (max-width: 670px){
  .bottom-region .course-head{
    display: none;
  }
  .bottom-region .course-label{
    display: block;
  }
  .bottom-region .course {
    border-bottom: 3px solid #CCCCCC;
    padding-top: 10px;
  }
  .bottom-region :last-child,
  .bottom-region .course :last-child {
    border-bottom: none;
  }
  .bottom-region .course-id,
  .bottom-region .course-direction,
  .bottom-region .course-title,
  .bottom-region .course-study {
    width: 100%;
    float: none;
    clear: both;
    border-bottom: 1px solid #CCCCCC;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .bottom-region .course-label {
    width: 50%;
    float: left;
    display: block;
  }
  .bottom-region .course-content {
    width: 50%;
    float: right;
    display: inline-block;
    text-align: right;
  }
}