body * {
  font-family: PTSans;
}
body a {
  color: #00add7;
}
body #block-system-main * {
  font-size: 15px;
}
input.form-control {
  font-size: 15px;
}
.page-curator-send-messages  #block-system-main {
  min-height: 450px;
}
.page-curator-send-messages #main  .content {
  margin: 0px auto;
  width: 91%;
}
#block-system-main .leaf {
  margin-bottom: 20px;
  overflow: hidden;
}
#block-system-main .leaf .course-title {
  float: left;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  width: 90%;
}
.page-curator-send-messages #block-by-step-drop-list-course {
  width: 100%;
}
#block-by-step-drop-list-course {
  margin-bottom: 0px;
  position: relative;
}
#block-by-step-drop-list-course .drop_list_content {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: -55px;
}
#block-system-main .leaf .course-id {
  color: #909192;
  float: right;
  font-size: 15px;
  padding-top: 5px;
}
.send-message-fields-content {
  min-width: 600px;
  width: 60%;
}
.send-message-fields-content .form-type-textfield input {
  padding: 19px 15px;
}
#search-pupil-send-messsage-form .form-item-date-search-pupil-status {
  overflow: hidden;
}
#search-pupil-send-messsage-form .form-item-date-search-pupil-status #edit-date-search-pupil-status {
  float: right;
  height: 40px;
  width: 70%;
}
#edit-date-search-field-date-till .form-type-select select {
  height: 40px;
}
#edit-date-search-field-date-from .form-type-select select {
  height: 40px;
}
#search-pupil-send-messsage-form .form-item-date-search-pupil-status>label {
  float: left;
  font-size: 15px;
  padding-top: 5px;
  width: 30%;
}
#search-pupil-send-messsage-form .date-search .container-inline-date {
  /* float: left; */
  display: inline-block;
  padding: 0px;
  width: 50%;
}
#search-pupil-send-messsage-form .date-search .container-inline-date:last-child {
  /* float: left; */
  display: inline-block;
  padding: 0px;
  text-align: right;
  width: 50%;
}
#search-pupil-send-messsage-form .date-search .container-inline-date .form-type-date-select #edit-date-search-field-date-from {
  margin: 0px;
  padding: 10px 0px;
}
#search-pupil-send-messsage-form .date-search .container-inline-date .form-type-date-select #edit-date-search-field-date-till {
  padding: 10px 0px;
}
#search-pupil-send-messsage-form .date-search .form-item-date-search-field-date-till {
  margin: 0px;
}
#by-lesson-search .uplvl-date-defise {
  font-size: 35px;
  left: 48%;
  position: absolute;
  top: -25px;
}
#search-pupil-send-messsage-form .sd-uplvl-date-check {
  position: relative;
}
#search-pupil-send-messsage-form .sd-uplvl-date-check .uplvl-date-defise {
  font-size: 35px;
  left: 48.5%;
  position: absolute;
  top: -14px;
}
#search-pupil-send-messsage-form #by-lesson-search #edit-search-by-lessons-by-lessons-title {
  float: left;
  font-size: 15px;
  padding-top: 5px;
  width: 30%;
}
#edit-messages-content-message-text-format .panel-body {
  display: none;
}
#switch_edit-messages-content-message-text-value {
  display: none !important;
}
form[id*="results-pupil-form"] button#edit-messages-content-submit {
  background-color: #21b7dc;
  border: none;
  clear: both;
  color: #fff;
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin: 40px 0px 25px 0px;
  padding: 8px 29px;
  text-transform: uppercase;
}
form[id*="results-pupil-form"] #edit-messages-content-message-text-format {
  display: none;
}
#by-lesson-search .sd-uplvl-lessons-check {
  float: right;
  position: relative;
  width: 70%;
}
#by-lesson-search .sd-uplvl-lessons-check .form-item-search-by-lessons-by-lessons-from {
  float: left;
  width: 45%;
}
#by-lesson-search .sd-uplvl-lessons-check .form-item-search-by-lessons-by-lessons-from>label {
  display: none;
}
#by-lesson-search .sd-uplvl-lessons-check .form-item-search-by-lessons-by-lessons-till>label {
  display: none;
}
#by-lesson-search .sd-uplvl-lessons-check .form-item-search-by-lessons-by-lessons-till {
  float: right;
  width: 45%;
}
#by-lesson-search {
  overflow: hidden;
}
#search-pupil-send-messsage-form #edit-submit {
  background-color: #21b7dc;
  border: none;
  clear: both;
  color: #fff;
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 8px 29px;
  text-transform: uppercase;
}
.ctools-collapsible-container.ctools-collapsible-processed .title .grey {
  color: #00add7;
  font-size: 20px;
  font-weight: bold;
}
#messages-rules-form #edit-rules-tree-content-rules-text-format {
  display: none;
}
#by-lesson-search .sd-uplvl-lessons-check .form-select {
  height: 40px;
}
#messages-rules-form .form-item-rules-tree-status .form-select {
  display: inline-block;
  font-size: 15px;
  height: 40px;
  max-width: 175px;
}
#messages-rules-form .form-item-rules-tree-days .form-select {
  display: inline-block;
  height: 40px;
  max-width: 100px;
}
#messages-rules-form .rules-messages .form-type-select label {
  font-size: 15px;
  font-weight: bold;
  min-width: 50px;
}
#messages-rules-form .rules-messages .form-item-rules-tree-status {
  float: left;
  max-width: 30%;
  min-width: 250px;
}
#messages-rules-form .rules-messages .form-item-rules-tree-days {
  float: left;
  max-width: 30%;
  min-width: 190px;
}
#messages-rules-form .rules-messages #edit-rules-tree-text {
  float: left;
  font-size: 15px;
  font-weight: bold;
  min-width: 150px;
  padding: 5px;
}
.ctools-collapsible-handle .create-rules {
  padding: 30px 0px;
}
#block-system-main .ctools-collapsible-container .ctools-toggle {
  display: none;
}
#block-system-main .ctools-collapsible-container {
  position: relative;
}
#messages-rules-form .rules-messages-content {
  clear: both;
  padding: 10px 0px;
}
#messages-rules-form .rules-messages {
  overflow: hidden;
}
#messages-rules-form .form-item-rules-tree-content-title input.form-text {
  padding: 19px 15px;
}
#messages-rules-form .form-item-rules-tree-content-title {
  margin-bottom: 30px;
  min-width: 600px;
  width: 60%;
}
#messages-rules-form .rules-messages-content button {
  background-color: #21b7dc;
  border: none;
  clear: both;
  color: #fff;
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin: 25px 0px;
  padding: 8px 29px;
  text-transform: uppercase;
}
#table-course-rules-form button.form-submit {
  background: inherit;
  border: none;
  color: #00add7;
  font-size: 15px;
}
#table-course-rules-form {
  min-height: 350px;
  padding-bottom: 25px;
}
.ctools-collapsible-container.ctools-collapsible-processed .title .grey:after {
  content: '';
  display: inline-block;
  width: 12px;
  margin-left: 10px;
  height: 12px;
  background-repeat: no-repeat;
  background-image: url(images/drop-hide-list-arrou.png);
  background-position: 0px 3px;
  background-size: 100%;
}
.ctools-collapsible-container.ctools-collapsible-processed.ctools-collapsed .title .grey:after {
  background-position: 0px -20px;
}
#table-course-rules-form #rules-table-content table tbody .form-type-checkbox>input[type="checkbox"] {
  display: none;
}
#table-course-rules-form #rules-table-content table tbody .form-type-checkbox>label {
  background-image: url(images/button_cheked.png);
  background-position: 0px -60px;
  background-repeat: no-repeat;
  clip: auto;
  left: 0px;
}
#table-course-rules-form #rules-table-content table tbody .selected .form-type-checkbox>label {
  background-position: 0px 0px;
}
#table-course-rules-form #rules-table-content th.select-all input[type="checkbox"] {
  display: none;
}
#table-course-rules-form #rules-table-content th.select-all label {
  background-image: url(images/button_cheked.png);
  background-position: 0px -60px;
  background-repeat: no-repeat;
  clip: auto;
  display: inline-block;
  height: 20px;
  left: 0px;
  vertical-align: bottom;
  width: 20px;
}
#table-course-rules-form * {
  font-size: 15px;
}
#table-course-rules-form #rules-table-content th.select-all input[type="checkbox"]:checked+label {
  background-position: 0px 0px;
}
#table-course-rules-form #rules-table-content th {
  color: #909192;
  font-weight: normal;
  line-height: 35px;
}
form[id*="results-pupil-form"] .table-select-processed.table.table-striped .even td {
  border: none;
}
form[id*="results-pupil-form"] .table-select-processed.table.table-striped .odd td {
  background: #f6f7f9;
  border: none;
}
#table-course-rules-form #edit-mark .table-title {
  font-size: 20px;
  font-weight: bold;
}
form[id*="results-pupil-form"] table th {
  border: none;
  color: #909192;
  font-size: 15px;
  font-weight: normal;
  line-height: 35px;
}
fieldset[id*="edit-messages-content-message-text-format"] .panel-body {
  display: none;
}
form[id*="results-pupil-form"] .select-all input[type="checkbox"] {
  display: none;
}
form[id*="results-pupil-form"] .select-all label {
  background-image: url(images/button_cheked.png);
  background-position: 0px -60px;
  background-repeat: no-repeat;
  clip: auto;
  display: inline-block;
  height: 20px;
  left: 0px;
  vertical-align: bottom;
  width: 20px;
}
form[id*="results-pupil-form"] .select-all input[type="checkbox"]:checked+label {
  background-position: 0px 0px;
}
form[id*="results-pupil-form"] tbody .form-type-checkbox input[type="checkbox"] {
  display: none;
}
form[id*="results-pupil-form"] table tbody tr .form-type-checkbox label {
  background-image: url(images/button_cheked.png);
  background-position: 0px -60px;
  background-repeat: no-repeat;
  clip: auto;
  display: inline-block;
  height: 20px;
  left: 0px;
  vertical-align: bottom;
  width: 20px;
}
#block-with-lessons #courator-check-task-pupils button.form-submit {
  background-color: #21b7dc;
  border: none;
  clear: both;
  color: #fff;
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 8px 29px;
  text-transform: uppercase;
}
#table-results-courator-form .table-striped td {
  border: none;
  background: #f6f7f9;
}
form[id*="results-pupil-form"] table tbody tr.selected .form-type-checkbox label {
  background-position: 0px 0px;
}
form[id*="results-pupil-form"] .table-select-processed.table.table-striped {
  margin: 25px 0px;
}
form[id*="results-pupil-form"] .table-select-processed.table.table-striped th {
  border: none;
  padding-bottom: 20px;
}
#table-course-rules-form .table.table-striped.sticky-enabled tbody tr td {
  background: #f6f7f9;
  border: none;
}
.page-curator-send-messages .page-title {
  width: 91%;
  margin: 0px auto;
}
form[id*="results-pupil-form"] {
    border-top: 3px solid #e0e1e3;
}
form[id="results-pupil-form"] #send-messages-content button.send-button {
  background-color: #21b7dc;
  border: none;
  clear: both;
  color: #fff;
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin: 25px 0px;
  padding: 8px 29px;
  text-transform: uppercase;
}
#table-pupil-search-results .table-striped th {
  border: none;
  padding-bottom: 15px;
}
#table-pupil-search-results .table-striped td {
  background: #f6f7f9;
  border: none;
}
#send-messages-content a.ckeditor_links {
  display: none !important;
}
#send-messages-content button[id*="edit-messages"] {
  background-color: #21b7dc;
  border: none;
  clear: both;
  color: #fff;
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin: 25px 0px;
  padding: 8px 29px;
  text-transform: uppercase;
}
.rules-messages-content .text-format-wrapper a.ckeditor_links {
  display: none !important;
}

@media (max-width: 767px){
  #main {
    margin-left: 30px;
  }
  .page-curator-send-messages #main .content {
    width: 100%;
  }
  .send-message-fields-content {
    min-width: 400px;
    width: 100%;
  }
}
@media (max-width: 650px){
  #search-pupil-send-messsage-form .date-search .container-inline-date {
   float: none;
   display: block;
   min-width: 300px;
  }
  #search-pupil-send-messsage-form .date-search .container-inline-date:last-child {
   float: none;
   display: block;
   min-width: 300px;
   text-align: left;
   margin-bottom: 20px;
  }
  #search-pupil-send-messsage-form .sd-uplvl-date-check .uplvl-date-defise {
    display: none;
  }
  .container-inline-date .form-item-date-search-field-date-from {
    margin: 0px;
  }
  #search-pupil-send-messsage-form .form-item-date-search-pupil-status>label {
    float: none;
    max-width: 30%;
  }
  #search-pupil-send-messsage-form .form-item-date-search-pupil-status #edit-date-search-pupil-status {
    float: none;
    max-width: 80%;
  }
  .send-message-fields-content .form-type-textfield input {
    width: 80%;
  }
  #search-pupil-send-messsage-form #by-lesson-search #edit-search-by-lessons-by-lessons-title {
    float: none;
  }
  #by-lesson-search .sd-uplvl-lessons-check {
    float: none;
  }
  #search-pupil-send-messsage-form #edit-submit {
    margin-top: 20px;
  }
  #messages-rules-form .rules-messages .form-item-rules-tree-status {
    float: none;
    max-width: 60%;
  }
  #messages-rules-form .rules-messages .form-item-rules-tree-days {
    float: none;
    max-width: 60%;
  }
  #messages-rules-form .form-item-rules-tree-days .form-select {
    max-width: 100%;
    width: 200px;
  }
  #messages-rules-form .form-item-rules-tree-status .form-select {
    max-width: 100%;
    width: 200px;
  }
  #messages-rules-form .rules-messages #edit-rules-tree-text {
    padding: 5px 0px;
    float: none;
  }
  #messages-rules-form .form-item-rules-tree-content-title {
    margin-bottom: 30px;
    min-width: 350px;
    width: 100%;
  }
}
