body * {
  font-family: PTSans;
}
body a {
  color: #00add7;
}
body #block-system-main * {
  font-size: 15px;
}
#block-system-main {
  width: 91%;
  margin: 10px auto 25px;
}
#block-by-step-drop-list-course {
  width: 91%;
  margin: 25px auto;
}
#block-system-main .leaf .course-title {
  float: left;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  width: 90%;
}
#block-system-main .leaf {
  margin-bottom: 35px;
  overflow: hidden;
}
#main > .page-title {
  width: 91%;
  margin: 0px auto;
}
.page-statistic #main .content {
  padding-top: 0px;
}
.course-content .course-title-descr {
  display: block;
  float: left;
  width: 66%;
  margin-right: 4%;
  margin-bottom: 15px;
}
#block-system-main .leaf-1.leaf {
  display: block;
  float: left;
  width: 30%;
}
#main .course .course-content {
  overflow: hidden;
}
#block-system-main .leaf-1.leaf img {
  border-radius: 5px;
  margin-bottom: 15px;
  max-width: 300px;
  width: 100%;
}
.c_statist table.table-striped th {
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  padding: 25px 0px 15px;
}
#main .c_statist .c_row table.table-striped td {
  border: none;
  background-color: #f6f7f9;
  padding: 5px 0px;
  color: #909192;
}
#main .c_statist table.table-striped td.opt_temp,
#main .c_statist table.table-striped td .my_value,
#main .c_statist table.table-striped td .fc_res_value {
  color: black;
}
.course-content .readmore-js-toggle {
  margin: 15px 0px;
}
/*body #block-system-main .course-content .readmore-js-toggle:after {
  background-image: url(images/drop-hide-list-arrou.png);
  background-position: 0px -15px;
  background-repeat: no-repeat;
  background-size: 100%;
  content: '';
  display: inline-block;
  height: 10px;
  margin-left: 5px;
  width: 10px;
}*/
.c_statist .c_content label {
  display: inline-block;
  font-weight: normal;
  margin-right: 10px;
}
.c_statist .c_content {
  margin-top: 35px;
}
.c_statist .c_content .cc_content {
  display: inline-block;
}
.course-description {
  word-wrap: break-word;
}
.c_statist .c_row {
  clear: both;
  margin-bottom: 35px;
  margin-left: 25px;
  font-size: 15px;
  min-height: 150px;
  padding-top: 25px;
  border-top: 2px solid #e0e1e3;
}
.leaf-1.leaf .course-type,
.leaf-1.leaf .course-direction,
.leaf-1.leaf .course-price,
.leaf-1.leaf .course-time {
  color: #909192;
  margin: 5px 0px;
}
.leaf-1.leaf .course-open {
  margin-top: 20px;
}
.leaf-1.leaf .course-type span,
.leaf-1.leaf .course-direction span,
.leaf-1.leaf .course-price span,
.leaf-1.leaf .course-time span {
  float: right;
  display: inline-block;
  color: #2a2d2e;
  text-align: right;
}