html body {
  background-color: #f6f7f9;
  min-height: 100%;
  height: 100%;
}
html {
  height: 100%;
  min-height: 100%;
}
body * {
  font-family: PTSans;
}
.main-container {
  box-sizing: border-box;
  min-height: 100%;
}
footer#footer {
  position: absolute;
  bottom: 1px;
  left: 1px;
}
body.not-front.not-logged-in {
  font-size: 15px;
}
body.not-front.not-logged-in .main-container {
  width: 90%;
  margin: 0px auto;
}
.not-logged-in.page-user .mini-profile {
  display: none;
}
body.not-front.not-logged-in .ur-adress {
  font-weight: bold;
}
body.not-front.not-logged-in .title-inform {
  font-weight: bold;
}
body.not-front.not-logged-in #main .content {
  margin: 0px 50px;
}
.not-front.not-logged-in button[id*="edit-submit"] {
  background: #00add7;
  border: none;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-top: 20px;
  float: left;
  font-size: 16px;
}
.not-front.not-logged-in #block-system-main .go-to-page-pass {
  float: right;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #909192;
}
.not-front.not-logged-in #block-system-main .go-to-page-pass a {
  color: #909192;
  font-size: 16px;
}
.not-front.not-logged-in #block-system-main .go-to-page-pass #edit-forgot-pass {
  margin-bottom: 0px;
}
.not-front.not-logged-in #block-system-main .fild-enter {
  overflow: hidden;
  width: 100%;
  min-width: 230px;
}
.not-front.not-logged-in #block-system-main .go-to-page-enter {
  float: right;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #909192;
}
.not-front.not-logged-in #block-system-main .go-to-page-enter a {
  color: #909192;
  font-size: 16px;
}
.not-front.not-logged-in aside#sidebar {
  display: none;
}
.not-front.not-logged-in #block-system-main {
  width: 50%;
}
.not-front.not-logged-in .teacher-box {
  width: 50%;
  float: left;
}
.not-front.not-logged-in .pupil-box {
  width: 50%;
  float: left;
}
.not-front.not-logged-in .registr-boxes {
  overflow: hidden;
  padding: 10px;
}
.not-front.not-logged-in .registr-boxes a {
  color: #00add7;
}
.not-front.not-logged-in .teacher-icon {
  background-image: url(images/reg_sprite.png);
  width: 165px;
  height: 165px;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  float: left;
}
.not-front.not-logged-in .pupil-icon {
  background-image: url(images/reg_sprite.png);
  width: 180px;
  height: 175px;
  background-repeat: no-repeat;
  background-position: -190px -165px;
  float: left;
}
.not-front.not-logged-in .text-you-can {
  margin: 35px 0px;
}
.not-front.not-logged-in .pupil-choose-box {
  padding: 10px;
  float: left;
}
.not-front.not-logged-in .teacher-choose-box {
  padding: 10px;
  float: left;
}
.not-front.not-logged-in #main {
  float: none;
  position: static;
  margin: 0px auto;
  width: 90%;
  padding: 60px 0px 150px;
  left: auto;
  right: auto;
}
.not-front.not-logged-in #main .page-title {
  margin: 35px 50px;
}
#logo-private-pages {
  display: inline-block;
  float: left;
  margin:10px 0px 10px 8px;
}
#logo-private-pages .logo {
  background: url('images/logo.png');
  display: inline-block;
  width: 192px;
  height: 40px;
}
.main-container {
  position: relative;
}
header {
  background: #FFFFFF;
  height: 60px;
  left: 0;
  right: 0;
  top: 0;
  /*border-bottom: 1px solid #E8EBEB;*/
  position: fixed;
  z-index: 1;
}
.front_page header#Jvideo {
  position: inherit;
  height: auto;
}
header .menu {
  display: inline-block;
  list-style-type: none;
  margin:8px 0px 0px 32px;
}
header .menu li {
  float: left;
  list-style-type: none;
  list-style-image: none;
}
header .menu li a {
  font-family: PTSans;
  font-size: 19px;
  font-weight: normal;
  color: #2a2d2e;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0px 15px 14px 15px;
  background: #FFFFFF;
}
header .menu li a:hover {
  border-bottom: 3px solid #00add7;
  background: #FFFFFF;
}
body.admin-menu header {
  top: 29px;
}
.mini-profile {
  display: inline-block;
  float: right;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0px;
  width: 60px;
  height: 60px;
}
.mini-profile:hover {
  background-color: #092f62;
}
.mini-profile .picture {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.mini-profile .picture img{
  border-radius: 50px;
  height: auto;
  width: 100%;
}
.mini-profile .user-dropdown-profile {
  visibility: hidden;
  position: relative;
  right: 270px;
  width: 320px;
  top: 4px;
  background-color: #0d4795;
  font-family: PTSans;
  font-size: 16px;
  padding: 20px 15px;
}
.mini-profile:hover > .user-dropdown-profile {
  visibility: visible;
}
.user-dropdown-profile .user-dropdown-mail a {
  color: #FFFFFF;
  font-size: 18px;
}
.user-dropdown-profile .user-dropdown-status {
  padding-bottom: 20px;
}
.user-dropdown-profile .user-dropdown-status,
.user-dropdown-profile .dropdown-courses-statistic,
.user-dropdown-profile .dropdown-courses-effectivity {
  width: 100%;
  color: #7ca3d6;
}
.user-dropdown-profile .dropdown-courses-statistic,
.user-dropdown-profile .dropdown-courses-effectivity {
  padding-bottom: 20px;
}
.user-dropdown-profile .dropdown-courses-statistic span,
.user-dropdown-profile .dropdown-courses-effectivity span {
  color: #FFFFFF;
  text-align: right;
  display: inline-block;
  float: right;
}
.user-dropdown-profile .user-dropdown-logout a {
  color: #FFFFFF;
}
.menu-dropdown-arrow {
  display: block;
  float: right;
  height: 25px;
  margin-top: 9px;
  width: 29px;
  margin-left: 10px;
  margin-right: 10px;
}
.menu-dropdown-arrow:before {
  background: url('images/select-list-arrow.png') center center no-repeat;
  content: ' ';
  display: inline-block;
  height: 25px;
  width: 29px;
  background-color: #E8E8E8;
  border-radius: 2px;
}
.menu-dropdown-arrow:hover:before {
  border: 1px solid #ccc;
}
#header-menu .menu-dropdown-arrow li {
  display: none;
  float: none;
  text-align: left;
  background: #fff;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  padding: 1px;
  top: auto;
  min-width: 190px;
  z-index: 2;
  position: relative;
  right: 160px;
}
#header-menu .menu-dropdown-arrow li a {
  display: block;
  padding: 0;
}
#header-menu .menu-dropdown-arrow li:first-child {
  border-top: 1px solid #e8e8e8;
  border-radius: 2px 2px 0 0;
}
#header-menu .menu-dropdown-arrow li:last-child {
  border-bottom: 1px solid #e8e8e8;
  border-radius: 0 0 2px 2px;
}
#header-menu .menu-dropdown-arrow:hover li {
  display: block;
}
#header-menu .menu-dropdown-arrow li a {
  padding-left: 10px;
  padding-right: 10px;
}
#header-menu .menu-dropdown-arrow li a:hover,
#header-menu .menu-dropdown-arrow li a.active {
  border-bottom: 0;
  text-decoration: none;
  background: #e8e8e8;
  color: #1a1b1f;
}
.page-front-page #Jfeadback .bx-wrapper .feadback-text {
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: normal;
}
@media all and (max-width: 520px){
  .menu-dropdown-arrow {
    float: left;
  }
}

header .sidebar-toggle  {
  display: none;
}

@media all and (min-width: 768px) {
  header .sidebar-toggle {
    -moz-transition: box-shadow .4s;
    -ms-transition: box-shadow .4s;
    -o-transition: box-shadow .4s;
    -webkit-transition: box-shadow .4s;
    cursor: pointer;
    display: inline-block;
    float: left;
    margin-left: 20px;
    margin-top: 15px;
    padding: 8px 6px;
    transition: box-shadow .4s;
    vertical-align: top;
  }
  .sidebar-toggle.closed {
    box-shadow: 0px 0px 5px 0px #ABABAB;
  }
  .sidebar-toggle span {
    background-color: #ccc;
  }

  /* Styles for closed sidebar */


#main {
  margin-left: 80px;
  float:left;
  display: block;
  width: auto;
  left: 0;
  right: 0;
  min-height: 100%;
  padding: 60px 7% 150px 4%;
}

#main .content {
  padding-bottom: 15px;
  clear: both;
}
#main > .page-title h1 {
  display: block;
  float: left;
  font-family: PTSans;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}

aside#sidebar:not(.no-animate) + #main {
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
}

@media all and (min-width: 768px) {
  aside#sidebar {
    bottom: 0;
    float: left;
    left: 0;
    margin-top: 0;
    min-width: 220px;
    position: fixed;
    top: 60px;
    width: 25%;
    z-index: 1;
  }
  #main {
    position: absolute;
    padding: 60px 7% 150px 4%;
    left: 0;
    right: 0;
    margin-left: 220px;
    width: auto;
  }
  aside#sidebar.closed + #main {
    margin-left: 0;
  }
}

@media all and (min-width: 890px) {
  #main {
    width: auto;
    position: absolute;
    left: 220px;
    right: 5%;
    padding: 60px 0% 150px 0%;
    margin-top: 2.2%;
    margin-left: 5%;
  }
  aside#sidebar {
    width: 220px;
  }
  aside#sidebar.closed + #main {
    margin-left: 5%;
  }
}
.not-front.not-logged-in .sidebar-toggle {
  display: none;
}
footer {
  width: 100%;
  clear: both;
  display: block;
  color: #000000;
  border-top: 2px solid #0d4795;
  position: relative;
  padding-bottom: 20px;
  padding-top: 20px;
}
footer .social-networks {
  float: left;
  width: 27%;
}
footer .payment-methods {
  float: left;
  width: 33%;
  margin: 0 5%;
}
footer .copyright {
  float: right;
  width: 30%;
  text-align: right;
}

.social-networks .label,
.payment-methods .label,
.copyright .label {
  font-family: PTSans;
  font-size: 15px;
  color: #909192;
  font-weight: normal;
}
.social-networks .label{
  padding-left: 0;
}
.social-networks .vkontakte {
  background: url('images/vk.png') 0 0 no-repeat;
  width: 28px;
  height: 16px;
  display: inline-block;
  margin: 0 5px;
}
.social-networks .youtube {
  background: url('images/youtube.png') 0 0 no-repeat;
  width: 49px;
  height: 21px;
  display: inline-block;
  margin-left: 11px;
}
.payment-methods .visa {
  background: url('images/visa.png') 0 0 no-repeat;
  width: 60px;
  height: 25px;
  display: inline-block;
  margin: 0 5px;
}
.payment-methods .mastercard {
  background: url('images/master.png') 0 0 no-repeat;
  width: 60px;
  height: 22px;
  display: inline-block;
  margin-left: 5px;
}
.copyright .label {
  padding-right: 0;
  white-space: normal;
}
.not-front.not-logged-in .container-fluid {
  padding: 0px;
}
.c_msgs {
  background: red;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  line-height: 5px;
  margin: 0px;
  padding: 5px 2px;
  position: absolute;
  right: 13px;
  text-align: center;
  text-indent: 0px;
  top: 20px;
  min-width: 18px;
}
.c_msgs.more {
  background: red;
  border-radius: 50%;
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  font-size: 9px;
  font-weight: bold;
  line-height: 5px;
  margin: 0px;
  padding: 7px 2px;
  position: absolute;
  right: 5px;
  text-align: center;
  text-indent: 0px;
  top: 18px;
  min-width: 18px;
}
#sidebar-menu ul.menu.nav li:first-child {
  position: relative;
}
@media all and (max-width: 1236px){
  footer .social-networks {
    width: 45%;
    text-align: center;
  }
  footer .payment-methods {
    width: 55%;
    margin: 0;
    text-align: center;
  }
  footer .copyright {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
}
@media all and (max-width: 658px){
  footer .social-networks {
    width: 100%;
  }
  footer .payment-methods {
    width: 100%;
    margin-top: 20px;
  }
}

@media all and (max-width: 818px){
  #main {
  padding: 60px 7% 150px 4%;
 }
 .not-front.not-logged-in #block-system-main {
  width: 75%;
 }
}


.tab-pane:not(.active) {
  display: none;
}