@font-face {
  font-family: "PT Sans";
  font-weight: bold;
  src: url(fonts/pt-sans.bold.ttf) format("truetype");
}
html body {
  background-color: #f6f7f9;
  font-family: PT Sans;
}
body * {
  font-family: PTSans;
}
body #block-system-main * {
  font-size: 15px;
}
body a {
  color: #00add7;
}
#main > .page-title {
  width: 91%;
  margin: 0px auto;
  display: none;
}
#block-system-main {
  width: 91%;
  margin: 0px auto;
}

.not-logged-in.page-user #logotip-header {
  display: none;
}
.not-logged-in.page-user header {
  border: none;
  background-color: inherit;
}
.page-user-edit .panel-default {
  background-color: inherit;
  border: none;
  box-shadow: none;
}
.page-user-edit .panel-default>.panel-heading {
  background-color: inherit;
  border: none;
  box-shadow: none;
}
.page-user-edit  .panel-default {
  background-color: inherit;
  border: none;
}
.page-user-edit #user_user_form_group_acc_person_info input,
.page-user-edit  #user_user_form_group_acc_prof_info input,
.page-user-edit  #user_user_form_group_vkontakte input {
  font-size: 12pt;
  margin-bottom: 20px;
  padding: 7px 15px;
  width: 48.8%;
  height: 40px;
}
.page-user-edit .form-type-select select {
  font-size: 12pt;
  margin-bottom: 20px;
  height: 40px;
  display: inline-block;
  width: 60%;
}
.page-user-edit .form-type-select {
  width: 48.8%;
  margin-bottom: 20px;
}
.page-user-edit .form-type-select label {
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  line-height: 40px;
  width: 39%;
  vertical-align: top;
}
#field-cel-reg-add-more-wrapper {
  display: none;
}
.page-user-edit #edit-account .password-strength {
  display: none;
}
.page-user-edit  #user_user_form_group_acc_info .confirm-parent,
.page-user-edit  #user_user_form_group_acc_info .password-parent {
  width: 100%;
}
.page-user-edit  #user_user_form_group_acc_info input {
  width: 100%;
}
.page-user-edit  #user_user_form_group_acc_info .help-block {
  display: none;
}
.page-user-edit .uplvlFormLabels-processed .form-type-textfield,
.page-user-edit .uplvlFormLabels-processed .form-type-password {
  position: relative;
}
.page-user-edit .field-name-field-exp {
  position: relative;
  width: 48.8%;
}
.page-user-edit .field-name-field-exp label {
  color: #909192;
  font-weight: normal;
  left: 15px;
  position: absolute;
  top: 10px;
}
.page-user-edit .uplvlFormLabels-processed .form-type-textfield label,
.page-user-edit .uplvlFormLabels-processed .field-name-field-exp label {
  color: #909192;
  font-size: 12pt;
  font-weight: normal;
  left: 15px;
  position: absolute;
  top: 10px;
}
.page-user-edit .uplvl-pasword .form-type-password {
  position: relative;
}
.page-user-edit .uplvl-pasword div.password-confirm {
  display: none;
}
.page-user-edit .uplvl-pasword .form-type-password label {
  color: #909192;
  font-size: 16px;
  font-weight: normal;
  left: 15px;
  position: absolute;
  top: 9px;
}
.page-user-edit #block-system-main legend.panel-heading {
  padding: 10px 0px;
}
.page-user-edit #edit-field-user-image .image-widget.form-managed-file {
  border: 3px dashed #e0e1e3;
  clear: both;
  position: relative;
  max-width: 200px;
}

.page-user-edit #edit-field-user-image .image-widget.form-managed-file .image-widget-data>.btn-danger {
  background-color: inherit;
  background-image: url(images/gtk-close.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
  border: none;
  height: 30px;
  padding: 0px;
  position: absolute;
  right: 5px;
  text-indent: -999px;
  top: 5px;
  width: 30px;
}
/*#user-profile-form .field-name-field-exp .form-type-textarea>label {
  position: static;
  font-weight: bold;
  color: #333;
}*/
.page-user-edit .panel-title {
  color: #2a2d2e;
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 5px;
}
.page-user-edit .field-name-field-user-image .form-type-managed-file .image-preview {
  float: none;
  max-height: 300px;
  max-width: 200px;
  padding: 0px;
  width: 100%;
}
.page-user-edit .field-name-field-user-image .form-type-managed-file .image-preview img {
  margin: 0px;
}
.page-user-edit .field-name-field-user-image .form-type-managed-file label {
  display: none;
}
.page-user-edit .field-name-field-user-image .form-type-managed-file img.file-icon {
  display: none;
}
.page-user-edit #user_user_form_group_acc_info .accaunt-information {
  clear: both;
  margin: 0px;
  max-height: 240px;
  max-width: 300px;
  padding: 0px;
}
#edit-field-courator-logo {
  border-bottom: 2px solid #e0e1e3;
  margin-bottom: 31px;
  padding-bottom: 42px;
}
.page-user-edit #edit-field-courator-logo button.form-submit {
  background-color: #00add7;
  border-color: #00add7;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 4px;
  padding: 9px 25px;
  text-transform: uppercase;
}
.page-user-edit #edit-field-courator-logo button.form-submit[id*="remove"] {
  background: inherit;
  text-transform: capitalize;
  font-weight: normal;
  color: #909192;
  border: none;
  margin: 0px;
  font-size: 15px;
}
form[id^="user-profile-form"] .form-radio + label,
form[id^="user-profile-form"] .form-type-radios label {
  position: static;
  display: block !important;
}
#edit-field-courator-logo .image-widget-data .input-group-btn {
  display: inline-block;
  width: 16.6%;
}
.page-user-edit #edit-field-courator-logo .image-widget-data {
  float: none;
}
.page-user-edit #edit-actions button#edit-submit {
  background-color: #00add7;
  border-color: #00add7;
  color: #fff;
  font-size: 11pt;
  font-weight: bold;
  padding: 9px 25px;
  text-transform: uppercase;
}
.page-user-edit #user_user_form_group_acc_info input {
  padding: 7px 15px;
  margin-bottom: 20px;
  font-size: 12pt;
  height: 40px;
}
.page-user-edit .uplvlFormLabels-processed .form-type-textfield,
.page-user-edit .uplvlFormLabels-processed .form-type-password {
  clear: both;
}
.page-user-edit #user_user_form_group_acc_info>.panel-heading {
  display: none;
}
.page-user-edit #block-system-main .title-profile-user {
  color: #2a2d2e;
  font-size: 23pt;
  font-weight: bold;
  text-transform: uppercase;
}
.page-user-edit #user_user_form_group_acc_info .uplvl-pasword #edit-account {
  padding: 4px;
}
.page-user-edit #edit-field-user-image .image-widget-data .file {
  display: none;
}
.page-user-edit #edit-field-user-image .image-widget-data .file-size {
  display: none;
}
.page-user-edit #edit-field-user-image .input-group-btn .uplvl-file-field-btn {
  text-indent: -999px;
}
.page-user-edit #edit-field-user-image .input-group-btn .uplvl-file-field-btn:active {
  box-shadow: none;
}
.page-user-edit #edit-field-courator-logo .form-managed-file .image-widget-data>input.form-control {
  background: inherit;
  border: none;
  box-shadow: none;
  display: inline-block;
  padding: 0px;
  width: 35%;
}
.page-user-edit .panel-body {
  padding: 15px 0px;
}
.page-user-edit #edit-field-user-image {
  text-align: center;
}
.page-user-edit #user_user_form_group_acc_info .image-widget-data input.form-control {
  background: inherit;
  border: none;
  box-shadow: none;
  color: #909192;
  margin-bottom: 0;
  text-align: center;
  padding: 0px;
  height: 30px;
}
.page-user-edit #edit-field-courator-logo .image-widget-data .input-group-btn span.btn {
  background: inherit;
  border: none;
  color: #42c1e0;
  font-size: 12pt;
  padding: 10px 0px;
}
.page-user-edit #edit-field-courator-logo .image-widget-data .input-group-btn span.btn:hover {
  background: inherit;
  border: none;
}
.page-user-edit #edit-field-courator-logo .image-widget-data .input-group-btn span.btn:active {
  box-shadow: none;
}
.page-user-edit #edit-account .form-type-radios #edit-status input.form-radio,
.page-user-edit #edit-account .form-type-checkboxes #edit-roles input.form-checkbox {
  width: auto;
}
.page-user-edit #edit-field-user-image .input-group-btn>span {
  background-color: inherit;
  background-image: url(images/profile-logo-upload.png);
  background-repeat: no-repeat;
  border: none;
  height: 80px;
  margin-bottom: 10px;
  margin-top: 50px;
  padding: 0px;
  width: 80px;
}
#user-profile-form fieldset#edit-locale {
  display: none;
}
.page-user-edit #user_user_form_group_acc_info .image-widget-data button.btn {
  background: inherit;
  border: none;
  color: #909192;
  font-size: 15pt;
  font-weight: bold;
  margin-bottom: 20px;
}

.page-user-edit .image-widget-data button.btn#edit-field-user-image-und-0-upload-button:hover {
  border: none;
  background: inherit;
}
.page-user-edit #edit-field-pay-information #field-pay-information-add-more-wrapper .form-type-textarea label {
  display: block !important;
  font-size: 15pt;
  margin: 45px 0px 27px 0px;
}
.page-user-edit #edit-field-courator-logo label {
  font-size: 14pt;
  margin-bottom: 30px;
  margin-top: 10px;
}

#better-messages-wrapper {
  display: none !important;
}
#field-pay-information-add-more-wrapper a.ckeditor_links {
  display: none !important;
}
#edit-field-cel-reg {
  margin: 0px;
}
@media (max-width: 1150px){
.page-user-edit #user_user_form_group_acc_person_info .form-item-field-user-course-und select {
  display: inline-block;
  float: none;
  width: 100%;
}
.page-user-edit .form-type-select select {
  width: 61%;
}
.page-user-edit .form-type-select label {
  width: 100%;
}
.page-user-edit .form-type-select {
  width: 80%;
}
.page-user-edit #user_user_form_group_acc_info input {
  padding: 17px 15px;
}
.page-user-edit .uplvl-pasword .form-type-password label {
  top: 6px;
}
}
@media (max-width: 900px){
.page-user-edit #user_user_form_group_acc_person_info input,
.page-user-edit  #user_user_form_group_acc_prof_info input,
.page-user-edit  #user_user_form_group_acc_prof_info select,
.page-user-edit  #user_user_form_group_vkontakte input,
.page-user-edit  #user_user_form_group_vkontakte select,
.page-user-edit  #edit-field-user-take-tech select, .page-user-edit .field-name-field-exp {
  width: 80%;
}
}
@media (max-width: 767px){
.page-user-edit #user_user_form_group_acc_info input {
  width: 80%;
}
.page-user-edit #user_user_form_group_acc_person_info .form-item-field-user-course-und {
  width: 80%;
}
.page-user-edit #user_user_form_group_acc_info .uplvl-pasword {
  padding: 0px;
}
.page-user-edit #user_user_form_group_acc_info .accaunt-information {
  margin-bottom: 15px;
}
.page-user #main {
  margin-left: 30px;
}
#block-system-main {
  width: 100%;
}
}
@media (max-width: 480px) {
.page-user-edit #user_user_form_group_acc_info input {
  width: 100%;
}
.page-user-edit #user_user_form_group_acc_info .accaunt-information {
  margin: 0px auto 15px auto;
  width: 60%;
}
.page-user-edit #user_user_form_group_acc_person_info input,
.page-user-edit #user_user_form_group_acc_prof_info input,
.page-user-edit #user_user_form_group_acc_prof_info select,
.page-user-edit #user_user_form_group_vkontakte input,
.page-user-edit #user_user_form_group_vkontakte select,
.page-user-edit #edit-field-user-take-tech select,
.page-user-edit .field-name-field-exp {
  width: 100%;
}
.page-user-edit #user_user_form_group_acc_person_info .form-item-field-user-course-und {
  width: 100%;
}
.page-user-edit .title-profile-user {
  text-align: center;
  color: #2a2d2e;
}
#edit-field-courator-logo .image-widget-data .input-group-btn,
.page-user-edit #edit-field-courator-logo .form-managed-file .image-widget-data>input.form-control {
  display: block;
  width: 100%;
}
.page-user-edit #edit-actions {
  text-align: center;
}
}
@media (max-width: 320px){
.page-user-edit #user_user_form_group_acc_info .accaunt-information {
  width: 80%;
}
.page-user-edit .panel-title {
  font-size: 18px;
  color: #2a2d2e;
  text-align: center;
}
}