@blue: #3b81c1;

.view-shops{
  .views-row{
    overflow: hidden;
    clear: both;
    &:after{
      content: url("../images/line_under_row.png");
      clear: both;
      display: block;
    }
  }
  .views-field-field-rating, .views-field-field-vector, .views-field-field-special, .views-field-name{
    float: left;
    font-size: 15px;
    font-family: Segoe;
    padding: 0 10px;
    color: @blue;
    position: relative;
    margin-right: 25px;
    &:before{
      content: '[';
      position: absolute;
      left: 0;
      top: 0px;
    }
    &:after{
      position: absolute;
      right: 0;
      top: 0;
      content: ']';
    }
    &.views-field-field-rating{
      min-width: 165px;
      margin-right: 0;
      padding: 0;
      &:after{content: '';}
      &:before{content: '';}
    }
    &.views-field-name{
      clear: right;
    }
    .views-label, .field-content{
      float: left;
      font-weight: normal;
    }
  }
  .views-field-name{
    overflow: hidden;
  }
  .views-field-title{
    overflow: hidden;
    float: left;
    width: 1040px;
    font-size: 16px;
    .field-content{
      clear: right;
      color: @blue;
    }
  }
  .views-field-field-image{
    clear: left;
    float: left;
    margin-right: 40px;
    img{
      border-radius: 15px;
      border: 1px solid #cecece;
    }
  }
  .views-field-view-node{
      float: left;
    a{
      font-size: 13px;
    }
  }
  .views-field-field-accessed{
    float: right;
    font-size: 13px;
    color: @blue;
  }
  .views-field-field-description{
    overflow: hidden;
    width: 1040px;
    .views-label{
      font-size: 16px;
    }
    .field-content{
      color: #7b7b7b;
      font-size: 13px;
      font-family: Tahoma, Verdana, Segoe, sans-serif;
    }
  }
  .views-field-edit-node{
    float: right;
    a{
      display: block;
      color: transparent;
      text-ident: -999em;
      background: url("../images/edit.png") no-repeat center;
    }
  }
  a{
    color: @blue;
    text-decoration: none;
    &:hover{
      color: darken(@blue, 20%);
    }
  }
  .id-course{
    font-size: 14px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    text-align: center;
    background: url("../images/bg_id.png") no-repeat top left;
    padding: 10px 0;
    padding-top: 25px;
  }
  div.fivestar-widget-static{
    width: 120px;
    text-align: center;
    .star{
      float: none;
      display: inline-block;
    }
  }
  div.fivestar-widget-static .star{background: none;width: 20px; height: 20px}
  div.fivestar-widget-static .star span{
    width: 20px;
    height: 20px;
    display: block;
  }
  div.fivestar-widget-static .star span.off{
    background: url("../images/empty-star.png") no-repeat 0 0;
  }
  div.fivestar-widget-static .star span.on{
    background-image: url("../images/star.png");
    background-position: 0 0;
  }
}


#block-views-exp-shops-page{
  background: #ebebeb;
  border-radius: 0 0 7px 7px;
  h2{
    float: left;
    margin: 0;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 0 3px 3px 0;
    background: url("../images/bg_tit.png") repeat-x ;
    width: 150px;
  }
  .content{
    margin-left: 200px;
  }
  .views-exposed-widgets{
    padding: 10px;
    overflow: hidden;
    >div{
      width: 50%;
      margin: 5px 0;
      float: left;
      padding: 0;
      label{
        float: left;
        font-size: 14px;
        font-weight: normal;
        width: 165px;
      }
      select, .form-text{
        width: 195px;
        margin: 0;
      }
    }
  }
}

.page-shops{
  #page-wrapper, #footer-wrapper{
    background: none;
  }
}