.view-shops .views-row {
  overflow: hidden;
  clear: both;
}
.view-shops .views-row:after {
  content: url("../images/line_under_row.png");
  clear: both;
  display: block;
}
.view-shops .views-field-field-rating,
.view-shops .views-field-field-course-study,
.view-shops .views-field-field-specializ-course,
.view-shops .views-field-name {
  float: left;
  font-size: 15px;
  font-family: Segoe;
  padding: 0 10px;
  color: #3b81c1;
  position: relative;
  margin-right: 25px;
}
.view-shops .views-field-field-rating:before,
.view-shops .views-field-field-course-study:before,
.view-shops .views-field-field-specializ-course:before,
.view-shops .views-field-name:before {
  content: '[';
  position: absolute;
  left: 0;
  top: 0px;
}
.view-shops .views-field-field-rating:after,
.view-shops .views-field-field-course-study:after,
.view-shops .views-field-field-specializ-course:after,
.view-shops .views-field-name:after {
  position: absolute;
  right: 0;
  top: 0;
  content: ']';
}
.view-shops .views-field-field-rating.views-field-field-rating,
.view-shops .views-field-field-course-study.views-field-field-rating,
.view-shops .views-field-field-specializ-course.views-field-field-rating,
.view-shops .views-field-name.views-field-field-rating {
  min-width: 155px;
  margin-right: 0;
  padding: 0;
}
.view-shops .views-field-field-rating.views-field-field-rating:after,
.view-shops .views-field-field-course-study.views-field-field-rating:after,
.view-shops .views-field-field-specializ-course.views-field-field-rating:after,
.view-shops .views-field-name.views-field-field-rating:after {
  content: '';
}
.view-shops .views-field-field-rating.views-field-field-rating:before,
.view-shops .views-field-field-course-study.views-field-field-rating:before,
.view-shops .views-field-field-specializ-course.views-field-field-rating:before,
.view-shops .views-field-name.views-field-field-rating:before {
  content: '';
}
.view-shops .views-field-field-rating.views-field-name,
.view-shops .views-field-field-course-study.views-field-name,
.view-shops .views-field-field-specializ-course.views-field-name,
.view-shops .views-field-name.views-field-name {
  clear: right;
}
.view-shops .views-field-field-rating .views-label,
.view-shops .views-field-field-course-study .views-label,
.view-shops .views-field-field-specializ-course .views-label,
.view-shops .views-field-name .views-label,
.view-shops .views-field-field-rating .field-content,
.view-shops .views-field-field-course-study .field-content,
.view-shops .views-field-field-specializ-course .field-content,
.view-shops .views-field-name .field-content {
  float: left;
  font-weight: normal;
}
.view-shops .views-field-name {
  overflow: hidden;
}
.view-shops .views-field-title {
  overflow: hidden;
  float: left;
  width: 855px;
  font-size: 16px;
}
.view-shops .views-field-title .field-content {
  clear: right;
  color: #3b81c1;
}
.view-shops .views-field-field-curs-image {
  clear: left;
  float: left;
  margin-right: 40px;
}
.view-shops .views-field-field-curs-image img {
  border-radius: 15px;
  border: 1px solid #cecece;
}
.view-shops .views-field-view-node {
  float: left;
}
.view-shops .views-field-view-node a {
  font-size: 13px;
}
.view-shops .views-field-field-type-selling-course{
  float: right;
  font-size: 13px;
  color: #3b81c1;
}
.view-shops .views-field-field-short-description{
  overflow: hidden;
  width: 855px;
}
.view-shops .views-field-field-short-description.views-label {
  font-size: 16px;
}
.view-shops .views-field-field-short-description.field-content {
  color: #7b7b7b;
  font-size: 13px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}
.view-shops .views-field-edit-node {
  float: right;
}
.view-shops .views-field-edit-node a {
  display: block;
  color: transparent;
  text-ident: -999em;
  background: url("../images/edit.png") no-repeat center;
}
.view-shops a {
  color: #3b81c1;
  text-decoration: none;
}
.view-shops a:hover {
  color: #234d73;
}
.view-shops .id-course {
  font-size: 14px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  text-align: center;
  background: url("../images/bg_id.png") no-repeat top left;
  padding: 10px 0;
  padding-top: 25px;
}
.view-shops div.fivestar-widget {
  width: 110px;
  text-align: center;
}
.view-shops div.fivestar-widget .star {
  float: none;
  display: inline-block;
}
.view-shops div.fivestar-widget .star {
  background: none;
  width: 20px;
  height: 20px;
}
.view-shops div.fivestar-widget.star div{
  width: 20px;
  height: 20px;
  display: block;
}
.view-shops div.fivestar-widget .star a {background: none;}
.view-shops div.fivestar-widget .star {
  background: url("../images/empty-star.png") no-repeat 0 0;
}
.view-shops  .fivestar-widget .star.on {
  background-image: url("../images/star.png");
  background-position: 0 0;
}
#block-views-exp-shops-page-1 {
  background: #ebebeb;
  border-radius: 0 0 7px 7px;
  margin-bottom: 35px;
}
#block-views-exp-shops-page-1 h4 {
  float: left;
  margin: 0;
  text-align: center;
  line-height: 35px;
  color: #fff;
  border-radius: 0 3px 3px 0;
  background: url("../images/bg_tit.png") repeat-x;
  width: 150px;
}
#block-views-exp-shops-page-1 .content {
  margin-left: 200px;
}
#block-views-exp-shops-page-1 .views-exposed-widgets {
  padding: 10px;
  overflow: hidden;
}
#block-views-exp-shops-page-1 .views-exposed-widgets > div {
  width: 50%;
  margin: 5px 0;
  float: left;
  padding: 0;
}
#block-views-exp-shops-page-1 .views-exposed-widgets > div label {
  float: left;
  font-size: 14px;
  font-weight: normal;
  width: 165px;
}
#block-views-exp-shops-page-1 .views-exposed-widgets > div select,
#block-views-exp-shops-page-1 .views-exposed-widgets > div .form-text {
  width: 195px;
  margin: 0;
}
.page-shops #page-wrapper,
.page-shops #footer-wrapper {
  background: none;
}
