a {
  border: none;
  color: @link-color;
  &::before, &, &::after {
    transition-property: color, background-color, border-color, box-shadow, opacity;
    transition-duration: .2s;
  }
  img {
    border: none;
    outline: none;
  }
  &.js {
    text-decoration: none;
    border-bottom-width: .1em;
    border-bottom-style: dashed;
  }
}

a:hover {
  outline: none;
  color: @link-hover-color;
}

#branding {
  margin: 0;
  font: inherit;
  a { text-decoration: none; }
}

tr.odd, tr.info, tr.even {
  color: @black;
}

thead th {
  background-color: @white;
}