.input() {
  border: @thin solid @system;
  background-color: @white;
  color: @black;
  padding: round(@rem/3);
  &[disabled] {
    background-color: @system;
  }
  &[readonly] {
    background-color: mix(@system, @white);
  }
}

.input-focus() {
  border-color: @ui-main;
}

form {
  input, select, textarea {
    .input();
    &:focus {
      .input-focus();
    }
  }
  input[type=checkbox], input[type=radio] {
    border: none;
    padding: 0;
  }
  button, input, select, textarea {
    line-height: @lh !important;
  }
  textarea {
    border-radius: round(@rem/3) round(@rem/3) 0 0;
  }
  input.error, textarea.error {
    border: @thin solid @red;
    color: @black;
  }
  fieldset {
    background: @white;
    border: @thin solid @system;
    border-radius: round(.8*@rem);
    padding: @rem;
    &.vertical-tabs-pane {
      border: none;
      padding: 0 @rem;
    }
    legend {
      color: mix(@black, @white, 80%);
      font-weight: 600;
      padding: 0 @rem;
    }
    &.collapsed {
      border-radius: 0;
      padding-top: 0;
      border-color: @system transparent transparent;
    }
  }
  legend {
    font-family: "PT Sans Narrow", sans-serif;
    background: @white;
    padding: @rex;
    border: @thin solid @system;
    border-radius: @rex;
  }
  .vertical-tabs {
    background: @white;
  }
  .description{
    color: mix(@black, @white, 80%);
  }
  .form-required {
    color: @ui-main;
  }
}

.inputUI-wrap {
  position: relative;
  width: @rem;
  height: @rem;
  margin: @thin round(@rem/3) round(@rem/3) 0;
  display: inline-block;
  vertical-align: middle;
}

.inputUI-processed, .ui-checkbox, .ui-radio {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.inputUI-processed {
  opacity: 0;
  z-index: 1;
}

.ui-checkbox, .ui-radio {
  z-index: 0;
}

.ui-checkbox, .ui-radio {
  .input();
  &::before {
    content: "";
    position: absolute;
    top:    @thin;
    left:   @thin;
    bottom: @thin;
    right:  @thin;
    background: fade(@ui-second, 0);
  }
}

.inputUI-processed:checked + .ui-checkbox::before, .inputUI-processed:checked+.ui-radio::before {
  background: @ui-second;
}

.inputUI-processed:focus + .ui-checkbox, .inputUI-processed:focus+.ui-radio {
  .input-focus();
}

.inputUI-processed:active + .ui-checkbox, .inputUI-processed:active+.ui-radio {
  background-color: @system;
}

.inputUI-processed[disabled] + .ui-checkbox, .inputUI-processed[disabled]+.ui-radio {
  background-color: @system;
  &::before {
    opacity: .5;
  }
}

.ui-radio, .ui-radio::before {
  border-radius: 50%;
}

html.js input.form-autocomplete {
  background-position: 100% 5px;
}

html.js input.throbbing {
  background-position: 100% -15px;
}

.plain-button() {
  background: @ui-main;
  border-radius: 0;
  border: none;
  padding: @thick @rex;
  position: relative;
  &:active {
    top:  @thin;
    left: @thin;
  }
}

.file-icon {
  vertical-align: middle;
}

.form-item, .form-actions {
  margin-top: @rem;
  margin-bottom: @rem;
}