body.front{
	background: #FFFFFF;
}

div.fixed_menu ul{
	width: 1170px;
	font-size: 14px;
	font-weight: 900;
	margin: 0 auto;
}

div.fixed_menu ul li{
	text-transform: uppercase;
	float: left;
	padding: 0 0 0 10px;
	margin-left: 35px;
	list-style-image: url('../images/img/menu-sep.png');
	margin-top: 13px;
}

div.fixed_menu ul li:first-child{
	list-style: none;
}

div.fixed_menu ul li a{
	color: black;
	text-decoration: none;
	border-bottom: 1px dotted black;
	font-family: Georgia, "Times New Roman", Times, serif;
}

div.fixed_menu ul li a:hover{
	color: #40E4F7;
	border-color: #40E4F7;
}

div.front_page_wrapper{
	font-size: 18px;
	width: 1200px;
	margin: 0 auto;
	font-weight: 300;
	font-family: 'HelvThin';
	font-size: 18px;
	color: #3b3b3b;
	font-weight: 300;
	line-height: 1.5;
	font-family: Georgia, "Times New Roman", Times, serif;
}

div.top_info_block{
	margin: 50px auto 0 auto;
	display: table;
}

div.top_info_block div#name_site{
	width: 120px;
	height: 50px;
	padding: 0 0 0 50px;
	background: transparent url('../images/img/logo.png') no-repeat 0 0;
	font-size: 28px;
	display: table-cell;
}

div.top_info_block div#name_site a{
	display: block;
	height: 23px;
	left: -29px;
	width: 120px;
	position: relative;
}

div.top_info_block div#vvod_slovo{
	padding-left: 150px;
	display: table-cell;
	text-align: center;
	font-family: 'HelvThin';
	line-height: 1.5;
}

#vvod_slovo .first{
	width: 460px;
	font-size: 28px;
	line-height: 100%;
}

#vvod_slovo .second{
	margin: 10px 0 0 -11px;
	width: 480px;
	font-size: 16px;
}

#phone_zakaz{
	padding-left: 150px;
	display: table-cell;
	width: 200px;
	font-size: 18px;
	font-weight: 300;
	color: #3b3b3b;
}

#phone_zakaz p{
	margin-bottom: 6px;
}

#phone_zakaz p.zakaz{
	background: url('../images/img/zakaz_zvon.png') no-repeat center left;
	padding-left: 20px;
	font-size: 16px;
}

#phone_zakaz p.zakaz a{
	text-decoration: underline;
	color: #0071B3;
	margin-top: 10px;
}

div.video_and_reg_block .Jjj {
	position: absolute;
	margin-top: -60px;
}

div#video_main{
	width: 772px;
	height: 470px;
	background: url('../images/img/video_nout.png') no-repeat;
	float: left;
}

div#video_main iframe{
	position: relative;
	z-index: 100;
	margin: 80px 0 0 98px;
}

div#form_for_test {
	float: right;
	position: relative;
	top: 90px;
	width: 400px;
	margin-right: 25px;
}

div#form_for_test p{
	text-align: center;
	font-family: Georgia, "Times New Roman", Times, serif;
	line-height: 1.5;
}

div#form_for_test form.webform-client-form > div{
	font-size: 1.071em;
	position: relative;
}

div#form_for_test form.webform-client-form > div:before{
	content: '*на прошлой неделе к тестированию платформы приступило ';
	position: absolute;
	bottom: 55px;
	left: 25px;
	width: 371px;
	font-size: 12px;
	font-family: Georgia, "Times New Roman", Times, serif;
  /*text-align: center;*/
}

div#form_for_test form.webform-client-form > div:after{
	content: '143 компании';
	position: absolute;
	bottom: 35px;
	left: 155px;
	/*width: 355px;*/
	font-size: 12px;
	color: #ff0006;
	font-family: Georgia, "Times New Roman", Times, serif;
}

div#form_for_test form.webform-client-form div.form-item{
	margin-bottom: 1em;
	margin-top: 2px;
	line-height: 1.5;
	font-family: Georgia, "Times New Roman", Times, serif;
	display: block;
}

div#form_for_test form.webform-client-form label{
	display: none;
}

div#form_for_test form.webform-client-form input.form-text{
	border: 1px solid #ccc;
	display: block;
	width: 80%;
	margin: 0 auto 5px auto;
	border-radius: 5px;
	color: black;
	padding: 0px;
	box-shadow: none;
	font-size: 0.929em;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
	padding-left: 5px;
}

div#form_for_test form.webform-client-form div div.form-item input#edit-submitted-vashe-imya{
	margin-top: 20px !important;
}

div#form_for_test form.webform-client-form div.form-actions {
	padding-top: 30px;
}

div#form_for_test form.webform-client-form input[type="submit"]{
	margin-top: 20px;
	margin-right: 0.6em;
	background: #0ac9e0!important;
	border: none;
	border-radius: 5px;
	color: white;
	margin: 20px auto;
	padding: 2px 25px;
	display: block;
	width: 360px;
	text-decoration: underline;
	clear: both;
	cursor: pointer;
	font-size: 0.929em;
	font-weight: normal;
	text-align: center;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
	box-shadow: none;
}

div.video_reg_wrapper{
	clear: both;
	overflow: hidden;
  min-height: 515px
}

div.front_page_wrapper div.video_and_reg_block{
	border-bottom: 1px solid #aaaaaa;
	padding-bottom: 50px;
	padding-top: 0px;
}

div.front_page_wrapper div.recommendations{
	border-bottom: 1px solid #aaaaaa;
	padding:50px 120px;
}

div.front_page_wrapper div.recommendations .pont .img_bird {
	background: url('../images/img/pont_bird.png') no-repeat center;
}

div.front_page_wrapper div.recommendations .pont .img_sun {
	background: url('../images/img/pont_sun.png') no-repeat center;
}

div.front_page_wrapper div.recommendations .pont{
	clear: both;
	overflow: hidden;
}

div.front_page_wrapper div.recommendations .pont:first-child{
	margin-bottom: 25px;
}

div.front_page_wrapper div.recommendations .pont div {
	width: 100px;
	height: 100px;
	border: 2px solid black;
	border-radius: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	font-family: 'HelvBold';
	float: left;
}

div.front_page_wrapper div.recommendations .pont p{
	margin-top: 40px;
	font-size: 18px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

div.front_page_wrapper div.recommendations .pont p span{
	color: #ff0006;
}

div.front_page_wrapper div.problems{
	border-bottom: 1px solid #aaaaaa;
	padding-top: 50px;
	padding-bottom: 50px;
}

.Jjj {
position: absolute;
margin-top: -60px;
}

div.front_page_wrapper div.problems p.center.zag{
	font-size: 26px;
	width: 75%;
	margin: 30px auto;
	text-align: center;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #3b3b3b;
}

div.front_page_wrapper div.problems ul{
	width: 90%;
	margin: 0 auto;
	list-style: none;
	line-height: 200%;
	padding: 0 0 0.25em 1em;
	font-size: 18px;
}

div.front_page_wrapper div.problems ul li{
	padding: 0 0 0 10px;
	display: list-item;
	text-align: -webkit-match-parent;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
}

div.front_page_wrapper div.problems ul li:nth-of-type(1){
	list-style-image: url(../images/img/krjk_money.png);
}

div.front_page_wrapper div.problems ul li:nth-of-type(2){
	list-style-image: url(../images/img/krjk_moneta.png);
}

div.front_page_wrapper div.problems ul li:nth-of-type(3){
	list-style-image: url(../images/img/krjk_face.png);
}

div.front_page_wrapper div.problems ul li:nth-of-type(4){
	list-style-image: url(../images/img/krjk_graf.png);
}

div.front_page_wrapper div.problems ul li:nth-of-type(5){
	list-style-image: url(../images/img/krjk_box.png);
}

div.front_page_wrapper div.problems ul li:nth-of-type(6){
	list-style-image: url(../images/img/krjk_megafon.png);
}

div.front_page_wrapper div.problems ul li:nth-of-type(7){
	list-style-image: url(../images/img/krjk_asq.png);
}

div.front_page_wrapper div.steps a.but_test,
div.front_page_wrapper div.problems a.but_test,
div.front_page_wrapper a.but_test{
	background: #0ac9e0!important;
	border: none;
	border-radius: 5px;
	color: white;
	padding: 5px;
	margin: 50px auto;
	padding: 5px 25px;
	display: block;
	width: 360px;
	text-decoration: underline;
	clear: both;
	text-align: center;

}

div.front_page_wrapper div.steps{
	border-bottom: 1px solid #aaaaaa;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 18px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #3b3b3b;
	line-height: 1.5;
}

div.front_page_wrapper div.steps div#step{
	width: 918px;
	height: 139px;
	margin: 0 auto;
	background: url('../images/img/step.png') no-repeat center;
}

div.front_page_wrapper div.steps p.center.zag{
	font-size: 26px;
	width: 68%;
	margin: 30px auto;
	text-align: center;
}

div.front_page_wrapper div.steps #four_step{
	width: 1100px;
	margin: 0 auto;
}

div.front_page_wrapper div.steps #four_step .step{
	width: 240px;
	display: inline-block;
	text-align: center;
	font-size: 18px;
	color: #3b3b3b;
	font-weight: 300;
	line-height: 1.5;
	font-family: Georgia, "Times New Roman", Times, serif;
}

div.front_page_wrapper div.steps #four_step .step:nth-of-type(1) {
	width: 210px;
	margin-left: 60px;
}

div.front_page_wrapper div.steps #four_step .step:nth-of-type(2) {
width: 200px;
margin-left: 20px;
}

div.front_page_wrapper div.steps #four_step .step:nth-of-type(3) {
margin-left: 50px;
}

div.front_page_wrapper div.steps #four_step .step:nth-of-type(4) {
margin-left: 30px;
}

div.front_page_wrapper > div{
	border-bottom: 1px solid #aaaaaa;
	padding-top: 50px;
	padding-bottom: 50px;
}

div.front_page_wrapper div.fixed_menu{
	position: fixed;
	margin: -10px auto 0 auto;
	padding: 10px 0 0 0;
	z-index: 500;
	height: 40px;
	background: rgba(255,255,255,0.8);
	width: 100%;
	left: 0;
	top: 0;
	border-bottom: 1px solid #aaaaaa;
}

div.front_page_wrapper div.top_info_block{
	border-bottom: none;
	padding-top: 0px;
	padding-bottom: 0px;
}

div.front_page_wrapper div.benefits p.center.zag{
	font-size: 26px;
	width: 75%;
	margin: 30px auto;
	text-align: center;
}

div.front_page_wrapper #list {
	width: 90%;
	margin: 0 auto;
	line-height: 200%;
}

div.front_page_wrapper #list > div{
	margin-bottom: 20px;
	padding-left: 50px;
}

div.front_page_wrapper #list > div:nth-of-type(1) {
	background: url('../images/img/list_clock.png') no-repeat 0 6px;
}

div.front_page_wrapper #list > div:nth-of-type(2) {
	background: url('../images/img/list_fly.png') no-repeat 0 6px;
}

div.front_page_wrapper #list > div:nth-of-type(3) {
	background: url('../images/img/list_face.png') no-repeat 3px 6px;
}

div.front_page_wrapper #list > div:nth-of-type(4) {
	background: url('../images/img/list_lamp.png') no-repeat 0 0;
	padding-bottom: 5px;
}

div.front_page_wrapper #list > div:nth-of-type(5) {
	background: url('../images/img/list_globe.png') no-repeat 6px 6px;
}

div.front_page_wrapper #list > div:nth-of-type(6) {
	background: url('../images/img/list_lock.png') no-repeat 11px 3px;
}

div.front_page_wrapper #list > div:nth-of-type(7) {
	background: url('../images/img/list_smile.png') no-repeat 6px 6px;
}

div.front_page_wrapper #list > div:nth-of-type(8) {
	background: url('../images/img/list_palm.png') no-repeat 10px 3px;
}

div.front_page_wrapper #list .abzac{
	margin-left: 40px;
}

div.statistic_image {
	background: url('../images/img/krugi.png') no-repeat 0 80px;
}

div.statistic_image #img_per {
	width: 100%;
	height: 800px;
	color: white;
	display: table-row;
}

#img_per > div {
	width: 170px;
	display: table-cell;
	text-align: center;
	padding: 0 20px;
	vertical-align: middle;
}

#img_per #up_per {
	padding-left: 60px;
}

#img_per #dohod {
	padding-left: 100px;
	width: 570px;
}

#img_per .podpos {
	font-size: 18px;
}

#img_per .per {
	font-size: 60px;
}

.black {
	font-size: 40px;
	color: black;
}

#img_per #dohod .per {
	color: black;
	font-size: 150px;
}

.sroch .put.center {
	font-size: 30px;
	text-align: center;
}

.sroch .red {
	font-size: 80px;
	color: #ff0006;
	text-align: center;
}

div.partners p{
	font-size: 26px;
	width: 75%;
	margin: 30px auto;
	text-align: center;
}

div.partners #comp {
width: 100%;
height: 146px;
background: url('../images/img/comp.png') no-repeat center;
}

div.reviews p.center.zag{
	font-size: 26px;
	width: 75%;
	margin: 30px auto;
	text-align: center;
}

div.front_page_wrapper div.reviews{
	margin: 0 auto;
	width: 900px;
	border-bottom: none;
}

div.reviews div.review_wrapper div.item{
	clear: both;
	overflow: hidden;
	margin-bottom: 40px;
}

div.reviews div.review_wrapper div.item:first-child div.img,
div.reviews div.review_wrapper div.item:nth-child(3) div.img{
	width: 220px;
	height: 220px;
	float: left;
	margin-right: 30px;
	border-radius: 50%;
}

div.reviews div.review_wrapper div.item:nth-child(2) div.img,
div.reviews div.review_wrapper div.item:nth-child(4) div.img{
	width: 220px;
	height: 220px;
	float: right;
	margin-left: 30px;
	border-radius: 50%;
}

div.reviews div.review_wrapper div.item:first-child div.img{
	background: url('http://up-lvl.com/sites/default/files/LScZwwtIKxA.jpg');
}

div.reviews div.review_wrapper div.item:nth-child(2) div.img{
	background: url('http://up-lvl.com/sites/default/files/x_e7c505dd.jpg');
}

div.reviews div.review_wrapper div.item:nth-child(3) div.img{
	background: url('http://up-lvl.com/sites/default/files/YcexaA9S0ro.jpg');
}

div.reviews div.review_wrapper div.item:nth-child(4) div.img{
	background: url('http://up-lvl.com/sites/default/files/otziv_3.png');
}

div.reviews div.review_wrapper div.item:nth-child(2) div.review,
div.reviews div.review_wrapper div.item:nth-child(4) div.review{
	width: 650px;
	float: left;
}

div.reviews div.review_wrapper ol{
	padding-left: 25px;
}

div.front_page_wrapper div.footer{
	padding-top: 0px;
	margin: 0 auto;
	width: 900px;
}

div.front_page_wrapper div.footer hr{
	border: 1px solid gray;
	height: 1px;
}

div.zakaz_form{
	position: absolute;
	top: 10%;
	left: 60%;
	background: #fff;
	border: 1px solid #eee!important;
	padding: 10px!important;
	width: 235px;
	/*height: 285px;*/
	z-index: 100;
}

div.zakaz_form form input{
	width: 200px;
	box-shadow: none;
	margin-left: 18px;
	height: 30px;
}

div.zakaz_form div.title{
	text-align: center;
	line-height: 1.5;
	font-size: 1.17em;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin-top: 20px;
	float: left;
	margin-left: 15px;
}

div.zakaz_form div.close{
	position: relative;
	top: 27px;
	cursor: pointer;
	width: 20px;
	height: 20px;
	background: url('../images/img/krestic.png');
	float: right;
	margin-right: 25px;
}

div.zakaz_form form{
	padding-top: 65px;
}

div.zakaz_form form input[type="submit"]{
	width: 200px;
	cursor: pointer;
	background: #0ac9e0!important;
	border: none;
	border-radius: 5px;
	color: white;
	padding: 0px 25px;
	display: block;
	text-decoration: underline;
	clear: both;
	margin-top: 25px;
}

#toTop {
	width:100px;
	border:2px solid #0ac9e0;
	background:#FFFFFF;
	text-align:center;
	padding:5px;
	position:fixed;
	bottom:60px; /* отступ кнопки от нижнего края страницы*/
	right:10px;
	cursor:pointer;
	display:none;
	color:#0ac9e0;
	font-family:verdana;
	font-size:11px;
	border-radius: 7px;
}
