.b-s(@s: ~"@{thin} @{thin} @{thick} @{black}") {
  box-shadow: @s;
}

.b-r(@r: @rem) {
  border-radius: @r;
}

.b-i(@i) {
  border-image: @i;
}

.l-g(@g: ~"180deg, @{ui-main} 0%, @{ui-second} 50%, @{ui-main} 100%") {
 .background-url(~"images/gradient.php/@{g}");
  background-size: 100% 100%;
  background-image: linear-gradient(@g);
}

.t-s(@s: ~"@{thin}px @{thin}px 0 @{black}") {
  text-shadow: @s;
}

html.mzr-svg *{
  filter: none !important;
}

.l-g-h(@startColor: @ui-main, @endColor: @ui-second){
  background-color: average(@startColor, @endColor);
  .l-g(~"90deg, @{startColor} 0%, @{endColor} 100%");
  background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
  background-image: linear-gradient(~"90deg, @{startColor} 0%, @{startColor} 100%");
  @ieStartColor: argb(@startColor); @ieEndColor: argb(@endColor);
  filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorStr='@{ieStartColor}', EndColorStr='@{ieEndColor}', GradientType=1))";
}


.l-g-v(@startColor: @ui-main, @endColor: @ui-second){
  background-color: average(@startColor, @endColor);
  .l-g(~"180deg, @{startColor} 0%, @{endColor} 100%");
  background-image: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background-image: linear-gradient(~"180deg, @{startColor} 0%, @{endColor} 100%");
  @ieStartColor: argb(@startColor); @ieEndColor: argb(@endColor);
  filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorStr='@{ieStartColor}', EndColorStr='@{ieEndColor}', GradientType=0))";
}

.bx-sz(@s: border-box) {
  -webkit-box-sizing: @s;
     -moz-box-sizing: @s;
          box-sizing: @s;
}

/**
 * helper mixin
 */
.resetList() {
  li {
    list-style-image: none;
    list-style-type: none;
  }
  li, ul, ol {
    margin: 0;
    padding: 0;
    background: none;
  }
}

.resetTable() {
  table, tbody, thead, tbody, tr, td, th {
    border: none;
    background: none;
  }
}

/* For image replacement */
.ir() {
  color: transparent;
  text-indent: 100%;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
}

.linkUnderlineInvert() {
  a       {text-decoration: none;}
  a:hover {text-decoration: underline;}
}

.list2table() {
  display: table;
  width: 100%;
  &>li { display: table-cell; padding: 0; }
}

.ext-background(@background: @ui-main, @position: relative) {
  position: @position;
  &:before, &, &:after {
    background: @background;
  }
  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 999em;
    visibility: visible;
    height: 100%;
  }
  &:before { right: 100%; }
  &:after { left: 100%; }
}

.background-url(@url: "images/#"){
  @urle: escape(@url);
  background-image: url(@urle);
}

.rgba(@c: fade(@ui-main, 50%)) {
  .rgba-image(@c);
  background: @c;
}

.rgba-image(@c: fade(@ui-main, 50%)) {
  .background-url(~"images/rgba.php/@{c}");
}
.to-left(@space:@rex){
  float: left;
  margin-right: @space;
}
.to-right(@space:@rex){
  float: right;
  margin-left: @space;
}

/**
 * Drupal helper clone mixin
 */
.element-invisible() {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.clearfix() {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.clear() {
  clear: both;
  float: none;
}