html,
body {
  height: 100%;
}
#wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  background: url("images/hat.png") repeat-x top center;
  min-width: 950px;
}
#wrapper > header {
  height: 305px;
  position: relative;
  margin-bottom: 15px;
}
#wrapper > header .region {
  width: 950px;
  height: 305px;
  position: relative;
  margin: 0 auto 17px;
}
#wrapper > footer {
  margin: 0 auto;
  width: 950px;
  height: 100px;
}
#container {
  position: relative;
  width: 950px;
  margin: 0 auto;
}
#center {
  float: left;
  width: 100%;
}
#squeeze {
  padding: 0 17px;
}
body.sidebar-first #squeeze {
  margin-left: 317px;
}
body.sidebar-second #squeeze {
  margin-right: 227px;
}
body.two-sidebars #squeeze {
  margin: 0 227px 0 317px;
}
#container aside {
  float: left;
  z-index: 2;
  position: relative;
}
#container aside .block {
  margin-bottom: 17px;
}
#sidebar-first {
  width: 300px;
  padding-left: 17px;
  margin-left: -100%;
}
#sidebar-second {
  width: 210px;
  padding-right: 17px;
  margin-left: -227px;
}
a {
  border: none;
  color: #3399ff;
}
a::before,
a,
a::after {
  transition-property: color, background-color, border-color, box-shadow, opacity;
  transition-duration: .2s;
}
a img {
  border: none;
  outline: none;
}
a.js {
  text-decoration: none;
  border-bottom-width: .1em;
  border-bottom-style: dashed;
}
a:hover {
  outline: none;
  color: #2e75bd;
}
#branding {
  margin: 0;
  font: inherit;
}
#branding a {
  text-decoration: none;
}
tr.odd,
tr.info,
tr.even {
  color: #222222;
}
thead th {
  background-color: #ffffff;
}
form input,
form select,
form textarea {
  border: 1px solid #c8c8c8;
  box-shadow: 0 0 11px rgba(246, 168, 40, 0), inset 0 1px 4px #c8c8c8;
  transition-duration: .2s;
  transition-property: color, background-color, border-color, box-shadow;
  background-color: #ffffff;
  color: #222222;
  padding: 4px;
}
form input[disabled],
form select[disabled],
form textarea[disabled] {
  background-color: #c8c8c8;
}
form input[readonly],
form select[readonly],
form textarea[readonly] {
  background-color: #e3e3e3;
}
form input:focus,
form select:focus,
form textarea:focus {
  border-color: #f6a828;
  box-shadow: 0 0 6px #f6a828, inset 0 1px 6px #c8c8c8;
}
form input[type=checkbox],
form input[type=radio] {
  border: none;
  padding: 0;
}
form button,
form input,
form select,
form textarea {
  line-height: 1.4 !important;
}
form input,
form select {
  border-radius: 4px;
}
form textarea {
  border-radius: 4px 4px 0 0;
}
form fieldset {
  background: #ffffff;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  padding: 12px;
}
form fieldset.vertical-tabs-pane {
  border: none;
  padding: 0 12px;
}
form fieldset legend {
  color: #4e4e4e;
  font-weight: 600;
  padding: 0 12px;
}
form fieldset.collapsed {
  border-radius: 0;
  padding-top: 0;
  border-color: #c8c8c8 transparent transparent;
}
form legend {
  font-family: "PT Sans Narrow", sans-serif;
  background: #ffffff;
  padding: 7px;
  border: 1px solid #c8c8c8;
  border-radius: 7px;
}
form .vertical-tabs {
  background: #ffffff;
}
.inputUI-processed,
.ui-checkbox,
.ui-radio {
  margin: 1px 4px 4px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  width: 12px;
  height: 12px;
}
.inputUI-processed {
  opacity: 0;
  position: relative;
  margin-right: -12px;
  z-index: 1;
}
.ui-checkbox,
.ui-radio {
  position: relative;
  border: 1px solid #c8c8c8;
  box-shadow: 0 0 11px rgba(246, 168, 40, 0), inset 0 1px 4px #c8c8c8;
  transition-duration: .2s;
  transition-property: color, background-color, border-color, box-shadow;
  background-color: #ffffff;
  color: #222222;
  padding: 4px;
}
.ui-checkbox[disabled],
.ui-radio[disabled] {
  background-color: #c8c8c8;
}
.ui-checkbox[readonly],
.ui-radio[readonly] {
  background-color: #e3e3e3;
}
.ui-checkbox::before,
.ui-radio::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  background: rgba(0, 128, 0, 0);
}
.inputUI-processed:checked + .ui-checkbox::before,
.inputUI-processed:checked + .ui-radio::before {
  background: #008000;
}
.inputUI-processed:focus + .ui-checkbox,
.inputUI-processed:focus + .ui-radio {
  border-color: #f6a828;
  box-shadow: 0 0 6px #f6a828, inset 0 1px 6px #c8c8c8;
}
.inputUI-processed:active + .ui-checkbox,
.inputUI-processed:active + .ui-radio {
  background-color: #c8c8c8;
}
.inputUI-processed[disabled] + .ui-checkbox,
.inputUI-processed[disabled] + .ui-radio {
  background-color: #c8c8c8;
}
.inputUI-processed[disabled] + .ui-checkbox::before,
.inputUI-processed[disabled] + .ui-radio::before {
  opacity: .5;
}
.ui-radio,
.ui-radio::before {
  border-radius: 50%;
}
html.js input.form-autocomplete {
  background-position: 100% 5px;
}
html.js input.throbbing {
  background-position: 100% -15px;
}
.file-icon {
  vertical-align: middle;
}
.form-item,
.form-actions {
  margin-top: 12px;
  margin-bottom: 12px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 10px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: 10px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 10px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 10px;
}
.ui-dialog {
  padding: 2px;
}
#cboxContent:before,
.ui-widget-header {
  background-image: url(images/gradient.php?g=180deg,%23f8be5e+30%25,%23f6a828+70%25);
  background-size: 100% 100%;
  background-image: linear-gradient(180deg, #f8be5e+30%, #f6a828+70%);
  border-color: #d69427;
  border-radius: 7px;
}
.ui-widget-header .ui-corner-all {
  border-radius: 4px;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background-image: url(images/gradient.php?g=180deg,%23ffffff+30%25,%23f5f5f5+70%25);
  background-size: 100% 100%;
  background-image: linear-gradient(180deg, #ffffff+30%, #f5f5f5+70%);
  border: 1px solid #c8c8c8;
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: .2s;
  color: #3399ff;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  background-image: url(images/gradient.php?g=180deg,%23ffffff+40%25,%23eeeeee+60%25);
  background-size: 100% 100%;
  background-image: linear-gradient(180deg, #ffffff+40%, #eeeeee+60%);
  border-color: #f6a828;
  color: #2e75bd;
  box-shadow: 0 0 2px rgba(34, 34, 34, 0.4);
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  background-image: url(images/gradient.php?g=360deg,%23ffffff+40%25,%23eeeeee+60%25);
  background-size: 100% 100%;
  background-image: linear-gradient(360deg, #ffffff+40%, #eeeeee+60%);
  box-shadow: 0 0 1px rgba(34, 34, 34, 0.4);
}
.ui-widget-content,
#cboxWrapper {
  background-image: linear-gradient(180deg, #fbfbfb 30px, #ededed 60px);
  background-color: #ededed;
  color: #222222;
}
#cboxCurrent {
  background-image: url(images/rgba.php/rgba%28246,168,40,0.5%29);
  background: rgba(246, 168, 40, 0.5);
}
.ui-dialog .ui-dialog-titlebar-close span {
  margin: 0 2px 2px 0;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border: none;
  border-radius: 0px;
  border-radius: 0;
  box-shadow: none;
}
body {
  color: #222222;
  background-color: #ffffff;
  font-size: 15px;
  line-height: 1.2;
  font-family: arial;
}
h1 {
  text-align: center;
  font-family: 'Conv_georgia';
  font-size: 20px;
  font-weight: normal;
}
#block-block-1 {
  float: left;
  left: 50%;
  margin-left: -293px;
  padding-top: 0;
  position: absolute;
  top: 55px;
}
#block-block-2 {
  padding-top: 23px;
  font-size: 14px;
}
#block-block-2 .content {
  color: #ffffff;
}
#block-block-3 {
  padding-top: 23px;
  color: #fff;
  margin-bottom: 10px;
  position: absolute;
  top: 102px;
  right: 0;
}
#block-block-3 .content {
  font-size: 24px;
  font-family: 'a_rubricaxtcnregular';
}
#block-block-4 {
  position: absolute;
  right: 10px;
}
#block-block-4 .content a {
  line-height: 30px;
  display: block;
  text-transform: uppercase;
}
#block-system-main-menu,
#block-menu-menu-second-top-menu {
  bottom: 0;
  left: 0;
  top: 200px;
  position: absolute;
}
#block-system-main-menu .content ul,
#block-menu-menu-second-top-menu .content ul {
  overflow: hidden;
}
#block-system-main-menu .content ul li:hover ul,
#block-menu-menu-second-top-menu .content ul li:hover ul {
  display: block;
}
#block-system-main-menu .content ul.level-0 > li,
#block-menu-menu-second-top-menu .content ul.level-0 > li {
  border: none;
}
#block-system-main-menu .content ul.level-0 > li > a,
#block-menu-menu-second-top-menu .content ul.level-0 > li > a {
  border: none;
  min-width: 55px;
}
#block-system-main-menu .content ul.level-0 > li > a:hover,
#block-menu-menu-second-top-menu .content ul.level-0 > li > a:hover,
#block-system-main-menu .content ul.level-0 > li > a.active,
#block-menu-menu-second-top-menu .content ul.level-0 > li > a.active {
  color: #f7971c;
}
#block-system-main-menu .content ul.level-0 > li > a:before,
#block-menu-menu-second-top-menu .content ul.level-0 > li > a:before {
  content: '[';
  margin-right: 5px;
}
#block-system-main-menu .content ul.level-0 > li > a:after,
#block-menu-menu-second-top-menu .content ul.level-0 > li > a:after {
  content: ']';
  margin-left: 5px;
}
#block-system-main-menu .content ul .level-1,
#block-menu-menu-second-top-menu .content ul .level-1 {
  display: none;
  position: absolute;
  background: #f2f2f4;
  z-index: 997;
}
#block-system-main-menu .content ul .level-1 li,
#block-menu-menu-second-top-menu .content ul .level-1 li {
  float: none;
  border: 1px solid #cccccc;
  border-top: none;
}
#block-system-main-menu .content ul .level-1 li a,
#block-menu-menu-second-top-menu .content ul .level-1 li a {
  border: none;
}
#block-system-main-menu .content ul .level-1 li a:hover,
#block-menu-menu-second-top-menu .content ul .level-1 li a:hover {
  background: #005598;
  color: #ffffff;
}
#block-system-main-menu .content ul li,
#block-menu-menu-second-top-menu .content ul li {
  list-style-image: none;
  list-style-type: none;
}
#block-system-main-menu .content ul li,
#block-menu-menu-second-top-menu .content ul li,
#block-system-main-menu .content ul ul,
#block-menu-menu-second-top-menu .content ul ul,
#block-system-main-menu .content ul ol,
#block-menu-menu-second-top-menu .content ul ol {
  margin: 0;
  padding: 0;
  background: none;
}
#block-system-main-menu .content ul li,
#block-menu-menu-second-top-menu .content ul li {
  float: left;
  margin: 0;
  letter-spacing: 21px;
  text-align: center;
  padding: 0;
}
#block-system-main-menu .content ul li a,
#block-menu-menu-second-top-menu .content ul li a {
  line-height: 30px;
  color: #003366;
  font-family: 'Conv_framd';
  font-size: 14px;
  text-decoration: none;
  display: block;
  letter-spacing: 0px;
  padding: 0 10px;
  min-width: 100px;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #cccccc;
}
#block-system-main-menu .content ul li a:hover,
#block-menu-menu-second-top-menu .content ul li a:hover,
#block-system-main-menu .content ul li a .active,
#block-menu-menu-second-top-menu .content ul li a .active {
  color: #005598;
}
#block-menu-menu-second-top-menu {
  left: auto;
  right: 0;
}
#mini-panel-partner_progr_top_video,
#block-panels-mini-zakazat-top-video .content,
#block-panels-mini-clone-of-front-top-video .content,
#block-panels-mini-front-top-video .content,
#block-panels-mini-selzak-pane .content {
  padding-bottom: 5px;
  background: url("images/border.png") repeat-x bottom;
  font-size: 14px;
  text-align: center;
}
#mini-panel-partner_progr_top_video .panel-panel,
#block-panels-mini-zakazat-top-video .content .panel-panel,
#block-panels-mini-clone-of-front-top-video .content .panel-panel,
#block-panels-mini-front-top-video .content .panel-panel,
#block-panels-mini-selzak-pane .content .panel-panel {
  width: 515px;
  margin-right: 15px;
}
#mini-panel-partner_progr_top_video .panel-col-first,
#block-panels-mini-zakazat-top-video .content .panel-col-first,
#block-panels-mini-clone-of-front-top-video .content .panel-col-first,
#block-panels-mini-front-top-video .content .panel-col-first,
#block-panels-mini-selzak-pane .content .panel-col-first,
#mini-panel-partner_progr_top_video .panel-col-last,
#block-panels-mini-zakazat-top-video .content .panel-col-last,
#block-panels-mini-clone-of-front-top-video .content .panel-col-last,
#block-panels-mini-front-top-video .content .panel-col-last,
#block-panels-mini-selzak-pane .content .panel-col-last {
  width: 190px;
  margin-right: 0;
}
body.page-command #mini-panel-partner_progr_top_video .panel-col-first,
body.page-command #block-panels-mini-zakazat-top-video .content .panel-col-first,
body.page-command #block-panels-mini-clone-of-front-top-video .content .panel-col-first,
body.page-command #block-panels-mini-front-top-video .content .panel-col-first,
body.page-command #block-panels-mini-selzak-pane .content .panel-col-first,
body.page-command #mini-panel-partner_progr_top_video .panel-col-last,
body.page-command #block-panels-mini-zakazat-top-video .content .panel-col-last,
body.page-command #block-panels-mini-clone-of-front-top-video .content .panel-col-last,
body.page-command #block-panels-mini-front-top-video .content .panel-col-last,
body.page-command #block-panels-mini-selzak-pane .content .panel-col-last,
body.page-node-31 #mini-panel-partner_progr_top_video .panel-col-first,
body.page-node-31 #block-panels-mini-zakazat-top-video .content .panel-col-first,
body.page-node-31 #block-panels-mini-clone-of-front-top-video .content .panel-col-first,
body.page-node-31 #block-panels-mini-front-top-video .content .panel-col-first,
body.page-node-31 #block-panels-mini-selzak-pane .content .panel-col-first,
body.page-node-31 #mini-panel-partner_progr_top_video .panel-col-last,
body.page-node-31 #block-panels-mini-zakazat-top-video .content .panel-col-last,
body.page-node-31 #block-panels-mini-clone-of-front-top-video .content .panel-col-last,
body.page-node-31 #block-panels-mini-front-top-video .content .panel-col-last,
body.page-node-31 #block-panels-mini-selzak-pane .content .panel-col-last,
body.page-node-38 #mini-panel-partner_progr_top_video .panel-col-first,
body.page-node-38 #block-panels-mini-zakazat-top-video .content .panel-col-first,
body.page-node-38 #block-panels-mini-clone-of-front-top-video .content .panel-col-first,
body.page-node-38 #block-panels-mini-front-top-video .content .panel-col-first,
body.page-node-38 #block-panels-mini-selzak-pane .content .panel-col-first,
body.page-node-38 #mini-panel-partner_progr_top_video .panel-col-last,
body.page-node-38 #block-panels-mini-zakazat-top-video .content .panel-col-last,
body.page-node-38 #block-panels-mini-clone-of-front-top-video .content .panel-col-last,
body.page-node-38 #block-panels-mini-front-top-video .content .panel-col-last,
body.page-node-38 #block-panels-mini-selzak-pane .content .panel-col-last {
  width: 210px;
}
#mini-panel-partner_progr_top_video .panel-col-first .views-field-field-vk,
#block-panels-mini-zakazat-top-video .content .panel-col-first .views-field-field-vk,
#block-panels-mini-clone-of-front-top-video .content .panel-col-first .views-field-field-vk,
#block-panels-mini-front-top-video .content .panel-col-first .views-field-field-vk,
#block-panels-mini-selzak-pane .content .panel-col-first .views-field-field-vk,
#mini-panel-partner_progr_top_video .panel-col-last .views-field-field-vk,
#block-panels-mini-zakazat-top-video .content .panel-col-last .views-field-field-vk,
#block-panels-mini-clone-of-front-top-video .content .panel-col-last .views-field-field-vk,
#block-panels-mini-front-top-video .content .panel-col-last .views-field-field-vk,
#block-panels-mini-selzak-pane .content .panel-col-last .views-field-field-vk {
  margin: 5px 0;
  color: #3399ff;
  text-decoration: underline;
}
#mini-panel-partner_progr_top_video .panel-col-first .views-field-title,
#block-panels-mini-zakazat-top-video .content .panel-col-first .views-field-title,
#block-panels-mini-clone-of-front-top-video .content .panel-col-first .views-field-title,
#block-panels-mini-front-top-video .content .panel-col-first .views-field-title,
#block-panels-mini-selzak-pane .content .panel-col-first .views-field-title,
#mini-panel-partner_progr_top_video .panel-col-last .views-field-title,
#block-panels-mini-zakazat-top-video .content .panel-col-last .views-field-title,
#block-panels-mini-clone-of-front-top-video .content .panel-col-last .views-field-title,
#block-panels-mini-front-top-video .content .panel-col-last .views-field-title,
#block-panels-mini-selzak-pane .content .panel-col-last .views-field-title {
  color: #005598;
}
#mini-panel-partner_progr_top_video .panel-col-first .views-field-field-image img,
#block-panels-mini-zakazat-top-video .content .panel-col-first .views-field-field-image img,
#block-panels-mini-clone-of-front-top-video .content .panel-col-first .views-field-field-image img,
#block-panels-mini-front-top-video .content .panel-col-first .views-field-field-image img,
#block-panels-mini-selzak-pane .content .panel-col-first .views-field-field-image img,
#mini-panel-partner_progr_top_video .panel-col-last .views-field-field-image img,
#block-panels-mini-zakazat-top-video .content .panel-col-last .views-field-field-image img,
#block-panels-mini-clone-of-front-top-video .content .panel-col-last .views-field-field-image img,
#block-panels-mini-front-top-video .content .panel-col-last .views-field-field-image img,
#block-panels-mini-selzak-pane .content .panel-col-last .views-field-field-image img {
  border: 1px solid #cccccc;
}
#mini-panel-partner_progr_top_video .panel-col-first .panel-pane,
#block-panels-mini-zakazat-top-video .content .panel-col-first .panel-pane,
#block-panels-mini-clone-of-front-top-video .content .panel-col-first .panel-pane,
#block-panels-mini-front-top-video .content .panel-col-first .panel-pane,
#block-panels-mini-selzak-pane .content .panel-col-first .panel-pane,
#mini-panel-partner_progr_top_video .panel-col-last .panel-pane,
#block-panels-mini-zakazat-top-video .content .panel-col-last .panel-pane,
#block-panels-mini-clone-of-front-top-video .content .panel-col-last .panel-pane,
#block-panels-mini-front-top-video .content .panel-col-last .panel-pane,
#block-panels-mini-selzak-pane .content .panel-col-last .panel-pane {
  border-radius: 3px;
  box-shadow: 0 4px 1.5px #999999;
  margin-top: 15px;
  border: 2px solid #cccccc;
}
body.page-command #mini-panel-partner_progr_top_video .panel-col-first .panel-pane,
body.page-command #block-panels-mini-zakazat-top-video .content .panel-col-first .panel-pane,
body.page-command #block-panels-mini-clone-of-front-top-video .content .panel-col-first .panel-pane,
body.page-command #block-panels-mini-front-top-video .content .panel-col-first .panel-pane,
body.page-command #block-panels-mini-selzak-pane .content .panel-col-first .panel-pane,
body.page-command #mini-panel-partner_progr_top_video .panel-col-last .panel-pane,
body.page-command #block-panels-mini-zakazat-top-video .content .panel-col-last .panel-pane,
body.page-command #block-panels-mini-clone-of-front-top-video .content .panel-col-last .panel-pane,
body.page-command #block-panels-mini-front-top-video .content .panel-col-last .panel-pane,
body.page-command #block-panels-mini-selzak-pane .content .panel-col-last .panel-pane,
body.page-node-31 #mini-panel-partner_progr_top_video .panel-col-first .panel-pane,
body.page-node-31 #block-panels-mini-zakazat-top-video .content .panel-col-first .panel-pane,
body.page-node-31 #block-panels-mini-clone-of-front-top-video .content .panel-col-first .panel-pane,
body.page-node-31 #block-panels-mini-front-top-video .content .panel-col-first .panel-pane,
body.page-node-31 #block-panels-mini-selzak-pane .content .panel-col-first .panel-pane,
body.page-node-31 #mini-panel-partner_progr_top_video .panel-col-last .panel-pane,
body.page-node-31 #block-panels-mini-zakazat-top-video .content .panel-col-last .panel-pane,
body.page-node-31 #block-panels-mini-clone-of-front-top-video .content .panel-col-last .panel-pane,
body.page-node-31 #block-panels-mini-front-top-video .content .panel-col-last .panel-pane,
body.page-node-31 #block-panels-mini-selzak-pane .content .panel-col-last .panel-pane,
body.page-node-38 #mini-panel-partner_progr_top_video .panel-col-first .panel-pane,
body.page-node-38 #block-panels-mini-zakazat-top-video .content .panel-col-first .panel-pane,
body.page-node-38 #block-panels-mini-clone-of-front-top-video .content .panel-col-first .panel-pane,
body.page-node-38 #block-panels-mini-front-top-video .content .panel-col-first .panel-pane,
body.page-node-38 #block-panels-mini-selzak-pane .content .panel-col-first .panel-pane,
body.page-node-38 #mini-panel-partner_progr_top_video .panel-col-last .panel-pane,
body.page-node-38 #block-panels-mini-zakazat-top-video .content .panel-col-last .panel-pane,
body.page-node-38 #block-panels-mini-clone-of-front-top-video .content .panel-col-last .panel-pane,
body.page-node-38 #block-panels-mini-front-top-video .content .panel-col-last .panel-pane,
body.page-node-38 #block-panels-mini-selzak-pane .content .panel-col-last .panel-pane {
  background: none;
  border: none;
  border-radius: 0px;
  margin-right: 10px;
  box-shadow: none;
}
#mini-panel-partner_progr_top_video .panel-col-first .panel-pane .pane-content,
#block-panels-mini-zakazat-top-video .content .panel-col-first .panel-pane .pane-content,
#block-panels-mini-clone-of-front-top-video .content .panel-col-first .panel-pane .pane-content,
#block-panels-mini-front-top-video .content .panel-col-first .panel-pane .pane-content,
#block-panels-mini-selzak-pane .content .panel-col-first .panel-pane .pane-content,
#mini-panel-partner_progr_top_video .panel-col-last .panel-pane .pane-content,
#block-panels-mini-zakazat-top-video .content .panel-col-last .panel-pane .pane-content,
#block-panels-mini-clone-of-front-top-video .content .panel-col-last .panel-pane .pane-content,
#block-panels-mini-front-top-video .content .panel-col-last .panel-pane .pane-content,
#block-panels-mini-selzak-pane .content .panel-col-last .panel-pane .pane-content {
  background: #f2f2f4;
  background-color: #f8f8f9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f4), to(#fefefe));
  background-image: url(images/gradient.php?g=180deg,%23f2f2f4+0%25,%23fefefe+100%25);
  background-size: 100% 100%;
  background-image: linear-gradient(180deg, #f2f2f4 +0%, #fefefe +100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f2f2f4', EndColorStr='#fefefe', GradientType=0));
  border: 1px solid #ffffff;
  padding: 10px 5px;
}
body.page-command #mini-panel-partner_progr_top_video .panel-col-first .panel-pane .pane-content,
body.page-command #block-panels-mini-zakazat-top-video .content .panel-col-first .panel-pane .pane-content,
body.page-command #block-panels-mini-clone-of-front-top-video .content .panel-col-first .panel-pane .pane-content,
body.page-command #block-panels-mini-front-top-video .content .panel-col-first .panel-pane .pane-content,
body.page-command #block-panels-mini-selzak-pane .content .panel-col-first .panel-pane .pane-content,
body.page-command #mini-panel-partner_progr_top_video .panel-col-last .panel-pane .pane-content,
body.page-command #block-panels-mini-zakazat-top-video .content .panel-col-last .panel-pane .pane-content,
body.page-command #block-panels-mini-clone-of-front-top-video .content .panel-col-last .panel-pane .pane-content,
body.page-command #block-panels-mini-front-top-video .content .panel-col-last .panel-pane .pane-content,
body.page-command #block-panels-mini-selzak-pane .content .panel-col-last .panel-pane .pane-content,
body.page-node-31 #mini-panel-partner_progr_top_video .panel-col-first .panel-pane .pane-content,
body.page-node-31 #block-panels-mini-zakazat-top-video .content .panel-col-first .panel-pane .pane-content,
body.page-node-31 #block-panels-mini-clone-of-front-top-video .content .panel-col-first .panel-pane .pane-content,
body.page-node-31 #block-panels-mini-front-top-video .content .panel-col-first .panel-pane .pane-content,
body.page-node-31 #block-panels-mini-selzak-pane .content .panel-col-first .panel-pane .pane-content,
body.page-node-31 #mini-panel-partner_progr_top_video .panel-col-last .panel-pane .pane-content,
body.page-node-31 #block-panels-mini-zakazat-top-video .content .panel-col-last .panel-pane .pane-content,
body.page-node-31 #block-panels-mini-clone-of-front-top-video .content .panel-col-last .panel-pane .pane-content,
body.page-node-31 #block-panels-mini-front-top-video .content .panel-col-last .panel-pane .pane-content,
body.page-node-31 #block-panels-mini-selzak-pane .content .panel-col-last .panel-pane .pane-content,
body.page-node-38 #mini-panel-partner_progr_top_video .panel-col-first .panel-pane .pane-content,
body.page-node-38 #block-panels-mini-zakazat-top-video .content .panel-col-first .panel-pane .pane-content,
body.page-node-38 #block-panels-mini-clone-of-front-top-video .content .panel-col-first .panel-pane .pane-content,
body.page-node-38 #block-panels-mini-front-top-video .content .panel-col-first .panel-pane .pane-content,
body.page-node-38 #block-panels-mini-selzak-pane .content .panel-col-first .panel-pane .pane-content,
body.page-node-38 #mini-panel-partner_progr_top_video .panel-col-last .panel-pane .pane-content,
body.page-node-38 #block-panels-mini-zakazat-top-video .content .panel-col-last .panel-pane .pane-content,
body.page-node-38 #block-panels-mini-clone-of-front-top-video .content .panel-col-last .panel-pane .pane-content,
body.page-node-38 #block-panels-mini-front-top-video .content .panel-col-last .panel-pane .pane-content,
body.page-node-38 #block-panels-mini-selzak-pane .content .panel-col-last .panel-pane .pane-content {
  background: none;
  border: none;
}
body.page-command #mini-panel-partner_progr_top_video .panel-col-first,
body.page-command #block-panels-mini-zakazat-top-video .content .panel-col-first,
body.page-command #block-panels-mini-clone-of-front-top-video .content .panel-col-first,
body.page-command #block-panels-mini-front-top-video .content .panel-col-first,
body.page-command #block-panels-mini-selzak-pane .content .panel-col-first,
body.page-node-31 #mini-panel-partner_progr_top_video .panel-col-first,
body.page-node-31 #block-panels-mini-zakazat-top-video .content .panel-col-first,
body.page-node-31 #block-panels-mini-clone-of-front-top-video .content .panel-col-first,
body.page-node-31 #block-panels-mini-front-top-video .content .panel-col-first,
body.page-node-31 #block-panels-mini-selzak-pane .content .panel-col-first,
body.page-node-38 #mini-panel-partner_progr_top_video .panel-col-first,
body.page-node-38 #block-panels-mini-zakazat-top-video .content .panel-col-first,
body.page-node-38 #block-panels-mini-clone-of-front-top-video .content .panel-col-first,
body.page-node-38 #block-panels-mini-front-top-video .content .panel-col-first,
body.page-node-38 #block-panels-mini-selzak-pane .content .panel-col-first {
  width: 205px;
  background: none;
}
body.page-command #mini-panel-partner_progr_top_video .panel-col-last,
body.page-command #block-panels-mini-zakazat-top-video .content .panel-col-last,
body.page-command #block-panels-mini-clone-of-front-top-video .content .panel-col-last,
body.page-command #block-panels-mini-front-top-video .content .panel-col-last,
body.page-command #block-panels-mini-selzak-pane .content .panel-col-last,
body.page-node-31 #mini-panel-partner_progr_top_video .panel-col-last,
body.page-node-31 #block-panels-mini-zakazat-top-video .content .panel-col-last,
body.page-node-31 #block-panels-mini-clone-of-front-top-video .content .panel-col-last,
body.page-node-31 #block-panels-mini-front-top-video .content .panel-col-last,
body.page-node-31 #block-panels-mini-selzak-pane .content .panel-col-last,
body.page-node-38 #mini-panel-partner_progr_top_video .panel-col-last,
body.page-node-38 #block-panels-mini-zakazat-top-video .content .panel-col-last,
body.page-node-38 #block-panels-mini-clone-of-front-top-video .content .panel-col-last,
body.page-node-38 #block-panels-mini-front-top-video .content .panel-col-last,
body.page-node-38 #block-panels-mini-selzak-pane .content .panel-col-last {
  margin-left: 10px;
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 4px 1.5px #999999;
  margin-top: 15px;
  border: 2px solid #cccccc;
}
#mini-panel-partner_progr_top_video .pane-2,
#block-panels-mini-zakazat-top-video .content .pane-2,
#block-panels-mini-clone-of-front-top-video .content .pane-2,
#block-panels-mini-front-top-video .content .pane-2,
#block-panels-mini-selzak-pane .content .pane-2,
#mini-panel-partner_progr_top_video .pane-views-video-block,
#block-panels-mini-zakazat-top-video .content .pane-views-video-block,
#block-panels-mini-clone-of-front-top-video .content .pane-views-video-block,
#block-panels-mini-front-top-video .content .pane-views-video-block,
#block-panels-mini-selzak-pane .content .pane-views-video-block {
  background: url("images/yourtube.png") no-repeat top center;
  width: 508px;
  padding: 5px;
  height: 347px;
}
#block-panels-mini-clone-of-front-top-video,
#block-panels-mini-zakazat-top-video {
  margin-bottom: 20px;
}
.francl {
  font-family: 'Conv_framd';
  font-size: 18px;
  line-height: 1;
  margin-bottom: 10px;
}
#block-panels-mini-3-front-block {
  margin-top: 35px;
  padding-bottom: 35px;
  background: url("images/border.png") repeat-x bottom;
}
#block-panels-mini-3-front-block #mini-panel-3_front_block {
  margin: 0 auto;
}
#block-panels-mini-3-front-block .panel-panel {
  width: 300px;
  overflow: hidden;
  margin-right: 8px;
}
#block-panels-mini-3-front-block .panel-panel.panel-col-last {
  margin-right: 0;
}
#block-panels-mini-3-front-block .panel-panel .inside {
  text-align: center;
  font-family: 'Conv_georgia';
  padding: 10px;
  width: 270px;
  margin: 0 auto;
  background: #efefef;
  height: 260px;
}
#block-panels-mini-3-front-block .panel-panel .inside:hover {
  color: #fff;
  background: url("images/pan_block_hover.jpg") no-repeat top center;
}
#block-panels-mini-3-front-block .panel-panel .inside:hover p:first-child {
  border: none;
}
#block-panels-mini-3-front-block .panel-panel .inside p:first-child {
  display: block;
  padding-top: 7px;
  padding-bottom: 15px;
  border-bottom: 1px solid #9e9e9e;
}
#block-panels-mini-3-front-block .panel-panel .inside .feed-item {
  line-height: 50px;
  font-size: 18px;
  margin-bottom: 7px;
  font-weight: normal;
  font-family: 'Conv_framd';
}
#block-block-5 {
  padding-bottom: 15px;
  background: url("images/border.png") repeat-x bottom;
}
#block-block-5 .title {
  font-size: 30px;
  font-family: 'Conv_georgia';
  padding-left: 10px;
  font-weight: normal;
}
#block-block-5 .content td {
  width: 30%;
  padding: 5px;
}
#block-block-5 .content td p:first-child {
  overflow: hidden;
  line-height: 52px;
  font-size: 18px;
  font-family: 'Conv_framd';
}
#block-block-5 .content td p:first-child img {
  padding-right: 15px;
  float: left;
}
#block-block-6,
#block-block-14,
#block-block-16,
#block-block-18 {
  background: url("images/border.png") repeat-x bottom;
  padding-bottom: 3px;
}
#block-block-6 .title,
#block-block-14 .title,
#block-block-16 .title,
#block-block-18 .title {
  background: url("images/pen.png") no-repeat left top;
  padding-left: 40px;
  font-weight: normal;
  color: #666666;
  font-size: 24px;
  font-family: 'Conv_framd';
}
#block-block-6 .content,
#block-block-14 .content,
#block-block-16 .content,
#block-block-18 .content {
  background: url("images/girl.jpg") no-repeat scroll left bottom transparent;
  min-height: 223px;
  padding-top: 40px;
  padding-left: 70px;
  text-align: center;
}
#block-block-14,
#block-block-16,
#block-block-18 {
  background-repeat: repeat-x, repeat-x;
  margin-top: 10px;
  background-position: top, bottom;
  background-image: url("images/border.png"), url("images/border.png");
  padding-top: 15px;
}
.f-s18 {
  font-size: 18px;
}
.f-s24 {
  font-size: 24px;
}
.f-f-frankl {
  font-family: 'Conv_framd';
}
#block-panels-mini-2-counter-block {
  padding: 35px 0;
  padding-bottom: 15px;
  font-family: 'Conv_georgia';
  line-height: 1.2;
  background: url("images/border.png") repeat-x bottom;
  font-size: 18px;
}
#block-panels-mini-2-counter-block .panel-col-first {
  font-size: 18px;
  color: #666666;
  text-align: center;
}
#block-panels-mini-2-counter-block .panel-col-first .counter_time {
  font-size: 48px;
  color: #333333;
  font-weight: bold;
}
#block-panels-mini-2-counter-block .panel-col-last {
  text-align: center;
  font-size: 18px;
  color: #666666;
}
#block-block-7,
#block-block-9,
#block-block-13 {
  top: 50px;
  width: 186px;
  border: 1px solid #cccccc;
  position: absolute;
  border-radius: 4px;
}
body.page-taxonomy-term #block-block-7,
body.page-taxonomy-term #block-block-9,
body.page-taxonomy-term #block-block-13,
body.page-faq #block-block-7,
body.page-faq #block-block-9,
body.page-faq #block-block-13,
body.page-free #block-block-7,
body.page-free #block-block-9,
body.page-free #block-block-13 {
  position: relative;
  top: 0;
}
#block-block-7 .content,
#block-block-9 .content,
#block-block-13 .content {
  border-radius: 4px;
  background-color: #f8f8fa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f4), to(#fefeff));
  background-image: url(images/gradient.php?g=180deg,%23f2f2f4+0%25,%23fefeff+100%25);
  background-size: 100% 100%;
  background-image: linear-gradient(180deg, #f2f2f4 +0%, #fefeff +100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f2f2f4', EndColorStr='#fefeff', GradientType=0));
  text-align: center;
  border: 1px solid #fff;
  padding: 0 10px;
  padding-bottom: 10px;
}
#undercontent {
  clear: both;
}
#block-panels-mini-to-free-web,
#mini-panel-clone_of_to_free_web {
  padding: 3px 0;
  background-image: url("images/border.png"), url("images/border.png");
  background-position: bottom,  top;
  background-repeat: repeat-x;
  font-family: 'Conv_georgia';
  font-size: 18px;
}
#block-panels-mini-to-free-web .inside,
#mini-panel-clone_of_to_free_web .inside {
  margin: 0;
}
#block-panels-mini-to-free-web .pane-title,
#mini-panel-clone_of_to_free_web .pane-title,
#block-panels-mini-to-free-web .title,
#mini-panel-clone_of_to_free_web .title {
  background: url("images/pen.png") no-repeat left top;
  padding-left: 40px;
  font-weight: normal;
  color: #666666;
  font-size: 24px;
  font-family: 'Conv_framd';
}
#block-panels-mini-to-free-web .panel-col-first,
#mini-panel-clone_of_to_free_web .panel-col-first {
  width: 700px;
}
#block-panels-mini-to-free-web .panel-col-first .pane-content,
#mini-panel-clone_of_to_free_web .panel-col-first .pane-content {
  background: url("images/girl.jpg") no-repeat scroll left bottom transparent;
  min-height: 263px;
  padding-left: 200px;
  text-align: center;
}
#block-panels-mini-to-free-web .panel-col-last,
#mini-panel-clone_of_to_free_web .panel-col-last {
  width: 200px;
  padding-top: 50px;
}
#mini-panel-clone_of_to_free_web {
  background: none;
}
.view-place-count {
  font-family: 'Conv_framd';
  text-align: center;
  color: #666666;
}
.views-field-field-place-count {
  font-size: 100px;
  line-height: 1;
  padding: 15px;
  background: #f3f3f5;
  font-family: 'Conv_georgia';
  padding-top: 0;
  border-radius: 5px;
  color: #666666;
  margin-top: 10px;
  border: 2px solid #cccccc;
  text-align: center;
}
body.node-type-selzak .outer-cont,
body.node-type-prodaga .outer-cont {
  background-color: #fbfbfc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fbfbfc), to(#fbfbfc));
  background-image: url(images/gradient.php?g=180deg,%23fbfbfc+0%25,%23fbfbfc+100%25);
  background-size: 100% 100%;
  background-image: linear-gradient(180deg, #fbfbfc +0%, #fbfbfc +100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fbfbfc', EndColorStr='#fbfbfc', GradientType=0));
  border: 1px solid #e1e1e1;
  box-shadow: 0 0 3px #999;
  clear: both;
  overflow: hidden;
  margin: 30px 0;
  position: relative;
}
#block-views-video-block-1,
#block-block-17,
#block-block-19 {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  display: none;
  left: 0;
  background: url("images/opac.png");
  z-index: 990;
}
#block-views-video-block-1 .innerform,
#block-block-17 .innerform,
#block-block-19 .innerform {
  width: 275px;
  padding: 10px 50px;
  overflow: hidden;
  position: relative;
  top: 150px;
  margin: 0 auto;
}
#block-views-video-block-1 .content,
#block-block-17 .content,
#block-block-19 .content {
  margin-top: 100px;
}
#block-views-video-block-1 .content form,
#block-block-17 .content form,
#block-block-19 .content form {
  position: relative;
}
#block-webform-client-block-32,
#block-webform-client-block-12,
#block-block-10,
#block-views-place-count-block-1 {
  position: fixed;
  min-width: 100%;
  display: none;
  min-height: 100%;
  top: 0;
  left: 0;
  background: url("images/opac.png");
  z-index: 990;
}
#block-webform-client-block-32 .title,
#block-webform-client-block-12 .title,
#block-block-10 .title,
#block-views-place-count-block-1 .title {
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 1px;
  font-family: 'Conv_georgia';
}
#block-webform-client-block-32 .description,
#block-webform-client-block-12 .description,
#block-block-10 .description,
#block-views-place-count-block-1 .description {
  margin: 0;
}
#block-webform-client-block-32 .form-actions,
#block-webform-client-block-12 .form-actions,
#block-block-10 .form-actions,
#block-views-place-count-block-1 .form-actions {
  padding: 4px 0;
  padding-top: 0;
  text-align: center;
  margin: 0;
}
#block-webform-client-block-32 .form-actions button,
#block-webform-client-block-12 .form-actions button,
#block-block-10 .form-actions button,
#block-views-place-count-block-1 .form-actions button {
  border-radius: 4px;
  margin: 0 auto;
  color: #fff;
  font-size: 12px;
  background-color: #024e8a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#005597), to(#03477c));
  background-image: url(images/gradient.php?g=180deg,%23005597+0%25,%2303477c+100%25);
  background-size: 100% 100%;
  background-image: linear-gradient(180deg, #005597 +0%, #03477c +100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#005597', EndColorStr='#03477c', GradientType=0));
}
#block-webform-client-block-32 .innerform,
#block-webform-client-block-12 .innerform,
#block-block-10 .innerform,
#block-views-place-count-block-1 .innerform,
#block-webform-client-block-32 > .content,
#block-webform-client-block-12 > .content,
#block-block-10 > .content,
#block-views-place-count-block-1 > .content {
  width: 275px;
  padding: 10px 50px;
  overflow: hidden;
  position: relative;
  top: 150px;
  border: 4px solid #ccc;
  border-radius: 4px;
  margin: 0 auto;
  background: #fff;
}
#block-webform-client-block-32 .innerform fieldset,
#block-webform-client-block-12 .innerform fieldset,
#block-block-10 .innerform fieldset,
#block-views-place-count-block-1 .innerform fieldset,
#block-webform-client-block-32 > .content fieldset,
#block-webform-client-block-12 > .content fieldset,
#block-block-10 > .content fieldset,
#block-views-place-count-block-1 > .content fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
#block-webform-client-block-32 .innerform fieldset .form-item,
#block-webform-client-block-12 .innerform fieldset .form-item,
#block-block-10 .innerform fieldset .form-item,
#block-views-place-count-block-1 .innerform fieldset .form-item,
#block-webform-client-block-32 > .content fieldset .form-item,
#block-webform-client-block-12 > .content fieldset .form-item,
#block-block-10 > .content fieldset .form-item,
#block-views-place-count-block-1 > .content fieldset .form-item {
  margin: 0;
}
#block-webform-client-block-32 .innerform fieldset .form-text,
#block-webform-client-block-12 .innerform fieldset .form-text,
#block-block-10 .innerform fieldset .form-text,
#block-views-place-count-block-1 .innerform fieldset .form-text,
#block-webform-client-block-32 > .content fieldset .form-text,
#block-webform-client-block-12 > .content fieldset .form-text,
#block-block-10 > .content fieldset .form-text,
#block-views-place-count-block-1 > .content fieldset .form-text {
  width: auto;
  display: inline;
}
#block-webform-client-block-32 .innerform fieldset legend,
#block-webform-client-block-12 .innerform fieldset legend,
#block-block-10 .innerform fieldset legend,
#block-views-place-count-block-1 .innerform fieldset legend,
#block-webform-client-block-32 > .content fieldset legend,
#block-webform-client-block-12 > .content fieldset legend,
#block-block-10 > .content fieldset legend,
#block-views-place-count-block-1 > .content fieldset legend {
  display: none;
}
#block-webform-client-block-32 .innerform .form-text,
#block-webform-client-block-12 .innerform .form-text,
#block-block-10 .innerform .form-text,
#block-views-place-count-block-1 .innerform .form-text,
#block-webform-client-block-32 > .content .form-text,
#block-webform-client-block-12 > .content .form-text,
#block-block-10 > .content .form-text,
#block-views-place-count-block-1 > .content .form-text {
  width: 268px;
  box-shadow: none;
  border-radius: 0;
  margin: 0 auto;
  display: block;
  font-size: 12px;
  color: #999;
  font-family: arial;
}
.no-spam {
  background: url("images/block.png") no-repeat left center;
  padding-left: 20px;
  font-size: 12px;
  font-family: arial;
  width: 225px;
  margin: 0 auto;
  line-height: 16px;
}
.close {
  display: block;
  width: 30px;
  height: 30px;
  background: url("images/close.png") no-repeat center;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
}
.field-name-field-table-prod table {
  border: 1px solid #d1d1d3;
  box-shadow: 0 0 3px #4d4d4d;
}
.field-name-field-table-prod table td {
  vertical-align: middle;
  border-right: 1px solid #c6c9cd;
  padding: 5px 10px;
}
.field-name-field-table-prod table td.td-last {
  border: none;
}
.field-name-field-table-prod table tr {
  border-top: 1px solid #d1d1d3;
}
.field-name-field-table-prod table .even-tr {
  background: #e1e2e3;
}
.field-name-field-table-prod table .tr-0 {
  color: #fff;
  height: 32px;
  background-color: #404040;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#484848), to(#373737));
  background-image: url(images/gradient.php?g=180deg,%23484848+0%25,%23373737+100%25);
  background-size: 100% 100%;
  background-image: linear-gradient(180deg, #484848 +0%, #373737 +100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#484848', EndColorStr='#373737', GradientType=0));
}
.field-name-field-table-prod table .tr-0 td {
  vertical-align: middle;
}
.field-name-field-table-prod table .tr-0 td:first-child {
  font-size: 19px;
  height: 105px;
  background-color: #3f3f3f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#484848), to(#363636));
  background-image: url(images/gradient.php?g=180deg,%23484848+0%25,%23363636+100%25);
  background-size: 100% 100%;
  background-image: linear-gradient(180deg, #484848 +0%, #363636 +100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#484848', EndColorStr='#363636', GradientType=0));
}
.field-name-field-table-prod table .tr-0 td,
.field-name-field-table-prod table .tr-1 td {
  border-color: #4d4d4d;
}
.field-name-field-table-prod table .tr-1 {
  height: 70px;
  border: none;
  font-family: 'Conv_framd';
  color: #e9e9e9;
  font-size: 48px;
  line-height: 70px;
  background-color: #3d3d3d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#434343), to(#363636));
  background-image: url(images/gradient.php?g=180deg,%23434343+0%25,%23363636+100%25);
  background-size: 100% 100%;
  background-image: linear-gradient(180deg, #434343 +0%, #363636 +100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#434343', EndColorStr='#363636', GradientType=0));
}
#block-block-10 {
  z-index: 999;
}
#abovecontent {
  clear: both;
  overflow: hidden;
}
#mini-panel-clone_of_to_free_web .panel-col-last {
  padding-top: 0;
}
#node-14 .item {
  margin: 5px 0;
}
#block-views-place-count-block-1 > .content {
  padding: 0;
  border: none;
}
#block-user-testing-user-testing-test {
  position: fixed;
  width: 100%;
  display: none;
  height: 100%;
  background: url("images/opac.png");
  z-index: 998;
  top: 0;
  left: 0;
}
#block-user-testing-user-testing-test .title {
  font-family: 'Conv_georgia';
  font-size: 20px;
  font-weight: normal;
  text-align: center;
}
#block-user-testing-user-testing-test .num {
  font-family: 'Conv_framd';
  font-size: 18px;
  color: #003366;
}
#block-user-testing-user-testing-test label {
  font-weight: normal;
  margin: 10px 0;
  margin-top: 15px;
}
#block-user-testing-user-testing-test .quest_label {
  font-size: 14px;
}
#block-user-testing-user-testing-test .innerform {
  width: 706px;
  padding: 10px 50px;
  padding-right: 0;
  overflow: hidden;
  position: relative;
  top: 100px;
  border: 4px solid #ccc;
  border-radius: 4px;
  margin: 0 auto;
  background: #fff;
}
#block-user-testing-user-testing-test .innerform form {
  height: 420px;
  overflow: auto;
}
#block-panels-mini-front-bottom {
  box-shadow: 0 4px 1.5px #999999;
  padding: 10px 20px;
  overflow: hidden;
  position: relative;
  border: 4px solid #ccc;
  border-radius: 4px;
  margin: 0 auto;
  background: #fff;
}
#block-panels-mini-front-bottom .pane-7 {
  text-align: center;
  padding-top: 20px;
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Conv_georgia';
}
#block-panels-mini-front-bottom h4.title {
  color: #003366;
  font-weight: normal;
  font-family: 'Conv_georgia';
  margin-bottom: 25px;
}
#block-panels-mini-front-bottom .panel-panel {
  width: 260px;
}
#block-panels-mini-front-bottom .panel-col-last {
  width: 200px;
}
#block-panels-mini-front-bottom .panel-col-last h2 {
  font-family: 'Conv_georgia';
  font-size: 24px;
  font-weight: normal;
  border-bottom: 1px solid #bcbcbc;
}
#block-panels-mini-front-bottom .panel-col-last li {
  list-style-image: none;
  list-style-type: none;
}
#block-panels-mini-front-bottom .panel-col-last li,
#block-panels-mini-front-bottom .panel-col-last ul,
#block-panels-mini-front-bottom .panel-col-last ol {
  margin: 0;
  padding: 0;
  background: none;
}
#block-panels-mini-front-bottom .panel-col-last ul li {
  padding-left: 30px;
  background: url("images/li_bird.png") no-repeat left top;
  margin-bottom: 9px;
}
#block-panels-mini-front-bottom .panel-col-first {
  width: 410px;
  color: #666666;
}
#block-panels-mini-front-bottom .panel-col-first li {
  list-style-image: none;
  list-style-type: none;
}
#block-panels-mini-front-bottom .panel-col-first li,
#block-panels-mini-front-bottom .panel-col-first ul,
#block-panels-mini-front-bottom .panel-col-first ol {
  margin: 0;
  padding: 0;
  background: none;
}
#block-panels-mini-front-bottom .panel-col-first p {
  margin: 10px 0;
}
#block-panels-mini-front-bottom .panel-col-first ul li {
  padding-left: 30px;
  background: url("images/li_bird.png") no-repeat left top;
  margin-bottom: 9px;
}
#block-panels-mini-front-bottom .panel-col-first .pane-title {
  border-bottom: 1px solid #bcbcbc;
  margin: 0;
  padding-bottom: 10px;
  font-family: 'Conv_georgia';
  font-weight: normal;
  font-size: 36px;
  color: #666666;
  line-height: 1;
}
#bef_footer {
  background-color: #f2f2f4;
}
#bef_footer .region {
  background-repeat: repeat-x;
  background-position: bottom;
  background-image: url("images/border.png");
  padding: 40px 0;
}
body.front #bef_footer {
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: top, bottom, bottom;
  background-image: url(images/shad.png), url(images/shad.png), url("images/border.png");
}
#bef_footer .region {
  width: 950px;
  margin: 0 auto;
}
#block-block-11 {
  line-height: 65px;
  font-size: arial;
  color: #666;
}
#block-block-12 {
  position: absolute;
  right: 0;
  top: 15px;
}
.region-footer {
  position: relative;
}
.ph {
  font-family: 'a_rubricaxtcnregular';
}
#out_container {
  overflow: hidden;
}
body.page-taxonomy-term .region-content,
body.page-node-36 .region-content,
body.page-node-8 .region-content,
body.page-faq .region-content,
body.page-free .region-content,
body.page-review .region-content,
body.page-pressa .region-content,
body.page-command .region-content,
body.page-node-31 .region-content,
body.page-node-38 .region-content,
body.page-istorii-uspeha .region-content {
  padding: 17px;
  background-color: #fbfbfc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fbfbfc), to(#fbfbfc));
  background-image: url(images/gradient.php?g=180deg,%23fbfbfc+0%25,%23fbfbfc+100%25);
  background-size: 100% 100%;
  background-image: linear-gradient(180deg, #fbfbfc +0%, #fbfbfc +100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fbfbfc', EndColorStr='#fbfbfc', GradientType=0));
  border: 2px solid #fff;
  border-radius: 4px;
  box-shadow: 0 0 3px #666;
  margin: 10px 0;
}
#block-views-review-block-1,
#block-views-review-block-2 {
  padding: 17px;
  background-color: #fbfbfc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fbfbfc), to(#fbfbfc));
  background-image: url(images/gradient.php?g=180deg,%23fbfbfc+0%25,%23fbfbfc+100%25);
  background-size: 100% 100%;
  background-image: linear-gradient(180deg, #fbfbfc +0%, #fbfbfc +100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fbfbfc', EndColorStr='#fbfbfc', GradientType=0));
  border: 2px solid #fff;
  border-radius: 4px;
  box-shadow: 0 0 3px #666;
  margin: 10px 0;
}
#block-views-review-block-1 .title,
#block-views-review-block-2 .title {
  font-weight: normal;
  color: #666666;
  font-size: 24px;
  font-family: 'Conv_georgia';
  margin: 0;
}
#block-views-review-block-1 .views-row,
#block-views-review-block-2 .views-row {
  padding: 20px 0;
  border-bottom: 1px solid #d7d7d7;
}
#block-views-review-block-1 .views-row.views-row-first,
#block-views-review-block-2 .views-row.views-row-first {
  padding-top: 0;
}
#block-views-review-block-1 .views-row.views-row-last,
#block-views-review-block-2 .views-row.views-row-last {
  padding-bottom: 0;
  border: none;
}
#block-views-review-block-1 .views-row .views-field-title,
#block-views-review-block-2 .views-row .views-field-title {
  color: #003366;
  text-align: right;
  font-family: arial;
  margin: 5px 0;
}
#block-views-review-block-1 .views-row .views-field-field-short,
#block-views-review-block-2 .views-row .views-field-field-short {
  font-size: 12px;
}
body.page-faq #squeeze,
body.page-free #squeeze,
body.page-review #squeeze,
body.page-pressa #squeeze,
body.page-command #squeeze,
body.page-node-31 #squeeze,
body.page-node-38 #squeeze,
body.page-istorii-uspeha #squeeze,
body.page-node-36 #squeeze,
#squeeze body.page-node-8 {
  padding-bottom: 30px;
  background: url("images/shad3.png") no-repeat bottom left;
}
body.page-node-31 #squeeze,
body.page-node-38 #squeeze,
body.page-node-36 #squeeze,
body.page-node-8 #squeeze {
  background: url("images/shad3.png") no-repeat bottom center;
}
.view-faq .views-row,
.view-review-pages .views-row,
view-command .views-row {
  overflow: hidden;
  padding-bottom: 20px;
  border-bottom: 1px solid #d7d7d7;
}
.view-faq .views-row .views-field-title,
.view-review-pages .views-row .views-field-title,
view-command .views-row .views-field-title {
  line-height: 55px;
  font-size: 18px;
  font-family: 'Conv_framd';
  color: #666;
}
.view-faq .views-row .views-field-body-1,
.view-review-pages .views-row .views-field-body-1,
view-command .views-row .views-field-body-1,
.view-faq .views-row .views-field-field-video,
.view-review-pages .views-row .views-field-field-video,
view-command .views-row .views-field-field-video {
  display: none;
}
.view-faq .views-row .views-field-field-video,
.view-review-pages .views-row .views-field-field-video,
view-command .views-row .views-field-field-video {
  text-align: center;
  padding: 10px 0;
}
.view-faq .views-row .views-field-nothing,
.view-review-pages .views-row .views-field-nothing,
view-command .views-row .views-field-nothing {
  text-align: right;
}
.view-faq .views-row .views-field-nothing a,
.view-review-pages .views-row .views-field-nothing a,
view-command .views-row .views-field-nothing a {
  font-size: 12px;
  font-family: verdana;
}
.view-review-pages .views-row {
  overflow: hidden;
  clear: both;
  font-size: 12px;
  padding-top: 10px;
}
.view-review-pages .views-row .views-field-created {
  float: left;
  font-size: 11px;
  margin-right: 40px;
}
.view-review-pages .views-row .views-field-title {
  line-height: 25px;
}
.view-review-pages .views-row .views-field-name {
  clear: right;
  font-size: 11px;
}
.view-review-pages .views-row .views-label {
  color: #666666;
}
.view-review-pages .views-row .views-field-field-image {
  float: left;
  margin-right: 20px;
}
.view-review-pages .views-row .views-field-field-image img {
  border: 1px solid #999;
}
.view-review-pages .views-row .views-field-field-video {
  display: block;
  float: right;
}
.view-review-pages .views-row .views-field-field-video-1 {
  clear: both;
  display: none;
  overflow: hidden;
  padding-top: 20px;
}
.view-review-pages .views-row .views-field-body,
.view-review-pages .views-row .views-field-body-1 {
  margin-left: 190px;
}
.view-review-pages .views-row .views-field-nothing {
  float: left;
  padding: 10px 0;
  clear: left;
  margin-left: 190px;
}
.view-review-pages .views-row .views-field-nothing a {
  background-color: #024e8a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#005597), to(#03467c));
  background-image: url(images/gradient.php?g=180deg,%23005597+0%25,%2303467c+100%25);
  background-size: 100% 100%;
  background-image: linear-gradient(180deg, #005597 +0%, #03467c +100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#005597', EndColorStr='#03467c', GradientType=0));
  line-height: 25px;
  min-width: 90px;
  text-align: center;
  display: block;
  color: #ffffff;
  text-decoration: none;
  border-radius: 3px;
}
.item-list .pager {
  color: #003366;
  margin: 5px 0;
}
.item-list .pager li {
  margin-left: 5px;
}
.item-list .pager a {
  font-family: 'Conv_framd';
}
.view-command .view-header {
  font-weight: normal;
  color: #666666;
  font-size: 24px;
  font-family: 'Conv_georgia';
  margin: 0;
}
.view-command .views-row {
  color: #666;
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #d7d7d7;
}
.view-command .views-row.views-row-first {
  padding-top: 10px;
}
.view-command .views-row.views-row-last {
  padding-bottom: 0;
  border: none;
}
.view-command .views-row .views-field-title,
.view-command .views-row .views-field-field-vakancy {
  font-family: 'Conv_framd';
  font-size: 18px;
  line-height: 1;
  float: left;
}
.view-command .views-row .views-field-field-vakancy {
  clear: right;
  padding-bottom: 10px;
  float: none;
  text-align: right;
}
.view-command .views-row .views-field-field-image {
  clear: left;
  float: left;
}
.node {
  position: relative;
}
.node h1 {
  text-align: left;
}
.node .city-cont-link {
  position: absolute;
  top: 20px;
  right: 20px;
}
#block-block-15 .bl-15-td0,
#block-block-15 .bl-15-td1,
#block-block-15 .bl-15-td2 {
  min-width: 210px;
  padding-left: 10px;
}
#block-block-15 .bl-15-td0 p:first-child,
#block-block-15 .bl-15-td1 p:first-child,
#block-block-15 .bl-15-td2 p:first-child {
  font-weight: normal;
  color: #666666;
  font-size: 24px;
  font-family: 'Conv_georgia';
  margin: 0;
}
#block-block-15 .bl-15-td0,
#block-block-15 .bl-15-td1 {
  border-right: 1px solid #666;
}
#block-block-15 .bl-15-td3 a {
  padding-top: 70px;
  display: block;
}
#node-37 .item {
  margin: 5px 0;
}
#block-panels-mini-front-top-video .content .panel-col-first .pane-content .panel-pane,
#block-panels-mini-front-top-video .panel-col-first,
#block-panels-mini-front-top-video .pane-1,
#block-panels-mini-front-top-video .panel-col-first .pane-content {
  border: none!important;
  background: none!important;
  box-shadow: none !important;
  padding: 0!important;
}
#block-panels-mini-front-top-video .content .panel-col-first .panel-pane {
  margin-top: 5px!important;
}
#block-panels-mini-front-top-video .panel-col-first {
  width: 200px!important;
}
#block-panels-mini-front-top-video .panel-panel {
  margin: 0 4px!important;
  width: 528px!important;
}
#block-panels-mini-front-top-video .panel-col-last,
#block-panels-mini-front-top-video .panel-col-first {
  width: 190px!important;
  margin: 0!important;
}
#block-panels-mini-front-top-video .panel-col-last .inside,
#block-panels-mini-front-top-video .panel-col-first .inside {
  margin-left: 0!important;
}
#block-views-exp-result-test-page {
  position: fixed;
  display: none;
}
#block-views-exp-result-test-page {
  position: fixed;
  width: 100%;
  display: none;
  height: 100%;
  background: url("images/opac.png");
  z-index: 999;
  top: 0;
  left: 0;
}
#block-views-exp-result-test-page .title {
  font-family: 'Conv_georgia';
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  position: relative;
  margin: 0 auto;
  width: 200px;
  top: 70px;
  z-index: 1000;
}
