/* $Id: print.css,v 1.9 2010/04/28 20:08:39 dries Exp $ */

body,
input,
textarea,
select {
  color: #000;
  background: none;
  font-family: Verdana, sans-serif;
  font-size: 11pt;
}

ul.main-menu,
ul.secondary-menu,
#header-region,
.sidebar {
  display: none;
}

body.two-sidebars,
body.sidebar-first,
body.sidebar-second,
body {
  width: 640px;
}

body.sidebar-first #center,
body.sidebar-second #center,
body.two-sidebars #center,
body.sidebar-first #squeeze,
body.sidebar-second #squeeze,
body.two-sidebars #squeeze {
  margin: 0;
}

#wrapper,
#wrapper #container .breadcrumb,
#wrapper #container #center,
#wrapper #container #center .right-corner,
#wrapper #container #center .right-corner .left-corner,
#wrapper #container #footer,
#wrapper #container #center #squeeze {
  position: static;
  left: 0;
  padding: 0;
  margin: 0;
  width: auto;
  float: none;
  clear: both;
  background: none;
}

#wrapper #container #header {
  height: 130px;
}

#wrapper #container #header h1,
#wrapper #container #header h1 a:link,
#wrapper #container #header h1 a:visited {
  text-shadow: none;
  color: #000;
}
