@charset "utf-8";
@import "variables.less";
@import "mixin.less";
@import "layouts.less";
@import "elements.less";
@import "form.less";
@import "jquery.ui.less";

body {
  color: @color;
  background-color: @background-color;
  font-size: @rem;
  line-height: @lh;
  font-family: arial;
  &.front{
    font-size: 12px;
    line-height: 1.2;
  }
}
.courses{
  .resetList();
}
.page-curator{
  h1{
    line-height: 1.2;
  }
}
#block-block-1{
  position: absolute;
  right: 0;
  width: 190px;
  top: 42px;
  line-height: 1;
  .content{
    font-family: 'Conv_georgia';
  }
}
#block-views-video-slide-block{
    min-height: 370px;
    position: relative;
    .view-header{
      width: 630px;
      height: 350px;
      padding: 10px;
      background: @gray;
      .b-r();
      top: 0;
      margin: 0 auto;
      .view-content{
        position: relative;
        top: 0;
      }
      .views-row{
        float: none;
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        &.views-row-1{
           display: block;
        }
      }
    }
    .content >.view-video-slide >.view-content{
      position: absolute;
      top: @space;
      width: 100%;
      .views-row{
        float: right;
        clear: right;
        overflow: hidden;
        .views-field-title{
          width: 134px;
          text-align: center;
          padding-left: 24px;
          margin-bottom: 5px;
          a{
            display: block;
            line-height: 1;
            background: url("images/li_main.png") no-repeat center top;
            width: 124px;
            color: @gray-light;
            text-decoration: none;
            padding: 0 5px;
            &:hover{
              background-image: url("images/li_main_hover.png");
              color: @white;
            }
          }
        }
        .activeTitle{
          min-height: 31px;
          background: url("images/li_main_right_active.png") no-repeat right center;
          a{
            background: none;
          }
        }
        &.views-row-2{
          .views-field-title{
            min-height: 31px;
            background: url("images/li_main_right_active.png") no-repeat right center;
            border-right: 5px solid @blue;
            a{
              background: none;
              font-weight: bold;
              color: @blue;
            }
          }
        }
        &.views-row-odd{
          float: left;
          clear: left;
          .activeTitle{
            min-height: 31px;
              background: url("images/li_main_left_active.png") no-repeat left center;
              a{
                background: none;
              }
          }
          .views-field-title{
            width: 132px;
            padding-left: 0;
            padding-right: 24px;
          }
        }
        .views-field-field-video, .views-field-field-image{display: none;}
      }
    }
}
.view-frontpage{
  overflow: hidden;
  margin-top: 60px;
  min-height: 190px;
  margin-bottom: 30px;
  clear: both;
  .views-row{
    color: #646464;
    margin-right: 15px;
    padding: 25px 18px;
    font-size: 13px;
    position: relative;
    min-height: 125px;
    &:after{
      content: '.';
      .ir();
      width: 100%;
      height: 8px;
      bottom: -8px;
      position: absolute;
      background: url("images/front_row_it.png") no-repeat bottom center;
    }
    .b-r(7px);
    .item_main_bg;
    &.views-row-1{
      .views-field-title{
        background: url("images/icon1.png") no-repeat top left;
      }
    }
    &.views-row-2{
      .views-field-title{
        background: url("images/icon2.png") no-repeat top left;
      }
    }
    &.views-row-3{
      margin-right: 0;
      .views-field-title{
        background: url("images/icon3.png") no-repeat top left;
      }
    }
    line-height: 18px;
    position: relative;
    float: left;
    width: 285px;
    .views-field-title{
      padding: 5px 0;
      padding-bottom: 10px;
      line-height: 1;
      margin: 0 auto;
      font-family: 'Conv_georgia';
      font-size: 17px;
      padding-left: 35px;
    }
  }
}
#block-block-4{
  position: absolute;
  top: 0px;
  right: 0;
}
.block-custom-user{
  .hidden{
    display: none;
  }
}

.field-name-field-course-id{
  display: none;
}

#block-system-user-menu, #block-menu-menu-top-menu-anonim{
  position: absolute;
  top: 0;
  right: 0;
  .content{
    .resetList();
    ul{
      overflow: hiden;
      li{
        float: left;
        &.first{
          a{
            border-left: 1px solid #666666;
          }
        }
        a{
          line-height: 35px;
          padding: 0 10px;
          color: @white;
          text-decoration: none;
          border-right: 1px solid #666666;
          &:hover{
            background: #333333;
          }
        }
      }
    }
  }
}
h1{
  font-family: 'Conv_georgia';
  font-size: 24px;
  font-weight: normal;
}
#block-menu-menu-second-top-menu{
  position: absolute;
  left: 0;
  bottom: @space;
  .content{
    .resetList();
    ul{
     li{
        position: relative;
        display: inline-block;
        ul{
          display: none;
          position: absolute;
          min-width: 200px;
          background: @white;
          z-index: 999;
          top: 100%;
          left: 0;
          li{
            display: block;
            border: 1px solid @black;
            border-bottom: none;
            &.first{
              border-top: none;
            }
            &.last{
              border-bottom: 1px solid @black;
            }
            a{
              border: none!important;
              line-height: 30px
            }
          }
        }
        &:hover{
          ul{
            display: block;
          }
        }
        &.first{
          a{
            border-left: 1px solid #333;
          }
        }
        a{
          line-height: 15px;
          padding: 0 @space;
          color: #333333;
          text-decoration: none;
          border-right: 1px solid #333333;
          &:hover, &.active{
            color: #006699;
          }
        }
      }
    }
  }
}
#block-menu-menu-admin-left-menu, #block-menu-menu-pupil-left-menu, #block-menu-menu-curator-left-menu{
  margin-top: 55px;
  .content{
    .resetList();
    ul{
      li{
        margin-bottom: 5px;
      }
    }
    a{
      display: block;
      font-size: 14px;
      line-height: 30px;
      background: url("images/li_main.png") no-repeat left top;
      min-width: 124px;
      color: @gray-light;
      text-decoration: none;
      padding: 0 5px;
      &.active{
        background-image: url("images/li_main_left_active.png");
      }
      &:hover{
        background-image: url("images/li_main_hover.png");
        color: @white;
      }
    }
  }
}
.num, .lesson_num{
  background: url("images/num.png") no-repeat center top;
  width: 25px;
  height: 25px;
  line-height: 1.1;
  display: block;
  float: left;
  text-align: center;
  margin-right: 5px;
  font-family: 'Conv_georgia';
  font-size: 18px;
  color: #999999;
}
h1{
  background: url("images/monik.png") no-repeat left center;
  line-height: 65px;
  padding-left: 75px;
  border-bottom: #ccccff 3px solid;
}
.look_course{
  float: right;
  background: url("images/course_look.png") no-repeat left center;
  width: 120px;
  padding-right: 23px;
  text-align: center;
  a{
    display: block;
    font-size: 12px;
    line-height: 31px;
    text-decoration: none;
    color: @color!important;
  }
}
#block-system-main, #block-custom-user-custom-user-pupils-course{
body.page-user &,body.page-course-admin-courses &,body.page-library-pupil &,body.page-library-admin &, body.page-pupil-courses &, body.page-curator-courses &, body.page-course-statistic &, body.page-stat-pupil &{
    .resetList();
    font-size: 14px;
    color: #3399cc;
    line-height: 25px;
    .courses{
      margin-top: @space;
      margin-bottom: @space;
      li{
        overflow: hidden;
        ul{display: none;}
        &.expanded{
          .course_title{background: url("images/cours_no_expand.jpg") no-repeat left center;}
          ul{
            display: block;
            li{
              &:hover{
                background: @gray-lighter;
              }
            }
          }
        }
      }
      .course_title{
        padding-left: 20px;
        background: url("images/cours_expand.jpg") no-repeat left center;
      }
      >li{
        margin: 25px 0;
        padding-left: 10px
      }
      a{
        color: #69b4da;
      }
      ul{
        padding-top: 30px;
        margin: 0;
        margin-left: 34px;
        position: relative;
        background: url(images/line_course_line.jpg) no-repeat top left;
        top: -5px;
        li{
          text-decoration: underline;
          background: url("images/cours_no_expand_two.jpg") no-repeat top left;
          padding-left: 30px;
          &:last-child{
            background-image: url("images/lesson_hor_line.jpg");
          }
          span{
            float: right;
          }
        }
      }
    }
  }
}
#tabs-wrapper{
  body.page-user &{
    right: 30px;
    position: absolute;
    top: 15px;
    .active{
      display: none;
    }
    a{
      background: url("images/edit.png") no-repeat left center;
      padding-left: 30px;
      color: @color;
      text-decoration: underline;
    }
  }
}
#block-custom-user-custom-user-course-lesson-name{
  float: right;
  .content{
    overflow: hidden;
    h3{
      color: #3399cc;
      font-weight: normal;
      margin: 0;
      margin-left: 30px;
      margin-bottom: 7px;
      line-height: 1;
      font-size: 14px;
    }
  }
}
.titl_les, .tasking-item{
  text-align: center;
  margin: 5px 0;
  line-height: 24px;
  .number_lesson{
    margin-right: 5px;
    color: #a0a0a0;
  }
  .title{
    text-align: left;
    color: #6666cc;
    font-weight: bold;
    font-style: italic;
  }
  .task, .ansver{
    text-align: left;
  }
  .h4, h6{
    font-size: 24px;
    color: #6666cc;
  }
}
#block-custom-user-custom-user-lesson-video{
  text-align: center;
  paddin-bottom: 20px;
  .wrap_video{
    margin: 0 auto;
    width: 630px;
    height: 350px;
    padding: 7px;
    background: #666666;
    .b-r();
    top: 0;
  }
}
.node-lesson{
  >h2{
    display: none;
  }
  .form-item{
    padding-bottom: 40px;
    label{
      text-align: center;
      font-size: 24px;
      color: #6666cc;
      font-weight: normal;
      .form-required{display: none;}
    }
    .description{
      font-size: 14px;
      padding: 10px 0;
    }
    .form-textarea-wrapper{
      border: 1px solid #6666cc;
      background: #f9f7f7;
      padding: 25px;
      padding-bottom: 40px;
      textarea{
        border: 1px solid #b8b8b8;
        .b-r(0);
        .b-s(~"none");
      }
    }
  }
.form-actions{
  overflow: hidden;
}
  .form-submit{
    float: right;
    background: url("images/course_look.png") no-repeat left center!important;
    width: 150px;
    padding-right: 43px;
    height: 35px;
    text-align: center;
    border: none;
    .b-r(0);
    .b-s(~"none");
    .l-g(~"none");
    display: block;
    color: @color;
    font-size: 12px;
  }
}
.page-pupils-home-task{
  table{
    border: 1px solid #69b4da;
    width: auto;
    td{
      padding: 10px;
    }
  }
}

.view-my-courses{
  .views-field-title{
    text-align: center;
    color: #6666cc;
    font-size: 24px;
    margin: 10px 0;
  }
}
#block-custom-user-custom-user-course-plan, {
  .title{
    font-size: 14px;
  }
  .content{
    li{
      color: #3399cc;
      .lesson_title{
         width: 370px;
        display: block;
        float: left;
        text-decoration: underline;
      }
      .description{
        display: none;
      }
    }
  }
}
.stat_lesson{
  height: 19px;
  padding: 3px 0;
  color: @color;
  &.complate{
    background: url("images/complate_lesson.png") no-repeat left 2px  ;
    padding-left: 25px;
  }
}

.comment_attr{
  margin: 10px 0;
  color: #AD80B5;
  font-weight: bold;
  padding: 5px;
  border: 2px solid red;
}
.add_lesson{
  float: right;
  border: 1px solid #c0c0c0;
  .l-g(~"#cccccc, #fbfbfb");
  padding: 0px 5px;
  margin: 0 5px;
  .b-r(5px);
  button, .form-submit{
    border: 1px solid #c0c0c0;
    .l-g(~"#cccccc, #fbfbfb")!important;
    padding: 0px 5px;
    margin: 0 5px;
    .b-r(5px);
  }
  a, button{
    span{
      padding: 0;
    }
    color: #333;
    display: block;
    text-decoration: none;
  }
}
.node-lesson{
  .form-item{
    padding: 0;
  }
.filter-wrapper{
  border: none;
  padding: 0!important;
  .description, .tips{
    display: none;
  }
}
  .filter-help{
    display: none;
  }
}
.hor{
  border: 1px solid @gray-light;
  margin: 4px 0;
}
#filter-statistic-form{
  overflow: hidden;
  padding: 10px;
  margin: 10px 0;
  color: @white;
  border: 1px solid @gray-light;
  background:  #e4e4e4;
  .form-item{
    float: left;
    margin: 0;
    margin-right: 15px;
    width: 250px;
    .form-text{
      color: @color;
      width: 250px;
      .b-r(0);
    }
  }
  .form-submit{
    .b-r(0);
    padding: 4px 10px;
    color: @white;
    background: @color;
  }
}

#user-profile-form{
  color: @color!important;
  .form-item{
    .confirm-parent, .password-parent{
      width: 100%;
    }
    overflow: hidden;
    .description, .grippie, .password-strength, div.password-confirm{
      display: none;
    }
    label{
      width: 200px;
      float: left;
    }
    .form-text, textarea{
      width: 465px;
    }
  }
}
.profile{
  font-family: 'Conv_georgia';
  font-size: 13px;
  line-height: 1.8;
  .user-picture{
    float: left;
    width: 200px;
    margin-right: 15px;
    text-align: center;
    img{
      .b-s(~'0 0 4px @{color}');
    }
  }
  .field-name-field-phone-number{
    background: url("images/phone.png") no-repeat 0px center;
    padding-left: 50px;
  }
  .field-name-field-skype {
    background: url("images/skype.png") no-repeat 3px center;
    padding-left: 50px;
  }

  .fieldset-legend{
    clear: both;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
  }
fieldset{
  border: none;
  border-bottom: 2px solid @color;
  margin-top: 0;
  position: relative;
  padding: 0 10px;
  margin-bottom: 15px;
  >.fieldset-wrapper{
    margin: 10px 0;
  }
}
  .field{
    overflow: hidden;
    &.field-name-field-about-me{
      padding-top: 10px;
      color: @color!important;
      margin-top: 10px;
      .field-label{
        float: none;
      }
    }
    .field-label{
      float: left;
      width: 170px;
    }
    .field-items{
      font-style: italic;
    }
  }
}
.show_courses{
  background: url("images/fon_.png") no-repeat scroll left center transparent;
  color: #222222;
  display: block;
  font-family: tahoma;
  font-size: 10px;
  line-height: 36px;
  padding-left: 45px;
  text-align: left;
  text-decoration: none;
  text-shadow: 0 0 1.4px #999999;
  width: 110px;
  margin: 0 auto;
  margin-top: @space/2;
}
#block-block-5{
  position: absolute;
  right: 10px;
  top: 3px;
}

#block-block-3{
  position: absolute;
  z-index: 1;
}

#user_user_full_group_private{
  .fieldset-legend{
    padding: 0;
    padding-left: 30px;
    background: url("images/inform.png") no-repeat left center;
  }
}
#user_user_full_group_contact{
  border-bottom: none;
  margin: 0;
  .fieldset-legend{
    padding: 0;
    padding-left: 30px;
    background: url("images/home.png") no-repeat left center;
  }
}
#user_user_full_group_more, .field-name-field-pay-information{
  clear: both;
  margin: 0;
  background: @gray-lighter;
  padding: @space/2;
  padding-top: 30px;
  overflow: hidden;
  .field{
    width: 48%;
    padding-left: 2%;
    float: left;
    &.even_field{
      width: 50%;
      padding: 0;
    }
  }
  .fieldset-wrapper{
    background: url(images/vert_line.png) repeat-y center;
    overflow: hidden;
  }
  legend{
    position: absolute;
    top: 5px;
  }
  .fieldset-legend{
    padding: 0;
    padding-left: 30px;
    background: url("images/earth.png") no-repeat left center;
  }
}
.field-name-field-pay-information{
  color: @color!important;
  padding-top: 5px;
  fieldset{display: none;}
  .field-label{
    float: none!important;
    background: url("images/earth.png") no-repeat left center;
    padding-left: 30px;
  }
}

#block-custom-user-custom-user-pupils-course{
  background: none repeat scroll 0 0 #FFFFFF;
  padding: 10px;
  min-width: 430px;
  display: none;
  position: absolute;
  top: 100px;
  .b-s(~'0 0 4px @{color}');
  .title{
    color: @color;
    background: url("images/cours.png") no-repeat left center;
    padding-left: 50px;
    line-height: 45px;
  }
.close{
  position: absolute;
  top: -70px;
  right: 10px;
  color: @color;
}
.content{
  position: relative;

}
}

#testing_form{
fieldset fieldset{
  .form-item{
    float: left;
    min-width: 600px;
     label{
      float: left;
      color: @color;
      width: 25px;
    }
  }
  .form-submit, .form-type-checkbox{
    float: right!important;
    min-width: 10px;
  }
}

}

.change-lesson{
  width: 160px;
  .form-text{
    float: left;
  }
  div{
    margin: 0;
  }
  .form-text{
    margin-right: 5px;
    width: 35px;
  }
}

.finished{
  color: #A3A1C7!important;
  a{
    color: #A3A1C7!important;
  }
}

.page-curator-pupil-list{
  #block-system-main{
    #add-to-cur-p-form{
      padding: 20px;
    }
    ul{
      li{
        overflow: hidden;
        padding: 5px;
        line-height: 35px;
        &.li-1{
          background-color: #DFC9E8;
          color: @white;
        }
        form{
          float: right;
        }
      }
    }
  }
}

#data_vk{
  position: fixed;
  top: 100px;
}

.video_navigation{
  margin-top: 20px;
  display: inline-block;
  margin: 0;
  li{
    text-align: left;
    padding: 5px;
    margin: 5px 0;
    list-style: none;
    line-height: 15px;
    min-width: 150px;
    .b-r(5px);
    cursor: pointer;
    background: #87e0fd; /* Old browsers */
    background: -moz-linear-gradient(top,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
    &.video_navigation_active{
      background: #d0e4f7; /* Old browsers */
      background: -moz-linear-gradient(top,  #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0e4f7), color-stop(24%,#73b1e7), color-stop(50%,#0a77d5), color-stop(79%,#539fe1), color-stop(100%,#87bcea)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ); /* IE6-9 */
      color: @white;
      font-weight: bold;
    }
  }
}

#block-vkxp-vkxp-soc-auth{
  position: absolute;
  right: -70px;
  top: 0px;
  width: 100px;
  text-align: center;
  background: @white;
  .b-r(16px);
  padding: 6px;
  font-size: 10px;
  img{
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}

#block-custom-materials-cm-pupil
{
  .captcha-admin-links{
    display: none;
  }
  ul{
    li{
      overflow: hidden;
      padding: 5px;
      line-height: 35px;
      &.li-1{
        background-color: #DFC9E8;
        color: @white;
      }
      form{
        float: right;
      }
    }
  }
  li{
    overflow: hidden;
  }
  form{
    float: right;
  }
}

.node-materials{
  .video_navigation{
    margin-top: 30px;
  }
  .field{
    overflow: hidden;
    clear: both;
    margin-top: 10px;
    margin-bottom: 20px;
    &.field-name-field-photo{
      .field-items{
        overflow: hidden;
      }
      .field-item{
        float: left;
        margin: 15px;
        .b-s(~"0 0 10px #333");
      }
    }
    .field-label{
      font-size: 20px;
      font-family: 'Conv_georgia';
      color: @gray;
      font-weight: normal;
      text-shadow: 1px 0 0 @gray-light;
      font-style: italic;
    }
  }
  .field-name-field-video {
    float: left;
    clear: none;
    margin-right: 20px;
    .field-items{
      display: none;
    }
  }
}
.element-invisible{
  margin: 0;
}

#block-search-form{
  position: absolute;
  right: 15px;
  bottom: 8px;
  .form-actions{
    display: none;
  }
  .form-text{
    padding: 2px;
    padding-left: 27px;
    padding-right: 15px;
    width: 160px;
    .b-r(7px);
    background-image: url("images/lupa.png");
    background-repeat: no-repeat;
    background-position:  3px center;
    color: @white;
    background-color: transparent;
    border-top-color: #484848;
    border-bottom-color: #7d7d7d;
    border-right-color: #616161;
    border-left-color: #616161;
  }
}