@charset "utf-8";
@import "variables.less";
@import "mixin.less";

/*#mini-panel-node_top_3_block {
  .content{
    padding-bottom: 5px;
    background: url("images/border.png") repeat-x bottom;
    font-size: 14px;
    text-align: center;
  }
  .panel-panel{
    width: 515px;
    margin-right: 15px;
  }
  .panel-col-first, .panel-col-last{
    margin-right: 0;
    min-height: 230px;
    width: 200px;
   .b-r(3px);
   .b-s(~"0 4px 1.5px #999999");
    margin-top: 15px;
    border: 2px solid @gray-lighter;
    padding: 10px 5px;
  }
  .pane-views-video-block{
    background: url("images/yourtube.png") no-repeat top center;
    width: 508px;
    padding: 5px;
    height: 347px;
  }
}
.region-content{
  body.node-type-custom-page &{
    padding: @space;
    .l-g-v(#fbfbfc,#fbfbfc);
    border: 2px solid #fff;
    .b-r(4px);
    .b-s(~"0 0 3px #666");
    margin: 10px 0;
  }
}
#block-views-video-block-4{
  background: url("images/border.png") repeat-x bottom;
  padding-bottom: 3px;
.title{
  background: url("images/pen.png") no-repeat left top;
  padding-left: 40px;
  font-weight: normal;
  color: #666666;
  font-size: 24px;
  font-family: 'Conv_framd';
}
.content{
  background: url("images/girl.jpg") no-repeat scroll left bottom transparent;
  min-height: 223px;
  padding-top: 40px;
  padding-left: 70px;
  text-align: center;
}
}

#block-views-video-block-5{
  top: 50px;
  width: 186px;
  border: 1px solid #cccccc;
  position: absolute;
  .b-r(4px);
body.page-taxonomy-term &, body.page-faq &, body.page-free &{
  position: relative;
  top: 0;
}
.content{
  .b-r(4px);
  .l-g-v(#f2f2f4, #fefeff);
  text-align: center;
  border: 1px solid #fff;
  padding: 0 10px;
  padding-bottom: 10px;
}
}*/
#mini-panel-2_col{
  width: 100%;
  .views-field-field-regist{
    display: block;
    position: relative;
    background: none;
    z-index: 1;
    .field-content{
      top: 0;
    }
  }
  .panel-col-first{
    padding-right: 100px;
    width: 528px!important;
  }
  .panel-col-last{
    width: 310px!important;
    float: right!important;
    .field-content{
      padding: 0!important;
      width: 100%!important;
    }
    .close_rg{
      display: none;
    }
  }
  .pane-views-video-block-6{
    background: url("images/yourtube.png") no-repeat top center;
    width: 508px;
    padding: 5px;
    height: 347px;
  }
}