@mainWidth:                     1000px;
@sidebarLeftWidth:              170px; 
@sidebarRightWidth:             440px;
@footerHeight:                  45px;
@headerHeight:                  90px;
@rem:                           14px;
@rex:                           round(@rem*0.6);
@thin:                          round(@rem*0.1);
@thick:                         round(@rem*0.2);
@lh:                            1.5;
@space:                         round(@rem*@lh);

@color:                         #333333;
@background-color:              #fff;
@system:                        mix(@color, @background-color, 25%);

/* Grays*/
@white:                         #fff;
@gray-lighter:                  #ddd;
@gray-light:                    #cccccc;
@gray:                          #555;
@gray-dark:                     #333;
@black:                         #000;

/* Colors*/
@blue:                          #3D98F1;
@green:                         #7FB060;
@red:                           #AE2B2B;
@dark-red:                      #8c2417;
@yellow:                        #F4DD51;
@orange:                        #FD633D;
@pink:                          #C3325F;
@purple:                        #632F53;

/* Links*/
@link-color:                    #1C94C4;
@link-hover-color:              mix(@link-color, @color, 70%);


@ui-main:                       #F6A828;
@ui-second:                     hsl(hue(spin(@ui-main, 83)), 100%, 25%);

@ui-main-light:                 mix(@ui-main, @white, 75%);
@ui-main-lightness:             mix(@ui-main, @white, 50%);
@ui-main-dark:                  mix(@ui-main, @black, 85%);
@ui-main-darkness:              mix(@ui-main, @black, 70%);
@font-face {
  font-family: 'Conv_georgia';
  src: url('fonts/georgia.eot');
  src: url('fonts/georgia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_georgiaz';
  src: url('fonts/georgiaz.eot');
  src: url('fonts/georgiaz.ttf') format('truetype'), url('fonts/georgiaz.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.menu_bg_gr_hover{
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}
.menu_bg_gr{
  background: #8c8c8c; /* Old browsers */
  background: -moz-linear-gradient(top,  #8c8c8c 0%, #797979 50%, #636363 51%, #737373 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8c8c8c), color-stop(50%,#797979), color-stop(51%,#636363), color-stop(100%,#737373)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #8c8c8c 0%,#797979 50%,#636363 51%,#737373 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #8c8c8c 0%,#797979 50%,#636363 51%,#737373 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #8c8c8c 0%,#797979 50%,#636363 51%,#737373 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #8c8c8c 0%,#797979 50%,#636363 51%,#737373 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c8c8c', endColorstr='#737373',GradientType=0 ); /* IE6-9 */
}

.item_main_bg{
  background: rgb(241,241,241); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(241,241,241,1) 0%, rgba(249,249,249,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,241,241,1)), color-stop(100%,rgba(249,249,249,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(241,241,241,1) 0%,rgba(249,249,249,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(241,241,241,1) 0%,rgba(249,249,249,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(241,241,241,1) 0%,rgba(249,249,249,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(241,241,241,1) 0%,rgba(249,249,249,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */

}