@charset "utf-8";
@import "variables.less";
@import "mixin.less";
@import "layouts.less";
@import "elements.less";
@import "form.less";
@import "jquery.ui.less";
@import "old.less";
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{
  border: none;
  .b-r(0px);
  border-radius: 0;
  .b-s(~"none");
}
body {
  color: @color;
  background-color: @background-color;
  font-size: 15px;
  line-height: 1.2;
  font-family: arial;
}
h1 {
  text-align: center;
  font-family: 'Conv_georgia';
  font-size: 20px;
  font-weight: normal;
}
#block-block-1{
  float: left;
  left: 50%;
  margin-left: -293px;
  padding-top: 0;
  position: absolute;
  top: 55px;
}
 #block-block-2{
  padding-top: 23px;
  font-size: 14px;
  .content{
    color: @white;
  }
}
#block-block-3{
  padding-top: 23px;
  color: #fff;
  margin-bottom: 10px;
  position: absolute;
  top: 102px;
  right: 0;
  .content{
    font-size: 24px;
    font-family: 'a_rubricaxtcnregular';

  }
}
#block-block-4{
 position: absolute;
  right: 10px;
  .content{
    a{
      line-height: 30px;
      display: block;
      text-transform: uppercase;
    }
  }
}
#block-system-main-menu, #block-menu-menu-second-top-menu{
  bottom: 0;
  left: 0;
  top: 200px;
  position: absolute;
  .content{
     ul{
       li:hover{
         ul{
           display: block;
         }
       }
       &.level-0{
         >li{
           border: none;
           >a{
             border: none;
             min-width: 55px;
             &:hover, &.active{
               color: #f7971c;
             }
             &:before{
               content: '[';
               margin-right: 5px;
             }
             &:after{
               content: ']';
               margin-left: 5px;
             }
           }
         }
       }
       .level-1{
         display: none;
         position: absolute;
         background: #f2f2f4;
         z-index: 997;
         li{
             float: none;
             border: 1px solid  @gray-lighter;
             border-top: none;
              a{
                border: none;
                &:hover{
                  background: #005598;
                  color: @white;
                }
              }
         }
       }
       overflow: hidden;
       .resetList();
       li{
         float: left;
         margin: 0;
         letter-spacing: 21px;
         text-align: center;
         padding: 0;
         a{
           line-height: 30px;
           color: @dark-blue;
           font-family: 'Conv_framd';
           font-size: 14px;
           text-decoration: none;
           display: block;
           letter-spacing: 0px;
           padding: 0 10px;
           min-width: 100px;
           border-left: 1px solid @white;
           border-right: 1px solid  @gray-lighter;
           &:hover, .active{
             color: @blue;
           }
         }
       }
     }
  }
}
#block-menu-menu-second-top-menu{
  left: auto;
  right: 0;
}
#mini-panel-partner_progr_top_video, #block-panels-mini-zakazat-top-video .content, #block-panels-mini-clone-of-front-top-video .content, #block-panels-mini-front-top-video .content, #block-panels-mini-selzak-pane .content{
  padding-bottom: 5px;
  background: url("images/border.png") repeat-x bottom;
  font-size: 14px;
  text-align: center;
  .panel-panel{
    width: 515px;
    margin-right: 15px;
  }
  .panel-col-first, .panel-col-last{
    width: 190px;
    margin-right: 0;
    body.page-command &, body.page-node-31 &, body.page-node-38 &{
      width: 210px;
    }
    .views-field-field-vk{
      margin: 5px 0;
      color: @link-color;
      text-decoration: underline;
    }
    .views-field-title{
      color: @blue;
    }
    .views-field-field-image{
      img{
        border: 1px solid @gray-lighter;
      }
    }
    .panel-pane{
      .b-r(3px);
      .b-s(~"0 4px 1.5px #999999");
      margin-top: 15px;
      border: 2px solid @gray-lighter;
      body.page-command &, body.page-node-31 &, body.page-node-38 &{
        background: none;
        border: none;
        .b-r(0px);
        margin-right: 10px;
        .b-s(~"none");
      }
      .pane-content{
        background: #f2f2f4;
        .l-g-v(#f2f2f4,#fefefe);
        body.page-command &, body.page-node-31 &, body.page-node-38 &{
          background: none;
          border: none;
        }
        border: 1px solid @white;
        padding: 10px 5px;
      }
    }
  }
  .panel-col-first{
    body.page-command &, body.page-node-31  &, body.page-node-38 &{
      width: 205px;
      background: none;
    }
  }

  .panel-col-last{
    body.page-command &, body.page-node-31 &, body.page-node-38 &{
      margin-left: 10px;
      width: 200px;
      .b-r(3px);
      .b-s(~"0 4px 1.5px #999999");
      margin-top: 15px;
      border: 2px solid @gray-lighter;
    }
  }
  .pane-2, .pane-views-video-block{
     background: url("images/yourtube.png") no-repeat top center;
     width: 508px;
     padding: 5px;
     height: 347px;
  }
}

#block-panels-mini-clone-of-front-top-video , #block-panels-mini-zakazat-top-video
{
  margin-bottom: 20px;
}
.francl{
  font-family: 'Conv_framd';
  font-size: 18px;
  line-height: 1;
  margin-bottom: 10px;
}

#block-panels-mini-3-front-block{
  margin-top: 35px;
  padding-bottom: 35px;
  background: url("images/border.png") repeat-x bottom;
  #mini-panel-3_front_block{
    margin: 0 auto;
  }
  .panel-panel{
    width: 300px;
    overflow: hidden;
    margin-right: 8px;
    &.panel-col-last{
      margin-right: 0;
    }
    .inside{
      text-align: center;
      font-family: 'Conv_georgia';
      padding: 10px;
      width: 270px;
      margin: 0 auto;
      background: #efefef;
      height:  260px;
      &:hover{
        color: #fff;
        background: url("images/pan_block_hover.jpg") no-repeat top center;
        p:first-child{
          border: none;
        }

      }
      p:first-child{
        display: block;
        padding-top: 7px;
        padding-bottom: 15px;
        border-bottom: 1px solid #9e9e9e;
      }
      .feed-item{
        line-height: 50px;
        font-size: 18px;
        margin-bottom: 7px;
        font-weight: normal;
        font-family: 'Conv_framd';
      }
    }
  }
}
#block-block-5{
  padding-bottom: 15px;
  background: url("images/border.png") repeat-x bottom;
  .title{
    font-size: 30px;
    font-family: 'Conv_georgia';
    padding-left: 10px;
    font-weight: normal;
  }
  .content{
    td{
      width: 30%;
      padding: 5px;
      p:first-child{
        overflow: hidden;
        line-height: 52px;
        font-size: 18px;
        font-family: 'Conv_framd';
        img{
          padding-right: 15px;
          float: left;
        }
      }
    }
  }
}
#block-block-6, #block-block-14, #block-block-16, #block-block-18  {
  background: url("images/border.png") repeat-x bottom;
  padding-bottom: 3px;
   .title{
    background: url("images/pen.png") no-repeat left top;
    padding-left: 40px;
    font-weight: normal;
    color: #666666;
    font-size: 24px;
    font-family: 'Conv_framd';
  }
  .content{
    background: url("images/girl.jpg") no-repeat scroll left bottom transparent;
    min-height: 223px;
    padding-top: 40px;
    padding-left: 70px;
    text-align: center;
  }
}
#block-block-14, #block-block-16, #block-block-18{
  background-repeat: repeat-x, repeat-x;
  margin-top: 10px;
  background-position: top, bottom;
  background-image: url("images/border.png"), url("images/border.png") ;
  padding-top: 15px;
}
.f-s18{
  font-size: 18px;
}
.f-s24{
  font-size: 24px;
}
.f-f-frankl{
  font-family: 'Conv_framd';
}
#block-panels-mini-2-counter-block{
  padding: 35px 0;
  padding-bottom: 15px;
  font-family: 'Conv_georgia';
  line-height: 1.2;
  background: url("images/border.png") repeat-x bottom;
  font-size: 18px;
  .panel-col-first{
    font-size: 18px;
    color: #666666;
    text-align: center;
    .counter_time{
      font-size: 48px;
      color: #333333;
      font-weight: bold;
    }
  }
  .panel-col-last{
    text-align: center;
    font-size: 18px;
    color: #666666;
  }
}
#block-block-7, #block-block-9, #block-block-13{
  top: 50px;
  width: 186px;
  border: 1px solid #cccccc;
  position: absolute;
  .b-r(4px);
  body.page-taxonomy-term &, body.page-faq &, body.page-free &{
    position: relative;
    top: 0;
  }
  .content{
    .b-r(4px);
    .l-g-v(#f2f2f4, #fefeff);
    text-align: center;
    border: 1px solid #fff;
    padding: 0 10px;
    padding-bottom: 10px;
  }
}
#undercontent{
  clear: both;
}
#block-panels-mini-to-free-web, #mini-panel-clone_of_to_free_web{
  .inside{
    margin: 0;
  }
  .pane-title, .title{
    background: url("images/pen.png") no-repeat left top;
    padding-left: 40px;
    font-weight: normal;
    color: #666666;
    font-size: 24px;
    font-family: 'Conv_framd';
  }
 padding: 3px 0;
  background-image: url("images/border.png"), url("images/border.png");
  background-position:   bottom,  top;
  background-repeat: repeat-x;
  font-family: 'Conv_georgia';
  font-size: 18px;
  .panel-col-first{
    width: 700px;
    .pane-content{
      background: url("images/girl.jpg") no-repeat scroll left bottom transparent;
      min-height: 263px;
      padding-left: 200px;
      text-align: center;
    }
  }

  .panel-col-last{
    width: 200px;
    padding-top: 50px;
  }
}

#mini-panel-clone_of_to_free_web{
  background: none;
}
.view-place-count{
  font-family: 'Conv_framd';
  text-align: center;
  color: #666666;
}
.views-field-field-place-count{
  font-size: 100px;
  line-height: 1;
  padding: 15px;
  background: #f3f3f5;
  font-family: 'Conv_georgia';
  padding-top: 0;
  .b-r(5px);
  color: #666666;
  margin-top: 10px;
  border: 2px solid #cccccc;
  text-align: center;
}
body.node-type-selzak .outer-cont, body.node-type-prodaga .outer-cont{
    .l-g-v(#fbfbfc, #fbfbfc);
    border: 1px solid #e1e1e1;
    .b-s(~"0 0 3px #999");
  clear: both;
  overflow: hidden;
  margin: 30px 0;
  position: relative;
}

#block-views-video-block-1, #block-block-17, #block-block-19{
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  display: none;
  left: 0;
  background: url("images/opac.png");
  z-index: 990;
  .innerform{
    width: 275px;
    padding: 10px 50px;
    overflow: hidden;
    position: relative;
    top: 150px;
    margin: 0 auto;
  }
  .content{
    margin-top: 100px;
    form{
      position: relative;
    }
  }
}
#block-webform-client-block-32, #block-webform-client-block-12, #block-block-10, #block-views-place-count-block-1{
  position: fixed;
  min-width: 100%;
  display: none;
  min-height: 100%;
  top: 0;
  left: 0;
 // display: none;
  background: url("images/opac.png");
  z-index: 990;
  .title{
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    font-family: 'Conv_georgia';
  }
.description{
  margin: 0;
}
  .form-actions{
   padding: 4px 0;
    padding-top: 0;
    text-align: center;
    margin: 0;
    button{
      .b-r(4px);
      margin: 0 auto;
      color: #fff;
      font-size: 12px;
      .l-g-v(#005597, #03477c);
    }
  }
  .innerform, >.content{
    width: 275px;
    padding: 10px 50px;
    overflow: hidden;
    position: relative;
    top: 150px;
    border: 4px solid #ccc;
    .b-r(4px);
    margin: 0 auto;
    background: #fff;
    fieldset{
      border: none;
      margin: 0;
      .form-item{
        margin: 0;
      }
    padding: 0;
      .form-text{
        width: auto;
        display: inline;
      }
      legend{
        display: none;
      }
    }
    .form-text{
      width: 268px;
      .b-s(~"none");
      .b-r(0);
      margin: 0 auto;
      display: block;
      font-size: 12px;
      color: #999;
      font-family: arial;
    }
  }
}
.no-spam{
  background: url("images/block.png") no-repeat left center;
  padding-left: 20px;
  font-size: 12px;
  font-family: arial;
  width: 225px;
  margin: 0 auto;
  line-height: 16px;
}
.close{
  display: block;
  width: 30px;
  height: 30px;
  background: url("images/close.png") no-repeat center;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
}
.error{
//  display: none;
}
.field-name-field-table-prod{
  table{
    border: 1px solid #d1d1d3;
    .b-s(~"0 0 3px #4d4d4d");
        td{
          vertical-align: middle;
          border-right: 1px solid #c6c9cd;
          padding: 5px 10px;
          &.td-last{
            border: none;
          }
        }
      tr{
        border-top: 1px solid #d1d1d3;
      }
      .even-tr{
        background: #e1e2e3;
      }
      .tr-0{
        color: #fff;
        height: 32px;
        .l-g-v(#484848, #373737);
        td{
          vertical-align: middle;
        }
        td:first-child{
          font-size: 19px;
          height: 105px;
          .l-g-v(#484848, #363636);
        }
      }
      .tr-0, .tr-1{
        td{
          border-color: #4d4d4d;
        }
      }
      .tr-1{
        height: 70px;
        border: none;
        font-family: 'Conv_framd';
        color: #e9e9e9;
        font-size: 48px;
        line-height: 70px;
        .l-g-v(#434343, #363636);
      }
  }
}
#block-block-10{z-index: 999;}
#abovecontent{
  clear: both;
  overflow: hidden;
}

#mini-panel-clone_of_to_free_web{
  .panel-col-last{
    padding-top: 0;
  }
}

#node-14{
  .item{
    margin: 5px 0;
  }
}
#block-views-place-count-block-1 >.content{
  padding: 0;
  border: none;
}

#block-user-testing-user-testing-test{
  position: fixed;
  width: 100%;
  display: none;
  height: 100%;
  background: url("images/opac.png");
  z-index: 998;
  top: 0;
  left: 0;
  .title{
    font-family: 'Conv_georgia';
    font-size: 20px;
    font-weight: normal;
    text-align: center;
  }
  .num{
    font-family: 'Conv_framd';
    font-size: 18px;
    color: #003366;
  }
  label{
    font-weight: normal;
    margin: 10px 0;
    margin-top: 15px;
  }
  .quest_label{
    font-size: 14px;

  }
  .innerform{
    width: 706px;
    padding: 10px 50px;
    padding-right: 0;
    overflow: hidden;
    position: relative;
    top: 100px;
    border: 4px solid #ccc;
    .b-r(4px);
    margin: 0 auto;
    background: #fff;
    form{
      height: 420px;
      overflow: auto;
    }
  }
}

#block-panels-mini-front-bottom{
  .b-s(~"0 4px 1.5px #999999");
  padding: 10px 20px;
  overflow: hidden;
  position: relative;
  border: 4px solid #ccc;
  .b-r(4px);
  margin: 0 auto;
  background: #fff;
  .pane-7{
    text-align: center;
    padding-top: 20px;
    color: #000;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Conv_georgia';
  }
  h4.title{
    color: #003366;
    font-weight: normal;
    font-family: 'Conv_georgia';
    margin-bottom: 25px;
  }
  .panel-panel{
    width: 260px;
  }
  .panel-col-last{
    width: 200px;
    h2{
      font-family: 'Conv_georgia';
      font-size: 24px;
      font-weight: normal;
      border-bottom: 1px solid #bcbcbc;
    }
    .resetList();
    ul{
      li{
        padding-left: 30px;
        background: url("images/li_bird.png") no-repeat left top;
        margin-bottom: 9px;
      }
    }
  }
  .panel-col-first{
    width: 410px;
    .resetList();
    color: #666666;
    p{
      margin: 10px 0;
    }
    ul{
      li{
        padding-left: 30px;
        background: url("images/li_bird.png") no-repeat left top;
        margin-bottom: 9px;
      }
    }
    .pane-title{
      border-bottom: 1px solid #bcbcbc;
      margin: 0;
      padding-bottom: 10px;
      font-family: 'Conv_georgia';
      font-weight: normal;
      font-size: 36px;
      color: #666666;
      line-height: 1;
    }
  }
}
#bef_footer{
  background-color: #f2f2f4;
  .region{
    background-repeat: repeat-x;
    background-position:  bottom;
    background-image: url("images/border.png") ;
    padding: 40px 0;
  }
  body.front &{
    background-repeat: no-repeat,no-repeat, repeat-x;
    background-position: top, bottom, bottom;
    background-image: url(images/shad.png), url(images/shad.png),url("images/border.png") ;
  }
  .region{
    width: @mainWidth;
    margin: 0 auto;
  }
}
#block-block-11{
  line-height: 65px;
  font-size: arial;
  color: #666;
}

#block-block-12{
  position: absolute;
  right: 0;
  top: 15px;
}
.region-footer{
  position: relative;
}
.ph{
  font-family: 'a_rubricaxtcnregular';
}

#out_container{
  overflow: hidden;
}
.region-content{
  body.page-taxonomy-term &, body.page-node-36 &, body.page-node-8 &, body.page-faq &, body.page-free &,body.page-review &,body.page-pressa &, body.page-command &, body.page-node-31 &, body.page-node-38 &, body.page-istorii-uspeha &{
    padding: @space;
    .l-g-v(#fbfbfc,#fbfbfc);
    border: 2px solid #fff;
    .b-r(4px);
    .b-s(~"0 0 3px #666");
    margin: 10px 0;
  }
}
#block-views-review-block-1, #block-views-review-block-2{
  padding: @space;
  .l-g-v(#fbfbfc,#fbfbfc);
  border: 2px solid #fff;
  .b-r(4px);
  .b-s(~"0 0 3px #666");
  margin: 10px 0;
  .title{
    font-weight: normal;
    color: #666666;
    font-size: 24px;
    font-family: 'Conv_georgia';
    margin: 0;
  }
  .views-row{
    padding: 20px 0;
    border-bottom: 1px solid #d7d7d7;
    &.views-row-first{
      padding-top: 0;
    }
    &.views-row-last{
      padding-bottom: 0;
      border: none;
    }
    .views-field-title{
      color: #003366;
      text-align: right;
      font-family: arial;
      margin: 5px 0;
    }
    .views-field-field-short{
      font-size: 12px;
    }
  }
}
#squeeze{
  body.page-faq &, body.page-free &, body.page-review &, body.page-pressa &, body.page-command &, body.page-node-31 &, body.page-node-38 &, body.page-istorii-uspeha &, body.page-node-36 &, body.page-node-8{
    padding-bottom: 30px;
    background: url("images/shad3.png") no-repeat bottom left;
  }
  body.page-node-31 &,  body.page-node-38 &, body.page-node-36 &, body.page-node-8 &{
    background: url("images/shad3.png") no-repeat bottom center;
  }
}
.view-faq, .view-review-pages, view-command{
  .views-row{
    overflow: hidden;
    padding-bottom: 20px;
    border-bottom: 1px solid #d7d7d7;
    .views-field-title{
      line-height: 55px;
      font-size: 18px;
      font-family: 'Conv_framd';
      color: #666;
    }
    .views-field-body-1, .views-field-field-video{
      display: none;
    }
    .views-field-field-video{
      text-align: center;
      padding: 10px 0;
    }
  .views-field-nothing{
    text-align: right;
    a{
      font-size: 12px;
      font-family: verdana;
    }
  }
  }
}
.view-review-pages{
  .views-row{
    overflow: hidden;
    clear: both;
    font-size: 12px;
    padding-top: 10px;
    .views-field-created{
      float: left;
      font-size: 11px;
      margin-right: 40px;
    }
    .views-field-title{
      line-height: 25px;
    }
    .views-field-name{
      clear: right;
      font-size: 11px;
    }
    .views-label{
      color: #666666;
    }
    .views-field-field-image{
      float: left;
      margin-right: 20px;
      img{
        border: 1px solid #999;
      }
    }
    .views-field-field-video{
      display: block;
      float: right;
    }
    .views-field-field-video-1{
      clear: both;
      display: none;
      overflow: hidden;
      padding-top: 20px;
    }
    .views-field-body, .views-field-body-1{
      margin-left: 190px;
    }
  .views-field-nothing{
    float: left;
    padding: 10px 0;
    clear: left;
    margin-left: 190px;
    a{
      .l-g-v(#005597, #03467c);
      line-height: 25px;
      min-width: 90px;
      text-align: center;
      display: block;
      color: @white;
      text-decoration: none;
      .b-r(3px);
    }
  }
  }
}

.item-list .pager{
  color: #003366;
  margin: 5px 0;
  li{
    margin-left: 5px;
  }
  a{
    font-family: 'Conv_framd';
  }
}
.view-command{
  .view-header{
    font-weight: normal;
    color: #666666;
    font-size: 24px;
    font-family: 'Conv_georgia';
    margin: 0;
  }
  .views-row{
    color:#666;
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #d7d7d7;
    &.views-row-first{
      padding-top: 10px;
    }
    &.views-row-last{
      padding-bottom: 0;
      border: none;
    }
    .views-field-title, .views-field-field-vakancy{
      font-family: 'Conv_framd';
      font-size: 18px;
      line-height: 1;
      float: left;
    }
    .views-field-field-vakancy{
      clear: right;
      padding-bottom: 10px;
      float: none;
      text-align: right;
    }
    .views-field-field-image{
      clear: left;
      float: left;
    }
  }
}
.node{
  position: relative;
  h1{
    text-align: left;
  }
  .city-cont-link{
     position: absolute;
    top: 20px;
    right: 20px;
  }
}
#block-block-15{
  .bl-15-td0, .bl-15-td1, .bl-15-td2{
    min-width: 210px;
    padding-left: 10px;
    p:first-child{
      font-weight: normal;
      color: #666666;
      font-size: 24px;
      font-family: 'Conv_georgia';
      margin: 0;
    }
  }
  .bl-15-td0, .bl-15-td1{
    border-right: 1px solid #666;
  }
.bl-15-td3{
  a{
    padding-top: 70px;
    display: block;
  }
}
}
#node-37{
  .item{
    margin: 5px 0;
  }
}

#block-panels-mini-front-top-video{
  .content .panel-col-first  .pane-content .panel-pane,  .panel-col-first, .pane-1, .panel-col-first  .pane-content{
    border: none!important;
    background: none!important;
    .b-s(~"none")!important;
    padding: 0!important;
  }
  .content .panel-col-first .panel-pane{
    margin-top: 5px!important;
  }
  .panel-col-first{
    width: 200px!important;
  }
.panel-panel{
  margin: 0 4px!important;
  width: 528px!important;
}
.panel-col-last, .panel-col-first{
  width: 190px!important;
  margin: 0!important;
  .inside{
    margin-left: 0!important;
  }
}
}


#block-views-exp-result-test-page{
  position: fixed;
  display: none;
}
#block-views-exp-result-test-page {
  position: fixed;
  width: 100%;
  display: none;
  height: 100%;
  background: url("images/opac.png");
  z-index: 999;
  top: 0;
  left: 0;
}
