fieldset {
}

ul.hook-group {
  float: left;
  width: 100%;
  list-style: none;
  margin: 0;
  padding-left: 5px;
}

ul.hook-group li {
  float: left;
  width: 15em;
  width: 50%;
  margin: 0;
  padding: 0;
  background: none;
}
