/*
#block-ul-bonus-system-bonuses-slider .jcarousel-list-horizontal {
  padding: 20px 0 !important;
}

#block-ul-bonus-system-bonuses-slider .jcarousel-item {
  background: transparent;
}

#block-ul-bonus-system-bonuses-slider .jcarousel-item a {
  text-decoration: none;
}

.node-bonus-form fieldset.filter-wrapper,
body.page-bonus #squeeze > h1,
body.page-bonus #tabs-wrapper,
.bonus-context-links {
  display: none;
}

#block-ul-bonus-system-bonuses-slider {
  position: relative;
}

#block-ul-bonus-system-bonuses-slider h4.title {
  color: #333333;
  font-size: 14px;
  line-height: 1.5;
  font-family: Arial;
  font-weight: bold;
}

#block-ul-bonus-system-bonuses-slider .b_count {
  color: #0a96d0;
  font-size: 11px;
}

#block-ul-bonus-system-bonuses-slider .bonus_image {
  border-radius: 15px;
  width: 120px;
  height: 120px;
}

.page-bonus- .b_view_conten .bonus_image {
  border-radius: 15px;
  height: 100px;
  width: 100px;
}

.page-bonus- #block-system-main {
  margin-right: 280px !important;
  width: 800px;
  margin-top: 35px;
  margin-left: 50px;
}

.b_view_conten .bonus_img {
  float: left;
  margin-right: 35px;
}

.b_view_conten div.bonus_title {
  margin-left: 135px;
}

.b_view_conten span.bonus_title {
  color: #383838;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
}

.b_view_conten span.bonus_course {
  color: #7B7B7B;
  margin-bottom: 27px;
}

.b_view_conten .bonus_body {
  clear: both;
}

.b_view_conten .bonus_cost_points {
  display: block;
}

.b_view_conten .bonus_body {
  color: #7B7B7B;
  margin-top: 40px;
  word-break: break-word;
}

.node-bonus-form .field-name-field-bonus-image {
  float: left;
  margin-left: 60px;
  margin-right: 10px;
}

.node-bonus-form .field-name-field-bonus-image > div {
  float: left;
}


.node-bonus-form .field-name-field-bonus-image .customfile-feedback {
  display: block;
  margin: 0;
  width: 90px !important;
  opacity: 0;
  padding-left: 25px;
}

.node-bonus-form .field-name-field-bonus-image .image-widget-data .input-prepend .ui-button-text-icon-primary {
  display: block;
  margin: 0;
  width: 90px;
  opacity: 0;
}

.node-bonus-form label,
.node-bonus-form .description {
  display: none;
}

.node-bonus-form .form-item-title {
  float: left;
  width: 570px;
}

.node-bonus-form .form-item-title input {
  margin-top: 15px;
  width: 550px;
}

.node-bonus-form .field-name-field-bonuse-reference {
  float: left;
  width: 570px;
}

.node-bonus-form .field-name-field-bonuse-reference select {
  margin-top: 15px;
  min-width: 550px;
}

.node-bonus-form .field-name-body {
  clear: both;
  float: left;
  margin: 10px 0 0 60px;
  width: 765px;
}

.node-bonus-form .group-bonus-settings {
  padding: 10px 0;
  margin: 30px 0 20px 70px;
  float: left;
  color: #000;
}

.node-bonus-form .group-bonus-settings legend {
  padding: 0px;
}

.node-bonus-form .group-bonus-settings .description,
.node-bonus-form .group-bonus-settings label {
  display: block;
}

.node-bonus-form .field-name-field-bonus-price .description,
.node-bonus-form .field-name-field-bonus-price input,
.node-bonus-form .field-name-field-bonus-price label {
  display: inline-block;
}

.node-bonus-form .field-name-field-bonus-price .description {
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
}

.node-bonus-form .field-name-field-bonus-price input{
  margin-left: 10px;
  width: 300px;
}

.node-bonus-form #edit-actions {
  padding: 10px 0;
  margin: 30px 0 0px 50px;
  clear: both;
  display: block;
  float: left;
  width: 500px;
}

.node-bonus-form #edit-actions input {
  display: inline-block;
}

.node-bonus-form #edit-actions .form-submit {
  float: left;
  clear: both;
}

.page-bonus-add #block-system-main {
  margin-top: 25px;
}

.page-bonus-add #block-system-main .content {
  min-height: 799px;
}

.edit_links .edit_link {
  display: inline-block;
  margin: 10px;
  background: #0698CB;
  padding: 5px 10px;
}

.edit_links .edit_link a {
  color: #FFFFFF;
  text-decoration: none;
}

.edit_links .edit_link a:hover {
  text-decoration: underline;
}

#buy-bonus-form #edit-no-money {
  color: red;
}

#buy-bonus-form #edit-already {
  color: green;
}

.node-bonus-form .image-widget-data .file-size,
.node-bonus-form .image-widget-data .file {
  display: none;
}

.node-bonus-form .image-widget-data {
  clear: both;
}

.node-bonus-form .vertical-tabs {
  clear: both;
}
*/
#block-ul-bonus-system-bonuses-list .bonus-item {
  background: #fff;
  color: #909192;
  display: block;
  margin: 30px 0;
  width: 100%;
}
#block-ul-bonus-system-bonuses-list .bonus-item .preview-bonus {
  display: inline-block;
  margin-left: 15px;
  vertical-align: top;
}
#block-ul-bonus-system-bonuses-list .bonus-preview-picture {
  display: inline-block;
}
#block-ul-bonus-system-bonuses-list .bonus-item .preview-bonus .bonus-title {
  margin: 20px 0px 10px 0px;
}
#block-ul-bonus-system-bonuses-list .bonus-title a {
  color: black;
  font-weight: bold;
}
#block-ul-bonus-system-bonuses-list .bonus-item .preview-bonus .bonus-price {
  margin-top: 35px;
  margin-bottom: 20px;
}
#edit-field-bonus-image {
  border: 3px dashed #e0e1e3;
  clear: both;
  position: relative;
  min-height: 200px;
  min-width: 200px;
  text-align: center;
}
#edit-field-bonus-image .form-type-managed-file {
  margin-bottom: 0px;
}
#edit-field-bonus-image label {
  display: none;
}
#edit-field-bonus-image .image-widget-data input.form-control {
  background: inherit;
  border: none;
  box-shadow: none;
  color: #909192;
  margin-bottom: 0;
  text-align: center;
}
form[id*="bonus-node"] input {
  padding: 19px 15px;
  margin-bottom: 20px;
  font-size: 12pt;
}
#edit-field-bonus-image .input-group-btn>span {
  background-color: inherit;
  background-image: url(images/profile-logo-upload.png);
  background-repeat: no-repeat;
  border: none;
  height: 80px;
  text-indent: -9999px;
  margin-bottom: 10px;
  margin-top: 85px;
  padding: 0px;
  width: 80px;
}
