#main {
  width: 100%;
}
.statistic-lines .line {
  background: #f3f6f7;
  border-radius: 3px;
  height: 35px;
  margin-bottom: 15px;
  position: relative;
}
.line .background {
  background: #01afec;
  border-radius: 3px;
  color: #fff;
  font-family: OpenSans;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
.line .background:before,
.line .background:after {
  content: ' ';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
}
.line .background:before {
  background: url(../img/stat/light-blue-left.png) no-repeat 0 -1px;
  background-color: #f3f6f7;
}
.line .background:after {
  background: url(../img/stat/light-blue-right.png) no-repeat 0 -1px;
  background-color: #f3f6f7;
  left: auto;
  right: 0;
}
.line .description {
  display: block;
  float: right;
  left: 50%;
  margin-left: -70px;
  margin-top: 7px;
  position: absolute;
  text-align: left;
  width: 260px;
}
.line .count {
  display: block;
  margin-top: 7px;
  position: absolute;
  right: 30px;
  top: 0;
  width: 40px;
  z-index: 1;
}
.line.personal-meeting .count,
.line.presentation .count,
.line.presentation .count,
.line.thinks .count,
.line.registered .count {
  color: #1a1b1f;
  right: 3px;
}
.line.registered .count {
  color: #E50D18;
}

.line.called .background {
  background: #3d40c1;
  padding: 0 34px;
}
.line.called .background:before {
  background-position: right;
  width: 34px;
}
.line.called .background:after {
  background: url(../img/stat/dark-blue-right.png) no-repeat 0 -1px;
  width: 34px;
}

.line.personal-meeting .background {
  background: #8e36c1;
  padding: 0 54px;
}
.line.personal-meeting .background:before,
.line.personal-meeting .background:after {
  width: 54px;
}
.line.personal-meeting .background:before {
  background-position: right;
}

.line.presentation .background {
  background: #e50d18;
  padding: 0 74px;
}
.line.presentation .background:before,
.line.presentation .background:after {
  width: 74px;
}
.line.presentation .background:before {
  background-position: right;
}



.line.thinks .background {
  background: #f4a316;
  padding: 0 95px;
}
.line.thinks .background:before,
.line.thinks .background:after {
  width: 95px;
}
.line.thinks .background:before {
  background-position: right;
}

.line.registered .background {
  background: #5ec82a;
  padding: 0 115px;
}
.line.registered .background:before,
.line.registered .background:after {
  width: 115px;
}
.line.registered .background:before {
  background-position: right;
}

#funnel-analyze-period-form {
  margin-top: 38px;
}
.period-label {
  display: inline-block;
  font-family: OpenSans;
  color: #1a1b1f;
}
#funnel-analyze-period-form .form-item-from,
#funnel-analyze-period-form .form-item-to {
  position: relative;
  display: inline-block;
}
#funnel-analyze-period-form .form-item-from .ajax-progress,
#funnel-analyze-period-form .form-item-to .ajax-progress {
  display: none;
}
#funnel-analyze-period-form .form-item-from {
  margin-left: 13px;
  margin-right: 4px;
}
#funnel-analyze-period-form .form-item-from label,
#funnel-analyze-period-form .form-item-to label {
  color: #1a1b1f;
  font-family: OpenSans;
  font-weight: normal;
  left: 11px;
  position: absolute;
  top: 8px;
  font-size: 13px;
}
#funnel-analyze-period-form .form-text {
  background: transparent;
  border-radius: 3px;
  border: 1px solid #d5d2d2;
  color: #1a1b1f;
  height: 35px;
  padding-left: 23px;
  width: 122px;
  font-family: OpenSans;
  font-size: 13px;
  cursor: pointer;
}
#funnel-analyze-period-form .form-item-to .form-text {
  padding-left: 35px;
}



.Zebra_DatePicker.dp_visible {
  margin-left: -127px;
  margin-top: 15px;
}
.Zebra_DatePicker {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #d5d2d2;
  width: 222px;
  z-index: 1;
}
.Zebra_DatePicker tbody {
  border: none;
  background: transparent;
}
.Zebra_DatePicker tbody th {
  display: none;
}
.Zebra_DatePicker .dp_header td.dp_previous,
.Zebra_DatePicker .dp_header td.dp_next {
  width: 40px;
  text-align: right;
  padding-top: 7px;
}
.Zebra_DatePicker .dp_header td.dp_previous:hover,
.Zebra_DatePicker .dp_header td.dp_next:hover {
  background-color: transparent;
}
.Zebra_DatePicker .dp_header td.dp_previous .prev {
  background: url(../img/calendar-arrow-left.png) 0 0;
  display: inline-block;
  height: 16px;
  width: 9px;
}
.Zebra_DatePicker .dp_header td.dp_next {
  text-align: left;
}
.Zebra_DatePicker .dp_header td.dp_next .next {
  background: url(../img/calendar-arrow-right.png) 0 0;
  display: inline-block;
  height: 16px;
  width: 9px;
}
.Zebra_DatePicker .dp_header .dp_caption {
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  width: 126px;
  vertical-align: middle;
}
body .Zebra_DatePicker.dp_visible table tbody tr td {
  border-radius: 0;
}
.Zebra_DatePicker .dp_header {
  height: 50px;
  padding: 0;
}
.Zebra_DatePicker .dp_header .dp_caption:hover,
.Zebra_DatePicker td:hover {
  background-color: transparent;
}
.Zebra_DatePicker td.dp_selected {
  background: #01AFEC;
}

.Zebra_DatePicker tbody td.dp_disabled,
.Zebra_DatePicker td.dp_disabled:first-child,
.Zebra_DatePicker td.dp_weekend_disabled,
.Zebra_DatePicker .dp_not_in_month {
  background: #f3f6f7 !important;
  color: #aaa;
}