#ditoolsi-contacts-add-form,
#ditoolsi-contacts-search-form {
  padding: 0 20px;
}
#ditoolsi-contacts-add-form {
  margin-top: 10px;
  margin-bottom: 20px;
}
#ditoolsi-contacts-search-form .form-item-s,
#ditoolsi-contacts-add-form .form-type-textfield {
  height: 35px;
  position: relative;
}
#ditoolsi-contacts-add-form .form-item-name,
#ditoolsi-contacts-add-form .form-item-phone {
  float: left;
  width: 40%;
}
#ditoolsi-contacts-add-form .form-item-phone {
  margin-left: 1%;
}
#ditoolsi-contacts-add-form .form-type-textfield,
#ditoolsi-contacts-add-form .form-type-textfield .form-text {
  border-radius: 3px;
}
#ditoolsi-contacts-search-form .form-item-s:before {
  background: url(../img/contacts/search-icon.png);
  content: ' ';
  display: block;
  height: 16px;
  left: 11px;
  position: absolute;
  top: 10px;
  width: 16px;
}
#ditoolsi-contacts-search-form .form-item-s label,
#ditoolsi-contacts-add-form label {
  color: #aaa;
  cursor: text;
  font-family: OpenSans;
  font-weight: normal;
  left: 35px;
  position: absolute;
  top: 8px;
}
#ditoolsi-contacts-add-form label {
  left: 15px;
}
#ditoolsi-contacts-search-form .form-item-s .form-text {
  border-radius: 3px;
  height: 36px;
  padding-left: 35px;
}
#ditoolsi-contacts-search-form .form-item-s .form-text:not(:focus) {
  border-color: #d5d2d2;
}
#ditoolsi-contacts-search-form .form-checkbox {
  display: none;
}
#ditoolsi-contacts-search-form .form-item-favorite label,
#ditoolsi-contacts-search-form .form-item-first-active label,
#ditoolsi-contacts-search-form .form-item-second-active label,
#ditoolsi-contacts-search-form .form-item-third-active label {
  text-indent: -9999px;
  width: 36px;
  height: 36px;
  background: url(../img/contacts/favorited-filter.png);
  display: inline-block;
  border-radius: 3px;
}
#ditoolsi-contacts-search-form .form-item-first-active label {
  background: url(../img/contacts/first-col-filter.png);
}
#ditoolsi-contacts-search-form .form-item-second-active label {
  background: url(../img/contacts/second-col-filter.png);
}
#ditoolsi-contacts-search-form .form-item-third-active label {
  background: url(../img/contacts/third-col-filter.png);
}
#ditoolsi-contacts-search-form .form-item-favorite input:checked + label {
  background: url(../img/contacts/favorited-filter-checked.png);
}
#ditoolsi-contacts-search-form .form-item-first-active input:checked +  label {
  background: url(../img/contacts/first-col-filter-checked.png);
}
#ditoolsi-contacts-search-form .form-item-second-active input:checked +  label {
  background: url(../img/contacts/second-col-filter-checked.png);
}
#ditoolsi-contacts-search-form .form-item-third-active input:checked + label {
  background: url(../img/contacts/third-col-filter-checked.png);
}


#ditoolsi-contacts-search-form {
  margin-top: 36px;
}
#ditoolsi-contacts-search-form .search-input-container,
#ditoolsi-contacts-search-form .form-item-favorite,
#ditoolsi-contacts-search-form .form-item-first-active,
#ditoolsi-contacts-search-form .form-item-second-active,
#ditoolsi-contacts-search-form .form-item-third-active {
  display: inline-block;
  vertical-align: top;
  margin-top: 0;
}
#ditoolsi-contacts-search-form .search-input-container {
  width: 60%;
}
#ditoolsi-contacts-search-form .form-item-favorite {
  margin-left: 14px;
  padding-left: 0;
}
#ditoolsi-contacts-search-form .form-item-first-active,
#ditoolsi-contacts-search-form .form-item-second-active,
#ditoolsi-contacts-search-form .form-item-third-active {
  margin-left: 2px;
  padding-left: 0;
}
#ditoolsi-contacts-search-form .form-submit,
#ditoolsi-contacts-add-form .form-submit {
  background: #01afec;
  border-radius: 3px;
  border: none;
  color: #fff;
  float: right;
  font-family: OpenSans;
  font-weight: normal;
  margin-left: 9px;
  margin-top: 36px;
  padding: 8px 17px;
}
#ditoolsi-contacts-search-form .form-submit {
  margin-top: 0;
}
#ditoolsi-contacts-add-form .form-submit {
  background-color: #5cb85c;
  margin-top: 0;
  padding: 7px 17px;
  width: 17.8%;
  margin-left: .2%;
}
#ditoolsi-contacts-add-form .form-submit:hover {
  background-color: #47a447;
}
#contacts-table-list {
  padding: 0 20px;
}
#contacts-table-list thead,
#contacts-table-list thead tr,
#contacts-table-list tbody,
#contacts-table-list tbody td {
  border: none;
  background: transparent;
}
#contacts-table-list th {
  font-family: OpenSans;
  color: #aaa;
  font-weight: normal;
  border: none;
}
#contacts-table-list tbody td {
  vertical-align: top;
}
#contacts-table-list tbody td:first-child {
  color: #1a1b1f;
  font-family: OpenSans;
}
#contacts-table-list tbody td.dp_current {
  color: #3A87AD;
}
#contacts-table-list tbody td.dp_disabled,
#contacts-table-list tbody td.dp_disabled:first-child,
#contacts-table-list tbody td.dp_weekend_disabled {
    color: #aaa;
    background: #f3f6f7;
}
.name-phone .star {
  background: url(../img/contacts/not-favorited.png);
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 16px;
  width: 16px;
}
.name-phone .star.favorited {
  background: url(../img/contacts/favorited.png);
}
.name-phone .name {
  color: #1a1b1f;
  float: left;
  font-family: OpenSans;
  font-weight: normal;
  margin-left: 10px;
  margin-top: -2px;
}
.name-phone .phone {
  clear: both;
  color: #aaa;
  float: left;
  font-family: OpenSans;
  margin-left: 25px;
  margin-top: 5px;
}
.column-actions .status {
  border-radius: 50px;
  display: inline-block;
  height: 12px;
  vertical-align: middle;
  width: 12px;
}
.column-actions .status.status-not-set {
  background: #aaa;
}
.column-actions .status.status-positive {
  background: #41b11b;
}
.column-actions .status.status-neutral {
  background: #fd9b01;
}
.column-actions .status.status-negative {
  background: #e01d16;
}
.column-actions .status-label {
  color: #1a1b1f;
  display: inline-block;
  font-family: OpenSans;
  margin-left: 7px;
  vertical-align: middle;
}

.ditoolsi-dropdown-list {
  cursor: pointer;
  position: relative;
}
.ditoolsi-dropdown-list .ditoolsi-dropdown-current:after {
  background: url(../img/select-list-arrow.png);
  content: ' ';
  display: inline-block;
  float: right;
  height: 5px;
  margin-left: 11px;
  margin-top: 7px;
  width: 9px;
}
.ditoolsi-dropdown-list .list {
  background: #fff;
  border-radius: 2px;
  border: 1px solid #aaa;
  display: none;
  left: 0;
  min-width: 180px;
  padding: 1px 1px;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.ditoolsi-dropdown-list .list .ditoolsi-dropdown-item {
  display: block;
  padding: 4px 6px;
  color: #1a1b1f;
  font-size: 13px;
}
.ditoolsi-dropdown-list .list .ditoolsi-dropdown-item:hover {
  background: #C7C7C7;
}


#contacts-table-list tbody td {
  border-bottom: 2px solid #f3f6f7;
  padding-top: 29px;
  padding-bottom: 28px;
  width: 5%;
}
#contacts-table-list .table > thead + tbody > tr > td + td {
  min-width: 170px;
  width: 28%;
}
#contacts-table-list .table > thead + tbody > tr > td + td + td {
  min-width: 190px;
  width: 20%;
}
#contacts-table-list .table > thead + tbody > tr > td + td + td + td {
  width: 20%;
}
#contacts-table-list .table > thead + tbody > tr > td + td + td + td + td {
  width: 27%;
}

body.page-contacts .pager-link {
  border-radius: 2px;
  border: none;
  display: inline-block;
  margin-left: 20px;
}

#contacts-table-list .calendar-popup {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #d5d2d2;
  display: none;
  margin-top: 3px;
  position: absolute;
  width: 222px;
  z-index: 1;
}
#contacts-table-list .calendar td {
  border-radius: 0;
  border: none;
  height: 30px;
  left: 5px;
  padding: 0;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 30px;
}
#contacts-table-list .calendar tr td:first-child {
  left: 5px;
  padding-left: 2.5px;
  padding-right: 2.5px;
  position: relative;
  text-align: center;
  width: 25px;
}
#contacts-table-list .calendar tr td:last-child {

}
#contacts-table-list .calendar tbody th {
  display: none;
}
#contacts-table-list .calendar .Zebra_DatePicker {
  border-radius: 0;
  border: none;
  padding: 0;
  position: relative;
  width: 220px;
}
#contacts-table-list .calendar .dp_header {
  height: 50px;
}
#contacts-table-list .calendar .dp_header td {
  vertical-align: middle;
}
#contacts-table-list .calendar .dp_header td.dp_previous .prev {
  background: url(../img/calendar-arrow-left.png) 0 0;
  display: inline-block;
  height: 16px;
  width: 9px;
}
#contacts-table-list .calendar .dp_header td.dp_next .next {
  background: url(../img/calendar-arrow-right.png) 0 0;
  display: inline-block;
  height: 16px;
  width: 9px;
}
#contacts-table-list .calendar .dp_header td.dp_previous,
#contacts-table-list .calendar .dp_header td.dp_next {
  width: 40px;
  text-align: right;
  padding-top: 7px;
}
#contacts-table-list .calendar .dp_header td.dp_next {
  text-align: left;
}
#contacts-table-list .calendar .dp_header .dp_caption {
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  width: 126px;
}
#contacts-table-list .calendar .dp_not_in_month {
  background: #f3f6f7;
  color: #aaa;
}
#contacts-table-list .calendar .dp_selected {
  color: #fff;
  background: #01AFEC;
}
#contacts-table-list .event-container {
  position: relative;
  margin-top: 10px;
  float: left;
}
#contacts-table-list .event-container .calendar-icon {
  background: url(../img/calendar-icons.png);
  cursor: pointer;
  display: inline-block;
  height: 16px;
  width: 16px;
}
#contacts-table-list .event-container .calendar-icon.disabled {
  background-position: -16px 0;
}
#contacts-table-list .calendar-popup > .calendar {
  width: 100%;
}
.time-of-label {
  color: #aaa;
  display: inline-block;
  font-family: OpenSans;
  margin-left: 15px;
  margin-top: 20px;
}
input.time-of,
input.time-to-send {
  border-radius: 2px;
  border: 1px solid #d5d2d2;
  color: #1a1b1f;
  float: right;
  font-family: OpenSans;
  height: 35px;
  margin-right: 15px;
  margin-top: 20px;
  text-align: center;
  width: 80px;
}
.selected-date,
.selected-sms-date {
  color: #1a1b1f;
  float: left;
  font-family: OpenSans;
  font-size: 13px;
  height: 35px;
  line-height: 30px;
  margin-left: 15px;
  margin-top: 20px;
  text-align: center;
}
.event-comment,
.sms-comment {
  border-radius: 2px;
  border: 1px solid #d5d2d2;
  color: #1a1b1f;
  display: block;
  font-family: OpenSans;
  height: 42px;
  margin: 10px auto 10px;
  outline: none;
  padding: 10px 20px;
  resize: none;
  width: 190px;
}
.time-of-label,
.time-of-pick,
.time-to-send-pick {
  display: none;
}
button.save-event {
  background: #01afec;
  color: #fff;
  font-family: OpenSans;
  font-weight: normal;
  height: 35px;
  margin-left: 16px;
  border-radius: 2px;
  padding: 3px 16px;
  width: auto;
  border: none;
  display: inline-block;
  outline: none;
  margin-bottom: 15px;
}
.event-comment-item .error,
.sms-comment-item .error {
  margin-top: 10px;
  padding: 5px 9px;
}
#contacts-table-list .dp_footer {
  margin-left: 5px;
  width: 210px !important;
}
#contacts-table-list .dp_footer tr td {
  left: 0 !important;
  padding-left: 0;
  padding: 0 !important;
  width: 50%;
  background: #F0F0F0;
  font-family: OpenSans;
  font-size: 13px;
}
#contacts-table-list .dp_footer tr td:first-child {
  border-right: 1px solid #fff;
}
#contacts-table-list .dp_footer tr td:last-child {
  border-left: 1px solid #fff;
}
#contacts-table-list .dp_footer tr td:hover {
  background: #E0E0E0;
}
#contacts-table-list .dp_monthpicker,
#contacts-table-list .dp_yearpicker {
  width: 100% !important;
}
#contacts-table-list .dp_monthpicker td,
#contacts-table-list .dp_yearpicker td {
  width: 33%;
  position: static;
  height: 45px;
}
#contacts-table-list .comment-container {
  float: left;
  margin-left: 5px;
  margin-top: 10px;
  position: relative;
}
#contacts-table-list .comment-container .comment-icon {
  background: url(../img/comment-icons.png);
  cursor: pointer;
  display: inline-block;
  height: 16px;
  width: 16px;
}
#contacts-table-list .comment-container .comment-icon.disabled {
  background-position: -16px 0;
}
#contacts-table-list .comment-popup {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #d5d2d2;
  display: none;
  height: 190px;
  position: absolute;
  width: 302px;
  z-index: 1;
  margin-top: 3px;
}
#contacts-table-list .comment-popup textarea {
  border: none;
  color: #1a1b1f;
  display: block;
  font-family: OpenSans;
  height: 115px;
  margin: 15px auto 6px;
  outline: none;
  padding: 5px;
  width: 280px;
  resize: none;
}
#contacts-table-list .comment-popup .save-comment {
  background: #01afec;
  color: #fff;
  font-family: OpenSans;
  font-weight: normal;
  height: 35px;
  margin-left: 16px;
  border-radius: 2px;
  padding: 3px 16px;
  width: auto;
  border: none;
  display: inline-block;
  outline: none;
}
#contacts-table-list .comment-popup .save-comment:hover {
  background: #0193C7;
}

#contacts-table-list .sms-container {
  float: left;
  margin-left: 5px;
  margin-top: 7px;
  position: relative;
}
#contacts-table-list .sms-container .sms-icon {
  cursor: pointer;
}
#contacts-table-list .sms-container .sms-icon i {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background: #01afec;
}
#contacts-table-list .sms-container .sms-icon.disabled i {
  background: #aaa;
}
#contacts-table-list .sms-container .sms-popup {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #d5d2d2;
  display: none;
  margin-top: 6px;
  position: absolute;
  width: 222px;
  z-index: 1;
}
#contacts-table-list .sms-container .sms-popup.disabled .calendar {
  display: none;
  height: 0;
  opacity: 0;
}
#contacts-table-list .sms-container .sms-popup.disabled .time-to-send-label,
#contacts-table-list .sms-container .sms-popup.disabled .time-to-send-pick {
  display: none;
}
.time-to-send-label {
  color: #aaa;
  display: none;
  font-family: OpenSans;
  margin-left: 15px;
  margin-top: 20px;
}
.sms-comment {
  height: 75px;
}
#contacts-table-list .sms-popup .save-sms {
  background: #01afec;
  color: #fff;
  font-family: OpenSans;
  font-weight: normal;
  height: 35px;
  margin-left: 16px;
  border-radius: 2px;
  padding: 3px 16px;
  width: auto;
  border: none;
  display: inline-block;
  outline: none;
}
#contacts-table-list .sms-popup .save-sms:hover {
  background: #0193C7;
}
.sms-fee-description {
  color: #aaa;
  font-family: OpenSans;
  margin-top: 11px;
  padding: 0 16px;
  margin-bottom: 15px;
}
.sms-fee-description .price {
  display: block;
}
.sms-type {
  height: 30px;
}
.sms-type input {
  display: none;
}
.sms-type label {
  background: #01afec;
  color: #fff;
  cursor: pointer;
  display: block;
  float: left;
  font-family: OpenSans;
  font-weight: normal;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  width: 50%;
}
.sms-type input:checked + label {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 5px 6px rgba(0,0,0,0.225);
  box-shadow: inset 0 5px 6px rgba(0,0,0,0.225);
}
.calendar {
  width: 100%;
}


/* Styles for responsive design */
#contacts-table-list .table,
#contacts-table-list .tbody {
  display: block;
}
#contacts-table-list {
  /*overflow: auto;*/
}
#ditoolsi-contacts-search-form .search-input-container {
  margin-bottom: 0;
  width: 100%;
}
#ditoolsi-contacts-search-form .form-item-favorite {
  margin-left: 0;
}
#ditoolsi-contacts-add-form .form-item-name,
#ditoolsi-contacts-add-form .form-item-phone {
  margin-left: 0;
  width: 100%;
}
#ditoolsi-contacts-add-form .form-submit {
  float: left;
  margin-left: 0;
  width: auto;
}

@media all and (min-width: 768px) {
  #ditoolsi-contacts-search-form {
    text-align: right;
  }
  #ditoolsi-contacts-search-form .search-input-container {
    display: block;
    width: 100%;
  }
  #ditoolsi-contacts-search-form .form-type-checkbox label {
    text-align: left;
  }
  #ditoolsi-contacts-add-form .form-item-name,
  #ditoolsi-contacts-add-form .form-item-phone {
    width: 49.5%
  }
  #ditoolsi-contacts-add-form .form-item-name {
    margin-right: 1%;
  }
  #ditoolsi-contacts-add-form .form-submit {
    float: right;
  }
}

@media all and (min-width: 890px) {
  #ditoolsi-contacts-search-form {
    text-align: left;
  }
  #ditoolsi-contacts-search-form .search-input-container {
    width: 60%;
    display: inline-block;
  }
  #ditoolsi-contacts-search-form .form-item-favorite {
    margin-left: 14px;
  }
}

@media all and (max-width: 767px) {
  #contacts-table-list thead {
    display: none;
  }
  #contacts-table-list .table,
  #contacts-table-list .table > tbody,
  #contacts-table-list .table > tbody > tr,
  #contacts-table-list .table > tbody > tr > td {
    display: block;
  }
  #contacts-table-list .table > tbody > tr > td:first-child {
    display: none;
  }
  #contacts-table-list .table > tbody > tr:not(:last-child) {
    border-bottom: 1px solid #aaa;
  }
  #contacts-table-list .table > tbody > tr > td {
    width: 100% !important;
    min-width: 0 !important;
  }
  #contacts-table-list .table > tbody > tr > td:before {
    display: table;
    content: " ";
  }
  #contacts-table-list .table tr td:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  #contacts-table-list .table tr td .td-label {
    display: inline-block;
    font-family: OpenSans;
    color: #aaa;
    font-weight: normal;
    border: none;
    width: 50%;
    vertical-align: middle;
    float: left;
  }
  #contacts-table-list .table tr td .td-content {
    display: inline-block;
    float: right;
    text-align: left;
    width: 50%;
    vertical-align: middle;
  }
  #contacts-table-list .comment-popup,
  #contacts-table-list .calendar-popup,
  #contacts-table-list .sms-container .sms-popup {
    position: absolute;
    left: 50%;
    margin-left: -151px;
    top: 10%;
  }
  #contacts-table-list .calendar-popup,
  #contacts-table-list .sms-container .sms-popup {
    margin-left: -111px;
  }
}