.field-name-field-user-picture {
  float: left;
  padding-left: 20px;
  width: 32%;
}
.field-name-field-user-picture img {
  margin-top: 40px;
}
.field-name-field-user-picture .file .file-icon,
.field-name-field-user-picture .file-size {
  display: none;
}
.field-name-field-user-picture .file a {
  color: #aaa;
  text-decoration: none;
}
.field-name-field-user-picture .form-file {
  margin-top: 50px;
  margin-top: 50px;
  float: left;
  width: 70%;
}
.field-name-field-user-picture .file a:hover {
  color: #1c1c1c;
}
.field-name-field-user-picture .btn.form-submit.btn-danger {
  background: url(../img/unlink.png);
  border: none;
  display: inline-block;
  height: 10px;
  margin-left: 5px;
  padding: 0;
  text-indent: -9999px;
  width: 10px;
}
.field-name-field-user-picture .btn.form-submit.btn-default {
  float: right;
  margin-left: 1%;
  margin-top: 50px;
  width: 29%;
}
.field-name-field-user-picture .image-preview {
  padding: 0;
  width: 100%;
}
.field-name-field-user-picture .messages.error {
  padding: 8px;
  margin-top: 15px;
  margin-bottom: -40px;
}
div[id^="edit-account"] {
  float: left;
  padding-left: 20px;
  padding-right: 15px;
  width: 68%;
}
.process-ditools-labels .form-item {
  position: relative;
}
.process-ditools-labels label {
  color: #aaa;
  cursor: text;
  font-family: OpenSans;
  font-weight: normal;
  left: 15px;
  position: absolute;
  top: 8px;
  z-index: 1;
}
div[id^="edit-account"] .form-text,
.personal-data-container .form-text,
.contacts-container .form-text {
  border-radius: 2px;
  height: 35px;
}
.textareas {
  float: left;
  width: 100%;
  padding: 0;
}
.textareas .form-wrapper {
  float: left;
}
.textareas .form-wrapper {
  padding-right: 10px;
  padding-left: 18px;
}
.textareas .form-wrapper + .form-wrapper {
  padding-left: 10px;
  padding-right: 18px;
}
.textareas .form-textarea {
  border-radius: 2px;
  height: 115px;
  width: 100%;
}
div[id^="edit-account"] .confirm-parent,
div[id^="edit-account"] .password-parent {
  width: 100%;
}
div[id^="edit-account"] input.password-confirm,
div[id^="edit-account"] input.password-field {
  width: 100%;
}
.password-strength,
div.password-confirm,
.password-suggestions {
  display: none !important;
}
div[id^="edit-account"] .form-type-password {
  margin-bottom: 15px;
}
div[id^="edit-account"] .form-item-name {
  margin-top: 50px;
}
.form-separator {
  float: left;
  clear: both;
  width: 100%;
  display: block;
  height: 1px;
}
.personal-data,
.contacts {
  color: #1a1b1f;
  float: left;
  font-family: OpenSans;
  font-size: 20px;
  font-weight: 700;
  margin-top: -9px;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 30px;
}
#main .personal-data-container,
#main .contacts-container {
  float: left;
  padding-left: 18px;
  padding-right: 10px;
}
.personal-data-container,
.contacts-container {
  width: 50%;
}
#main .contacts-container {
  padding-left: 10px;
  padding-right: 18px;
}
.field-name-field-birthday .form-type-select {
  margin-right: 10px;
}
.field-name-field-first-name *,
.form-item-mail * {
  line-height: 115px;
}
.page-user-edit #main > .page-title h1 {
  display: inline-block;
}
.page-user-edit .header-link {
  display: inline-block;
  float: none;
  margin-left: 10px;
  margin-top: 10px;
  position: static;
  vertical-align: top;
}
.page-user-edit .header-link .edit-profile-video-link,
.page-user-edit .header-link .edit-profile-video-link:hover {
  background: url(../img/title-icon.png) 0 0 no-repeat;
  display: inline-block;
  height: 16px;
  text-decoration: none;
  width: 16px;
}
.page-user-edit .header-link .edit-profile-video-link:hover {
  opacity: .8;
}
.form-actions .form-submit {
  background: #ff3366;
  border-radius: 3px;
  border: none;
  color: #fff;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 700;
  margin-left: 18px;
  margin-top: 14px;
  padding: 8px 19px;
  text-transform: uppercase;
}
.form-actions .form-submit:hover {
  background: #FF0040;
  background-color: #FF0040;
}
div.image-widget-data {
  margin-top: 50px;
  width: 100%;
}
.field-name-field-user-picture .btn.form-submit.btn-default {
  margin-top: 5px;
  width: auto;
}
.field-name-field-user-picture .input-group-btn + input {
  padding-left: 90px;
}
.image-preview + .image-widget-data {
  margin-top: 0;
}
.field-name-field-user-picture .input-group-btn {
  float: left;
  width: 0;
}
.field-name-field-user-picture .input-group-btn .form-control {
  float: left;
}

@media all and (max-width: 767px) {
  .contacts-container {
    margin-top: 40px;
  }
  #main .contacts-container,
  .textareas .form-wrapper,
  .textareas .form-wrapper + .form-wrapper {
    padding: 0 15px;
  }
}

@media all and (max-width: 729px) {
  .field-name-field-user-picture {
    display: block;
    float: none;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
  }
  div[id^="edit-account"] {
    padding: 0 15px;
    width: 100%;
  }
  .field-name-field-user-picture img {
    max-width: 400px;
    margin: 15px auto;
  }
}

form[id^="user-profile-form"] .form-item-status label,
form[id^="user-profile-form"] .form-item-roles label {
  display: block !important;
  position: static;
}