@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/opensans/OpenSans-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/opensans/OpenSans-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url(../fonts/opensans/OpenSans-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/ubuntu/Ubuntu-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}