body.html.admin-menu.navbar-is-fixed-top {
  padding-top: 64px!important;
}
.name.navbar-brand {
  font-family: "Ubuntu";
  font-size: 28px;
  font-weight: bold;
}
.navbar.navbar-fixed-top {
  background-color: transparent;
  border: none;
  /*min-height: 75px;*/
}
.navbar-header,
.navbar-collapse.collapse {
  margin: 10px 0;
}
.navbar-default .menu.navbar-nav>li>a {
  background: none;
  border: none;
  color: #4b4d50; 
}
.navbar-default .menu.navbar-nav>.active>a {
  color: #01afec;
  border-bottom: 4px solid #01afec;
}`
.block-ditoolsi-front {
  margin-left: 10px;
  float: right;
}
.block-ditoolsi-front .menu.navbar-nav>li>a{
  background-color: #01afec;
  border: 1px solid #141C54;
  border-radius: 5px;
  color: #fff;
  margin: 0 3px;
}
.menu.nav.navbar-nav {
  margin-right: 30px;
}
.menu.nav.navbar-nav a:hover,
.menu.nav.navbar-nav a.current:hover {
  background-color: #01afec;
  color: #fff;
}
.menu.nav.navbar-nav a.current:after {
  background: url(../img/lang-switcher-arrow.png);
  content: ' ';
  display: inline-block;
  height: 4px;
  width: 9px;
  margin-left: 5px;
  position: relative;
  top: -2px;
}
.language-switcher .list {
  background-color: rgb(1, 175, 236);
  border-radius: 5px;
  display: block;
  margin: -6px 4px 0px;
  padding-bottom: 7px;
  padding-top: 7px;
  text-align: center;
}
.language-switcher .list a {
  color: #fff;
}
.navbar.navbar-fixed-top {
  height: 64px;
}
@media all and (max-width: 767px) {
  .navbar.navbar-fixed-top {
    background-color: #f8f8f8;
    height: auto;
  }
  .menu.nav.navbar-nav.secondary {
    text-align: center;
  }
  .menu.nav.navbar-nav.secondary li {
    float: left;
  }
  .menu.nav.navbar-nav {
    margin-right: 0;
  }
  .navbar .container>.navbar-header, .navbar .container>.navbar-collapse {
    margin-right: -30px;
  }
  .main-container {
    margin-top: 10px;
  }
}

.margin-tb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.margin-t-20 {
  margin-top: 20px;
  margin-bottom: 0;
}
.margin-tb-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.margin-tb-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.margin-tb-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.margin-tb-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.margin-tb-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}
.pane-ditoolsi-front-ditoolsi-front-first-block {
  overflow: hidden;
  text-align: center;
  background: url(../img/bg_1.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.panels-flexible-region {
  width: 100%;
}
.pane-ditoolsi-front-ditoolsi-front-first-block .text {
  text-transform: uppercase;
  color: #fff;
}
.pane-ditoolsi-front-ditoolsi-front-first-block .text h1 {
  font-weight: bold;
  text-shadow: 2px 1px #000;
}
.pane-ditoolsi-front-ditoolsi-front-first-block .text .color {
  color: #ff3366
}
.pane-ditoolsi-front-ditoolsi-front-fifth-block .btn,
.pane-ditoolsi-front-ditoolsi-front-third-block .btn,
.pane-ditoolsi-front-ditoolsi-front-first-block .btn {
  background-color: #ff3366;
  border: none;
  height: 50px;
  position: relative;
  width: 200px;
}
.pane-ditoolsi-front-ditoolsi-front-fifth-block .btn a,
.pane-ditoolsi-front-ditoolsi-front-third-block .btn a,
.pane-ditoolsi-front-ditoolsi-front-first-block .btn a {
  color: #fff;
  font-size: 22px;
  position: absolute;
  left: 23px;
}
.pane-ditoolsi-front-ditoolsi-front-fifth-block .btn:hover {
  border: 1px solid #ff3366;
}
.pane-ditoolsi-front-ditoolsi-front-fifth-block .btn:hover a {
  color: #ff3366 !important;
}
.pane-ditoolsi-front-ditoolsi-front-fifth-block .btn:hover a,
.pane-ditoolsi-front-ditoolsi-front-third-block .btn:hover a,
.pane-ditoolsi-front-ditoolsi-front-first-block .btn:hover a {
  color: #000;
  text-decoration: none;
}
.pane-ditoolsi-front-ditoolsi-front-first-block .btn:after,
.pane-ditoolsi-front-ditoolsi-front-first-block .btn:before {
  background: url(../img/arrow_1.png) no-repeat;
  content: ' ';
  display: inline-block;
  height: 60px;
  left: -125px;
  margin-left: 5px;
  position: relative;
  top: -25px;
  width: 82px;
}
.pane-ditoolsi-front-ditoolsi-front-first-block .btn:after {
  background: url(../img/arrow_2.png) no-repeat;
  left: 120px;
}
/* test */
header {
  margin-bottom: 0 !important;
  background-color: #fff !important;
}
.main-container {
  background-color: #fff !important;
}
/* finish test */
.pane-ditoolsi-front-ditoolsi-front-second-block {
  text-align: center;
}
.pane-ditoolsi-front-ditoolsi-front-second-block .pane-content {
  margin: 0 auto;
  width: 70%;
}
.pane-ditoolsi-front-ditoolsi-front-second-block .item {
  margin: 30px 0;
}
.pane-ditoolsi-front-ditoolsi-front-second-block .item p {
  height: 70px;
  margin: 10px 0;
}
.pane-ditoolsi-front-ditoolsi-front-second-block .item img {
  margin: 10px 0;
}
.pane-ditoolsi-front-ditoolsi-front-third-block h1,
.pane-ditoolsi-front-ditoolsi-front-second-block h1 {
  text-transform: uppercase;
}
.pane-ditoolsi-front-ditoolsi-front-fifth-block hr.grey.small,
.pane-ditoolsi-front-ditoolsi-front-fourth-block hr.grey.small,
.pane-ditoolsi-front-ditoolsi-front-third-block hr.grey.small,
.pane-ditoolsi-front-ditoolsi-front-second-block hr.grey.small {
  border-color: #c3c3c3;
  border-width: 3px;
  width: 150px;
}
.pane-ditoolsi-front-ditoolsi-front-third-block {
  overflow: hidden;
  text-align: center;
  background: url(../img/bg_2.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.pane-ditoolsi-front-ditoolsi-front-fifth-block .pane-content,
.pane-ditoolsi-front-ditoolsi-front-fourth-block .pane-content,
.pane-ditoolsi-front-ditoolsi-front-third-block .pane-content {
  margin: 0 auto;
  text-align: center;
  width: 70%;
}
.pane-ditoolsi-front-ditoolsi-front-third-block h1 {
  color: #fff;
}
.item-list {
  margin: 10px 0px;
  color: #fff;
  text-align: left;
  font-size: 18px;
}
.text-item {
  display: table-cell;
  vertical-align: middle;
}
.item-list {
  background: url(../img/list_item.png) no-repeat;
  color: #fff;
  display: table;
  font-size: 18px;
  height: 70px;
  margin: 10px 0px;
  padding-left: 76px;
  position: relative;
  text-align: left;
}
ul.list {
  margin-top: -80px;
  list-style: none;
}
li.item-list span.under_red {
  color: #ff3366;
  font-weight: bold;
  text-decoration: underline;
}
.pane-ditoolsi-front-ditoolsi-front-fifth-block {
  background-color: #e9eaec;
}
.pane-ditoolsi-front-ditoolsi-front-fifth-block .text {
  text-transform: uppercase;
  font-weight: normal;
}
.pane-ditoolsi-front-ditoolsi-front-fifth-block .name.big {
  font-size: 20px;
}
.pane-ditoolsi-front-ditoolsi-front-fifth-block .name.small {
  font-size: 15px;
}
.pane-ditoolsi-front-ditoolsi-front-fifth-block .text.text {
  font-size: 26px;
  font-weight: bold;
}
footer.footer {
  background-color: #141C54;
  margin-top: 0;
}
footer .block-ditoolsi-front {
  float: none;
}
footer .row {
  margin: 0 auto;
  width: 85%;
}
footer .navbar-brand {
  color: #fff;
  padding: 15px 7px;
}
footer .footer-list {
  list-style: none;
}
footer .footer-list li.item {
  color: #fff;
  float: left;
  font-size: 19px;
  padding: 10px;
}
footer .menu.nav.navbar-nav {
  margin-right: 0;
}
footer .social-networks {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 0;
}
.social-networks .label {
  font-size: 14px;
  padding: .2em 0 .3em;
  /*text-align: left;*/
  text-align: center;
  display: block;
  margin-bottom: 6px;
}
.social-networks .label,
.payment-methods .label,
.copywright .label {
  color: #4b4d50;
  font-family: OpenSans;
  font-weight: 400;
}
.social-networks .vkontakte {
  background: url(../img/social-icons-1.png) 0 0 no-repeat;
  width: 28px;
  height: 16px;
  display: inline-block;
  margin-left: 0;
}
.social-networks .youtube {
  background: url(../img/social-icons-1.png) -28px 0 no-repeat;
  width: 43px;
  height: 19px;
  display: inline-block;
  margin-left: 11px;
}
.social-networks .facebook {
  background: url(../img/social-icons-1.png) -71px 0 no-repeat;
  width: 19px;
  height: 19px;
  display: inline-block;
  margin-left: 14px;
}
footer .payment-methods {
  padding-left: 6px;
  margin-top: 15px;
  /*margin-top: 0;*/
  margin-top: 15px;
  margin-bottom: 15px;
}
.payment-methods .label {
  font-size: 14px;
  padding: .2em 0 .3em;
  display: block;
  /*text-align: left;*/
  text-align: center;
  margin-bottom: 3px;
}
.payment-methods .visa {
  background: url(../img/payment-methods.png) 0 0 no-repeat;
  width: 46px;
  height: 21px;
  display: inline-block;
  margin-left: 0;
}
.payment-methods .mastercard {
  background: url(../img/payment-methods.png) -46px 0 no-repeat;
  width: 48px;
  height: 18px;
  display: inline-block;
  margin-left: 12px;
}
.payment-methods .paypal {
  background: url(../img/payment-methods.png) -93px 0 no-repeat;
  width: 51px;
  height: 18px;
  display: inline-block;
  margin-left: 10px;
}
.payment-methods .yamoney {
  background: url(../img/payment-methods.png) -143px 0 no-repeat;
  width: 18px;
  height: 21px;
  display: inline-block;
  margin-left: 8px;
}
footer .copywright {
  padding: 0;
  width: 275px;
  font-size: 14px;
  padding-left: 6px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.copywright .label {
  font-size: 14px;
  text-align: center;
}
footer .row .label {
  float: left;
  color: #a0aebf;
}
footer .no-padding-l {
  padding-left: 0;
}
footer .row .copywright span {
  float: right;
}
