html body {
  background-color: #E8EBEB;
}
#logo-private-pages {
  display: inline-block;
  float: left;
  margin-left: 19px;
  margin-top: 10px;
  text-decoration: none;
  vertical-align: top;
}
#logo-private-pages .label {
  color: #1a1b1f;
  display: inline-block;
  font-family: Ubuntu;
  font-size: 1.6em;
  font-weight: 700;
  margin-left: 6px;
  margin-top: 8px;
  padding: 0;
}
#logo-private-pages .logo {
  background: url(../img/rubin.png);
  display: inline-block;
  height: 38px;
  vertical-align: top;
  width: 50px;
}
header {
  background: #FFFFFF;
  height: 61px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid #E8EBEB;
}
header .right {
  float: right;
}
header .phone {
  float: left;
  font-family: OpenSans;
  font-size: 15px;
  font-weight: normal;
  margin-right: 12px;
  margin-top: 18px;
}
header .phone-icon {
  background: url(../img/phone-icon.png);
  display: inline-block;
  height: 16px;
  position: relative;
  right: 4px;
  top: 3px;
  width: 15px;
}
header .support {
  background: #01afec;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  float: right;
  font-family: OpenSans;
  font-size: 19px;
  margin-right: 14px;
  margin-top: 11px;
  padding: 3px 7px 6px 13px;
  text-align: center;
  z-index: 1;
}
header .support:hover {
  background: #0193C7;
}
header .support .label {
  font-weight: normal;
}
header .support-icon {
  background: url(../img/support-icon.png);
  display: inline-block;
  height: 16px;
  left: 3px;
  position: relative;
  top: 7px;
  width: 16px;
}
header .support-icon {
  left: -3px;
}
header .support .label {
  display: none;
}

@media all and (min-width: 768px) {
  header .phone {
    margin-right: 17px;
  }
  header .support {
    margin-right: 26px;
    padding: 3px 3px 6px 10px;
  }
  header .support .label {
    display: inline-block;
  }
  header .sidebar-toggle {
    -moz-transition: box-shadow .4s;
    -ms-transition: box-shadow .4s;
    -o-transition: box-shadow .4s;
    -webkit-transition: box-shadow .4s;
    cursor: pointer;
    display: inline-block;
    float: left;
    margin-left: 20px;
    margin-top: 15px;
    padding: 8px 6px;
    transition: box-shadow .4s;
    vertical-align: top;
  }
  .sidebar-toggle.closed {
    box-shadow: 0px 0px 5px 0px #ABABAB;
  }
  .sidebar-toggle span {
    background-color: #ccc;
  }

  /* Styles for closed sidebar */
  aside#sidebar.closed {
    width: 50px;
    max-width: 50px;
    min-width: 0;
  }
  aside#sidebar.closed .mini-profile .picture {
    width: 50px;
  }
  /*aside#sidebar.closed .mini-profile .name,
  aside#sidebar.closed .language-switcher,
  aside#sidebar.closed .mini-profile .button-logout {
    display: none;
  }*/
  aside#sidebar.closed .menu a {
    text-indent: -220px;
    white-space: nowrap;
    max-width: none;
  }
  body aside#sidebar .menu a i {
    position: absolute;
    left: 0;
    text-indent: 0;
    margin-left: 0;
    width: 50px;
    text-align: center;
    top: 50%;
    margin-top: -8px;
  }
  aside#sidebar.closed .menu a:hover {
    text-indent: 7px;
    width: 220px;
    opacity: .95;
  }
  aside#sidebar.closed + #main {
    left: 50px;
  }
}

@media all and (max-width: 479px) {
  header .support {
    border-color: #0193C7;
    border-radius: 3px 0 0 3px;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    position: fixed;
    right: -15px;
    top: 70px;
  }
}

body.admin-menu header {
  top: 29px;
}
#page {
  padding-top: 60px;
}




.header-link {
  float: right;
  position: absolute;
  right: 16px;
  bottom: 50%;
  margin-bottom: -10px;
}
.header-link a {
  font-family: OpenSans;
  color: #aaa;
  font-size: 13px;
  text-decoration: none;
}
.header-link a:hover {
  color: #1c1c1c;
  text-decoration: none;
}
aside#sidebar {
  background: #00AEEB;
  min-width: 220px;
  width: 100%;
  float: left;
}
body.admin-menu aside#sidebar {
  margin-top: 29px;
}
aside#sidebar .menu a {
  color: #FFFFFF;
  display: block;
  font-family: OpenSans;
  height: 100%;
  line-height: 41px;
  min-height: 43px;
  padding: 0 0 0 48px;
  position: relative;
  text-decoration: none;
  width: 100%;
}
aside#sidebar .menu a:hover,
aside#sidebar .menu a.active {
  background: #0887b5;
}
aside#sidebar:not(.no-animate) .menu a {
  transition: all .6s;
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -o-transition: all .6s;
  -ms-transition: all .6s;
}
aside#sidebar .menu a i {
  font-size: 16px;
  left: -7px;
  margin-left: -23px;
  position: relative;
}






.mini-profile {
  background: #172e3a;
  position: relative;
}
.mini-profile .picture img {
  margin: 10px auto 0;
}
.mini-profile .name {
  color: #FFFFFF;
  font-family: OpenSans;
  font-size: 2em;
  font-weight: 400;
  text-align: center;
}
.mini-profile .button-logout {
  background: url(../img/logout-icon.png);
  display: block;
  height: 16px;
  margin: 10px auto;
  text-indent: -9999px;
  width: 16px;
}





.language-switcher {
  left: 0;
  margin: 10px 0;
  position: static;
  text-align: center;
  width: 100%;
}
.language-switcher .current {
  color: #aaa;
  font-size: 1.2em;
}
.language-switcher .current:after {
  background: url(../img/lang-switcher-arrow.png);
  content: ' ';
  display: inline-block;
  height: 5px;
  margin-left: 5px;
  position: relative;
  top: -2px;
  width: 9px;
}
.language-switcher .list {
  background: #172E3A;
  border: 1px solid #aaa;
  display: none;
  margin: 0 auto;
  position: absolute;
  width: 60px;
  z-index: 1;
}
.language-switcher .list a {
  display: block;
  font-size: 1.2em;
  padding: 2px 6px;
}






#main {
  float: left;
  background: #FFFFFF;
}
#main .content {
  padding-bottom: 15px;
}
aside#sidebar:not(.no-animate) + #main {
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
}
#main > .page-title {
  background: #f3f6f7;
  padding: 12px 0;
  position: relative;
}
#main > .page-title h1 {
  color: #1a1b1f;
  font-family: 'OpenSans';
  font-weight: 300;
  margin: 0;
  margin-left: 15px;
  text-align: left;
}




.region-content.left-region {
  width: 100%;
  display: block;
}
.region-content.left-region > .inside {
  padding: 0;
}
.field-name-field-user-picture img {
  display: block;
  height: auto;
  margin: 15px auto;
  max-width: 100%;
  min-height: 1px;
  position: relative;
  width: 100%;
}




.user-statistic {
  padding: 0 15px;
}
.user-statistic .counters div {
  color: #AAAAAA;
  float: left;
  font-family: OpenSans;
  margin-bottom: 15px;
  width: 33%;
}
.user-statistic .counters div + div {
  text-align: center;
}
.user-statistic .counters div + div + div {
  text-align: right;
}
.user-statistic .counters div .quantity {
  color: #1a1b1f;
}
.user-statistic .counters div.b-counter {
  text-align: left;
  margin-top: 20px;
  float: left;
}
.user-statistic .counters div.b-counter .quantity {

}
.user-statistic .counters div.b-counter .quantity i {
  font-style: normal;
  color: #41b11b;
}
.counters .bs-counter:before,
.counters .br-counter:before,
.counters .bk-counter:before,
.counters .b-counter:before {
  content: ' ';
  display: inline-block;
  height: 16px;
  margin-right: 5px;
  position: relative;
  top: 2px;
  width: 16px;
}
.counters .bs-counter:before {
  background: url(../img/bs.png) 0 0 no-repeat;
}
.counters .br-counter:before {
  background: url(../img/br.png) 0 0 no-repeat;
}
.counters .bk-counter:before {
  background: url(../img/bk.png) 0 0 no-repeat;
}
.counters .b-counter:before {
  background: url(../img/b.png) 0 0 no-repeat;
  right: -1px;
  margin-right: 0;
  top: 2px;
}
.user-statistic .counters div.message-button {
  float: right;
  margin-top: 20px;
  text-align: right;
  width: 67%;
}
.user-statistic .counters {
  margin-bottom: 15px;
}
.user-statistic .counters div.message-button a {
  background: #01afec;
  color: #FFFFFF;
  font-family: OpenSans;
  font-weight: normal;
  text-decoration: none;
  padding: 9px 17px;
  border-radius: 3px;
}
.user-statistic .counters div.message-button a:hover {
  background: #0193C7;
}
.team-partner {
  color: #AAAAAA;
  font-family: OpenSans;
  margin-bottom: 15px;
  text-align: center;
}
.team-partner .quantity {
  color: #1a1b1f;
}
.achievements {
  text-align: center;
}
.achievements .label-achievements {
  color: #AAAAAA;
  display: inline-block;
  font-family: OpenSans;
  margin-bottom: 10px;
}
.achievements-list span {
  background: #aaa;
  border-radius: 50px;
  display: inline-block;
  height: 50px;
  margin-right: 10px;
  width: 50px;
}




.region-content.right-region {
  margin-top: 20px;
  padding: 0 15px;
  width: 100%;
}
.right-region .user-info {
  margin-top: 20px;
}
.right-region .user-name,
.right-region .years-city {
  font-family: 'OpenSans';
  color: #1a1b1f;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
}
.right-region .user-info .left div,
.right-region .user-info .right div {
  color: #AAAAAA;
  font-family: OpenSans;
  width: 100%;
}
.right-region .user-info .left div span,
.right-region .user-info .right div span {
  color: #1a1b1f;
  display: inline-block;
  float: right;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 57%;
}
.right-region .user-info .right div a {
  color: #01afec;
}
.right-region .user-info .bottom,
.right-region .user-info .user-about {
  margin-top: 15px;
}
.right-region .user-info .user-about,
.right-region .user-info .user-experience {
  color: #AAAAAA;
  font-family: OpenSans;
}
.right-region .user-info .user-about span,
.right-region .user-info .user-experience span {
  color: #1a1b1f;
  display: block;
  margin-top: 5px;
}


.right-region .user-info .user-experience:before,
.right-region .user-info .user-about:before {
  background: #f3f6f7;
  content: ' ';
  display: block;
  height: 2px;
  margin-bottom: 36px;
  margin-top: 33px;
  width: 100%;
}
.user-languages {
  overflow: hidden;
}
.right-region .user-info .left .user-languages div {
  float: left;
  width: auto;
}

footer#footer {
  background: #E8EBEB;
  width: 100%;
  padding-top: 91px;
  position: relative;
  text-align: center;
  padding-bottom: 20px;
}
footer#footer:before {
  content: '';
  display: block;
  height: 2px;
  background: #aaa;
  position: absolute;
  top: 60px;
  width: 100%;
}
footer .social-networks {
  padding-left: 0;
}
.social-networks .label {
  font-size: 14px;
  padding: .2em 0 .3em;
  /*text-align: left;*/
  text-align: center;
  display: block;
  margin-bottom: 6px;
}
.social-networks .label,
.payment-methods .label,
.copywright .label {
  color: #4b4d50;
  font-family: OpenSans;
  font-weight: 400;
}
.social-networks .vkontakte {
  background: url(../img/social-icons-1.png) 0 0 no-repeat;
  width: 28px;
  height: 16px;
  display: inline-block;
  margin-left: 0;
}
.social-networks .youtube {
  background: url(../img/social-icons-1.png) -28px 0 no-repeat;
  width: 43px;
  height: 19px;
  display: inline-block;
  margin-left: 11px;
}
.social-networks .facebook {
  background: url(../img/social-icons-1.png) -71px 0 no-repeat;
  width: 19px;
  height: 19px;
  display: inline-block;
  margin-left: 14px;
}
footer .payment-methods {
  padding-left: 6px;
  margin-top: 15px;
  /*margin-top: 0;*/
}
.payment-methods .label {
  font-size: 14px;
  padding: .2em 0 .3em;
  display: block;
  /*text-align: left;*/
  text-align: center;
  margin-bottom: 3px;
}
.payment-methods .visa {
  background: url(../img/payment-methods.png) 0 0 no-repeat;
  width: 46px;
  height: 21px;
  display: inline-block;
  margin-left: 0;
}
.payment-methods .mastercard {
  background: url(../img/payment-methods.png) -46px 0 no-repeat;
  width: 48px;
  height: 18px;
  display: inline-block;
  margin-left: 12px;
}
.payment-methods .paypal {
  background: url(../img/payment-methods.png) -93px 0 no-repeat;
  width: 51px;
  height: 18px;
  display: inline-block;
  margin-left: 10px;
}
.payment-methods .yamoney {
  background: url(../img/payment-methods.png) -143px 0 no-repeat;
  width: 18px;
  height: 21px;
  display: inline-block;
  margin-left: 8px;
}
footer .copywright {
  padding: 0;
  width: 275px;
  font-size: 14px;
  padding-left: 6px;


  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.copywright .label {
  font-size: 14px;
  text-align: center;
}

@media all and (min-width: 480px) {
  .region-content.left-region {
    width: 32%;
  }
  .left-region .pane-user-field-user-picture {
    padding-right: 0;
  }
  .region-content.right-region {
    width: 68%;
  }
  .right-region .user-name,
  .right-region .years-city {
    text-align: left;
  }
  .user-statistic .counters div .quantity {
    display: block;
  }
  .user-statistic .counters div,
  .user-statistic .counters div + div,
  .user-statistic .counters div + div + div {
    text-align: center;
  }
  .counters .bs-counter:before,
  .counters .br-counter:before,
  .counters .bk-counter:before {
    display: block;
    margin: 0 auto 3px;
  }
  .user-statistic .counters div.b-counter {
    width: 100%;
    margin-top: 5px;
    text-align: center;
  }
  .user-statistic {
    padding-right: 0;
  }
  .user-statistic .counters div.message-button {
    width: 100%;
    margin-top: 5px;
  }
  .user-statistic .counters div.message-button a {
    font-size: 12px;
    width: 100%;
    display: block;
    text-align: center;
  }
  .counters .b-counter:before {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2px;
  }
  footer .social-networks {
    float: left;
    width: 50%;
  }
  footer .payment-methods {
    float: right;
    margin-top: 0;
    width: 50%;
  }
  footer .copywright {
    margin-top: 70px;
  }
}

aside#sidebar {
  margin-top: 60px;
}
aside#sidebar:not(.no-animate) {
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
}
@media all and (min-width: 768px) {
  aside#sidebar {
    bottom: 0;
    float: left;
    left: 0;
    margin-top: 0;
    min-width: 220px;
    position: fixed;
    top: 60px;
    width: 25%;
    z-index: 1;
  }
  #main {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    margin-left: 220px;
    width: auto;
  }
  .footer-row .container {
    width: auto;
  }
  .right-region .user-info .user-experience:before,
  .right-region .user-info .user-about:before {
    margin-bottom: 36px;
    margin-top: 33px;
  }
  .mini-profile {
    min-height: 50px;
  }
  .mini-profile .picture {
    padding: 0;
    width: 30%;
    float: left;
    min-height: 50px;
    transition: all .4s;
  }
  .mini-profile .picture img {
    margin-top: 0;
    min-height: 50px;
    min-width: 50px;
    transition: all .5s;
  }
  .mini-profile .name {
    float: left;
    font-size: 1em;
    margin-bottom: 16%;
    margin-left: 4%;
    margin-top: 10px;
    max-width: 66%;
    text-align: left;
  }
  .mini-profile .button-logout {
    bottom: -4px;
    position: absolute;
    right: 6px;
  }
  .language-switcher {
    bottom: 10px;
    left: 34%;
    margin: 0;
    position: absolute;
    width: auto;
  }
  .mini-profile .picture + .name + .language-switcher {
   left: 34%;
  }
  .language-switcher {
    left: 4%;
  }
  .language-switcher .current {
    color: #aaa;
    font-size: 13px;
  }
  .language-switcher .list a {
    font-size: 13px;
  }
  .right-region .user-info .left div:after,
  .right-region .user-info .right div:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .right-region .user-info .left div span,
  .right-region .user-info .right div span {
    width: auto;
    /*max-width: 50%;*/
  }
  .right-region .user-name {
    font-size: 20px;
  }
  .right-region .years-city {
    margin-top: 18px;
    font-size: 14px;
  }
  .team-partner,
  .achievements {
    text-align: left;
  }
  .achievements-list span {
    margin-bottom: 3px;
  }
  .right-region .user-info .user-about span,
  .right-region .user-info .user-experience span {
    margin-top: 20px;
  }
  aside#sidebar.closed + #main {
    margin-left: 0;
  }
  .user-statistic .counters div.message-button a {
    font-size: 14px;
  }
  .user-statistic .counters div.b-counter {
    width: 33%;
  }
  .user-statistic .counters div.message-button {
    width: auto;
  }
}

@media all and (min-width: 890px) {
  #main {
    width: auto;
    padding: 0;
    position: absolute;
    left: 220px;
    right: 5%;
    top: 60px;
    margin-top: 2%;
    margin-left: 5%;
  }
  aside#sidebar {
    width: 220px;
  }
  aside#sidebar.closed + #main {
    margin-left: 5%;
  }
}

@media all and (min-width: 992px) {
  .right-region .user-info .left {
    float: left;
    margin-top: 0;
    margin-right: 2%;
    width: 54%;
  }
  .right-region .user-info .right {
    float: right;
    width: 43%;
  }
  .right-region .user-info .bottom {
    float: left;
    margin-top: 80px;
  }
  .right-region .user-info div {
    margin-top: 3px;
  }
  .right-region .user-info .left .user-languages div {
    width: 60%;
    float: left;
    margin-top: 0;
  }
  .right-region .user-info .left .user-languages span {
    width: 40%;
    float: right;
  }
  .right-region .user-info .bottom {
    margin-top: 0;
  }
  footer .social-networks {
    width: 33.33333333333333%;
    text-align: left;
  }
  footer .social-networks,
  footer .social-networks .label {
    text-align: left;
  }
  footer .payment-methods {
    width: 33.33333333333333%;
    margin-top: 0;
    float: left;
  }
  footer .payment-methods,
  footer .payment-methods .label {
    text-align: left;
  }
  footer .copywright {
    width: auto;
    margin-top: 0;
    padding-left: 0;
    text-align: left;
    float: right;
  }
  footer .copywright .label {
    padding: 0;
  }
  footer .copywright .links a {
    font-family: OpenSans;
    font-weight: normal;
    color: #01afec;
    display: inline-block;
    margin-right: 20px;
  }
}

@media all and (min-width: 1152px) {
  .user-statistic .counters div {
    text-align: left;
  }
  .user-statistic .counters div + div {
    text-align: center;
  }
  .user-statistic .counters div + div + div {
    text-align: right;
  }
  .counters .bs-counter:before,
  .counters .br-counter:before,
  .counters .bk-counter:before {
    display: inline-block;
    margin: 0 auto 3px;
    margin-right: 2px;
    top: 5px;
  }
  .user-statistic .counters div .quantity {
    display: inline-block;
  }
  .user-statistic .counters div.b-counter {
    text-align: left;
  }
  .counters .b-counter:before {
    text-align: left;
    margin-top: 7px;
    display: inline-block;
    top: 5px;
  }
}
#main .alert {
  margin: 15px;
  margin-bottom: 0;
}