/*html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #e8ebeb !important;
}
#user-profile {
  margin-top: 60px;
}
.main-container.container {
  width: 100%;
  padding: 0;
}
.main-container.container > .row {
  margin: 0;
}
.main-container.container > .row > section {
  padding: 0;
}

header {
  background: #FFFFFF;
  height: 60px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.column-sidebar {
  min-width: 220px;
  background: #00AEEB;
}
.mini-profile .button-logout {
  background: url(../img/logout-icon.png);
  height: 16px;
  text-indent: -9999px;
  width: 16px;
  display: block;
  margin: 10px auto;
}
.column-sidebar {
  float: none;
  width: 100%;
}
.column-sidebar > .inside {
  padding: 0;
}
.region-sidebar {
  width: 100%;
}
.mini-profile {
  background: #172e3a;
}
.mini-profile .picture img {
  margin: 10px auto 0;
}
.mini-profile .name {
  color: #FFFFFF;
  font-family: OpenSans;
  font-size: 2em;
  font-weight: 400;
  text-align: center;
}
.region-sidebar ul.links {
  margin: 0;
  padding: 0;
  list-style: none;
}
.region-sidebar ul.links li {
  display: block;
  min-height: 40px;
}
.region-sidebar ul.links li a {
  color: #FFFFFF;
  font-family: OpenSans;
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  min-height: 43px;
  line-height: 41px;
  position: relative;
  padding-left: 48px;
}
#user-profile .column-sidebar:not(.no-animate) .region-sidebar ul.links li a {
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  -ms-transition: all .4s;
}
.region-sidebar ul.links li a:before {
  content: ' ';
  background: url(../img/sidebar-icons.png);
  display: inline-block;
  position: absolute;
  left: 19px;
  top: 13px;
  width: 16px;
  height: 16px;
}
.region-sidebar ul.links li a.business-cabinet:before {
  background-position: -16px 0;
}
.region-sidebar ul.links li a.my-messages:before {
  background-position: -32px 0;
}
.region-sidebar ul.links li a.my-team:before {
  background-position: -48px 0;
}
.region-sidebar ul.links li a.my-statistic:before {
  background-position: -64px 0;
}
.region-sidebar ul.links li a.my-achievements:before {
  background-position: -80px 0;
}
.region-sidebar ul.links li a.my-rating:before {
  background-position: -96px 0;
  width: 15px;
}
.region-sidebar ul.links li a.my-news:before {
  background-position: -111px 0;
}
.region-sidebar ul.links li a.alert-system:before {
  background-position: -127px 0;
}
.region-sidebar ul.links li a.active,
.region-sidebar ul.links li a:hover {
  background: #0887b5;
}
.region-content.title-region {
  width: 100%;
}
.region-content.title-region .pane-content {
  position: relative;
}
.column-content {
  width: 100%;
}
.column-content > .inside {
  padding: 0;
}
#user-profile .title-row {
  background: #f3f6f7;
  padding-top: 6px;
  padding-bottom: 9px;
}
.title-region .page-title {
  text-align: left;
  font-family: 'OpenSans';
  font-weight: 300;
  color: #1a1b1f;
  margin: 0;
  margin-left: 15px;
}
.region-content.left-region,
.region-content.right-region {
  width: 100%;
}
.pane-user-field-user-picture img {
  display: block;
  height: auto;
  margin: 15px auto;
  max-width: 100%;
  min-height: 1px;
  position: relative;
  width: 280px;
}
.right-region .user-name,
.right-region .years-city {
  font-family: 'OpenSans';
  color: #1a1b1f;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
}
.right-region .years-city {
  font-size: 14px;
}
.right-region > .inside {
  padding-left: 0;
}
.right-region .user-info {
  margin-top: 10px;
}
.right-region .user-info .right {
  margin-top: 10px;
}
.right-region .user-info .left div,
.right-region .user-info .right div {
  width: 100%;
  color: #AAAAAA;
  font-family: OpenSans;
  padding: 0 15px;
}
.right-region .user-info .left div span,
.right-region .user-info .right div span {
  display: inline-block;
  float: right;
  width: 50%;
  color: #1a1b1f;
  text-align: right;
}
.right-region .user-info .bottom {
  margin-top: 10px;
  padding: 0 15px;
}
.right-region .user-info .user-about {
  margin-top: 15px;
}
.right-region .user-info .user-about,
.right-region .user-info .user-experience {
  color: #AAAAAA;
  font-family: OpenSans;
}
.right-region .user-info .user-about span,
.right-region .user-info .user-experience span {
  color: #1a1b1f;
  display: block;
  margin-top: 5px;
}
.row-content {
  background: #FFFFFF;
}
.region-content.footer-region {
  width: 100%;
}
.region-content.footer-region .container {
  width: 100%;
  position: relative;
  top: 68px;
  padding: 0;
}
.social-networks .label {
  font-size: 14px;
  padding: .2em 0 .3em;
}
.social-networks .label,
.payment-methods .label,
.copywright .label {
  color: #4b4d50;
  font-family: OpenSans;
  font-weight: 400;
}
.social-networks .vkontakte {
  background: url(../img/social-icons-1.png) 0 0 no-repeat;
  width: 28px;
  height: 16px;
  display: inline-block;
  margin-left: 11px;
}
.social-networks .youtube {
  background: url(../img/social-icons-1.png) -28px 0 no-repeat;
  width: 43px;
  height: 19px;
  display: inline-block;
  margin-left: 19px;
}
.social-networks .facebook {
  background: url(../img/social-icons-1.png) -71px 0 no-repeat;
  width: 19px;
  height: 19px;
  display: inline-block;
  margin-left: 18px;
}
.payment-methods .label {
  font-size: 14px;
  padding: .2em 0 .3em;
}
.payment-methods .visa {
  background: url(../img/payment-methods.png) 0 0 no-repeat;
  width: 46px;
  height: 21px;
  display: inline-block;
  margin-left: 14px;
}
.payment-methods .mastercard {
  background: url(../img/payment-methods.png) -46px 0 no-repeat;
  width: 48px;
  height: 18px;
  display: inline-block;
  margin-left: 15px;
}
.payment-methods .paypal {
  background: url(../img/payment-methods.png) -93px 0 no-repeat;
  width: 51px;
  height: 18px;
  display: inline-block;
  margin-left: 15px;
}
.payment-methods .yamoney {
  background: url(../img/payment-methods.png) -143px 0 no-repeat;
  width: 18px;
  height: 21px;
  display: inline-block;
  margin-left: 12px;
}
.footer-row .copywright {
  padding: 0;
  width: 275px;
  font-size: 14px;
}
.footer-region .copywright .label {
  font-size: 14px;
}
#user-profile .footer-row {
  margin-bottom: 70px;
  margin-top: 40px;
  background: #e8ebeb;
  border-top: 2px solid #aaa;
  height: 1px;
}
.footer-row .pane-content {
  margin-top: -30px;
}







.footer-region .social-networks,
.footer-region .payment-methods,
.footer-row .copywright {
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  padding: 0 15px;
}
#user-profile .footer-row {
  margin-top: 0px;
  position: relative;
  top: 100px;
}
.footer-region .copywright .label {
  padding: 0;
}
.language-switcher {
  width: 100%;
  left: 0;
  text-align: center;
  position: static;
  margin: 10px 0;
}
.language-switcher .current {
  color: #aaa;
  font-size: 1.2em;
}
.language-switcher .current:after {
  background: url(../img/lang-switcher-arrow.png);
  content: ' ';
  display: inline-block;
  height: 5px;
  width: 9px;
  margin-left: 5px;
  position: relative;
  top: -2px;
}
.language-switcher .list {
  background: #172E3A;
  border: 1px solid #aaa;
  z-index: 1;
  position: static;
  width: 60px;
  margin: 0 auto;
}
.language-switcher .list a {
  font-size: 1.2em;
  display: block;
  padding: 2px 6px;
}

.right-region .user-info .user-experience:before,
.right-region .user-info .user-about:before {
  content: ' ';
  display: block;
  width: 100%;
  height: 2px;
  background: #f3f6f7;
  margin-top: 33px;
  margin-bottom: 36px;
}

#user-profile .column-sidebar:not(.no-animate) + .column-content {
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  -ms-transition: all .4s;
}
#user-profile .column-sidebar:not(.no-animate) {
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  -ms-transition: all .4s;
}

.edit-profile-link {
  float: right;
  position: absolute;
  right: 16px;
  bottom: 0;
  font-family: OpenSans;
  color: #aaa;
  font-size: 13px;
}

.user-statistic {
  margin: 0 auto 20px;
  width: 280px;
  max-width: 280px;
}
.user-statistic .counters div {
  font-family: OpenSans;
  color: #AAAAAA;
  margin-bottom: 15px;
  float: left;
  width: 33%;
}
.user-statistic .counters div + div {
  text-align: center;
}
.user-statistic .counters div + div + div {
  text-align: right;
}
.user-statistic .counters div .quantity {
  color: #1a1b1f;
}
.counters .bs-counter:before,
.counters .br-counter:before,
.counters .bk-counter:before {
  content: ' ';
  display: inline-block;
  height: 16px;
  width: 16px;
}
.counters .bs-counter:before {
  background: url(../img/bs.png) 0 0 no-repeat;
}
.counters .br-counter:before {
  background: url(../img/br.png) 0 0 no-repeat;
}
.counters .bk-counter:before {
  background: url(../img/bk.png) 0 0 no-repeat;
}
.team-partner {
  font-family: OpenSans;
  color: #AAAAAA;
  margin-bottom: 15px;
}
.team-partner .quantity {
  color: #1a1b1f;
}
.achievements .label-achievements {
  color: #AAAAAA;
  font-family: OpenSans;
  margin-bottom: 10px;
  display: inline-block;
}
.achievements-list span {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #aaa;
  border-radius: 50px;
  margin-right: 10px;
}

@media all and (min-width: 480px) {
  .region-content.left-region {
    width: 32%;
  }
  .left-region .pane-user-field-user-picture {
    padding-right: 0;
  }
  .region-content.right-region {
    width: 68%;
  }
  .right-region .user-name {
    text-align: left;
    padding-left: 15px;
    margin-top: 20px;
  }
  .right-region .years-city {
    text-align: left;
    margin-top: 5px;
    padding-left: 15px;
  }
  .user-statistic {
    width: 100%;
    padding-left: 15px;
  }
}

@media all and (min-width: 768px) {
  #user-profile .column-sidebar.closed + .column-content {
    left: 220px;
  }
  #user-profile .column-sidebar.closed {
    width: 50px;
    min-width: 50px;
  }
  #user-profile .column-sidebar.closed .mini-profile .picture {
    width: 50px;
  }
  #user-profile .column-sidebar.closed .mini-profile .name,
  #user-profile .column-sidebar.closed .language-switcher,
  #user-profile .column-sidebar.closed .mini-profile .button-logout {
    display: none;
  }
  #user-profile .column-sidebar.closed .region-sidebar ul.links li a {
    text-indent: -220px;
  }
  #user-profile .column-sidebar.closed .region-sidebar ul.links li a:hover {
    text-indent: 7px;
    width: 220px;
    white-space: nowrap;
    max-width: none;
  }
  #user-profile .column-sidebar.closed .region-sidebar ul.links li a:before {
    left: 17px;
  }
  .language-switcher {
    position: absolute;
    bottom: 15px;
    left: 34%;
    width: auto;
    margin: 0;
  }
  .language-switcher .current {
    color: #aaa;
    font-size: 13px;
  }
  .language-switcher .list {
    position: absolute;
    background: #172E3A;
    border: 1px solid #aaa;
    z-index: 1;
  }
  .language-switcher .list a {
    font-size: 13px;
  }
  #user-profile .column-sidebar {
    bottom: 0;
    left: 0;
    position: fixed;
    top: 60px;
    z-index: 1;
  }
  #user-profile .column-content {
    margin-left: 220px;
    width: auto;
    position: absolute;
    right: 0;
    left: 0;
  }
  .mini-profile {
    position: relative;
  }
  .mini-profile .picture {
    width: 30%;
    padding: 0;
  }
  .column-sidebar {
    float: left;
  }
  .mini-profile .picture img {
    margin-top: 0;
    float: left;
  }
  .mini-profile .name {
    float: left;
    margin-left: 4%;
    font-size: 1em;
    margin-top: 10px;

    max-width: 66%;
    text-align: left;
    margin-bottom: 16%;
  }
  .mini-profile .button-logout {
    position: absolute;
    bottom: 3px;
    right: 6px;
  }
  .region-content.right-region {
    margin-top: 20px;
    width: 60%;
  }
  .right-region .years-city {
    margin-top: 15px;
  }
  .title-region .page-title {
    font-size: 35px;
    margin-left: 14px;
    text-align: left;
  }
  #user-profile .title-row {
    margin-top: -4px;
    padding-top: 21px;
    padding-bottom: 20px;
  }
  .right-region .user-info .left div span,
  .right-region .user-info .right div span {
    width: auto;
    max-width: 125px;
  }
  .right-region .user-info .user-experience:before,
  .right-region .user-info .user-about:before {
    margin-top: 33px;
    margin-bottom: 36px;
  }
  body.admin-menu #user-profile .column-content {
    top: 0;
    margin-top: 2%;
  }
  #user-profile .column-sidebar.closed + .column-content {
    margin-left: 0;
    left: 5%;
  }
}

@media all and (min-width: 890px) {
  #user-profile .column-content {
    width: auto;
    background: #e8ebeb;
    padding: 0;
    position: absolute;
    left: 25%;
    right: 5%;
    top: 60px;
    margin-top: 2%;
    margin-left: 5%;
  }
  #user-profile .column-sidebar.closed + .column-content {
    margin-left: 50px;
  }
}

@media all and (min-width: 992px) {
  #user-profile .column-sidebar {
    max-width: 220px;
  }
  #user-profile .column-content {
    width: auto;
    background: #e8ebeb;
    padding: 0;
    position: absolute;
    left: 220px;
    right: 5%;
    top: 60px;
    margin-top: 2%;
    margin-left: 5%;
  }
  .pane-user-field-user-picture img {
    margin-top: 35px;
  }
  .region-content.right-region {
    margin-top: 60px;
  }

  .right-region .user-name {
    font-size: 20px;
    margin-top: -6px;
  }
  .right-region .years-city {
    margin-top: 18px;
  }
  .user-info .left {
    width: 57%;
    float: left;
    margin-top: 10px;
  }
  .right-region .user-info .right {
    float: right;
    width: 43%;
  }
  .right-region .user-info .bottom {
    float: left;
    margin-top: 80px;
  }
  .right-region .user-info .user-experience {
    margin-bottom: 70px;
  }
  .right-region .user-info .user-about {
    margin-bottom: 50px;
  }
  .footer-region .payment-methods {
    padding: 0;
    width: 360px;
    float: none;
    margin: 0 auto;
    vertical-align: top;
  }
  .footer-region .social-networks {
    padding: 0;
    width: 300px;
    float: left;
    vertical-align: top;
  }
  .footer-row .copywright {
    padding: 0;
    width: 275px;
    text-align: right;
    float: right;
    vertical-align: top;
    margin-top: -20px;
  }
  #user-profile .footer-row {
    margin-top: 0px;
    position: relative;
    top: 40px;
    margin-bottom: 30px;
    height: 60px;
  }
  .right-region .user-info .user-experience:before,
  .right-region .user-info .user-about:before {
    margin-top: -27px;
    margin-bottom: 46px;
  }
}
*/