/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */
.ditoolsi-file-field-btn {
  border-radius: 4px 0 0 4px;
  float: left;
  margin-right: -1px;
}
.ditoolsi-file-field-btn + input[type="text"] {
  border-radius: 0 4px 4px 0;
  width: auto;
}