.projekktor-container {
  float: none;
  display: block;
}

.jcarousel-right .projekktor-screen,
.jcarousel-right .projekktor-jcarousel,
.jcarousel-left .projekktor-screen,
.jcarousel-left .projekktor-jcarousel {
  float: left;
  display: inline;
}
