body * {
  font-family: PTSans;
}
body a {
  color: #00add7;
}
body #block-system-main * {
  font-size: 15px;
}
#add-lesson-form {
  margin-top: 0px;
}
#add-lesson-form .ckeditor_links {
  display: none !important;
}
#add-lesson-form fieldset {
  background: transparent;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  margin: 0;
  width: auto;
}
#add-lesson-form fieldset[id^="edit-attach"] {
  margin-top: 40px;
}
#add-lesson-form fieldset > legend.panel-heading {
  padding: 10px 0px;
}

#add-lesson-form fieldset > legend {
  background: transparent;
  border: 0;
  padding: 0 20px;
  width: 100%;
}
#add-lesson-form fieldset > legend .panel-title {
  color: #1a1b1f;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}
#add-lesson-form fieldset[id*="edit-attach"] .panel-body {
  margin-top: 15px;
  padding: 0px;
  border-bottom: 2px solid #e0e1e3;
}
#add-lesson-form fieldset .panel-body .cke_wysiwyg_frame {
  max-width: 100%;
}
#add-lesson-form .number-field,
#add-lesson-form .link-post-field {
  float: left;
  padding-right: 10px;
  width: 33.333%;
}
#add-lesson-form .title-field,
#add-lesson-form .message-post-field {
  float: left;
  padding-left: 10px;
  width: 66.666%;
}
#add-lesson-form .text-format-wrapper,
#add-lesson-form .text-format-wrapper + div {
  float: left;
  width: 100%;
}
#add-lesson-form .form-item-info-is-final {
  float: left;
  margin-top: 7px;
  padding-left: 0;
}
#add-lesson-form .form-checkbox {
  display: none;
}
#add-lesson-form .form-checkbox + label {
  display: inline-block;
  line-height: 23px;
  padding: 0;
}
#add-lesson-form .form-checkbox + label:before {
  background: url(../img/rc-btn.png);
  content: ' ';
  display: inline-block;
  font-size: 9px;
  height: 16px;
  margin-right: 10px;
  text-align: center;
  vertical-align: top;
  width: 16px;
}
#add-lesson-form .form-checkbox:checked + label:before {
  background: url(../img/rc-checked-btn.png);
}
#lesson-attach-border {
  height: 3px;
  background: #01afec;
  position: absolute;
  -o-transition: all .65s ease;
  -webkit-transition: all .65s ease;
  -moz-transition: all .65s ease;
  -ms-transition: all .65s ease;
  transition: all .65s ease;
}
#lesson-attach-tabs {
  margin-bottom: 0px;
  position: relative;
  width: 100% !important;
  padding-left: 0px;

}
#lesson-attach-tabs:after {
  background: #ebebeb;
  bottom: -3px;
  content: ' ';
  height: 3px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
}
#lesson-attach-tabs li {
  background: transparent;
  padding: 15px 0px;
  display: inline-block;
}
#lesson-attach-tabs li a.selected {
  border-bottom: 3px solid #00add7;
  margin-bottom: -2px;
  padding: 16px 20px;
}
#lesson-attach-tabs li a:hover,
#lesson-attach-tabs li a:focus {
  text-decoration: none;
}
#lesson-attach-tabs li a {
  background: transparent;
  color: #2a2d2e;
  font-weight: normal;
  padding: 15px 20px;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
}
#lesson-attach-tabs li.selected a {
  color: #01afec;
}
#lesson-attach-content .ui-slider-tabs-content-container {
  border: none;
}
#video-switcher-tabs,
#presentation-switcher-tabs,
#task-switcher-tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100% !important;
}
#video-switcher-tabs li,
#presentation-switcher-tabs li,
#task-switcher-tabs li {
  background: transparent;
  border: none;
  float: left;
  height: auto !important;
  width: auto !important;
}
#video-switcher-tabs li a,
#presentation-switcher-tabs li a,
#task-switcher-tabs li a {
  background: transparent;
  color: #01afec;
  display: block;
  font-weight: normal;
  height: auto !important;
  padding: 8px 14px;
  text-decoration: none;
  width: auto !important;
}
#video-switcher-tabs li.selected a,
#presentation-switcher-tabs li.selected a,
#task-switcher-tabs li.selected a {
  background: #f3f6f7;
  border-radius: 3px;
  color: #1a1b1f;
}
#add-lesson-form .form-file,
#add-lesson-form .form-file + .input-group-btn {
  display: none;
}
#add-lesson-form .form-type-managed-file > label {
  color: #01afec;
  cursor: pointer;
  margin-top: 15px;
  font-weight: normal;
  text-transform: none;
  display: inline-block;
}
#add-lesson-form button.add-button {
  background: #01afec;
  border-radius: 3px;
  border: none;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin-top: 7px;
  outline: none;
  padding: 10px 20px;
  text-transform: uppercase;
}
#add-lesson-form button.add-button:hover {
  background: #0193C7;
}
#add-lesson-form button.add-button i {
  /*left: 1px;
  margin-right: 10px;
  position: absolute;*/
  display: none;
}
#add-lesson-form .form-type-managed-file .file-description {
  color: #909192;
  display: inline-block;
  font-size: 14px;
  margin-left: 10px;
  vertical-align: top;
  min-width: 280px;
  margin-top: 17px;
}
#add-lesson-form .form-type-managed-file .file .file-icon,
#add-lesson-form .form-type-managed-file .file .file-size {
  display: none;
}
#add-lesson-form .file a {
  display: block;
  max-width: 320px;
  background-color: #f6f7f9;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}
#add-lesson-form .form-managed-file.file-uploaded {
  margin-top: 15px;
}
#add-lesson-form .form-managed-file.file-uploaded > .form-control {
  padding: 0;
  box-shadow: none;
  border: none;
  float: left;
  width: auto;
  background-color: #f6f7f9;
}
#add-lesson-form .form-managed-file.file-uploaded > .form-control + .input-group-btn {
  float: left;
  display: block;
  position: static;
}
#add-lesson-form .form-type-managed-file .btn-danger,
#add-lesson-form .file .remove-btn {
  background: url(../img/unlink.png) no-repeat;
  border: none;
  display: inline-block;
  height: 10px;
  margin-left: 10px;
  margin-top: 4px;
  padding: 0;
  text-indent: -9999px;
  vertical-align: top;
  width: 12px;
  outline: none;
}
#add-lesson-form .form-type-managed-file {
  position: relative;
}
#add-lesson-form .form-type-managed-file .form-managed-file {
  position: static;
}
#block-system-main #add-lesson-form .form-type-managed-file button[id*="file-remove-button"]{
  background-position: 0 0;
  background-repeat: no-repeat;
  background: url(/../../sites/all/themes/uplvl/css/images/gtk-close.png);
  height: 40px;
  right: 5px;
  text-indent: -9999px;
  top: 0px;
  width: 40px;
  background-size: 100%;
}
#to-video .form-type-textfield {
  width: 55%;
  margin-top: 25px;
  display: inline-block;
  vertical-align: top;
}
#to-video .form-type-textfield:after {
  content: '.';
  clear: both;
  display: block;
  visibility: hidden;
  height: 1px;
  width: 100%;
}
#to-video .form-type-textfield label {
  color: #1a1b1f;
  font-weight: normal;
  clear: both;
  float: left;
}
#to-video .form-type-textfield .form-text {
  border-radius: 5px;
  height: 36px;
  margin-top: 7px;
  width: 65%;
  float: left;
  clear: left;
  box-shadow: none;
  text-overflow: ellipsis;
}
#to-video .form-type-textfield button {
  margin-left: 20px;
  float: left;
}
#to-video .ui-slider-tabs-list-wrapper,
#to-presentation .ui-slider-tabs-list-wrapper,
#to-task .ui-slider-tabs-list-wrapper {
  margin-top: 16px;
  margin-bottom: 0px;
}
#to-video .form-group.selected,
#to-presentation .form-group.selected,
#to-task .form-group.selected {
  width: 100% !important;
}
#to-video .video-element {
  float: right;
  margin-top: -20px;
  width: 50%;
}
#to-video div[id*="upload-lesson-video-file"] .video-element {
  float: none;
}
#to-video div[id*="upload-lesson-video-file"] .video-element video {
  width: auto;
}
#add-lesson-form .youtube-iframe {
  float: right;
  margin-top: 40px;
  position: relative;
  width: 50%;
  z-index: 21;
}
#add-lesson-form .youtube-iframe .label,
#add-lesson-form .video-element .label {
  color: #AAA;
  font-size: 14px;
  font-weight: normal;
  padding: 0;
  margin-top: -20px;
  display: block;
  text-align: left;
  margin-bottom: 15px;
}
#add-lesson-form .file-youtube {
  display: inline-block;
  margin-top: 30px;
}
#add-lesson-form .file-youtube a {
  display: inline;
}
#to-video,
#to-presentation,
#to-task,
#to-video .ui-slider-tab-content,
#to-presentation .ui-slider-tab-content,
#to-task .ui-slider-tab-content {
  padding: 40px 0;
  width: 100% !important;
}
#add-lesson-form .select-task-type {
  margin-top: 20px;
  width: 190px;
}
#add-lesson-form .three-fields-line .col:first-child {
  padding-right: 5px;
}
#add-lesson-form .three-fields-line .col:first-child + .col {
  padding-right: 5px;
  padding-left: 5px;
}
#add-lesson-form .three-fields-line .col:first-child + .col + .col {
  padding-left: 5px;
}
#add-lesson-form .question-fieldset legend,
#add-lesson-form .question-fieldset .panel-body {
  padding: 0;
}
#add-lesson-form .remove-link,
#add-lesson-form .remove-link:active,
#add-lesson-form .remove-link:focus,
#add-lesson-form .remove-link:hover {
  background: transparent;
  border-radius: 0;
  border: none;
  box-shadow: none;
  color: #AAA;
  float: right;
  margin: 0;
  outline: none;
  padding: 0;
  text-shadow: none;
}
#add-lesson-form .remove-link .ajax-progress {
  display: none !important;
}
#add-lesson-form .remove-link:hover {
  text-decoration: underline;
}
#add-lesson-form .remove-link.remove-link-question {
  margin-top: -35px;
}
#add-lesson-form .answer-fields + .answer-fields {
  margin-top: 10px;
}
#add-lesson-form .answer-container:after,
#add-lesson-form .auto-test-list:after {
  content: ' ';
  display: table;
  clear: both;
  width: 100%;
  visibility: hidden;
}
#add-lesson-form .answer-field {
  float: left;
  width: 50%;
  height: auto;
}
#add-lesson-form .correct-field {
  float: left;
  width: 30%;
  height: 36px;
  line-height: 36px;
}
#add-lesson-form .remove-answer-button {
  float: left;
  width: 20%;
  height: 36px;
  line-height: 36px;
  padding-top: 8px;
}
#add-lesson-form button.add-question-button {
  float: right;
  margin-top: -51px;
}
#add-lesson-form .list-questions:empty + button.add-question-button {
  margin-top: 7px;
}
#add-lesson-form .add-question-button:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f055";
  left: 1px;
  margin-right: 10px;
  position: relative;
}
#add-lesson-form .add-answer-button,
#add-lesson-form .add-answer-button:active,
#add-lesson-form .add-answer-button:focus,
#add-lesson-form .add-answer-button:hover {
  background: transparent;
  border-radius: 0;
  border: none;
  box-shadow: none;
  color: #01afec;
  margin-top: 10px;
  margin: 0;
  outline: none;
  padding: 0;
  text-shadow: none;
  float: left;
}
#add-lesson-form .add-answer-button:hover {
  text-decoration: underline;
}
#add-lesson-form .weight-field {
  clear: left;
  float: left;
  height: auto;
  width: 50%;
  margin-top: 20px;
}
#add-lesson-form .save-lesson-submit {
  background-color: #21b7dc;
  border: none;
  clear: both;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 10px 29px;
  text-transform: uppercase;
}
.process-ditools-labels .form-type-textfield {
  height: auto;
  position: relative;
}
.process-ditools-labels .form-type-textfield label {
  color: #909192;
  cursor: text;
  font-family: PTSans;
  font-weight: normal;
  padding-left: 15px;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 11px;
  white-space: nowrap;
  width: 100%;
  margin-bottom: 0px;
}
.process-ditools-labels .form-type-textfield .form-text {
  border-radius: 5px;
  box-shadow: none;
  height: 36px;
}
.process-ditools-labels .form-type-textfield .form-text:not(:focus) {
  border-color: #DDDDDD;
}
#block-system-main #to-task .panel-body .text-format-wrapper {
  margin-top: 0px;
}
#block-system-main #to-task-container .panel-body .text-format-wrapper {
  margin-top: 10px;
}
#add-lesson-form #to-task-container button[id*="remove"] {
  background-color: inherit;
  border: none;
  color: #909192;
  font-weight: normal;
  padding: 0px;
  text-transform: inherit;
}
#add-lesson-form #to-task-container button {
  background-color: #21b7dc;
  border: none;
  clear: both;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 29px;
  text-transform: uppercase;
}
#lesson-attach-content #task-switcher-tabs li a,
#lesson-attach-content #presentation-switcher-tabs li a,
#lesson-attach-content #video-switcher-tabs li a {
  background-color: #f6f7f9;
  border-radius: 50% 50%;
  border: 2px solid #0d4795;
  color: #0d4795;
  margin-right: 50px;
  padding: 5px 12px;
}
#lesson-attach-content #task-switcher-tabs li a.selected,
#lesson-attach-content #presentation-switcher-tabs li a.selected,
#lesson-attach-content #video-switcher-tabs li a.selected {
  background-color: #0d4795;
  color: #fff;
}
#lesson-attach-content #task-switcher-tabs li,
#lesson-attach-content #presentation-switcher-tabs li,
#lesson-attach-content #video-switcher-tabs li {
  position: relative;
}
#lesson-attach-content #task-switcher-tabs li a:before,
#lesson-attach-content #presentation-switcher-tabs li a:before,
#lesson-attach-content #video-switcher-tabs li a:before {
  background: #e0e1e3;
  content: '';
  height: 3px;
  left: -55px;
  position: absolute;
  top: 16px;
  width: 60px;
  z-index: -1;
}
#lesson-attach-content #task-switcher-tabs li:first-child a:before,
#lesson-attach-content #presentation-switcher-tabs li:first-child a:before,
#lesson-attach-content #video-switcher-tabs li:first-child a:before {
  display: none;
}
#add-lesson-form .form-wrapper .form-type-managed-file button {
  float: left;
}
#add-lesson-form .form-wrapper .form-type-managed-file label {
  display: block;
}
#to-task ul#task-switcher-tabs {
  margin-bottom: 25px;
}
#to-presentation ul#presentation-switcher-tabs,
#to-video ul#video-switcher-tabs {
  margin-bottom: 15px;
}
#add-lesson-form #edit-actions-delete {
  border: none;
  background: inherit;
  color: #909291;
  padding: 0px 15px;
  vertical-align: middle;
  margin-top: -15px;
}
#to-task .form-wrapper  .row.three-fields-line {
  padding: 15px 0px;
}
#to-task-container #to-task>.form-wrapper .select-task-type {
  margin: 40px 0px;
}
.text-format-wrapper fieldset[id*="edit-attach-tabs-content-task-content"].filter-wrapper {
  display: none;
}
#add-lesson-form fieldset[id*="edit-attach"] .panel-body button[id*="remove"] {
  position: absolute;
  top: 15px;
  right: 5px;
}
#add-lesson-form #to-task fieldset[id*="edit-attach"] .panel-body {
  position: relative;
}
#add-lesson-form #to-task .answer-fields .correct-field .form-type-checkbox label {
  display: block !important;
  margin-top: 10px;
}
#add-lesson-form #to-task div[id*="answers"] .remove-answer-button {
  position: relative;
  padding-bottom: 35px;
}
#to-task-container #to-task .question-fieldset button.add-answer-button {
  background: inherit;
  color: #21b7dc;
  padding: 0px;
  text-transform: inherit;
  margin: 20px 0px;
}
#to-task-container .form-wrapper button.add-question-button {
  margin-top: 0px;
  float: none;
}
#add-lesson-form #edit-info>.panel-body {
  padding: 0px;
}
#add-lesson-form .add-question-button:before {
  display: none;
}
#to-task-container #to-task .list-questions+button.add-question-button {
    margin: 40px 0px;
}
#to-task-container #to-task .description-to-task .form-type-textarea {
  position: relative;
}
#to-task-container #to-task .description-to-task .form-type-textarea label {
  position: absolute;
  top: 11px;
  color: #909192;
  cursor: text;
  font-family: PTSans;
  font-weight: normal;
  padding-left: 15px;
}
#to-task-container #to-task .description-to-task .form-type-textarea textarea {
  resize: none;
}
div[id*="auto-test"] {
  position: relative;
  clear: both;
}
div[id*="to-task"] {
  position: relative;
}
#block-system-main #add-lesson-form div[id*="auto-test"] .list-questions.form-wrapper+button.add-question-button {
  position: absolute;
  bottom: 5px;
  right: 0px;
}
#add-lesson-form div[id*="auto-test"] .weight-field {
  margin-bottom: 30px;
}
#add-lesson-form #to-task-container #to-task {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#add-lesson-form div[id*="auto-test"] .panel-body {
    border-bottom: none;
}
#add-lesson-form #edit-info .text-format-wrapper {
  margin-top: 35px;
}
#add-lesson-form #to-task-container #to-task button[id*="task-add-task"] {
  margin-bottom: 35px;
}
@media (max-width: 767px){
  #main {
    margin-left: 30px;
  }
  #block-system-main {
    width: 100%;
  }
  #to-video .form-type-textfield {
    width: 100%;
  }
  #to-video .form-type-textfield .form-text {
    margin-right: 20px;
  }
  #to-video .form-type-textfield button {
    margin-left: 0px;
  }
  #add-lesson-form .number-field, #add-lesson-form .link-post-field {
    float: none;
    width: 90%;
    clear: both;
    padding: 0px;
  }
  #add-lesson-form .title-field, #add-lesson-form .message-post-field {
    float: none;
    width: 90%;
    padding: 0px;
  }
  #add-lesson-form #edit-info .text-format-wrapper {
    width: 90%;
  }
  #to-task-container .form-wrapper>.process-ditools-labels {
    width: 90%;
  }
   #to-task-container .row.three-fields-line .col {
    width: 100%;
    padding: 0px;
   }
   #add-lesson-form .answer-field {
    width: 60%;
   }
   #add-lesson-form .remove-answer-button {
    float: none;
    clear: both;
    width: 100px;
   }
   #add-lesson-form fieldset[id*="edit-attach"] .panel-body button[id*="remove"] {
    left: 0px;
    position: inherit;
   }
   #to-task .form-wrapper .row.three-fields-line {
    margin-left: 0px;
   }
   #add-lesson-form .three-fields-line .col:first-child + .col {
    padding: 0px;
   }
   #to-task-container #to-task>.form-wrapper .select-task-type {
    margin: 20px 0px 40px;
   }
}