


div.ctools-modal-content .modal-header {
  background: #5A9CB1;
  border-bottom: 1px solid #4E8799;

  margin-top: 0;
  font-weight: 100;
  line-height: 2em;
  color: #fff;
  font-family: arial;
  /*font-family: "museo-sans-condensed";*/
}

div.ctools-modal-content {
  background: #78d3f0;
  color: #555;
  -webkit-transform: scale(1.2);
  z-index: 2;
  height: 400px;
  -webkit-box-shadow: 0 20px 60px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 20px 60px rgba(0,0,0,0.2);
  box-shadow: 0 20px 60px rgba(0,0,0,0.2);
  margin: 0;
  border: none;
  border-radius: 0;
}

div.ctools-modal-content .modal-header {
 border-top-left-radius: 0;
 border-top-right-radius: 0;
}

div.ctools-modal-content form {
  text-align: center;
}

div.ctools-modal-content form .form-submit {
  background: #fff;
  color: #444;
  border-radius: 0;
  padding: 0.7em 3em;
  font-weight: bold;
  text-transform: uppercase;
}

div.ctools-modal-content form .form-submit:hover {
  background: #e3e3e3;
}


div.ctools-modal-content form textarea{
  border-radius: 0;
  box-shadow: none;
  resize: none;
}

div.ctools-modal-content a.close{
  color: #4E8799;
  text-decoration: none;
  font-weight: bold;
  font-family: Arial;
  font-size: 25px;
}
