body * {
  font-family: PTSans;
}
body a {
  color: #00add7;
}
.library {
  font-family: PtSans;
}
.page-library #main {
  top: 0px;
}
#edit-field-library-image {
  border: 3px dashed #e0e1e3;
  clear: both;
  position: relative;
  min-height: 200px;
  min-width: 200px;
  text-align: center;
}
#edit-field-library-image label {
  display: none;
}
#edit-field-library-image .help-block {
  display: none;
}
.library-item .library-preview-picture img {
  border-radius: 5px;
}
/*.page-library #main .page-title h1 {
  margin: 0px;
  height: auto;
  padding: 0px;
}*/
#block-system-main table thead tr th {
  border: none;
  color: #909192;
  padding: 25px 0px 10px;
}
#block-system-main table tr td {
  background-color: #f6f7f9;
  border: none;
  padding: 5px 0px 0px 0px;
}
#block-ul-library-system-uplvldrop-list-library .drop_list_content {
  position: relative;
}
#edit-field-library-image .input-group-btn>span {
  background-color: inherit;
  background-image: url(images/profile-logo-upload.png);
  background-repeat: no-repeat;
  border: none;
  height: 80px;
  text-indent: -9999px;
  margin-bottom: 10px;
  margin-top: 85px;
  padding: 0px;
  width: 80px;
}
#edit-field-library-image .input-group-btn>span:active {
  box-shadow: none;
}
#edit-field-library-image .image-widget-data input.form-control {
  background: inherit;
  border: none;
  box-shadow: none;
  color: #909192;
  margin-bottom: 0;
  text-align: center;
}
#edit-field-library-image .image-widget-data button.btn {
  background: inherit;
  border: none;
  color: #909192;
  font-size: 15pt;
  font-weight: bold;
  margin-bottom: 50px;
}
#edit-field-library-image .form-type-managed-file .image-preview {
  float: none;
  padding: 0px;
  width: 100%;
}
#edit-field-library-image .image-widget .image-preview img {
  display: block;
  height: auto;
  margin: 0 ;
  max-width: 100%;
  min-height: 1px;
  position: relative;
  width: 100%;
}
#edit-field-library-image .image-widget-data .file {
  display: none;
}
#edit-field-library-image .image-widget-data .file-size {
  display: none;
}
#edit-field-library-image  .form-type-managed-file {
  margin-bottom: 0px;
}
#edit-field-library-image .image-widget.form-managed-file .image-widget-data>.btn-danger {
  background-color: inherit;
  background-image: url(images/gtk-close.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
  border: none;
  height: 30px;
  padding: 0px;
  position: absolute;
  right: 5px;
  text-indent: -999px;
  top: 5px;
  width: 30px;
}
form[id*="library-node"] .librarys-inform label {
  position: absolute;
  top: 9px;
  left: 15px;
  z-index: 10;
  color: #909192;
  font-size: 16px;
  font-weight: normal;;
}
#library-node-form #edit-body label {
  display: none;
}
form[id*="library-node"] #edit-field-library-price,
form[id*="library-node"] .librarys-inform .form-item-title,
form[id*="library-node"] .librarys-inform .field-name-field-library-course {
  position: relative;
}
form[id*="library-node"] #edit-field-library-price label {
  position: absolute;
  top: 9px;
  left: 15px;
  z-index: 10;
  color: #909192;
  font-size: 16px;
  font-weight: normal;
}

form[id*="library-node"] #body-add-more-wrapper {
  display: block !important;
}
form[id*="library-node"] input {
  padding: 19px 15px;
  margin-bottom: 20px;
  font-size: 12pt;
}
form[id*="library-node"] .library-field-price {
  padding: 0px;
  margin-bottom: 35px;
}
form[id*="library-node"] .form-actions #edit-submit {
  background-color: #00add7;
  border-color: #00add7;
  color: #fff;
  font-size: 11pt;
  font-weight: bold;
  padding: 9px 25px;
  text-transform: uppercase;
}
form[id*="library-node"] .form-actions #edit-preview,
form[id*="library-node"] .form-actions #edit-custom-delete-library {
  border: none;
  background: inherit;
  color: #979899;
}
form[id*="library-node"] .form-actions {
  padding: 0px 15px;
margin-bottom: 75px;
}
form[id*="library-node"] .setting-title-library {
  font-weight: bold;
  font-size: 1.4em;
  margin: 40px 0px 30px 0px;
}
form[id*="library-node"] .library-images {
  margin-bottom: 17px;
}
.page-node-add-library #main>.page-title h1 {
  padding: 0px 15px;
  margin-bottom: 15px;
}
.page-node-add-library #block-system-main {
  max-width: 960px;
  margin: 0px auto;
}







#section-node-form .form-type-textfield {
  position: relative;
}
#section-node-form .form-type-textfield>label {
  position: absolute;
  top: 9px;
  left: 15px;
  z-index: 10;
  color: #909192;
  font-size: 16px;
  font-weight: normal;
}

#section-node-form .form-type-textfield input#edit-title {
  padding: 19px 15px;
  margin: 20px 0px;
  font-size: 12pt;
}
#section-node-form #edit-body #body-add-more-wrapper {
  display: block !important;
}

#section-node-form .form-type-textfield {
  position: relative;
}
#section-node-form .form-type-textfield>label {
  position: absolute;
  top: 9px;
  left: 15px;
  z-index: 10;
  color: #909192;
  font-size: 16px;
  font-weight: normal;
}

#section-node-form .form-type-textfield input#edit-title {
  padding: 19px 15px;
  margin: 20px 0px;
  font-size: 12pt;
}
#section-node-form #edit-body #body-add-more-wrapper {
  display: block !important;
}
#section-node-form #edit-body #body-add-more-wrapper .form-type-textarea span.field-edit-link {
  display: none;
}
#section-node-form #edit-field-section-reference .form-type-select {
  margin: 45px 0px;
}
#section-node-form #edit-field-section-reference .form-type-select>label {
  display: inline-block;
  width: 20%;
}
#section-node-form #edit-field-section-reference .form-type-select>select {
  display: inline-block;
  width: 45%;
}
#section-node-form #edit-field-section-files legend.panel-heading {
  display: none;
}
#section-node-form #edit-field-section-files fieldset {
  border: none;
  background: inherit;
  box-shadow: none;
}
#section-node-form #edit-field-section-files fieldset .panel-body {
  padding: 0px;
}
#section-node-form #edit-field-section-files fieldset .panel-body .file-widget input[type="text"] {
  background: inherit;
  border: none;
  box-shadow: none;
  display: inline-block;
  float: none;
  width: auto;
  position: absolute;
  min-width: 250px;
}
#edit-field-section-files .form-managed-file {
  display: inline-block;
}
#edit-field-section-files .form-managed-file div.input-group-btn {
  display: inline-block;
  min-width: 120px;
  width: auto;
}
#edit-field-section-files .form-managed-file div.input-group-btn .uplvl-file-field-btn {
  background-color: inherit;
  border: none;
  color: #42c1e0;
  font-size: 12pt;
  padding: 10px 0px;
}
#edit-field-section-files .form-type-mfw-managed-file>label {
  display: none;
}
#edit-field-section-files .form-managed-file span.input-group-btn {
  display: block;
  width: auto;
}
#edit-field-section-files .form-managed-file span.input-group-btn button {
  background-color: #00add7;
  border-color: #00add7;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 4px;
  padding: 9px 25px;
  text-transform: uppercase;
}
#edit-field-section-files .form-type-mfw-managed-file .help-block {
  display: inline-block;
  margin-left: 10px;
  color: #979899;
}
#edit-field-section-files .form-type-mfw-managed-file .help-block>br {
  display: none;
}
#section-node-form #edit-actions button#edit-submit {
  background-color: #00add7;
  border-color: #00add7;
  color: #fff;
  font-size: 11pt;
  font-weight: bold;
  padding: 9px 25px;
  text-transform: uppercase;
}
#section-node-form #edit-actions button#edit-preview,
#section-node-form #edit-actions button[id*="delete"] {
  border: none;
  background: inherit;
  color: #979899;
}
#section-node-form #edit-actions {
  border-top: 2px solid #ccc;
  margin-bottom: 80px;
  margin-top: 55px;
  padding-top: 30px;
}


.library_content_block {
  display: inline-block;
  width: 66%;
  padding-right: 20px;
  margin-right: 4%;
}
.library-information {
  display: inline-block;
  float: right;
  vertical-align: top;
  width: 30%;
}
.library-item {
  background: #fff;
  color: #909192;
  display: block;
  margin: 30px 0;
  width: 100%;
}
.library-title a {
  color: black;
  font-weight: bold;
}
.library-item .preview-library {
  display: inline-block;
  vertical-align: top;
  padding-left: 15px;
  min-width: 300px;
  max-width: 60%;
}
.library-preview-picture {
  display: inline-block;
}
#block-ul-library-system-library-list {
  margin: 0px auto;
  padding-top: 0px;
}
.library-item .preview-library .library-title {
    margin: 20px 0px 10px 0px;
}
#block-system-main .l_view_conten .library_title {
  font-family: PtSans;
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0px;
  text-transform: uppercase;
}
#block-system-main .library_content {
  overflow: hidden;
}
.library-item .preview-library .library-price {
  margin-top: 35px;
  margin-bottom: 20px;
}
.library-item .preview-library .library-preview-cource {
  margin: 15px 0px 20px 0px;
}
.library_course,
.library_price {
  color: #909192;
  font-size: 15px;
  margin: 12px 0px;;
}
.library_course>.cource,
.library_price>.price-count {
  color: black;
}
.edit_links .edit_link {
  display: inline-block;
  width: auto;
}
.edit-library-button>a:hover,
.delete-library-button>a:hover,
.library-user>a:hover {
  text-decoration: none;
  color: #909192;
}
.edit-library-button>a,
.delete-library-button>a,
.library-user>a {
  box-sizing: border-box;
  color: #909192;
  font-size: 15px;
  padding: 10px 15px;
}
.edit-library-button>a:hover {
  color: #fff;
}
.edit-library-button>a {
  background: #00add7;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.l_view_conten {
  margin-bottom: 30px;
  padding-bottom: 25px;
}
.library_img img {
  border-radius: 5px;
  height: 170px;
}
#block-system-main .sections_content {
  border-top: 2px solid #e0e1e3;
  margin-top: 35px;
}
#section-node-form #edit-field-section-reference .form-type-select>label {
  display: inline-block;
  width: 20%;
}
#section-node-form #edit-field-section-reference .form-type-select>select {
  display: inline-block;
  width: 45%;
}
#section-node-form #edit-field-section-files legend.panel-heading {
  display: none;
}
#section-node-form #edit-field-section-files fieldset {
  border: none;
  background: inherit;
  box-shadow: none;
}
#section-node-form #edit-field-section-files fieldset .panel-body {
  padding: 0px;
}
#section-node-form #edit-field-section-files fieldset .panel-body .file-widget input[type="text"] {
  background: inherit;
  border: none;
  box-shadow: none;
  display: inline-block;
  float: none;
  width: auto;
  position: absolute;
  min-width: 250px;
}
#edit-field-section-files .form-managed-file {
  display: inline-block;
}
#edit-field-section-files .form-managed-file div.input-group-btn {
  display: inline-block;
  min-width: 120px;
  width: auto;
}
#edit-field-section-files .form-managed-file div.input-group-btn .uplvl-file-field-btn {
  background-color: inherit;
  border: none;
  color: #42c1e0;
  font-size: 12pt;
  padding: 10px 0px;
}
#edit-field-section-files .form-type-mfw-managed-file>label {
  display: none;
}
#edit-field-section-files .form-managed-file span.input-group-btn {
  display: block;
  width: auto;
}
#edit-field-section-files .form-managed-file span.input-group-btn button {
  background-color: #00add7;
  border-color: #00add7;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 4px;
  padding: 9px 25px;
  text-transform: uppercase;
}
#edit-field-section-files .form-type-mfw-managed-file .help-block {
  display: inline-block;
  margin-left: 10px;
  color: #979899;
}
#edit-field-section-files .form-type-mfw-managed-file .help-block>br {
  display: none;
}
#section-node-form #edit-actions button#edit-submit {
  background-color: #00add7;
  border-color: #00add7;
  color: #fff;
  font-size: 11pt;
  font-weight: bold;
  padding: 9px 25px;
  text-transform: uppercase;
}
#section-node-form #edit-actions button#edit-preview,
#section-node-form #edit-actions button[id*="delete"] {
  border: none;
  background: inherit;
  color: #979899;
}
#section-node-form #edit-actions {
  border-top: 2px solid #ccc;
  margin-bottom: 80px;
  margin-top: 55px;
  padding-top: 30px;
}
