#better-messages-default #messages-inner {
	position:relative;
	width:100%;
}

#better-messages-default .messages-label {
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	line-height:15px;
	margin-bottom:3px;
	padding:5px 10px;
	text-transform:uppercase;
}
#better-messages-default table {
	width:100%;
	background:transparent !important;
}
#better-messages-default table, #better-messages-default tbody, #better-messages-default td {
	border-collapse:collapse;
	margin:0;
	padding:0;
	border:0 !important;
}
#better-messages-default .tl, #better-messages-default .tr, #better-messages-default .bl, #better-messages-default .br {
	height:10px;
	overflow:hidden;
	padding:0;
	width:10px;
}
#better-messages-default .body {
	background-color:#FFFFFF;
	padding:5px;
}
#better-messages-default .footer {
	border-top:1px solid #DDDDDD;
	margin-top:10px;
	padding-top:5px;
	text-align:right;
}
#better-messages-default .b { background:transparent url(images/b.png) repeat; }
#better-messages-default .tl { background:transparent url(images/tl.png) repeat; }
#better-messages-default .tr { background:transparent url(images/tr.png) repeat; }
#better-messages-default .br { background:transparent url(images/br.png) repeat; }
#better-messages-default .bl { background:transparent url(images/bl.png) repeat; }

#better-messages-default a.message-close {
	background:transparent url(images/closelabel.gif) no-repeat;
	display:block;
	float:right;
	height:22px;
	width:66px;
}

#better-messages-default span.message-timer {
  float:left;
  line-height:22px;
}

#better-messages-default .messages {padding:10px 0px 10px 45px;margin-bottom:5px;overflow:auto;max-height:400px;}
#better-messages-default div.status {background:transparent url(images/status.png) no-repeat 5px 5px;border:1px solid #78d3f0;}
#better-messages-default div.error {background:transparent url(images/error.png) no-repeat 5px 5px;border:1px solid #DD7777;}
#better-messages-default div.warning {background:transparent url(images/warning.png) no-repeat 5px 5px;border:1px solid #F0C020;}

h2.error {background-color:#DD7777;}
h2.warning {background-color:#F0C020;}
h2.status {background-color:#78d3f0;}
