
#course-shop-search-form #first-wrapper,
#course-shop-search-form #second-wrapper {
  display: inline-block;
}

#course-shop-search-form {
  position: relative;
}

#course-shop-search-form .fieldset-wrapper {
  position: absolute;
}

.page-courses-shop #block-system-main {
  min-height: 220px;
}

#course-shop-search-form #edit-search > div,
#course-shop-search-form #edit-search{
	height: 95px;
	width: 1000px;
	clear: both;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

#course-shop-search-form{
	height: 95px;
	width: 1000px;
	margin: 0 auto;
	clear: both;
	position: relative;
	background: rgb(245,245,245); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(245,245,245,1) 1%, rgba(237,237,237,1) 48%, rgba(227,227,227,1) 63%, rgba(224,224,224,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,rgba(245,245,245,1)), color-stop(48%,rgba(237,237,237,1)), color-stop(63%,rgba(227,227,227,1)), color-stop(100%,rgba(224,224,224,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(245,245,245,1) 1%,rgba(237,237,237,1) 48%,rgba(227,227,227,1) 63%,rgba(224,224,224,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(245,245,245,1) 1%,rgba(237,237,237,1) 48%,rgba(227,227,227,1) 63%,rgba(224,224,224,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(245,245,245,1) 1%,rgba(237,237,237,1) 48%,rgba(227,227,227,1) 63%,rgba(224,224,224,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(245,245,245,1) 1%,rgba(237,237,237,1) 48%,rgba(227,227,227,1) 63%,rgba(224,224,224,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e0e0e0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	-webkit-box-shadow: inset 0px 0px 7px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    inset 0px 0px 7px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         inset 0px 0px 7px 0px rgba(50, 50, 50, 0.3);
}

#edit-search > legend{
	position: absolute;
	top: 0px;
	left: 0px;
	background: rgb(136,136,136);
	background: -moz-linear-gradient(top,  rgba(136,136,136,1) 0%, rgba(129,129,129,1) 18%, rgba(122,122,122,1) 37%, rgba(103,103,103,1) 60%, rgba(108,108,108,1) 82%, rgba(113,113,113,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(136,136,136,1)), color-stop(18%,rgba(129,129,129,1)), color-stop(37%,rgba(122,122,122,1)), color-stop(60%,rgba(103,103,103,1)), color-stop(82%,rgba(108,108,108,1)), color-stop(100%,rgba(113,113,113,1)));
	background: -webkit-linear-gradient(top,  rgba(136,136,136,1) 0%,rgba(129,129,129,1) 18%,rgba(122,122,122,1) 37%,rgba(103,103,103,1) 60%,rgba(108,108,108,1) 82%,rgba(113,113,113,1) 100%);
	background: -o-linear-gradient(top,  rgba(136,136,136,1) 0%,rgba(129,129,129,1) 18%,rgba(122,122,122,1) 37%,rgba(103,103,103,1) 60%,rgba(108,108,108,1) 82%,rgba(113,113,113,1) 100%);
	background: -ms-linear-gradient(top,  rgba(136,136,136,1) 0%,rgba(129,129,129,1) 18%,rgba(122,122,122,1) 37%,rgba(103,103,103,1) 60%,rgba(108,108,108,1) 82%,rgba(113,113,113,1) 100%);
	background: linear-gradient(to bottom,  rgba(136,136,136,1) 0%,rgba(129,129,129,1) 18%,rgba(122,122,122,1) 37%,rgba(103,103,103,1) 60%,rgba(108,108,108,1) 82%,rgba(113,113,113,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#888888', endColorstr='#717171',GradientType=0 );
	height: 35px;
	width: 149px;
	text-align: center;
	color: #FFFFFF;
	border-top-right-radius:7px;
	border-bottom-right-radius: 7px; 
	font-size:21px;
	font-weight: bold;
}

body.page-courses-shop #edit-search > legend > span{
	color: #FFFFFF;
}

body.page-courses-shop #edit-search select{
	width: 206px;
	height: 22px;
	margin-left: 5px;
	padding-top: 0px;
	position: relative;
	top: 2px;
	float: right;
}

body.page-courses-shop #edit-search div.form-type-select > label{
	font-size: 18px;
	float: left;
}

body.page-courses-shop #edit-search div.form-type-select{
	clear: both;
	overflow: hidden;
}

body.page-courses-shop #edit-search #edit-submit{
	padding-top: 0px;
	position: absolute;
	height: 23px;
	width: 117px;
	top: 54px;
	left: 31px;
	border-radius: 10px;
	background: rgb(114,187,236);
	background: -moz-linear-gradient(top,  rgba(114,187,236,1) 0%, rgba(88,169,228,1) 18%, rgba(78,157,219,1) 37%, rgba(60,130,194,1) 61%, rgba(50,116,182,1) 83%, rgba(43,106,172,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(114,187,236,1)), color-stop(18%,rgba(88,169,228,1)), color-stop(37%,rgba(78,157,219,1)), color-stop(61%,rgba(60,130,194,1)), color-stop(83%,rgba(50,116,182,1)), color-stop(100%,rgba(43,106,172,1)));
	background: -webkit-linear-gradient(top,  rgba(114,187,236,1) 0%,rgba(88,169,228,1) 18%,rgba(78,157,219,1) 37%,rgba(60,130,194,1) 61%,rgba(50,116,182,1) 83%,rgba(43,106,172,1) 100%);
	background: -o-linear-gradient(top,  rgba(114,187,236,1) 0%,rgba(88,169,228,1) 18%,rgba(78,157,219,1) 37%,rgba(60,130,194,1) 61%,rgba(50,116,182,1) 83%,rgba(43,106,172,1) 100%);
	background: -ms-linear-gradient(top,  rgba(114,187,236,1) 0%,rgba(88,169,228,1) 18%,rgba(78,157,219,1) 37%,rgba(60,130,194,1) 61%,rgba(50,116,182,1) 83%,rgba(43,106,172,1) 100%);
	background: linear-gradient(to bottom,  rgba(114,187,236,1) 0%,rgba(88,169,228,1) 18%,rgba(78,157,219,1) 37%,rgba(60,130,194,1) 61%,rgba(50,116,182,1) 83%,rgba(43,106,172,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72bbec', endColorstr='#2b6aac',GradientType=0 );
	font: 13px "Myriad Pro";
	color: #FFFFFF;
}

body.page-courses-shop #edit-search #first-wrapper > div.form-item.form-type-select.form-item-first-discipline > label,
body.page-courses-shop #edit-search #first-wrapper > div.form-item.form-type-select.form-item-first-pupil > label{
	margin-left: 207px;
}

body.page-courses-shop #edit-search #first-wrapper > div.form-item.form-type-select.form-item-first-discipline > label{
	margin-right: 35px;
}

body.page-courses-shop #edit-search #second-wrapper{
	margin-left: 31px;
}

body.page-courses-shop #edit-search #second-wrapper > div.form-item.form-type-select.form-item-second-price > label{
	margin-right: 9px;
}

body.page-courses-shop #block-system-main{
	min-height: 100px;
	margin-bottom: 37px;
}

body.page-courses-shop .fivestar-widget div.description,
body.page-courses-shop div.course_product_content div.field-type-fivestar div.field-label{
	display: none;
}

.product_course{
	width: 100%;
	margin: 0 auto;
	margin-bottom: 45px;
	clear: both;
	overflow: hidden;
	background: url('./images/top_block_shadow.png') no-repeat center top,url('./images/bot_block_shadow.png') no-repeat center bottom;
	padding-top: 9px;
	padding-bottom: 13px;
	position: relative;
}

.product_course div.left_block{
	float: left;
	width: 160px;
	text-align: center;
}

div.left_block div.left_block_vote{
	display: inline-block;
	position: relative;
	top: 8px;
}

.product_course div.left_block div.left_block_img{
	width: 144px;
	height: 144px;
	background: url('./images/top_img_shadow.png') no-repeat center top,url('./images/bot_img_shadow.png') no-repeat center bottom;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding-left: 10px;
}

.product_course div.left_block div.left_block_img img{
	display: inline-block;
}

.product_course div.left_block div.left_block_id{
	font-size: 12px;
	color: #494949;
	margin: auto;
	margin-top: 8px;
	text-align: center;
}

.product_course div.right_block{
	float: right;
	width: 817px;
	padding-top: 5px;
	color: #3B81C1;
	font-size: 11px;
}

.product_course div.right_block > div{
	clear: both;
	overflow: hidden;
	padding-bottom: 14px;
	padding-top: 5px;
}

.product_course div.right_block > div div.study_direction,
div.right_block > div div.ed_inst,
.product_course div.right_block > div div.author{
	float: left;
	margin-right: 24px;
}

.product_course div.right_block > div div.study_direction span,
.product_course div.right_block > div div.ed_inst span,
.product_course div.right_block > div div.author span{
	margin: 0px 12px;
}

.product_course div.right_block div.wrapper{
	padding-top: 18px;
	background: url('./images/top_inf_shadow.png') no-repeat center top;
}

.product_course div.right_block div.wrapper div.description{
	font-size: 13px;
	color: #7B7B7B;
	margin-bottom: 23px;
}

form.node-course_product-form div.right_form_wrapper div.field-name-body div.form-type-textarea label,
form.node-course_product-form #node_course_product_form_group_right_form_wrapper div.form-item-title label,
.product_course div.right_block div.wrapper div.description span,
.product_course div.right_block div.wrapper div.kurs_name span{
	font-size: 17px;
	color: #000000;
	margin-right: 5px;
}

.product_course div.right_block div.wrapper div.kurs_name{
	font-size: 17px;
}

.product_course div.right_block div.wrapper div.big_description > a{
	font-size: 14px;
}

.product_course div.right_block div div.edit a{
	position: absolute;
	right: 2px;
	color: transparent;
	width: 31px;
	height: 13px;
	background: url('./images/pencil.png');
}

form.node-course_product-form,
.product_course form.edit_form{
	/*height: 260px;*/
	border: 2px solid #C7C7C7;
	padding:22px 25px 25px 25px;  
}

div.left_block div.left_block_img img{
	border-radius: 15px;
	width: 120px;
	height: 120px;
}

form.node-course_product-form div.right_form_wrapper div.form-item-title{
	margin-top:35px;
}

.product_course form.edit_form div.right_form_wrapper div.form-item-right-form-wrapper-title,
.product_cours div.right_form_wrapper div.form-item.form-type-textfield.form-item-right-form-wrapper-title{
	margin-top:75px;
}

form.node-course_product-form #node_course_product_form_group_form_wrapper,
.product_course form.edit_form > div{
	background: url('./images/top_block_shadow.png') no-repeat center top,url('./images/bot_block_shadow.png') no-repeat center bottom;
	padding-top: 5px;
	padding-bottom: 12px;
	clear: both;
	overflow: hidden;
	position: relative;
} 

.product_course form.edit_form > div div.left_form_wrapper{
	float: left;
	width: 140px;
	text-align: center;
}

.product_course form.edit_form div div.left_form_wrapper #edit-left-form-wrapper-file-fid-ajax-wrapper > div > div > img{
	border-radius: 15px;
	width: 120px;
	height: 120px;
	margin-bottom: 15px;
}

#edit-left-form-wrapper-file-fid-ajax-wrapper > div > div{
	background: url('./images/top_img_shadow.png') no-repeat center top,url('./images/bot_img_shadow.png') no-repeat center 145px;
	padding-top: 15px;
}

form.node-course_product-form div.right_form_wrapper div.field-name-body div.form-type-textarea label span,
.product_course form.edit_form > div #edit-left-form-wrapper-file-fid-ajax-wrapper > div > div > span.file{
	display: none;
}

.product_course form.edit_form > div div.right_form_wrapper{
	float: right;
	width: 790px;
	background: url('./images/top_inf_shadow.png') no-repeat center 55px;
}

form.node-course_product-form div.image-widget-data input.form-submit,
form.node-course_product-form div.image-widget-data span.ui-button,
form.node-course_product-form div div.form-actions input,
.product_course form.edit_form input[type="submit"],
.product_course form.edit_form > div #edit-left-form-wrapper-file-fid-ajax-wrapper #edit-left-form-wrapper-file-fid-remove-button{
	height: 23px;
	width: 117px;
	border-radius: 10px;
	background: rgb(114,187,236);
	background: -moz-linear-gradient(top,  rgba(114,187,236,1) 0%, rgba(88,169,228,1) 18%, rgba(78,157,219,1) 37%, rgba(60,130,194,1) 61%, rgba(50,116,182,1) 83%, rgba(43,106,172,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(114,187,236,1)), color-stop(18%,rgba(88,169,228,1)), color-stop(37%,rgba(78,157,219,1)), color-stop(61%,rgba(60,130,194,1)), color-stop(83%,rgba(50,116,182,1)), color-stop(100%,rgba(43,106,172,1)));
	background: -webkit-linear-gradient(top,  rgba(114,187,236,1) 0%,rgba(88,169,228,1) 18%,rgba(78,157,219,1) 37%,rgba(60,130,194,1) 61%,rgba(50,116,182,1) 83%,rgba(43,106,172,1) 100%);
	background: -o-linear-gradient(top,  rgba(114,187,236,1) 0%,rgba(88,169,228,1) 18%,rgba(78,157,219,1) 37%,rgba(60,130,194,1) 61%,rgba(50,116,182,1) 83%,rgba(43,106,172,1) 100%);
	background: -ms-linear-gradient(top,  rgba(114,187,236,1) 0%,rgba(88,169,228,1) 18%,rgba(78,157,219,1) 37%,rgba(60,130,194,1) 61%,rgba(50,116,182,1) 83%,rgba(43,106,172,1) 100%);
	background: linear-gradient(to bottom,  rgba(114,187,236,1) 0%,rgba(88,169,228,1) 18%,rgba(78,157,219,1) 37%,rgba(60,130,194,1) 61%,rgba(50,116,182,1) 83%,rgba(43,106,172,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72bbec', endColorstr='#2b6aac',GradientType=0 );
	font: 13px "Myriad Pro";
	color: #FFFFFF;
	padding-top: 0px;
}

.product_course form.edit_form div.right_form_wrapper div.form-item.form-type-select.form-item-right-form-wrapper-study-direction > label,
.product_course form.edit_form div.right_form_wrapper div.form-item.form-type-textfield.form-item-right-form-wrapper-educational-institution > label,
.product_course form.edit_form div.right_form_wrapper div.form-item.form-type-textfield.form-item-right-form-wrapper-author > label{
	float: left;
	font-size: 11px;
	color: #3B81C1;
	margin-right: 5px;
	padding-top: 5px;
}

.product_course form.edit_form div.right_form_wrapper div.form-item.form-type-select.form-item-right-form-wrapper-study-direction > label span,
.product_course form.edit_form div.right_form_wrapper div.form-item.form-type-textfield.form-item-right-form-wrapper-educational-institution > label span,
.product_course form.edit_form div.right_form_wrapper div.form-item.form-type-textfield.form-item-right-form-wrapper-author > label span{
	margin-left: 8px;
}

form.node-course_product-form select,
form.node-course_product-form  input,
.product_course form.edit_form div.right_form_wrapper input,
.product_course form.edit_form div.right_form_wrapper select{
	height: 24px;
	color: #767676;
	font-size: 11px;
}

.product_course form.edit_form div.right_form_wrapper div.form-item.form-type-select.form-item-right-form-wrapper-study-direction,
.product_course form.edit_form div.right_form_wrapper div.form-item.form-type-textfield.form-item-right-form-wrapper-educational-institution,
.product_course form.edit_form div.right_form_wrapper div.form-item.form-type-textfield.form-item-right-form-wrapper-author{
	float: left;
	position: relative;
}

.product_course form.edit_form div.right_form_wrapper div.form-item.form-type-textfield.form-item-right-form-wrapper-author{
	clear: right;
}

form.node-course_product-form div.right_form_wrapper div.form-item-field-cp-study-direction-und select.form-select,
form.node-course_product-form div.right_form_wrapper div.field-name-field-cp-educational-institution input,
form.node-course_product-form div div.field-name-field-cp-study-direction select
form.node-course_product-form div.field-name-field-cp-educational-institution div input,
.product_course form.edit_form div.right_form_wrapper div.form-item.form-type-textfield.form-item-right-form-wrapper-educational-institution input,
.product_course form.edit_form div.right_form_wrapper div.form-item.form-type-select.form-item-right-form-wrapper-study-direction select{
	width: 130px;
	margin-right:18px; 
}

.product_course form.edit_form div.right_form_wrapper div.form-item.form-type-select.form-item-right-form-wrapper-study-direction:after,
.product_course form.edit_form div.right_form_wrapper div.form-item.form-type-textfield.form-item-right-form-wrapper-educational-institution:after,
.product_course form.edit_form div.right_form_wrapper div.form-item.form-type-textfield.form-item-right-form-wrapper-author:after{
	content: ']';
	color: #767676;
	font-size: 11px;
	position: absolute;
	right: 5px;
	bottom: 6px;
}

.product_course form.edit_form div.right_form_wrapper div.form-item.form-type-textfield.form-item-right-form-wrapper-author:after{
	right: -15px;
}

form.node-course_product-form div.right_form_wrapper div.field-name-field-cp-author input,
.product_course form.edit_form div.right_form_wrapper div.form-item.form-type-textfield.form-item-right-form-wrapper-author input{
	width: 202px;
}

.product_course form.edit_form div.right_form_wrapper > div.form-item.form-type-textarea.form-item-right-form-wrapper-body > label,
.product_course form.edit_form div.right_form_wrapper > div.form-item.form-type-textfield.form-item-right-form-wrapper-title > label{
	font-size: 17px;
	color: #000000;
	margin-right: 5px;
}

form.node-course_product-form #node_course_product_form_group_right_form_wrapper div.form-item-title label,
.product_course form.edit_form div.right_form_wrapper > div.form-item.form-type-textfield.form-item-right-form-wrapper-title > label{
	float: left;
}

.product_course form.edit_form div.right_form_wrapper > div.form-item.form-type-textfield.form-item-right-form-wrapper-title input{
	width: 705px;
}

.product_course form.edit_form div.right_form_wrapper #edit-right-form-wrapper-body{
	color: #767676;
	font-size: 11px;
}

form.node-course_product-form div.right_form_wrapper div.field-name-field-cp-price,
.product_course form.edit_form div.right_form_wrapper div.form-item.form-type-select.form-item-right-form-wrapper-search-price{
	float: right;
	font-size: 18px;
	color: #000000;
	font-weight: normal;
}

form.node-course_product-form div.right_form_wrapper div.field-name-field-cp-price label,
.product_course form.edit_form div.right_form_wrapper div.form-item.form-type-select.form-item-right-form-wrapper-search-price label{
	float: left;
	margin-right: 10px;
	font-weight: normal;
	font-size: 18px;
	color: #000000;
}

form.node-course_product-form div.right_form_wrapper div.field-name-field-cp-price select,
.product_course form.edit_form div.right_form_wrapper div.form-item.form-type-select.form-item-right-form-wrapper-search-price select{
	width: 206px;
}

.product_course form.edit_form div > input[type="submit"]{
	position: absolute;
	left: 10px;
	bottom: 25px;
}

.product_course form.edit_form div div.multifield-thumbnail input[type="submit"]{
	position: static;
}

#block-ul-course-shop-course-product-list div.content div div.add_button a{
	border-radius: 10px;
	background: rgb(114,187,236);
	background: -moz-linear-gradient(top,  rgba(114,187,236,1) 0%, rgba(88,169,228,1) 18%, rgba(78,157,219,1) 37%, rgba(60,130,194,1) 61%, rgba(50,116,182,1) 83%, rgba(43,106,172,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(114,187,236,1)), color-stop(18%,rgba(88,169,228,1)), color-stop(37%,rgba(78,157,219,1)), color-stop(61%,rgba(60,130,194,1)), color-stop(83%,rgba(50,116,182,1)), color-stop(100%,rgba(43,106,172,1)));
	background: -webkit-linear-gradient(top,  rgba(114,187,236,1) 0%,rgba(88,169,228,1) 18%,rgba(78,157,219,1) 37%,rgba(60,130,194,1) 61%,rgba(50,116,182,1) 83%,rgba(43,106,172,1) 100%);
	background: -o-linear-gradient(top,  rgba(114,187,236,1) 0%,rgba(88,169,228,1) 18%,rgba(78,157,219,1) 37%,rgba(60,130,194,1) 61%,rgba(50,116,182,1) 83%,rgba(43,106,172,1) 100%);
	background: -ms-linear-gradient(top,  rgba(114,187,236,1) 0%,rgba(88,169,228,1) 18%,rgba(78,157,219,1) 37%,rgba(60,130,194,1) 61%,rgba(50,116,182,1) 83%,rgba(43,106,172,1) 100%);
	background: linear-gradient(to bottom,  rgba(114,187,236,1) 0%,rgba(88,169,228,1) 18%,rgba(78,157,219,1) 37%,rgba(60,130,194,1) 61%,rgba(50,116,182,1) 83%,rgba(43,106,172,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72bbec', endColorstr='#2b6aac',GradientType=0 );
	font: 13px "Myriad Pro";
	color: #FFFFFF;
	padding: 4px 35px;
	text-decoration: none;
}

form.node-course_product-form div.field-type-image div.description,
form.node-course_product-form > div > div.vertical-tabs.clearfix{
	display: none;
}

form.node-course_product-form textarea{
	width: 770px;
	height: 100px;
}


form.node-course_product-form div.field-type-image{
	width: 140px;
	float: left;
	background: url('./images/top_img_shadow.png') no-repeat center top,url('./images/bot_img_shadow.png') no-repeat center bottom;
	margin-top: 20px;
}

form.node-course_product-form div.image-widget-data span.ui-button{
	padding-bottom: 3px;
	margin-top: 10px;
}


form.node-course_product-form div.field-name-field-cp-educational-institution div label,
form.node-course_product-form div.field-name-field-cp-author div label,
form.node-course_product-form div.field-name-field-cp-study-direction div label{
	float: left;
	padding-top: 5px;
	font-size: 11px;
	color: #3B81C1;
	margin-right: 7px;
}

div#node_course_product_form_group_form_wrapper,
form.node-course_product-form{
	clear: both;
	overflow: hidden;
}

form.node-course_product-form h3{
	display: none;
}

#node_course_product_form_group_right_form_wrapper{
	float: right;
	width: 770px;
	background: url('./images/top_inf_shadow.png') no-repeat center 55px;
}

form.node-course_product-form div.right_form_wrapper div.field-name-field-cp-study-direction,
form.node-course_product-form div.right_form_wrapper div.field-name-field-cp-educational-institution{
	float: left;
}

form.node-course_product-form div.right_form_wrapper div.form-item-title input{
	width: 625px;
}

#block-ul-course-shop-course-product-list > div.content > div > div.add_button{
	margin-bottom: 15px;
}

#edit-field-cp-image-und-0-ajax-wrapper > div > div.image-widget.form-managed-file.clearfix > div > div{
	text-align: center;
}

#edit-field-cp-image-und-0-ajax-wrapper div #edit-field-cp-image-und-0-upload-button{
	margin-left: 10px;
	margin-top: 10px;
}

form.node-course_product-form div.form-actions input{
	margin-left: 10px;
}

#course-shop-search-form .ajax-progress {
	position: absolute;
	left: 10px;
	bottom: 2px;
}

form.node-course_product-form div div.group-form-wrapper div.field-name-field-cp-image div.form-type-managed-file > label,
form.edit_form .ajax-progress{
	display: none;
}

form.node-course_product-form div div.group-form-wrapper div.field-name-field-cp-image div.input-prepend{
	background-image: url("images/save-img-min2.png");
	background-position: center center;
	background-repeat: no-repeat;
	height: 81px;
	width: 140px;	
}

form.node-course_product-form div div.group-form-wrapper div.field-name-field-cp-image div.form-managed-file div.image-widget-data span,
form.node-course_product-form div div.group-form-wrapper div.field-name-field-cp-image div.input-prepend span{
	display: none;
}

form.node-course_product-form div div.group-form-wrapper div.field-name-field-cp-image div.form-managed-file div.image-widget-data input{
	margin-left: 10px;
}

form.node-course_product-form div div.group-form-wrapper div.field-name-field-cp-image div.form-managed-file div.image-preview {
	margin-left: 20px;
}

body.page-courses-shop div#squeeze h1{
	display: none;
}