@font-face {
  font-family: AdelleCyrillic;
  src: url(fonts/Adelle Cyrillic Bold Italic.ttf);
}
@font-face {
  font-family: "PT Sans";
  font-weight: bold;
  src: url(fonts/pt-sans.bold.ttf) format("truetype");
}
/*@font-face {
  font-family: PtSans;
  src: url(fonts/pt-sans.regular.ttf);
}*/
body * {
  font-family: AdelleCyrillic;
}
body {
  min-width: 100% !important;
  width: 100%;
}

.not-logged-in.page-user .navbar-header {
  display: none;
}
.front_page .front_menu nav.navbar {
  background-color: white;
  border: none;
  z-index: 99999;
  max-width: 92%;
  margin: 0px auto;
}
.front_menu .navbar-nav{
  margin: 20px 0 0 0;
}
ul.footer li a,
.front_page .front_menu .navbar-nav li a {
  color: black;
  font-weight: bold;
  padding-bottom: 30px;
  padding-top: 30px;
  padding: 10px 10px;
  text-transform: uppercase;
}
.front_page .front_menu .navbar-nav li a.go {
  background-color: #236bff;
  color: white;
  display: block;
  padding: 10px 0;
  vertical-align: middle;
  width: 100px;
}
.front_page .front_menu .register {
  float: right;
}
.front_page header#Jvideo {
  position: inherit;
  height: auto;
}
.front_page header#Jvideo .yb-video {
  margin-top: 85px;
}
.front_page #Jcontact,
.front_page #Jprice,
.front_page #Jcool,
.front_page header {
  background: url(../img/bg.png);
}
.front_page .yb-video {
  margin-top: 44px;
}
.front_page .margin-tb-30 {
  margin-bottom: 30px;
  margin-top: 30px;
}
.front_page .margin-tb-40 {
  margin-bottom: 40px;
  margin-top: 40px;
}
.front_page #Jreshen .margin-tb-50 {
  margin-bottom: 50px;
  margin-top: 50px;
}
.front_page .margin-tb-60 {
  margin-bottom: 60px;
  margin-top: 60px;
}
#Jvideo {
  color: #ffffff;
}
#Jcontact .text,
#Jlist .text,
#Jfact .text,
#Jvideo .text {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
#Jlist .text {
  color: #000;
}
#Jlist .text.grey {
  color: #9e9fa0;
  text-transform: none;
}
.tryn-block {
  display: inline-block;
  height: 81px;
  vertical-align: top;
}
.tryn-block .tryn {
  background-color: #ff104c;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 20px;
  text-transform: uppercase;
  word-wrap: break-word;
}
.tryn-block.button:after,
.tryn-block.button:before {
  display: none;
}
#Jvideo .button_text {
  margin: 40px 0px;
}
#Jvideo div.text {
  margin: 30px 0;
}
#Jvideo .arrow {
  width: 50px;
  height: 70px;
}
.tryn-block:before {
  background: url(../img/2_1.png) no-repeat;
  content: '';
  display: inline-block;
  height: 70px;
  vertical-align: middle;
  width: 50px;
}
#toTop {
  background: #fff;
  border-radius: 7px;
  border: 2px solid #0ac9e0;
  bottom: 60px;
  box-shadow:         0px 0px 15px 0px rgba(161, 136, 55, 0.75);
  color: #0ac9e0;
  cursor: pointer;
  display: none;
  font-family: verdana;
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  position: fixed;
  right: 10px;
  text-align: center;
  width: 100px;
  -moz-box-shadow:    0px 0px 15px 0px rgba(161, 136, 55, 0.75);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(161, 136, 55, 0.75);
}
.tryn-block:after {
  background: url(../img/2_2.png) no-repeat;
  content: '';
  display: inline-block;
  height: 70px;
  margin-left: 10px;
  vertical-align: middle;
  width: 50px;
}
#Jproblem .problem-item {
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
}
.col-centered {
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
}
.centred {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}
hr.red {
  background-color: #ff0544;
  border: 1px solid;
  color: #ff0544;
  margin: 20px auto;
  width: 100px;
}
hr.red.bold {
  border: 2px solid;
  width: 150px;
}
hr.blue {
  width: 200px;
  margin: 20px auto;
  color: #a3e7f8;
  background-color: #ff0544;
  border: 3px solid;
}
h2.sub-title {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 60px;
}
.front_page section .bg-picture,
.front_page header .bg-picture {
  text-align: center;
  background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(68,180,225,0.7) 46%, rgba(54,179,223,1) 57%, rgba(0,174,216,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,185,232,0)), color-stop(46%,rgba(68,180,225,0.7)), color-stop(57%,rgba(54,179,223,1)), color-stop(100%,rgba(0,174,216,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(68,180,225,0.7) 46%,rgba(54,179,223,1) 57%,rgba(0,174,216,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(68,180,225,0.7) 46%,rgba(54,179,223,1) 57%,rgba(0,174,216,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(68,180,225,0.7) 46%,rgba(54,179,223,1) 57%,rgba(0,174,216,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(68,180,225,0.7) 46%,rgba(54,179,223,1) 57%,rgba(0,174,216,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#00aed8',GradientType=0 ); /* IE6-9 */
}
.front_page section .bg-picture2,
.front_page header .bg-picture2 {
  background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(28,86,160,1) 87%, rgba(13,71,149,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,185,232,0)), color-stop(87%,rgba(28,86,160,1)), color-stop(100%,rgba(13,71,149,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(28,86,160,1) 87%,rgba(13,71,149,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(28,86,160,1) 87%,rgba(13,71,149,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(28,86,160,1) 87%,rgba(13,71,149,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(28,86,160,1) 87%,rgba(13,71,149,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#0d4795',GradientType=0 ); /* IE6-9 */
}
#Jfeadback,
#Jfact,
#Jreshen {
  background: url(../img/bg2.png);
  height: auto;
}
.sub-title.banner {
  text-transform: uppercase;
  font-size: 40px;
  color: #ffffff;
}
#Jcool {
  color: #fff;
  text-transform: uppercase;
}

.slider {
  margin: 40px 20px;
}
.slider .bx-wrapper .bx-viewport,
.slider .bx-wrapper .bx-viewport li {
  background: transparent;
}
.slider2 .bx-wrapper .bx-viewport,
.slider .bx-wrapper .bx-viewport {
  background: transparent;
  border: none;
  box-shadow: none;
}
.slider .bx-wrapper .bx-prev {
  background: url(../img/2_1.png) no-repeat;
  height: 60px;
  left: 0px;
  top: 35%;
  width: 40px;
}
.slider .bx-wrapper .bx-next {
  background: url(../img/2_2.png) no-repeat;
  height: 60px;
  right: 10px;
  top: 35%;
  width: 33px;
}
.slider .bx-wrapper .bx-next:hover {
  background-position: 0px 0px;
}
.slider .text.name {
  font-weight: bold;
  font-size: 18px;
  margin: 5px;
}
.octagon {
  background: #a0e8a1;
  height: 200px;
  margin: 0 auto;/*background-color: #1cb1dc;*/
  position: relative;
  width: 200px;
  z-index: 999999;
}
.octagon:before {
  border-bottom: 59px solid transparent;
  border-left: 59px solid #1cb1dc;;
  border-right: 59px solid #1cb1dc;;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 83px;
  box-sizing: content-box;
}
.octagon:after {
  border-left: 59px solid #1cb1dc;;
  border-right: 59px solid #1cb1dc;;
  border-top: 59px solid transparent ;
  bottom: 0;
  box-sizing: content-box;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  width: 83px;
}

#Jfact hr.red {
  margin: 40px auto;
}
#Jfact .text.number {
  font-size: 50px;
  margin-top: 20px;
}

#Jprice .pricing-table-v6 {
  background: #fff;
  padding: 10px 0;
}
#Jprice .service-block .pr {
  color: #ff0f4c;
  font-weight: bold;
  font-size: 50px;
  margin: 0 10px;
}
#Jprice .service-block .cr {

}
#Jprice .service-block ul.list-unstyled li {
  background-color: #f2fcfd;
  padding: 14px 0px;
  border-bottom: 1px solid #fff;
}
#Jprice .btn-price {
  background: #ff0f4c;
  color: #fff;
  font-weight: bold;
  padding: 10px 12px;
  text-transform: uppercase;
  width: 60%;
}
#Jprice .pricing-table-v6:hover ul.list-unstyled li {
  background-color: #7ee1f1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.slider2 {
  color: #fff;
}
.slider2 .bx-viewport {
  margin: 0 auto !important;
  width: 75%  !important;
}
.slider2 .bx-wrapper .bx-pager.bx-default-pager a {
  border-radius: 15px;
  height: 25px;
  width: 25px;
}
.slider2 .bx-wrapper .bx-pager.bx-default-pager a:hover,  .slider2 .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #ff0f4c;
}
.slider2 .bx-wrapper .bx-pager.bx-default-pager a {
  border: 3px solid #ff0f4c;
  background: #0d4795;
}
#Jfeadback .feadbacks-img {
 text-align: center;
}
.slider2 li {
  text-align: center;
}
.slider2 .feadback-text {
  font-size: 17px;
}
.slider2 .text.name {
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  text-transform: uppercase;
}
.slider2 .text.job {
  color: #63d9f5;
  font-size: 23px;
  font-weight: bold;
  text-transform: uppercase;
}
.bg-picture-footer {
  background-color: #02003b;
  padding: 20px;
}
.bg-picture-footer p {
  color: #7d7ca0;
  margin: 0px 0px 0px 0px;
  display: inline-block;
}
.bg-picture-footer .footer-inform img {
  display: inline-block;
  margin: 5px;
}
ul.footer li a {
  color: #fff;

}
ul.footer li a:hover {
  background-color: #10b0da;
}
ul.footer li a.go {
  background-color: #0c38a3;
}
@media all and (max-width: 992px) {
    .slider .bx-wrapper .bx-next {
        right: -20px;
    }
    .slider .bx-wrapper .bx-prev {
        left: -30px;
    }
}

@media all and (max-width: 1200px) and (min-width: 767px){
  .front_page .front_menu .navbar-nav li a {
    font-weight: normal;
    padding: 10px 6px;
    font-size: 12px;
  }
  .logged-in footer .row .col-lg-12 .col-sm-9.footer-menu a {
    font-weight: normal;
  }
  .logged-in footer .container {
    width: 100%;
  }
}

div input[type="email"] {
  background-color: #FFF;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 0 6px #CCC inset;
  color: #000;
  padding: 5px;
}
#webform-client-form-10593,
#webform-client-form-10820 {
  width: 50%;
  margin: 0 auto;
}
#webform-client-form-10593 label,
#webform-client-form-10820 label {
  display: none;
}
#webform-client-form-10593 textarea,
#webform-client-form-10593 input,
#webform-client-form-10820 textarea,
#webform-client-form-10820 input {
  text-align: center;
  width: 100%;
}
#webform-client-form-10593 input[type="submit"],
#webform-client-form-10820 input[type="submit"] {
  background-color: #ff104c;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  height: 81px;
  padding: 10px 12px;
  text-transform: uppercase;
  width: 252px;
  width: 35%;
  word-wrap: break-word;
}
.front_menu .container {
  background-color: white;
  border-bottom: 2px solid #ccc;
  margin: 0px;
  padding: 0px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.front_menu .navbar{
  border-radius: 0px;
  width: 85%;
  margin: 0 auto;
}
.front_page .front_menu .navbar-nav li a:hover {
  background-color: #e7e7e7;
  border-radius: 2px;
}
.front_page .front_menu .navbar-nav li:last-child a:hover {
  background-color: #3c3989;
  border-radius: 4px;
}
.logged-in  .front_page .front_menu .navbar-nav li:last-child a:hover {
  background-color: #e7e7e7;
  border-radius: 2px;
}
.front_page .front_menu .navbar-nav {
  margin: 15px 0 5px 0;
}
.logged-in .front_menu .navbar {
  width: 95%;
}

.front_page .navbar-header {
  width: 20%;
}
.navbar-header img {
  width: 100%;
}

.logged-in ul.footer li a {
  font-size: 1em;
}
.b-container{
    background-color: #ccc;
    margin:0px auto;
    padding:10px;
    font-size:30px;
    color: #fff;
}
.b-popup{
  background-color: rgba(0,0,0,0.9);
  min-height:100%;
  overflow:hidden;
  padding-top: 75px;
  position:fixed;
  top:0px;
  width:100%;
  z-index: 999;
}
.b-popup .b-popup-content{
  background-color: #c5c5c5;
  border-radius:5px;
  box-shadow: 0px 0px 10px #000;
  height: 100px;
  margin:125px auto 0px auto;
  padding:10px;
  width: 300px;
}
.popup-registration-content {
  background-color: #fff;
  border-radius: 5px;
  height: 450px;
  margin: auto;
  padding: 20px;
  width: 500px;
}
.mounth-testing {
  color: #2a2d2e;
  font-family: "PT Sans";
  font-size: 20px;
  font-weight: bold;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 29px;
  text-align: center;
}
.mounth-testing a {
  text-decoration: none;
  color: #00add7;
}
.link-close.dropWindowPopup-processed {
  text-align: right;
  margin: -12px -5px 15px 0px;
}
#popup1 {
  display: none;
}
#popup1 .popup-registration-content .webform-client-form .form-item {
  margin-bottom: 22px;
}
#popup1 .popup-registration-content .webform-client-form .webform-component-textfield input,
#popup1 .popup-registration-content .webform-client-form .webform-component-email input {
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: none;
  box-sizing: border-box;
  padding: 6px 15px;
  width: 100%;
 font-size: 16px;
}
#popup1 .popup-registration-content .webform-client-form #edit-submit {
  background-color: #00add7;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  margin-top: -2px;
  padding: 9px;
  text-transform: uppercase;
  width: 100%;
}
.framework-testing {
  font-family: "PT Sans";
  font-size: 16px;
  margin-top: 31px;
  text-align: center;
}
.framework-testing span {
  color: #00add7;
  display: block;
}

.logged-in footer .bg-picture-footer {
  padding-top: 35px;
}
.logged-in footer .row .col-lg-12 .col-sm-9.footer-menu {
  font-size: 0.9em;
}
.front_page footer .footer-menu .footer {
  border: none;
  padding-bottom: 0px;
  padding-top: 0px;
}
.logged-in .front_menu .navbar {
    width: 100%;
}
.front_page #Jprice .service-block-sea h2.heading-md {
  text-transform: uppercase;
}
@media (max-width: 1100px){
.yb-video iframe {
    min-width: 60%;
  }
.logged-in .front_menu .navbar{
    width: 100%;
  }
.front_menu .navbar {
    width: 85%;
  }
.logged-in footer .row .col-lg-12 .col-sm-9.footer-menu {
  width: 100%;
}
#webform-client-form-10593 input[type="submit"], #webform-client-form-10820 input[type="submit"] {
  font-size: 19px;
  width: 40%;
}
footer .container .col-sm-3{
  float: none;
  margin: 0 auto;
}
footer .container .col-sm-9.footer-menu {
  float: none;
  width: 100%;
}
footer .container .col-sm-9.footer-menu .navbar-nav {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
footer .container .col-sm-9.footer-menu .navbar-nav>li {
  display: inline-block;
  float: none;
}
}
@media (max-width: 1024px){
  #webform-client-form-10593 input[type="submit"], #webform-client-form-10820 input[type="submit"] {
    font-size: 19px;
    width: 40%;
  }
  footer .container .col-sm-3{
    float: none;
    margin: 0 auto;
  }
  footer .container .col-sm-9.footer-menu {
    float: none;
    width: 100%;
  }
  footer .container .col-sm-9.footer-menu .navbar-nav {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  footer .container .col-sm-9.footer-menu .navbar-nav>li {
    display: inline-block;
    float: none;
  }
  .front_menu .navbar {
    width: 92%;
  }
  }

@media (max-width: 980px){
.logged-in .front_page .navbar-header {
  width: 18%;
}
.logged-in .front_page #bs-example-navbar-collapse-1 {
  width: 82%;
}
.bg-picture-footer p {
  display: block;
}
.front_page .front_menu nav.navbar {
  max-width: 100%;
}
}


@media (max-width: 800px){
  #Jlist .col-sm-3>h2 {
    font-size: 20px;
  }
  .navbar>.container-fluid .navbar-header .navbar-brand {
    margin-left: 0px;
    box-sizing: border-box;
  }
  #Jreshen .sub-title.banner {
    font-size: 33px;
  }
  #Jfact .text.number {
    font-size: 40px;
  }
  #Jcontact #webform-client-form-10593 input[type="submit"] {
    width: 50%;
  }
  ul.footer li a {
    font-size: 0.9em;
  }
  .bg-picture-footer p {
    display: block;
  }
  .front_page .front_menu .navbar-nav {
    margin: 0px 0 5px 0;
  }
  .logged-in .container-fluid {
    margin: 0px;
    padding: 0px;
  }
  .front_page .front_menu .navbar {
    width: 100%;
  }
  .logged-in .front_page #bs-example-navbar-collapse-1 {
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
  .front_page .front_menu .navbar-nav li a {
    font-size: 13px;
  }
  .front_page #bs-example-navbar-collapse-1 {
    float: none;
    margin: 0 auto;
    width: 100%;
  }
  .front_page .front_menu .navbar-nav {
    margin: 5px 0 5px 0;
  }
  .bg-picture-footer .footer-inform img {
    margin: 5px;
  }
}
@media (max-width: 768px){
  .yb-video iframe {
    min-width: 75%;
  }
  .navbar-header img {
    margin-top: -10px;
  }
  .front_page .navbar-header {
    width: auto;
  }
  .logged-in .front_page .navbar-header {
    width: 100%;
  }
  #Jreshen .sub-title.banner {
    font-size: 36px;
  }
  #Jcool .container .col-lg-12>h2 {
    font-size: 25px;
  }
  #Jlist .col-sm-3>h2 {
    font-size: 20px;
  }
  #Jcontact #webform-client-form-10593 input[type="submit"], #webform-client-form-10820 input[type="submit"] {
    width: 45%;
  }
  #Jfact .sub-title.banner {
    font-size: 35px;
  }
  #Jfact .text.number {
    font-size: 40px;
  }
  ul.footer li a {
    font-size: 0.9em;
  }
  footer .footer-social-button {
    width: 50%;
    float: left;
    margin-bottom: 10px;
    text-align: center;
  }
  footer .footer-provologi {
    clear: both;
    margin-top: 20px;
    text-align: center;
  }
  footer .container .footer-logo {
    text-align: center;
  }
  .front_page footer .margin-tb-40 {
    margin-top: 20px;
  }
}
@media (max-width: 560px){
.yb-video iframe {
    min-width: 90%;
  }
footer .container .footer-logo {
  text-align: center;
  margin-bottom: 15px;
}
footer .container .footer-logo img {
  margin: 0px;
}
.front_page .margin-tb-40 {
  margin-top: 15px;
}
#confident {
  margin-top: 35px;
  text-align: center;
}
footer .bg-picture-footer .footer-inform img {
  margin-left: 20px;
}
footer .footer-inform {
  margin-top: 15px;
  text-align: center;
}
.bg-picture-footer p {
  display: inline-block;
}
}
@media (max-width: 480px){
  #Jvideo .intro-text h2 {
    font-size: 25px;
  }
  .tryn-block .tryn {
    font-size: 17px;
  }
  #Jreshen .sub-title.banner {
    font-size: 30px;
  }
  #Jcool .col-lg-12 .intro-text h2 {
    font-size: 24px;
  }
  #Jcontact #webform-client-form-10593 input[type="submit"] {
    width: 50%;
    font-size: 19px;
  }
  footer .container .col-sm-12 .col-sm-4 {
    width: 100%;
    text-align: center;
  }
  footer .container .col-sm-3 {
    text-align: center;
  }

  footer .container .col-sm-9.footer-menu{
    padding: 0px;
  }
  #Jcontact form {
    width: 75%;
  }
  .col-centered {
    margin-top: 0px;
  }
  .front_page .margin-tb-40 {
    margin-top: 20px;
  }
}
@media (max-width: 320px){
  #Jvideo .intro-text h2 {
    font-size: 19px;
  }
  #Jvideo .tryn-block .tryn {
    padding: 13px 13px;
    width: 58%;
    word-wrap: break-word;
  }
  #Jvideo div.text {
    font-size: 12px;
    margin: 25px 0;
  }
  #Jproblem h2.sub-title {
    font-size: 24px;
  }
  #Jreshen .sub-title.banner {
    font-size: 26px;
    margin-bottom: 35px;
    margin-top: 35px;
  }
  .tryn-block .tryn {
    padding: 10px;
  }
  #Jprice .container .col-md-3.col-sm-6 {
    float: none;
    margin: 10px auto;
    width: 90%;
  }
  .slider2 .text.name {
    font-size: 20px;
  }
  .slider2 .text.job {
    font-size: 20px;
  }
  #Jcontact form {
    width: 100%;
  }
  #Jcontact #webform-client-form-10593 input[type="submit"] {
    font-size: 16px;
  }
  footer .container .col-sm-9.footer-menu .navbar-nav>li {
    display: inline;
  }
  footer .bg-picture-footer .footer-inform img {
    margin: 0px 5px;
  }
  footer .footer-inform p {
    display: block;
    float: none;
    text-align: center;
  }
}