/**
 * ColorBox Core Style:
 * The following CSS is consistent between example themes and should not be altered.
 */
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
  clear: left;
}

#cboxContent {
  position: relative;
}

#cboxLoadedContent {
  overflow: auto;
  padding-top: 4px;
  padding-bottom: 30px;
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer;
}

.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
}

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
}

/**
 * Colorbox module default style:
 * The styles are ordered & tabbed in a way that represents
 * the nesting of the generated HTML.
 */
#cboxOverlay {
  background: #666666 url(images/ui-bg_diagonals-thick_30_666666_40x40.png) repeat 0 0;
  opacity: 0.5 !important;
  filter:Alpha(Opacity=50);
}

#colorBox {
}

#cboxWrapper {
  background: url("images/ui-bg_highlight-soft_100_eeeeee_1x100.png") repeat-x scroll 50% top #EEEEEE;
  border-radius: 5px;
}

#cboxTopLeft {
  width: 4px;
  height: 4px;
}

#cboxTopCenter {
  height: 4px;
}

#cboxTopRight {
  width: 4px;
  height: 4px;
}

#cboxBottomLeft {
  width: 4px;
  height: 4px;
}

#cboxBottomCenter {
  height: 4px;
}

#cboxBottomRight {
  width: 4px;
  height: 4px;
}

#cboxMiddleLeft {
  width: 4px;
}

#cboxMiddleRight {
  width: 4px;
}

#cboxContent {
  overflow: hidden;
  font: 12px "Lucida Grande", Verdana, Arial, sans-serif;
}

#cboxContent:before {
  content: "";
  display: block;
  height: 30px;
  border: 1px solid #E78F08;

  border-radius: 4px;
  background: url("images/ui-bg_highlight-hard_35_f6a828_1x100.png") repeat-x scroll 50% 50% #F6A828;
}

#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}

#cboxTitle {
  position: absolute;
  top: 0;
  left: 5px;
  color: #fff;
  font-weight: bold;
  padding: 0 4px;
  right: 60px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  white-space: nowrap;
}

#cboxCurrent {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2px;
  color: #fff;
  background: rgb(247, 177, 62);
  background:  rgba(247, 177, 62, 0.5);
}

.cboxSlideshow_on #cboxSlideshow {
  position: absolute;
  bottom: 0;
  right: 30px;
  background: url(images/controls.png) -75px -50px no-repeat;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
}

.cboxSlideshow_on #cboxSlideshow.hover {
  background-position: -101px -50px;
}

.cboxSlideshow_off #cboxSlideshow {
  position: absolute;
  bottom: 0;
  right: 30px;
  background: url(images/controls.png) -49px -50px no-repeat;
  width: 25px;
  height: 25px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.cboxSlideshow_off #cboxSlideshow.hover {
  background-position: -25px -50px;
}

#cboxLoadingOverlay {
  background: #fff;
}

#cboxLoadingGraphic {
  background: url(images/loading_animation.gif) center center no-repeat;
}

#cboxClose {
  position: absolute;
  top: 6px;
  right: 5px;
  background-position: -96px -128px;
}

#cboxClose, #cboxNext, #cboxPrevious {
  border: 1px solid transparent;
  top: 6px;
  position: absolute;

  border-radius: 4px;
  width: 19px;
  height: 19px;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}

#cboxClose {
  right: 6px;
}

#cboxNext {
  right: 26px;
}

#cboxPrevious {
  right: 46px;
}

#cboxClose:before, #cboxNext:before, #cboxPrevious:before {
  background-image: url("images/ui-icons_ffffff_256x240.png");
  background-repeat: no-repeat;
  content: "";
  display: block;
  height: 100%;
}

#cboxClose:before {
  background-position: -95px -127px;
}

#cboxNext:before {
  background-position: -110px -190px;
}

#cboxPrevious:before {
  background-position: -143px -190px;
}

#cboxClose:hover, #cboxNext:hover, #cboxPrevious:hover {
  background: url("images/ui-bg_highlight-hard_100_fdf5ce_1x100.png") repeat-x scroll 50% #F6F6F6;
  border-color: #fbcb09;
}

#cboxClose:hover:before, #cboxNext:hover:before, #cboxPrevious:hover:before {
  background-image: url("images/ui-icons_ef8c08_256x240.png");
}