/**
* @file
* Styles for system messages.
*/

div.messages {
  position: relative;
  border: 1px solid;
  margin: 6px 0;
  padding: 7px 7px 7px 30px; /* LTR */
  border-radius: 4px;
}

div.status {
  border-color: #8CCE3B;
}

div.status,
.ok {
  color: #234600;
}

div.status,
table tr.ok {
  background-color: #F4FCEA;
}

div.warning {
  border-color: #FED22F;
}

.warning {
  color: #363636;
}

div.warning,
table tr.warning {
  background-color: #FFF0A5;
}

div.error {
  border-color: #CD0A0A;
}

div.messages:before {
  content: "";
  position: absolute;
  left: 8px;
  top: 8px;
  height: 16px;
  width: 16px;
}

/*div.error:before {
  background-image: url(images/ui-icons_ffd27a_256x240.png);
  background-position: 0 -144px;
}

div.warning:before {
  background-image: url(images/ui-icons_228ef1_256x240.png);
  background-position: -16px -144px;
}

div.status:before {
  background-image: url(images/ui-icons_51960e_256x240.png);
  background-position: -208px -192px;
}*/

.error {
  /*color: #FFF;*/
}

div.error,
table tr.error {
  background-color: #B81900;
  background-image: url(images/ui-bg_diagonals-thick_18_b81900_40x40.png);
}

div.error p.error {
  color: #333;
}

div.messages ul {
  margin: 0 0 0 1em; /* LTR */
  padding: 0;
}

div.messages ul li {
  list-style-image: none;
}
