.botr-error {
  color: red;
}

#botr-video-box .inside {
  margin: 0;
}

#botr-search-box {
  margin-bottom: 0px;
  margin-left: 6px;
  color: lightgray;
  background: url(search.png) no-repeat right center;
  padding-right: 20px;
  width: 442px;
}

#botr-search-box:focus {
  color: black;
}

#botr-video-list p {
  margin-left: 5px;
}

#botr-video-list li {
  position: relative;
  display: block;
  margin-bottom: -1px;
  padding: 1px 0 4px 55px;
  background-repeat: no-repeat;
  background-position: left top;
  height: 25px;
  cursor: pointer;
}

#botr-video-list li.botr-failed {
  cursor: default;
}

#botr-video-list li.botr-odd {
  background-color: #fff;
}

#botr-video-list li.botr-even {
  background-color: #e9f2f8;
}

#botr-video-list li p {
  padding-right: 7px;
  height: 18px;
  margin-top: 4px;
  margin-left: 0;
  display: block;
  overflow: hidden;
}

#botr-video-list button {
  float: right;
  margin: 2px;
}

#botr-upload-video {
  background-color: #e9f2f8;
  padding: 6px;
  padding-top: 18px;
  margin-left: 6px;
  width: 452px;
  display: inline;
  float: left;
  clear: both;
}

#botr-upload-video .botr-row {
  position: relative;
  clear: left;
  height: 28px;
  margin: 5px 0;
}

#botr-upload-video .botr-row label {
  position: absolute;
  width: 35px;
  left: 7px;
  top: 1px;
  color: gray;
}

#botr-upload-video .botr-row span {
  position: relative;
  padding-left: 50px;
}

#botr-upload-title {
  width: 387px;
}

#botr-upload-file {
  width: 283px;
}

#botr-upload-button {
  float: right;
  margin-top: 3px;
  margin-right: 11px;
}

#botr-upload-browse {
  width: 100px;
}

#botr-progress-bar {
  background-color: #3a7ea2;
  text-align: center;
  font-weight: bold;
  color: white;
  display: none;
}

#botr-upload-message {
  float: left;
  width: 149px;
  margin-left: 7px;
}

.botr-busy {
  cursor: wait;
}

#botr-video-box h1 {
  width: 470px;
  margin: 10px 0 0 5px;
  font-size: 16px;
  display: inline;
  float: left;
  clear: both;
}

#botr-video-box button {
  height: 24px;
  font-size: 12px;
  color: #494949;
}

#botr-list-wrapper, #botr-upload-video {
  float: left;
  margin-top: 10px;
}

#botr-list-wrapper {
  margin-right: 10px;
  width: 470px;
}

