
#squeeze > h1 {
  font-size: 18px;
  color: #0A96D0;
  text-decoration: underline;
  padding: 0px;
  background: none;
  line-height: inherit;
  border: 0;
}

#block-system-main {
  margin: 0 !important;
}

#wrapper > header {
  position: fixed !important;
  text-align: center;
  width: 100%;
  z-index: 100;
  background-color: #FFF !important;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}

#container {
  top: 90px;
  padding: 0 0 165px 0 !important;
}

.wl {
  height: 14px;
  width: 628px;
  border: 3px solid white;
  background: #FFF;
  position: fixed;
  top: 119px;
  z-index: 105;
}

.wbl {
  position: fixed;
  bottom: 50px;
  width: 629px;
  height: 22px;
  background-color: white;
  border: 1px solid white;
  margin-left: -2px;
}


footer {
  position: fixed !important;
  background: #fff;
}

.peer_controls {
  position: fixed;
  bottom: 75px;
  width: 627px;
  border: 1px solid #D9E0E7;
  margin: -1px;
  border-top: 0px;
}

.msg_user_wrapper a {
  color: #2B587A;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.msg_user_wrapper a:hover {
  color: #2B587A;
  text-decoration: underline;
}

.im_messages {
  border-top: 1px solid #e4e8ed;
  border-left: 1px solid #e4e8ed;
  border-right: 1px solid #e4e8ed;
}

.im_content {
/*  border: solid #D9E0E7;
  border-width: 0px 1px 1px;
*/  /*padding-top: 50px;*/
  /*overflow-y: auto;*/
  /*height: 300px;*/
  padding-top: 70px;
  padding-bottom: 50px;
}

.dialog_content {
  width: 631px;
  margin: 0 auto;
}

.wrap3 {
  border-bottom: 0px;
  /*padding-top: 70px;*/
  background: white;
}

.wrap2 {
  border: solid #F3F3F3;
  border-width: 0px 1px 1px;
  border-color: rgba(100, 100, 100, 0.08);
}

.wrap1 {
  border: solid #D9E0E7;
  border-width: 0px 1px 1px;
}

.dialog,
.im_messages {
  font-size: 11px;
  width: 627px;
  margin: 0 auto;
}

.dialog td {
  border-top: 5px solid #FFF;
  padding: 5px;
  vertical-align: top;
}

.dialog .im_log_author {
  text-align: right;
  padding-right: 10px !important;
  width: 32px;
}

.im_log_act {
  padding-left: 10px !important;
  width: 65px;
  padding: 4px;
  border-bottom-color: #FFF !important;
}

.im_log_body {
  line-height: 150%;
  width: 350px;
}

.im_log_date {
  padding-left: 8px !important;
  color: #999;
  width: 55px;
}

.im_messages .row {
  cursor: pointer;
  padding: 5px 10px 5px 7px;
  border-bottom: 1px solid #e4e8ed;
  -webkit-transition: color ease-in-out .2s;
  transition: color ease-in-out .2s;
}

.im_messages .row  tbody {
  display: table-row-group;
  /*vertical-align: middle;*/
  border-color: inherit;
}

.row:hover {
  background: #edf1f5 ;
  border-color: #DAE1E8 ;
}

.dialog tr,
.row tr {
  background-color: transparent !important;
  border: none !important;
}

td.user_photo {
  width: 50px;
  padding: 5px 5px 2px;
  vertical-align: top;
}

td.user_name {
  padding: 5px;
  vertical-align: middle;
  /*width: 125px;*/
}

div.user_wrapper {
  width: 120px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

div.send_date {
  color: #999999;
  font-size: 0.9em;
}

td.msg_content {
  padding: 0;
  vertical-align: middle;
}

td.msg_content .msg_body {
  padding: 6px 8px 8px;
}

.im_messages .msg_body_wrapper{
  color: #67829E;
  line-height: 160%;
  width: 295px;
  overflow: hidden;
  word-wrap: break-word;
}

.user_wrapper a {
  color: #2B587A;
  text-decoration: none;
  cursor: pointer;
}

.user_wrapper a:hover {
  color: #2B587A;
  text-decoration: underline;
}

.im_messages .msg_content a{
  text-decoration: none;
}

#user-send-message-form textarea {
  resize: none;
}

.peer_controls {
  background-color: #F2F2F2;
}

form#user-send-message-form {
  border-top: 1px solid #DAE1E8;
  padding: 8px 15px 0 67px;
}



form#user-send-message-form > div {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

form#user-send-message-form .form-item {
  display: table-cell;
}

form#user-send-message-form #edit-write-body{
  background: #FFFFFF;
  color: black;
  border: 1px solid #C0CAD5;
  width: 328px;
  min-height: 40px;
  padding: 3px 25px 3px 3px;
  padding-bottom: 5px;
  margin-bottom: 3px;
  outline: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  line-height: 150%;
  word-wrap: break-word;
  cursor: text;
  box-shadow: none;
  height: 40px;
}

.write_link {
  vertical-align: inherit !important;
}

.write_link a:hover {
  color: white;
}
.write_link a:hover,
.write_link a {
  text-decoration: none;
}

.write_link a,
form#user-send-message-form .form-submit {
  padding: 6px 16px;
  border: 0;
  border-bottom: 1px solid #496b93;
  text-shadow: 0 1px 0 #5578A0;
  color: #FFF;
  background: #658AB0 url(/images/button_bgf.png?1) repeat-x top;
  background-position: 0px -12px;
  outline: none;
  border-radius: 0;
}

form#user-send-message-form .form-submit:active {
  background: #5e80a5;
  border-bottom-color: #51749c;
  position: relative;
}

form#user-send-message-form .form-submit:hover {
  background-position: 0px -5px;
  border-bottom-color: #4e7199;
}

#edit-from-img {
  width: 50px;
  padding-right: 10px;
  vertical-align: top;
}

#edit-from-img img{
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

#edit-to-img {
  width: 130px;
  padding-left: 10px;
  vertical-align: top;
}

#edit-to-img img{
  width: 50px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

#write-wrapper{
  padding-bottom: 10px;
}

.admin-menu .im_nav_wrap {
  position: fixed;
  top: 119px;
  padding-top: 20px;
  z-index: 101;
  background: #fff;
  width: 627px;
}

.im_nav_wrap {
  position: fixed;
  top: 90px;
  padding-top: 20px;
  z-index: 101;
  background: #fff;
  width: 627px;
}

.im_bar {
  padding: 5px;
  background: #F7F7F7;
  border-bottom: 1px solid #DAE1E8;
  border-top: solid 1px #597DA3;
}

.im_tabs {
  padding: 3px 0;
}

.student-links div,
.im_tabs > div {
  cursor: pointer;
  padding: 5px 1px 5px 5px;
  display: inline-block;
}

.im_tab .im_name {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #597DA3;
  padding: 3px 6px 4px;
  color: #FFF;
}

.student-links a,
.im_tabs .back a {
  font-weight: bold;
  color: #45688E;
  padding-left: 2px;
  padding-right: 5px;
  max-width: 300px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
}

.student-links div:hover,
.im_tabs .back:hover {
  text-decoration: underline;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #E1E7ED;
}

.msg_new{
  width: 1px;
  vertical-align: middle;
}

.new_msgs {
  margin: 0 3px;
  background: #D1DAE3;
  padding: 4px 6px 4px 5px;
  font-weight: bold;
  color: #436796;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

#block-by-step-left-user-menu {
  position: fixed !important;
  z-index: 102 !important;
}

.student-links div {
  display: inline-block;
  margin: 0px 10px;
}

.student-links {
  font-size: 12px;
  width: 617px;
  margin: 0 auto;
}

.student-links {
  padding: 5px;
  background: #F7F7F7;

  border-top: 1px solid #DAE1E8;
  border-left: 1px solid #DAE1E8;
  border-right: 1px solid #DAE1E8;
}

.page-im-curators .im_messages tr {
  background: white !important;
}

.page-im-curators .student-links {
  border: 0px !important;
}

.page-write #user-send-message-form {
  text-align: center;
}

.page-write #user-send-message-form .form-item,
.page-write #user-send-message-form > div {
  display: block !important;
}

.page-write #user-send-message-form textarea {
  width: 400px !important;
  min-height: 100px !important;
  margin: 0 auto;
}

.page-write #user-send-message-form {
  border: 0 !important;
  padding: 0 !important;
}
