#noie6-overlay {
  background: #000;
  filter: alpha(opacity = 50);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#noie6-wrap {
  background: #fff url(images/black-yellow-belt.png) repeat-x left bottom;
  color: #000;
  display: none;
  font-family: Georgia, "Times New Roman", "Bitstream Vera Serif", serif;
  font-size: 12px;
  left: 50%;
  margin-bottom: 0;
  margin-left: -400px; /* 50% of the width */
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  position: absolute;
  text-align: left;
  top: 0;
  width: 800px;
  z-index: 1001;
}

#noie6-wrap-inner {
  background: url(images/black-yellow-belt.png) repeat-x left top;
  border-bottom: none;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: none;
  overflow: hidden;
  padding: 25px 0; /* match black-yellow belts height */
  left: 0;
  top: 0;
  zoom: 1;
}

#noie6-close {
  display: block;
  background: transparent url(images/close.png) no-repeat left top;
  height: 24px;
  right: 15px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-indent: -9999px;
  top: 35px;
  width: 24px;
}

#noie6-wrap h2,
#noie6-wrap h4 {
  margin: 10px 0;
  text-align: center;
}

#noie6-message { zoom: 1; }

#noie6-message-inner { padding: 20px 30px; }

#noie6-wrap ul {
  list-style-type: disc;
  list-style-image: none;
  margin: .5em 0 1em 1em;
}

#noie6-wrap li {
  background: none;
  list-style-type: disc;
  list-style-image: none;
  margin: .15em 0 .15em .5em;
  padding: 0;
}

#noie6-browsers ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 460px; /* (li's width + li's lateral margins + li's lateral paddings) * number of browsers */
}

#noie6-browsers ul li {
  display: inline;
  float: left;
  list-style: none;
  margin: 0 15px 0 0;
  padding: 0;
}

#noie6-browsers ul li.last { margin-right: 0; }

#noie6-browsers a { color: blue; }

#noie6-browsers ul li a {
  background: transparent url(images/browsers.png) no-repeat;
  color: #000;
  display: block;
  padding: 80px 0 0 0;
  margin: 0 0 10px 0;
  text-align: center;
  text-decoration: none;
  width: 80px;
}

#noie6-browsers ul li a:hover { text-decoration: underline; }

#noie6-browsers ul li#noie6-firefox a { background-position: 0 0; }

#noie6-browsers ul li#noie6-safari a { background-position: -80px 0; }

#noie6-browsers ul li#noie6-chrome a { background-position: -160px 0; }

#noie6-browsers ul li#noie6-opera a { background-position: -240px 0; }

#noie6-browsers ul li#noie6-update-ie a { background-position: -320px 0; }

