html, body {
  height: 100%;
}
#logo-floater, #block-block-2{
  position: absolute;
  top: 2px;
  z-index: 10;
}
#wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  background-color: @black;
  background: #7b7c7d url("images/one_bg.png") repeat-x top left;
//
  min-width: @mainWidth;
  body &{
    background: @white;
    #block-system-user-menu, #block-menu-menu-top-menu-anonim{
      margin-top: 25px;
     .content{
       a{
         color: #b9b9b9;
         font-weight: bold;
         border: none;
         &:hover{
           background: none;
           color: @blue;
         }
       }
     }
    }
    #block-block-1{
      display: none;
    }
    #block-block-2{
      top: 15px;
    }
    #block-views-video-slide-block{
     min-height: 665px;
      background: url("images/front_shadow.png") no-repeat bottom center;
    }
    #block-views-video-slide-block .view-video-slide{
      &:before{
        content: '.';
        .ir();
        width: 3000px;
        left: 50%;
        margin-left: -1500px;
        height: 170px;
        position: absolute;
        background: #f5f5f5;
        top: 0;
      }
      footer{
        min-height: 400px;
        padding-top: 70px;
        clear: both;
        overflow: hidden;
        background: url("images/main_teach.png") no-repeat right;
        .views-row{
          background: url("images/video_main.png") no-repeat top center;
          padding-top: 20px;
          width: 485px!important;
          height: 285px!important;
          padding-top: 16px;
          padding-left: 98px;
          padding-right: 100px;
          padding-bottom: 75px;
        }
        .views-row{
          display: none;
        }
      }
      >.view-content{
        z-index: 1;
        position: relative;
        clear: both;
        cursor: pointer;
        width: 100%;
        .views-row{
          width: 110px;
          height: 170px;
          margin: 0 7px;
          float: left;
          text-align: center;
          clear: none;
          &.views-row-first{
            margin-left: 10px;
          }
          .views-field-field-image{
            display: block;
            height: 100px;
            margin-bottom: 10px;
          }
          .views-field-title{
            border: none;
            float: none;
            width: 100%;
            padding: 0;
          }
          .views-field, a{
            background: none;
            padding: 0;
            width: auto;
            color: #464646;
            font-weight: normal;
          }
        }
      }
    }
    header{
      .region{height: 110px;}
      height: 110px;
      margin-bottom: 40px;
      #block-menu-menu-second-top-menu{
        bottom: 0;
        width: 100%;
        height: 37px;
        .b-r(7px);
        .menu_bg_gr;
        .content{
          .level-0{
            >li{
              font-family: myriad;
              line-height: 37px;
              background: url("images/new_menu.png") no-repeat right center;
              float: left;
              ul{
                background: url("images/opac.png");
                .menu_bg_gr_hover;
                background-color: @gray-light;
                .b-r(0 0 7px 7px);
                left: 7px;
                position: absolute;
                z-index: 999;
                li{
                  border: none;
                  a{
                    color: @white;
                    &:hover{
                      .menu_bg_gr_hover;
                    }
                  }
                }
              }
              >a{
                line-height: 37px;
                border: none;
                color: #fefefe;
                padding: 0 30px;
                font-family: arial;
                font-size: 14px;
                text-shadow: 1px 0 2px @gray;
                &:hover, &.active{
                  .menu_bg_gr_hover;
                }
              }
            }
          }
        }
      }
      &:before{
        content: '';
        background: none;
      }
    }
  }
  &>header {
    height: @headerHeight;
    position: relative;
    margin: 0 auto @space;
    background: @white;
    &:before{
      content: "/";
      .ir();
      background: @black;
      display: block;
      position: absolute;
      top: 0;
      height: 35px;
      width: 100%;

    }
    .region{
      width: @mainWidth;
      position: relative;
      height: @headerHeight;
      margin: 0 auto;
    }
  }
  &>footer {
  /*  &:before{
      content: "/";
      .ir();
      background: @black;
      display: block;
      position: absolute;
      bottom: 0;
      height: 35px;
      left: -5000px;
      width: 10000px;
    }*/
    position: absolute;
    line-height: @footerHeight;
    color: @gray;
    border-top: #e5e5e5 1px solid;
    bottom: 0;
    left: 50%;
    margin-left:  -@mainWidth/2;
    width: @mainWidth;
    height: @footerHeight;
  }
}

#container {
  position: relative;
  width: @mainWidth;
  margin: 0 auto @footerHeight;
  padding-bottom: @space;
  body.not-front &{
    padding: @space;
    .b-s(~"0 0 4px ");
    background: #fff;
  }
}

#center {
  float: left;
  width: 100%;
}
#squeeze {
  padding: 0 @space;
  body.sidebar-first  & {margin-left:  @sidebarLeftWidth  + @space;}
  body.sidebar-second & {margin-right: @sidebarRightWidth + @space;}
  body.two-sidebars   & {margin:     0 @sidebarRightWidth + @space 0 @sidebarLeftWidth + @space;}
  body.front &{
    padding: 0;
  }
}

#container {
  &>aside {
    float: left;
    z-index: 2;
    position: relative;
    .block {
      margin-bottom: @space;
    }
  }
}

#sidebar-first  {width: @sidebarLeftWidth;  padding-left : @space; margin-left: -100%; }
#sidebar-second {width: @sidebarRightWidth; padding-right: @space; margin-left: -@sidebarRightWidth - @space;}