@charset "utf-8";
/* Grays*/
/* Colors*/
/* Links*/
@font-face {
  font-family: 'Conv_georgia';
  src: url('fonts/georgia.eot');
  src: url('fonts/georgia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_georgiaz';
  src: url('fonts/georgiaz.eot');
  src: url('fonts/georgiaz.ttf') format('truetype'), url('fonts/georgiaz.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.menu_bg_gr_hover {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
  /* IE6-9 */

}
.menu_bg_gr {
  background: #8c8c8c;
  /* Old browsers */

  background: -moz-linear-gradient(top, #8c8c8c 0%, #797979 50%, #636363 51%, #737373 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8c8c8c), color-stop(50%, #797979), color-stop(51%, #636363), color-stop(100%, #737373));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #8c8c8c 0%, #797979 50%, #636363 51%, #737373 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #8c8c8c 0%, #797979 50%, #636363 51%, #737373 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #8c8c8c 0%, #797979 50%, #636363 51%, #737373 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #8c8c8c 0%, #797979 50%, #636363 51%, #737373 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8c8c8c', endColorstr='#737373', GradientType=0);
  /* IE6-9 */

}
.item_main_bg {
  background: #f1f1f1;
  /* Old browsers */

  background: -moz-linear-gradient(top, #f1f1f1 0%, #f9f9f9 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, #f9f9f9));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #f1f1f1 0%, #f9f9f9 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #f1f1f1 0%, #f9f9f9 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #f1f1f1 0%, #f9f9f9 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #f1f1f1 0%, #f9f9f9 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#f9f9f9', GradientType=0);
  /* IE6-9 */
}

html.mzr-svg * {
  filter: none !important;
}
/**
 * helper mixin
 */
/* For image replacement */
/**
 * Drupal helper clone mixin
 */
html,
body {
  height: 100%;
}
#logo-floater,
#block-block-2 {
  position: absolute;
  top: 2px;
  z-index: 10;
}
#wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  background-color: #000000;
  background: #7b7c7d url("images/one_bg.png") repeat-x top left;
  min-width: 1000px;
}
body #wrapper {
  background: #ffffff;
}
body #wrapper #block-system-user-menu,
body #wrapper #block-menu-menu-top-menu-anonim {
  margin-top: 25px;
}
body #wrapper #block-system-user-menu .content a,
body #wrapper #block-menu-menu-top-menu-anonim .content a {
  color: #b9b9b9;
  font-weight: bold;
  border: none;
}
body #wrapper #block-system-user-menu .content a:hover,
body #wrapper #block-menu-menu-top-menu-anonim .content a:hover {
  background: none;
  color: #3d98f1;
}
body #wrapper #block-block-1 {
  display: none;
}
body #wrapper #block-block-2 {
  top: 15px;
}
body #wrapper #block-views-video-slide-block {
  min-height: 665px;
  background: url("images/front_shadow.png") no-repeat bottom center;
}
body #wrapper #block-views-video-slide-block .view-video-slide:before {
  content: '.';
  color: transparent;
  text-indent: 100%;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
  width: 3000px;
  left: 50%;
  margin-left: -1500px;
  height: 170px;
  position: absolute;
  background: #f5f5f5;
  top: 0;
}
body #wrapper #block-views-video-slide-block .view-video-slide footer {
  min-height: 400px;
  padding-top: 70px;
  clear: both;
  overflow: hidden;
  background: url("images/main_teach.png") no-repeat right;
}
body #wrapper #block-views-video-slide-block .view-video-slide footer .views-row {
  background: url("images/video_main.png") no-repeat top center;
  padding-top: 20px;
  width: 485px!important;
  height: 285px!important;
  padding-top: 16px;
  padding-left: 98px;
  padding-right: 100px;
  padding-bottom: 75px;
}
body #wrapper #block-views-video-slide-block .view-video-slide footer .views-row {
  display: none;
}
body #wrapper #block-views-video-slide-block .view-video-slide > .view-content {
  z-index: 1;
  position: relative;
  clear: both;
  cursor: pointer;
  width: 100%;
}
body #wrapper #block-views-video-slide-block .view-video-slide > .view-content .views-row {
  width: 110px;
  height: 170px;
  margin: 0 7px;
  float: left;
  text-align: center;
  clear: none;
}
body #wrapper #block-views-video-slide-block .view-video-slide > .view-content .views-row.views-row-first {
  margin-left: 10px;
}
body #wrapper #block-views-video-slide-block .view-video-slide > .view-content .views-row .views-field-field-image {
  display: block;
  height: 100px;
  margin-bottom: 10px;
}
body #wrapper #block-views-video-slide-block .view-video-slide > .view-content .views-row .views-field-title {
  border: none;
  float: none;
  width: 100%;
  padding: 0;
}
body #wrapper #block-views-video-slide-block .view-video-slide > .view-content .views-row .views-field,
body #wrapper #block-views-video-slide-block .view-video-slide > .view-content .views-row a {
  background: none;
  padding: 0;
  width: auto;
  color: #464646;
  font-weight: normal;
}
body #wrapper header {
  height: 110px;
  margin-bottom: 40px;
}
body #wrapper header .region {
  height: 110px;
}
body #wrapper header #block-menu-menu-second-top-menu {
  bottom: 0;
  width: 100%;
  height: 37px;
  border-radius: 7px;
  background: #8c8c8c;
  /* Old browsers */

  background: -moz-linear-gradient(top, #8c8c8c 0%, #797979 50%, #636363 51%, #737373 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8c8c8c), color-stop(50%, #797979), color-stop(51%, #636363), color-stop(100%, #737373));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #8c8c8c 0%, #797979 50%, #636363 51%, #737373 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #8c8c8c 0%, #797979 50%, #636363 51%, #737373 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #8c8c8c 0%, #797979 50%, #636363 51%, #737373 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #8c8c8c 0%, #797979 50%, #636363 51%, #737373 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8c8c8c', endColorstr='#737373', GradientType=0);
  /* IE6-9 */

}
body #wrapper header #block-menu-menu-second-top-menu .content .level-0 > li {
  font-family: myriad;
  line-height: 37px;
  background: url("images/new_menu.png") no-repeat right center;
  float: left;
}
body #wrapper header #block-menu-menu-second-top-menu .content .level-0 > li ul {
  background: url("images/opac.png");
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
  /* IE6-9 */

  background-color: #cccccc;
  border-radius: 0 0 7px 7px;
  left: 7px;
  position: absolute;
  z-index: 999;
}
body #wrapper header #block-menu-menu-second-top-menu .content .level-0 > li ul li {
  border: none;
}
body #wrapper header #block-menu-menu-second-top-menu .content .level-0 > li ul li a {
  color: #ffffff;
}
body #wrapper header #block-menu-menu-second-top-menu .content .level-0 > li ul li a:hover {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
  /* IE6-9 */

}
body #wrapper header #block-menu-menu-second-top-menu .content .level-0 > li > a {
  line-height: 37px;
  border: none;
  color: #fefefe;
  padding: 0 30px;
  font-family: arial;
  font-size: 14px;
  text-shadow: 1px 0 2px #555555;
}
body #wrapper header #block-menu-menu-second-top-menu .content .level-0 > li > a:hover,
body #wrapper header #block-menu-menu-second-top-menu .content .level-0 > li > a.active {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
  /* IE6-9 */

}
body #wrapper header:before {
  content: '';
  background: none;
}
#wrapper > header {
  height: 90px;
  position: relative;
  margin: 0 auto 21px;
  background: #ffffff;
}
#wrapper > header:before {
  content: "/";
  color: transparent;
  text-indent: 100%;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
  background: #000000;
  display: block;
  position: absolute;
  top: 0;
  height: 35px;
  width: 100%;
}
#wrapper > header .region {
  width: 1000px;
  position: relative;
  height: 90px;
  margin: 0 auto;
}
#wrapper > footer {
  /*  &:before{
      content: "/";
      .ir();
      background: @black;
      display: block;
      position: absolute;
      bottom: 0;
      height: 35px;
      left: -5000px;
      width: 10000px;
    }*/

  position: absolute;
  line-height: 45px;
  color: #555555;
  border-top: #e5e5e5 1px solid;
  bottom: 0;
  left: 50%;
  margin-left: -500px;
  width: 1000px;
  height: 45px;
}
#container {
  position: relative;
  width: 1000px;
  margin: 0 auto 45px;
  padding-bottom: 21px;
}
body.not-front #container {
  padding: 21px;
  box-shadow: 0 0 4px ;
  background: #fff;
}
#center {
  float: left;
  width: 100%;
}
#squeeze {
  padding: 0 21px;
}
body.sidebar-first #squeeze {
  margin-left: 191px;
}
body.sidebar-second #squeeze {
  margin-right: 461px;
}
body.two-sidebars #squeeze {
  margin: 0 461px 0 191px;
}
body.front #squeeze {
  padding: 0;
}
#container > aside {
  float: left;
  z-index: 2;
  position: relative;
}
#container > aside .block {
  margin-bottom: 21px;
}
#sidebar-first {
  width: 170px;
  padding-left: 21px;
  margin-left: -100%;
}
#sidebar-second {
  width: 440px;
  padding-right: 21px;
  margin-left: -461px;
}
a {
  border: none;
  color: #1c94c4;
}
a::before,
a,
a::after {
  transition-property: color, background-color, border-color, box-shadow, opacity;
  transition-duration: .2s;
}
a img {
  border: none;
  outline: none;
}
a.js {
  text-decoration: none;
  border-bottom-width: .1em;
  border-bottom-style: dashed;
}
a:hover {
  outline: none;
  color: #237799;
}
#branding {
  margin: 0;
  font: inherit;
}
#branding a {
  text-decoration: none;
}
tr.odd,
tr.info,
tr.even {
  color: #000000;
}
thead th {
  background-color: #ffffff;
}
form input,
form select,
form textarea {
  border: 1px solid #cccccc;
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
}
form input[disabled],
form select[disabled],
form textarea[disabled] {
  background-color: #cccccc;
}
form input[readonly],
form select[readonly],
form textarea[readonly] {
  background-color: #e6e6e6;
}
form input:focus,
form select:focus,
form textarea:focus {
  border-color: #f6a828;
}
form input[type=checkbox],
form input[type=radio] {
  border: none;
  padding: 0;
}
form button,
form input,
form select,
form textarea {
  line-height: 1.5 !important;
}
form textarea {
  border-radius: 5px 5px 0 0;
}
form input.error,
form textarea.error {
  border: 1px solid #ae2b2b;
  color: #000000;
}
form fieldset {
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 11px;
  padding: 14px;
}
form fieldset.vertical-tabs-pane {
  border: none;
  padding: 0 14px;
}
form fieldset legend {
  color: #333333;
  font-weight: 600;
  padding: 0 14px;
}
form fieldset.collapsed {
  border-radius: 0;
  padding-top: 0;
  border-color: #cccccc transparent transparent;
}
form legend {
  font-family: "PT Sans Narrow", sans-serif;
  background: #ffffff;
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 8px;
}
form .vertical-tabs {
  background: #ffffff;
}
form .description {
  color: #333333;
}
form .form-required {
  color: #f6a828;
}
.inputUI-wrap {
  position: relative;
  width: 14px;
  height: 14px;
  margin: 1px 5px 5px 0;
  display: inline-block;
  vertical-align: middle;
}
.inputUI-processed,
.ui-checkbox,
.ui-radio {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.inputUI-processed {
  opacity: 0;
  z-index: 1;
}
.ui-checkbox,
.ui-radio {
  z-index: 0;
}
.ui-checkbox,
.ui-radio {
  border: 1px solid #cccccc;
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
}
.ui-checkbox[disabled],
.ui-radio[disabled] {
  background-color: #cccccc;
}
.ui-checkbox[readonly],
.ui-radio[readonly] {
  background-color: #e6e6e6;
}
.ui-checkbox::before,
.ui-radio::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  background: rgba(0, 128, 0, 0);
}
.inputUI-processed:checked + .ui-checkbox::before,
.inputUI-processed:checked + .ui-radio::before {
  background: #008000;
}
.inputUI-processed:focus + .ui-checkbox,
.inputUI-processed:focus + .ui-radio {
  border-color: #f6a828;
}
.inputUI-processed:active + .ui-checkbox,
.inputUI-processed:active + .ui-radio {
  background-color: #cccccc;
}
.inputUI-processed[disabled] + .ui-checkbox,
.inputUI-processed[disabled] + .ui-radio {
  background-color: #cccccc;
}
.inputUI-processed[disabled] + .ui-checkbox::before,
.inputUI-processed[disabled] + .ui-radio::before {
  opacity: .5;
}
.ui-radio,
.ui-radio::before {
  border-radius: 50%;
}
html.js input.form-autocomplete {
  background-position: 100% 5px;
}
html.js input.throbbing {
  background-position: 100% -15px;
}
.file-icon {
  vertical-align: middle;
}
.form-item,
.form-actions {
  margin-top: 14px;
  margin-bottom: 14px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 11px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: 11px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 11px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 11px;
}
.ui-dialog {
  padding: 3px;
}
.ui-widget-header {
  background-image: linear-gradient(180deg, #f8be5e 30%, #f6a828 70%);
  border-color: #d18f22;
  border-radius: 8px;
}
.ui-widget-header .ui-corner-all {
  border-radius: 5px;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background-image: linear-gradient(180deg, #ffffff 30%, #f6f6f6 70%);
  border: 1px solid #cccccc;
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: .2s;
  color: #1c94c4;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  background-image: linear-gradient(180deg, #ffffff 30%, #f0f0f0 70%);
  border-color: #f6a828;
  color: #237799;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  background-image: linear-gradient(360deg, #ffffff 30%, #f0f0f0 70%);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}
.ui-widget-content {
  background-image: linear-gradient(180deg, #fbfbfb 30px, #eeeeee 60px);
  background-color: #eeeeee;
  color: #000000;
}
.ui-dialog .ui-dialog-titlebar-close span {
  /*  margin: 0 2*round(.1*@rex) 2*round(.1*@rex) 0;*/

}
body {
  color: #333333;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 1.5;
  font-family: arial;
}
body.front {
  font-size: 12px;
  line-height: 1.2;
}
.courses li {
  list-style-image: none;
  list-style-type: none;
}
.courses li,
.courses ul,
.courses ol {
  margin: 0;
  padding: 0;
  background: none;
}
.page-curator h1 {
  line-height: 1.2;
}
#block-block-1 {
  position: absolute;
  right: 0;
  width: 190px;
  top: 42px;
  line-height: 1;
}
#block-block-1 .content {
  font-family: 'Conv_georgia';
}
#block-views-video-slide-block {
  min-height: 370px;
  position: relative;
}
#block-views-video-slide-block .view-header {
  width: 630px;
  height: 350px;
  padding: 10px;
  background: #555555;
  border-radius: 14px;
  top: 0;
  margin: 0 auto;
}
#block-views-video-slide-block .view-header .view-content {
  position: relative;
  top: 0;
}
#block-views-video-slide-block .view-header .views-row {
  float: none;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
#block-views-video-slide-block .view-header .views-row.views-row-1 {
  display: block;
}
#block-views-video-slide-block .content > .view-video-slide > .view-content {
  position: absolute;
  top: 21px;
  width: 100%;
}
#block-views-video-slide-block .content > .view-video-slide > .view-content .views-row {
  float: right;
  clear: right;
  overflow: hidden;
}
#block-views-video-slide-block .content > .view-video-slide > .view-content .views-row .views-field-title {
  width: 134px;
  text-align: center;
  padding-left: 24px;
  margin-bottom: 5px;
}
#block-views-video-slide-block .content > .view-video-slide > .view-content .views-row .views-field-title a {
  display: block;
  line-height: 1;
  background: url("images/li_main.png") no-repeat center top;
  width: 124px;
  color: #cccccc;
  text-decoration: none;
  padding: 0 5px;
}
#block-views-video-slide-block .content > .view-video-slide > .view-content .views-row .views-field-title a:hover {
  background-image: url("images/li_main_hover.png");
  color: #ffffff;
}
#block-views-video-slide-block .content > .view-video-slide > .view-content .views-row .activeTitle {
  min-height: 31px;
  background: url("images/li_main_right_active.png") no-repeat right center;
}
#block-views-video-slide-block .content > .view-video-slide > .view-content .views-row .activeTitle a {
  background: none;
}
#block-views-video-slide-block .content > .view-video-slide > .view-content .views-row.views-row-2 .views-field-title {
  min-height: 31px;
  background: url("images/li_main_right_active.png") no-repeat right center;
  border-right: 5px solid #3d98f1;
}
#block-views-video-slide-block .content > .view-video-slide > .view-content .views-row.views-row-2 .views-field-title a {
  background: none;
  font-weight: bold;
  color: #3d98f1;
}
#block-views-video-slide-block .content > .view-video-slide > .view-content .views-row.views-row-odd {
  float: left;
  clear: left;
}
#block-views-video-slide-block .content > .view-video-slide > .view-content .views-row.views-row-odd .activeTitle {
  min-height: 31px;
  background: url("images/li_main_left_active.png") no-repeat left center;
}
#block-views-video-slide-block .content > .view-video-slide > .view-content .views-row.views-row-odd .activeTitle a {
  background: none;
}
#block-views-video-slide-block .content > .view-video-slide > .view-content .views-row.views-row-odd .views-field-title {
  width: 132px;
  padding-left: 0;
  padding-right: 24px;
}
#block-views-video-slide-block .content > .view-video-slide > .view-content .views-row .views-field-field-video,
#block-views-video-slide-block .content > .view-video-slide > .view-content .views-row .views-field-field-image {
  display: none;
}
.view-frontpage {
  overflow: hidden;
  margin-top: 60px;
  min-height: 190px;
  margin-bottom: 30px;
  clear: both;
}
.view-frontpage .views-row {
  color: #646464;
  margin-right: 15px;
  padding: 25px 18px;
  font-size: 13px;
  min-height: 125px;
  border-radius: 7px;
  background: #f1f1f1;
  /* Old browsers */

  background: -moz-linear-gradient(top, #f1f1f1 0%, #f9f9f9 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, #f9f9f9));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #f1f1f1 0%, #f9f9f9 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #f1f1f1 0%, #f9f9f9 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #f1f1f1 0%, #f9f9f9 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #f1f1f1 0%, #f9f9f9 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#f9f9f9', GradientType=0);
  /* IE6-9 */

  line-height: 18px;
  position: relative;
  float: left;
  width: 285px;
}
.view-frontpage .views-row:after {
  content: '.';
  color: transparent;
  text-indent: 100%;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
  width: 100%;
  height: 8px;
  bottom: -8px;
  position: absolute;
  background: url("images/front_row_it.png") no-repeat bottom center;
}
.view-frontpage .views-row.views-row-1 .views-field-title {
  background: url("images/icon1.png") no-repeat top left;
}
.view-frontpage .views-row.views-row-2 .views-field-title {
  background: url("images/icon2.png") no-repeat top left;
}
.view-frontpage .views-row.views-row-3 {
  margin-right: 0;
}
.view-frontpage .views-row.views-row-3 .views-field-title {
  background: url("images/icon3.png") no-repeat top left;
}
.view-frontpage .views-row .views-field-title {
  padding: 5px 0;
  padding-bottom: 10px;
  line-height: 1;
  margin: 0 auto;
  font-family: 'Conv_georgia';
  font-size: 17px;
  padding-left: 35px;
}
#block-block-4 {
  position: absolute;
  top: 0px;
  right: 0;
}
.block-custom-user .hidden {
  display: none;
}
.field-name-field-course-id {
  display: none;
}
#block-system-user-menu,
#block-menu-menu-top-menu-anonim {
  position: absolute;
  top: 0;
  right: 0;
}
#block-system-user-menu .content li,
#block-menu-menu-top-menu-anonim .content li {
  list-style-image: none;
  list-style-type: none;
}
#block-system-user-menu .content li,
#block-menu-menu-top-menu-anonim .content li,
#block-system-user-menu .content ul,
#block-menu-menu-top-menu-anonim .content ul,
#block-system-user-menu .content ol,
#block-menu-menu-top-menu-anonim .content ol {
  margin: 0;
  padding: 0;
  background: none;
}
#block-system-user-menu .content ul,
#block-menu-menu-top-menu-anonim .content ul {
  overflow: hiden;
}
#block-system-user-menu .content ul li,
#block-menu-menu-top-menu-anonim .content ul li {
  float: left;
}
#block-system-user-menu .content ul li.first a,
#block-menu-menu-top-menu-anonim .content ul li.first a {
  border-left: 1px solid #666666;
}
#block-system-user-menu .content ul li a,
#block-menu-menu-top-menu-anonim .content ul li a {
  line-height: 35px;
  padding: 0 10px;
  color: #ffffff;
  text-decoration: none;
  border-right: 1px solid #666666;
}
#block-system-user-menu .content ul li a:hover,
#block-menu-menu-top-menu-anonim .content ul li a:hover {
  background: #333333;
}
h1 {
  font-family: 'Conv_georgia';
  font-size: 24px;
  font-weight: normal;
}
#block-menu-menu-second-top-menu {
  position: absolute;
  left: 0;
  bottom: 21px;
}
#block-menu-menu-second-top-menu .content li {
  list-style-image: none;
  list-style-type: none;
}
#block-menu-menu-second-top-menu .content li,
#block-menu-menu-second-top-menu .content ul,
#block-menu-menu-second-top-menu .content ol {
  margin: 0;
  padding: 0;
  background: none;
}
#block-menu-menu-second-top-menu .content ul li {
  position: relative;
  display: inline-block;
}
#block-menu-menu-second-top-menu .content ul li ul {
  display: none;
  position: absolute;
  min-width: 200px;
  background: #ffffff;
  z-index: 999;
  top: 100%;
  left: 0;
}
#block-menu-menu-second-top-menu .content ul li ul li {
  display: block;
  border: 1px solid #000000;
  border-bottom: none;
}
#block-menu-menu-second-top-menu .content ul li ul li.first {
  border-top: none;
}
#block-menu-menu-second-top-menu .content ul li ul li.last {
  border-bottom: 1px solid #000000;
}
#block-menu-menu-second-top-menu .content ul li ul li a {
  border: none!important;
  line-height: 30px;
}
#block-menu-menu-second-top-menu .content ul li:hover ul {
  display: block;
}
#block-menu-menu-second-top-menu .content ul li.first a {
  border-left: 1px solid #333;
}
#block-menu-menu-second-top-menu .content ul li a {
  line-height: 15px;
  padding: 0 21px;
  color: #333333;
  text-decoration: none;
  border-right: 1px solid #333333;
}
#block-menu-menu-second-top-menu .content ul li a:hover,
#block-menu-menu-second-top-menu .content ul li a.active {
  color: #006699;
}
#block-menu-menu-admin-left-menu,
#block-menu-menu-pupil-left-menu,
#block-menu-menu-curator-left-menu {
  margin-top: 55px;
}
#block-menu-menu-admin-left-menu .content li,
#block-menu-menu-pupil-left-menu .content li,
#block-menu-menu-curator-left-menu .content li {
  list-style-image: none;
  list-style-type: none;
}
#block-menu-menu-admin-left-menu .content li,
#block-menu-menu-pupil-left-menu .content li,
#block-menu-menu-curator-left-menu .content li,
#block-menu-menu-admin-left-menu .content ul,
#block-menu-menu-pupil-left-menu .content ul,
#block-menu-menu-curator-left-menu .content ul,
#block-menu-menu-admin-left-menu .content ol,
#block-menu-menu-pupil-left-menu .content ol,
#block-menu-menu-curator-left-menu .content ol {
  margin: 0;
  padding: 0;
  background: none;
}
#block-menu-menu-admin-left-menu .content ul li,
#block-menu-menu-pupil-left-menu .content ul li,
#block-menu-menu-curator-left-menu .content ul li {
  margin-bottom: 5px;
}
#block-menu-menu-admin-left-menu .content a,
#block-menu-menu-pupil-left-menu .content a,
#block-menu-menu-curator-left-menu .content a {
  display: block;
  font-size: 14px;
  line-height: 30px;
  background: url("images/li_main.png") no-repeat left top;
  min-width: 124px;
  color: #cccccc;
  text-decoration: none;
  padding: 0 5px;
}
#block-menu-menu-admin-left-menu .content a.active,
#block-menu-menu-pupil-left-menu .content a.active,
#block-menu-menu-curator-left-menu .content a.active {
  background-image: url("images/li_main_left_active.png");
}
#block-menu-menu-admin-left-menu .content a:hover,
#block-menu-menu-pupil-left-menu .content a:hover,
#block-menu-menu-curator-left-menu .content a:hover {
  background-image: url("images/li_main_hover.png");
  color: #ffffff;
}
.num,
.lesson_num {
  background: url("images/num.png") no-repeat center top;
  width: 25px;
  height: 25px;
  line-height: 1.1;
  display: block;
  float: left;
  text-align: center;
  margin-right: 5px;
  font-family: 'Conv_georgia';
  font-size: 18px;
  color: #999999;
}
h1 {
  background: url("images/monik.png") no-repeat left center;
  line-height: 65px;
  padding-left: 75px;
  border-bottom: #ccccff 3px solid;
}
.look_course {
  float: right;
  background: url("images/course_look.png") no-repeat left center;
  width: 120px;
  padding-right: 23px;
  text-align: center;
}
.look_course a {
  display: block;
  font-size: 12px;
  line-height: 31px;
  text-decoration: none;
  color: #333333 !important;
}
body.page-user #block-system-main,
body.page-user #block-custom-user-custom-user-pupils-course,
body.page-course-admin-courses #block-system-main,
body.page-course-admin-courses #block-custom-user-custom-user-pupils-course,
body.page-library-pupil #block-system-main,
body.page-library-pupil #block-custom-user-custom-user-pupils-course,
body.page-library-admin #block-system-main,
body.page-library-admin #block-custom-user-custom-user-pupils-course,
body.page-pupil-courses #block-system-main,
body.page-pupil-courses #block-custom-user-custom-user-pupils-course,
body.page-curator-courses #block-system-main,
body.page-curator-courses #block-custom-user-custom-user-pupils-course,
body.page-course-statistic #block-system-main,
body.page-course-statistic #block-custom-user-custom-user-pupils-course,
body.page-stat-pupil #block-system-main,
body.page-stat-pupil #block-custom-user-custom-user-pupils-course {
  font-size: 14px;
  color: #3399cc;
  line-height: 25px;
}
body.page-user #block-system-main li,
body.page-user #block-custom-user-custom-user-pupils-course li,
body.page-course-admin-courses #block-system-main li,
body.page-course-admin-courses #block-custom-user-custom-user-pupils-course li,
body.page-library-pupil #block-system-main li,
body.page-library-pupil #block-custom-user-custom-user-pupils-course li,
body.page-library-admin #block-system-main li,
body.page-library-admin #block-custom-user-custom-user-pupils-course li,
body.page-pupil-courses #block-system-main li,
body.page-pupil-courses #block-custom-user-custom-user-pupils-course li,
body.page-curator-courses #block-system-main li,
body.page-curator-courses #block-custom-user-custom-user-pupils-course li,
body.page-course-statistic #block-system-main li,
body.page-course-statistic #block-custom-user-custom-user-pupils-course li,
body.page-stat-pupil #block-system-main li,
body.page-stat-pupil #block-custom-user-custom-user-pupils-course li {
  list-style-image: none;
  list-style-type: none;
}
body.page-user #block-system-main li,
body.page-user #block-custom-user-custom-user-pupils-course li,
body.page-course-admin-courses #block-system-main li,
body.page-course-admin-courses #block-custom-user-custom-user-pupils-course li,
body.page-library-pupil #block-system-main li,
body.page-library-pupil #block-custom-user-custom-user-pupils-course li,
body.page-library-admin #block-system-main li,
body.page-library-admin #block-custom-user-custom-user-pupils-course li,
body.page-pupil-courses #block-system-main li,
body.page-pupil-courses #block-custom-user-custom-user-pupils-course li,
body.page-curator-courses #block-system-main li,
body.page-curator-courses #block-custom-user-custom-user-pupils-course li,
body.page-course-statistic #block-system-main li,
body.page-course-statistic #block-custom-user-custom-user-pupils-course li,
body.page-stat-pupil #block-system-main li,
body.page-stat-pupil #block-custom-user-custom-user-pupils-course li,
body.page-user #block-system-main ul,
body.page-user #block-custom-user-custom-user-pupils-course ul,
body.page-course-admin-courses #block-system-main ul,
body.page-course-admin-courses #block-custom-user-custom-user-pupils-course ul,
body.page-library-pupil #block-system-main ul,
body.page-library-pupil #block-custom-user-custom-user-pupils-course ul,
body.page-library-admin #block-system-main ul,
body.page-library-admin #block-custom-user-custom-user-pupils-course ul,
body.page-pupil-courses #block-system-main ul,
body.page-pupil-courses #block-custom-user-custom-user-pupils-course ul,
body.page-curator-courses #block-system-main ul,
body.page-curator-courses #block-custom-user-custom-user-pupils-course ul,
body.page-course-statistic #block-system-main ul,
body.page-course-statistic #block-custom-user-custom-user-pupils-course ul,
body.page-stat-pupil #block-system-main ul,
body.page-stat-pupil #block-custom-user-custom-user-pupils-course ul,
body.page-user #block-system-main ol,
body.page-user #block-custom-user-custom-user-pupils-course ol,
body.page-course-admin-courses #block-system-main ol,
body.page-course-admin-courses #block-custom-user-custom-user-pupils-course ol,
body.page-library-pupil #block-system-main ol,
body.page-library-pupil #block-custom-user-custom-user-pupils-course ol,
body.page-library-admin #block-system-main ol,
body.page-library-admin #block-custom-user-custom-user-pupils-course ol,
body.page-pupil-courses #block-system-main ol,
body.page-pupil-courses #block-custom-user-custom-user-pupils-course ol,
body.page-curator-courses #block-system-main ol,
body.page-curator-courses #block-custom-user-custom-user-pupils-course ol,
body.page-course-statistic #block-system-main ol,
body.page-course-statistic #block-custom-user-custom-user-pupils-course ol,
body.page-stat-pupil #block-system-main ol,
body.page-stat-pupil #block-custom-user-custom-user-pupils-course ol {
  margin: 0;
  padding: 0;
  background: none;
}
body.page-user #block-system-main .courses,
body.page-user #block-custom-user-custom-user-pupils-course .courses,
body.page-course-admin-courses #block-system-main .courses,
body.page-course-admin-courses #block-custom-user-custom-user-pupils-course .courses,
body.page-library-pupil #block-system-main .courses,
body.page-library-pupil #block-custom-user-custom-user-pupils-course .courses,
body.page-library-admin #block-system-main .courses,
body.page-library-admin #block-custom-user-custom-user-pupils-course .courses,
body.page-pupil-courses #block-system-main .courses,
body.page-pupil-courses #block-custom-user-custom-user-pupils-course .courses,
body.page-curator-courses #block-system-main .courses,
body.page-curator-courses #block-custom-user-custom-user-pupils-course .courses,
body.page-course-statistic #block-system-main .courses,
body.page-course-statistic #block-custom-user-custom-user-pupils-course .courses,
body.page-stat-pupil #block-system-main .courses,
body.page-stat-pupil #block-custom-user-custom-user-pupils-course .courses {
  margin-top: 21px;
  margin-bottom: 21px;
}
body.page-user #block-system-main .courses li,
body.page-user #block-custom-user-custom-user-pupils-course .courses li,
body.page-course-admin-courses #block-system-main .courses li,
body.page-course-admin-courses #block-custom-user-custom-user-pupils-course .courses li,
body.page-library-pupil #block-system-main .courses li,
body.page-library-pupil #block-custom-user-custom-user-pupils-course .courses li,
body.page-library-admin #block-system-main .courses li,
body.page-library-admin #block-custom-user-custom-user-pupils-course .courses li,
body.page-pupil-courses #block-system-main .courses li,
body.page-pupil-courses #block-custom-user-custom-user-pupils-course .courses li,
body.page-curator-courses #block-system-main .courses li,
body.page-curator-courses #block-custom-user-custom-user-pupils-course .courses li,
body.page-course-statistic #block-system-main .courses li,
body.page-course-statistic #block-custom-user-custom-user-pupils-course .courses li,
body.page-stat-pupil #block-system-main .courses li,
body.page-stat-pupil #block-custom-user-custom-user-pupils-course .courses li {
  overflow: hidden;
}
body.page-user #block-system-main .courses li ul,
body.page-user #block-custom-user-custom-user-pupils-course .courses li ul,
body.page-course-admin-courses #block-system-main .courses li ul,
body.page-course-admin-courses #block-custom-user-custom-user-pupils-course .courses li ul,
body.page-library-pupil #block-system-main .courses li ul,
body.page-library-pupil #block-custom-user-custom-user-pupils-course .courses li ul,
body.page-library-admin #block-system-main .courses li ul,
body.page-library-admin #block-custom-user-custom-user-pupils-course .courses li ul,
body.page-pupil-courses #block-system-main .courses li ul,
body.page-pupil-courses #block-custom-user-custom-user-pupils-course .courses li ul,
body.page-curator-courses #block-system-main .courses li ul,
body.page-curator-courses #block-custom-user-custom-user-pupils-course .courses li ul,
body.page-course-statistic #block-system-main .courses li ul,
body.page-course-statistic #block-custom-user-custom-user-pupils-course .courses li ul,
body.page-stat-pupil #block-system-main .courses li ul,
body.page-stat-pupil #block-custom-user-custom-user-pupils-course .courses li ul {
  display: none;
}
body.page-user #block-system-main .courses li.expanded .course_title,
body.page-user #block-custom-user-custom-user-pupils-course .courses li.expanded .course_title,
body.page-course-admin-courses #block-system-main .courses li.expanded .course_title,
body.page-course-admin-courses #block-custom-user-custom-user-pupils-course .courses li.expanded .course_title,
body.page-library-pupil #block-system-main .courses li.expanded .course_title,
body.page-library-pupil #block-custom-user-custom-user-pupils-course .courses li.expanded .course_title,
body.page-library-admin #block-system-main .courses li.expanded .course_title,
body.page-library-admin #block-custom-user-custom-user-pupils-course .courses li.expanded .course_title,
body.page-pupil-courses #block-system-main .courses li.expanded .course_title,
body.page-pupil-courses #block-custom-user-custom-user-pupils-course .courses li.expanded .course_title,
body.page-curator-courses #block-system-main .courses li.expanded .course_title,
body.page-curator-courses #block-custom-user-custom-user-pupils-course .courses li.expanded .course_title,
body.page-course-statistic #block-system-main .courses li.expanded .course_title,
body.page-course-statistic #block-custom-user-custom-user-pupils-course .courses li.expanded .course_title,
body.page-stat-pupil #block-system-main .courses li.expanded .course_title,
body.page-stat-pupil #block-custom-user-custom-user-pupils-course .courses li.expanded .course_title {
  background: url("images/cours_no_expand.jpg") no-repeat left center;
}
body.page-user #block-system-main .courses li.expanded ul,
body.page-user #block-custom-user-custom-user-pupils-course .courses li.expanded ul,
body.page-course-admin-courses #block-system-main .courses li.expanded ul,
body.page-course-admin-courses #block-custom-user-custom-user-pupils-course .courses li.expanded ul,
body.page-library-pupil #block-system-main .courses li.expanded ul,
body.page-library-pupil #block-custom-user-custom-user-pupils-course .courses li.expanded ul,
body.page-library-admin #block-system-main .courses li.expanded ul,
body.page-library-admin #block-custom-user-custom-user-pupils-course .courses li.expanded ul,
body.page-pupil-courses #block-system-main .courses li.expanded ul,
body.page-pupil-courses #block-custom-user-custom-user-pupils-course .courses li.expanded ul,
body.page-curator-courses #block-system-main .courses li.expanded ul,
body.page-curator-courses #block-custom-user-custom-user-pupils-course .courses li.expanded ul,
body.page-course-statistic #block-system-main .courses li.expanded ul,
body.page-course-statistic #block-custom-user-custom-user-pupils-course .courses li.expanded ul,
body.page-stat-pupil #block-system-main .courses li.expanded ul,
body.page-stat-pupil #block-custom-user-custom-user-pupils-course .courses li.expanded ul {
  display: block;
}
body.page-user #block-system-main .courses li.expanded ul li:hover,
body.page-user #block-custom-user-custom-user-pupils-course .courses li.expanded ul li:hover,
body.page-course-admin-courses #block-system-main .courses li.expanded ul li:hover,
body.page-course-admin-courses #block-custom-user-custom-user-pupils-course .courses li.expanded ul li:hover,
body.page-library-pupil #block-system-main .courses li.expanded ul li:hover,
body.page-library-pupil #block-custom-user-custom-user-pupils-course .courses li.expanded ul li:hover,
body.page-library-admin #block-system-main .courses li.expanded ul li:hover,
body.page-library-admin #block-custom-user-custom-user-pupils-course .courses li.expanded ul li:hover,
body.page-pupil-courses #block-system-main .courses li.expanded ul li:hover,
body.page-pupil-courses #block-custom-user-custom-user-pupils-course .courses li.expanded ul li:hover,
body.page-curator-courses #block-system-main .courses li.expanded ul li:hover,
body.page-curator-courses #block-custom-user-custom-user-pupils-course .courses li.expanded ul li:hover,
body.page-course-statistic #block-system-main .courses li.expanded ul li:hover,
body.page-course-statistic #block-custom-user-custom-user-pupils-course .courses li.expanded ul li:hover,
body.page-stat-pupil #block-system-main .courses li.expanded ul li:hover,
body.page-stat-pupil #block-custom-user-custom-user-pupils-course .courses li.expanded ul li:hover {
  background: #dddddd;
}
body.page-user #block-system-main .courses .course_title,
body.page-user #block-custom-user-custom-user-pupils-course .courses .course_title,
body.page-course-admin-courses #block-system-main .courses .course_title,
body.page-course-admin-courses #block-custom-user-custom-user-pupils-course .courses .course_title,
body.page-library-pupil #block-system-main .courses .course_title,
body.page-library-pupil #block-custom-user-custom-user-pupils-course .courses .course_title,
body.page-library-admin #block-system-main .courses .course_title,
body.page-library-admin #block-custom-user-custom-user-pupils-course .courses .course_title,
body.page-pupil-courses #block-system-main .courses .course_title,
body.page-pupil-courses #block-custom-user-custom-user-pupils-course .courses .course_title,
body.page-curator-courses #block-system-main .courses .course_title,
body.page-curator-courses #block-custom-user-custom-user-pupils-course .courses .course_title,
body.page-course-statistic #block-system-main .courses .course_title,
body.page-course-statistic #block-custom-user-custom-user-pupils-course .courses .course_title,
body.page-stat-pupil #block-system-main .courses .course_title,
body.page-stat-pupil #block-custom-user-custom-user-pupils-course .courses .course_title {
  padding-left: 20px;
  background: url("images/cours_expand.jpg") no-repeat left center;
}
body.page-user #block-system-main .courses > li,
body.page-user #block-custom-user-custom-user-pupils-course .courses > li,
body.page-course-admin-courses #block-system-main .courses > li,
body.page-course-admin-courses #block-custom-user-custom-user-pupils-course .courses > li,
body.page-library-pupil #block-system-main .courses > li,
body.page-library-pupil #block-custom-user-custom-user-pupils-course .courses > li,
body.page-library-admin #block-system-main .courses > li,
body.page-library-admin #block-custom-user-custom-user-pupils-course .courses > li,
body.page-pupil-courses #block-system-main .courses > li,
body.page-pupil-courses #block-custom-user-custom-user-pupils-course .courses > li,
body.page-curator-courses #block-system-main .courses > li,
body.page-curator-courses #block-custom-user-custom-user-pupils-course .courses > li,
body.page-course-statistic #block-system-main .courses > li,
body.page-course-statistic #block-custom-user-custom-user-pupils-course .courses > li,
body.page-stat-pupil #block-system-main .courses > li,
body.page-stat-pupil #block-custom-user-custom-user-pupils-course .courses > li {
  margin: 25px 0;
  padding-left: 10px;
}
body.page-user #block-system-main .courses a,
body.page-user #block-custom-user-custom-user-pupils-course .courses a,
body.page-course-admin-courses #block-system-main .courses a,
body.page-course-admin-courses #block-custom-user-custom-user-pupils-course .courses a,
body.page-library-pupil #block-system-main .courses a,
body.page-library-pupil #block-custom-user-custom-user-pupils-course .courses a,
body.page-library-admin #block-system-main .courses a,
body.page-library-admin #block-custom-user-custom-user-pupils-course .courses a,
body.page-pupil-courses #block-system-main .courses a,
body.page-pupil-courses #block-custom-user-custom-user-pupils-course .courses a,
body.page-curator-courses #block-system-main .courses a,
body.page-curator-courses #block-custom-user-custom-user-pupils-course .courses a,
body.page-course-statistic #block-system-main .courses a,
body.page-course-statistic #block-custom-user-custom-user-pupils-course .courses a,
body.page-stat-pupil #block-system-main .courses a,
body.page-stat-pupil #block-custom-user-custom-user-pupils-course .courses a {
  color: #69b4da;
}
body.page-user #block-system-main .courses ul,
body.page-user #block-custom-user-custom-user-pupils-course .courses ul,
body.page-course-admin-courses #block-system-main .courses ul,
body.page-course-admin-courses #block-custom-user-custom-user-pupils-course .courses ul,
body.page-library-pupil #block-system-main .courses ul,
body.page-library-pupil #block-custom-user-custom-user-pupils-course .courses ul,
body.page-library-admin #block-system-main .courses ul,
body.page-library-admin #block-custom-user-custom-user-pupils-course .courses ul,
body.page-pupil-courses #block-system-main .courses ul,
body.page-pupil-courses #block-custom-user-custom-user-pupils-course .courses ul,
body.page-curator-courses #block-system-main .courses ul,
body.page-curator-courses #block-custom-user-custom-user-pupils-course .courses ul,
body.page-course-statistic #block-system-main .courses ul,
body.page-course-statistic #block-custom-user-custom-user-pupils-course .courses ul,
body.page-stat-pupil #block-system-main .courses ul,
body.page-stat-pupil #block-custom-user-custom-user-pupils-course .courses ul {
  padding-top: 30px;
  margin: 0;
  margin-left: 34px;
  position: relative;
  background: url(images/line_course_line.jpg) no-repeat top left;
  top: -5px;
}
body.page-user #block-system-main .courses ul li,
body.page-user #block-custom-user-custom-user-pupils-course .courses ul li,
body.page-course-admin-courses #block-system-main .courses ul li,
body.page-course-admin-courses #block-custom-user-custom-user-pupils-course .courses ul li,
body.page-library-pupil #block-system-main .courses ul li,
body.page-library-pupil #block-custom-user-custom-user-pupils-course .courses ul li,
body.page-library-admin #block-system-main .courses ul li,
body.page-library-admin #block-custom-user-custom-user-pupils-course .courses ul li,
body.page-pupil-courses #block-system-main .courses ul li,
body.page-pupil-courses #block-custom-user-custom-user-pupils-course .courses ul li,
body.page-curator-courses #block-system-main .courses ul li,
body.page-curator-courses #block-custom-user-custom-user-pupils-course .courses ul li,
body.page-course-statistic #block-system-main .courses ul li,
body.page-course-statistic #block-custom-user-custom-user-pupils-course .courses ul li,
body.page-stat-pupil #block-system-main .courses ul li,
body.page-stat-pupil #block-custom-user-custom-user-pupils-course .courses ul li {
  text-decoration: underline;
  background: url("images/cours_no_expand_two.jpg") no-repeat top left;
  padding-left: 30px;
}
body.page-user #block-system-main .courses ul li:last-child,
body.page-user #block-custom-user-custom-user-pupils-course .courses ul li:last-child,
body.page-course-admin-courses #block-system-main .courses ul li:last-child,
body.page-course-admin-courses #block-custom-user-custom-user-pupils-course .courses ul li:last-child,
body.page-library-pupil #block-system-main .courses ul li:last-child,
body.page-library-pupil #block-custom-user-custom-user-pupils-course .courses ul li:last-child,
body.page-library-admin #block-system-main .courses ul li:last-child,
body.page-library-admin #block-custom-user-custom-user-pupils-course .courses ul li:last-child,
body.page-pupil-courses #block-system-main .courses ul li:last-child,
body.page-pupil-courses #block-custom-user-custom-user-pupils-course .courses ul li:last-child,
body.page-curator-courses #block-system-main .courses ul li:last-child,
body.page-curator-courses #block-custom-user-custom-user-pupils-course .courses ul li:last-child,
body.page-course-statistic #block-system-main .courses ul li:last-child,
body.page-course-statistic #block-custom-user-custom-user-pupils-course .courses ul li:last-child,
body.page-stat-pupil #block-system-main .courses ul li:last-child,
body.page-stat-pupil #block-custom-user-custom-user-pupils-course .courses ul li:last-child {
  background-image: url("images/lesson_hor_line.jpg");
}
body.page-user #block-system-main .courses ul li span,
body.page-user #block-custom-user-custom-user-pupils-course .courses ul li span,
body.page-course-admin-courses #block-system-main .courses ul li span,
body.page-course-admin-courses #block-custom-user-custom-user-pupils-course .courses ul li span,
body.page-library-pupil #block-system-main .courses ul li span,
body.page-library-pupil #block-custom-user-custom-user-pupils-course .courses ul li span,
body.page-library-admin #block-system-main .courses ul li span,
body.page-library-admin #block-custom-user-custom-user-pupils-course .courses ul li span,
body.page-pupil-courses #block-system-main .courses ul li span,
body.page-pupil-courses #block-custom-user-custom-user-pupils-course .courses ul li span,
body.page-curator-courses #block-system-main .courses ul li span,
body.page-curator-courses #block-custom-user-custom-user-pupils-course .courses ul li span,
body.page-course-statistic #block-system-main .courses ul li span,
body.page-course-statistic #block-custom-user-custom-user-pupils-course .courses ul li span,
body.page-stat-pupil #block-system-main .courses ul li span,
body.page-stat-pupil #block-custom-user-custom-user-pupils-course .courses ul li span {
  float: right;
}
body.page-user #tabs-wrapper {
  right: 30px;
  position: absolute;
  top: 15px;
}
body.page-user #tabs-wrapper .active {
  display: none;
}
body.page-user #tabs-wrapper a {
  background: url("images/edit.png") no-repeat left center;
  padding-left: 30px;
  color: #333333;
  text-decoration: underline;
}
#block-custom-user-custom-user-course-lesson-name {
  float: right;
}
#block-custom-user-custom-user-course-lesson-name .content {
  overflow: hidden;
}
#block-custom-user-custom-user-course-lesson-name .content h3 {
  color: #3399cc;
  font-weight: normal;
  margin: 0;
  margin-left: 30px;
  margin-bottom: 7px;
  line-height: 1;
  font-size: 14px;
}
.titl_les,
.tasking-item {
  text-align: center;
  margin: 5px 0;
  line-height: 24px;
}
.titl_les .number_lesson,
.tasking-item .number_lesson {
  margin-right: 5px;
  color: #a0a0a0;
}
.titl_les .title,
.tasking-item .title {
  text-align: left;
  color: #6666cc;
  font-weight: bold;
  font-style: italic;
}
.titl_les .task,
.tasking-item .task,
.titl_les .ansver,
.tasking-item .ansver {
  text-align: left;
}
.titl_les .h4,
.tasking-item .h4,
.titl_les h6,
.tasking-item h6 {
  font-size: 24px;
  color: #6666cc;
}
#block-custom-user-custom-user-lesson-video {
  text-align: center;
  paddin-bottom: 20px;
}
#block-custom-user-custom-user-lesson-video .wrap_video {
  margin: 0 auto;
  width: 630px;
  height: 350px;
  padding: 7px;
  background: #666666;
  border-radius: 14px;
  top: 0;
}
.node-lesson > h2 {
  display: none;
}
.node-lesson .form-item {
  padding-bottom: 40px;
}
.node-lesson .form-item label {
  text-align: center;
  font-size: 24px;
  color: #6666cc;
  font-weight: normal;
}
.node-lesson .form-item label .form-required {
  display: none;
}
.node-lesson .form-item .description {
  font-size: 14px;
  padding: 10px 0;
}
.node-lesson .form-item .form-textarea-wrapper {
  border: 1px solid #6666cc;
  background: #f9f7f7;
  padding: 25px;
  padding-bottom: 40px;
}
.node-lesson .form-item .form-textarea-wrapper textarea {
  border: 1px solid #b8b8b8;
  border-radius: 0;
  box-shadow: none;
}
.node-lesson .form-actions {
  overflow: hidden;
}
.node-lesson .form-submit {
  float: right;
  background: url("images/course_look.png") no-repeat left center !important;
  width: 150px;
  padding-right: 43px;
  height: 35px;
  text-align: center;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-image: url(images/gradient.php/none);
  background-size: 100% 100%;
  background-image: linear-gradient(none);
  display: block;
  color: #333333;
  font-size: 12px;
}
.page-pupils-home-task table {
  border: 1px solid #69b4da;
  width: auto;
}
.page-pupils-home-task table td {
  padding: 10px;
}
.view-my-courses .views-field-title {
  text-align: center;
  color: #6666cc;
  font-size: 24px;
  margin: 10px 0;
}
#block-custom-user-custom-user-course-plan .title {
  font-size: 14px;
}
#block-custom-user-custom-user-course-plan .content li {
  color: #3399cc;
}
#block-custom-user-custom-user-course-plan .content li .lesson_title {
  width: 370px;
  display: block;
  float: left;
  text-decoration: underline;
}
#block-custom-user-custom-user-course-plan .content li .description {
  display: none;
}
.stat_lesson {
  height: 19px;
  padding: 3px 0;
  color: #333333;
}
.stat_lesson.complate {
  background: url("images/complate_lesson.png") no-repeat left 2px;
  padding-left: 25px;
}
.comment_attr {
  margin: 10px 0;
  color: #AD80B5;
  font-weight: bold;
  padding: 5px;
  border: 2px solid red;
}
.add_lesson {
  float: right;
  border: 1px solid #c0c0c0;
  background-image: url(images/gradient.php/%23cccccc,%20%23fbfbfb);
  background-size: 100% 100%;
  background-image: linear-gradient(#cccccc, #fbfbfb);
  padding: 0px 5px;
  margin: 0 5px;
  border-radius: 5px;
}
.add_lesson button,
.add_lesson .form-submit {
  border: 1px solid #c0c0c0;
  background-image: url(images/gradient.php/%23cccccc,%20%23fbfbfb);
  background-size: 100% 100% !important;
  background-image: linear-gradient(#cccccc, #fbfbfb) !important;
  padding: 0px 5px;
  margin: 0 5px;
  border-radius: 5px;
}
.add_lesson a,
.add_lesson button {
  color: #333;
  display: block;
  text-decoration: none;
}
.add_lesson a span,
.add_lesson button span {
  padding: 0;
}
.node-lesson .form-item {
  padding: 0;
}
.node-lesson .filter-wrapper {
  border: none;
  padding: 0!important;
}
.node-lesson .filter-wrapper .description,
.node-lesson .filter-wrapper .tips {
  display: none;
}
.node-lesson .filter-help {
  display: none;
}
.hor {
  border: 1px solid #cccccc;
  margin: 4px 0;
}
#filter-statistic-form {
  overflow: hidden;
  padding: 10px;
  margin: 10px 0;
  color: #ffffff;
  border: 1px solid #cccccc;
  background: #e4e4e4;
}
#filter-statistic-form .form-item {
  float: left;
  margin: 0;
  margin-right: 15px;
  width: 250px;
}
#filter-statistic-form .form-item .form-text {
  color: #333333;
  width: 250px;
  border-radius: 0;
}
#filter-statistic-form .form-submit {
  border-radius: 0;
  padding: 4px 10px;
  color: #ffffff;
  background: #333333;
}
#user-profile-form {
  color: #333333 !important;
}
#user-profile-form .form-item {
  overflow: hidden;
}
#user-profile-form .form-item .confirm-parent,
#user-profile-form .form-item .password-parent {
  width: 100%;
}
#user-profile-form .form-item .description,
#user-profile-form .form-item .grippie,
#user-profile-form .form-item .password-strength,
#user-profile-form .form-item div.password-confirm {
  display: none;
}
#user-profile-form .form-item label {
  width: 200px;
  float: left;
}
#user-profile-form .form-item .form-text,
#user-profile-form .form-item textarea {
  width: 465px;
}
.profile {
  font-family: 'Conv_georgia';
  font-size: 13px;
  line-height: 1.8;
}
.profile .user-picture {
  float: left;
  width: 200px;
  margin-right: 15px;
  text-align: center;
}
.profile .user-picture img {
  box-shadow: 0 0 4px #333333;
}
.profile .field-name-field-phone-number {
  background: url("images/phone.png") no-repeat 0px center;
  padding-left: 50px;
}
.profile .field-name-field-skype {
  background: url("images/skype.png") no-repeat 3px center;
  padding-left: 50px;
}
.profile .fieldset-legend {
  clear: both;
  display: block;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
}
.profile fieldset {
  border: none;
  border-bottom: 2px solid #333333;
  margin-top: 0;
  position: relative;
  padding: 0 10px;
  margin-bottom: 15px;
}
.profile fieldset > .fieldset-wrapper {
  margin: 10px 0;
}
.profile .field {
  overflow: hidden;
}
.profile .field.field-name-field-about-me {
  padding-top: 10px;
  color: #333333 !important;
  margin-top: 10px;
}
.profile .field.field-name-field-about-me .field-label {
  float: none;
}
.profile .field .field-label {
  float: left;
  width: 170px;
}
.profile .field .field-items {
  font-style: italic;
}
.show_courses {
  background: url("images/fon_.png") no-repeat scroll left center transparent;
  color: #222222;
  display: block;
  font-family: tahoma;
  font-size: 10px;
  line-height: 36px;
  padding-left: 45px;
  text-align: left;
  text-decoration: none;
  text-shadow: 0 0 1.4px #999999;
  width: 110px;
  margin: 0 auto;
  margin-top: 10.5px;
}
#block-block-5 {
  position: absolute;
  right: 10px;
  top: 3px;
}
#block-block-3 {
  position: absolute;
  z-index: 1;
}
#user_user_full_group_private .fieldset-legend {
  padding: 0;
  padding-left: 30px;
  background: url("images/inform.png") no-repeat left center;
}
#user_user_full_group_contact {
  border-bottom: none;
  margin: 0;
}
#user_user_full_group_contact .fieldset-legend {
  padding: 0;
  padding-left: 30px;
  background: url("images/home.png") no-repeat left center;
}
#user_user_full_group_more,
.field-name-field-pay-information {
  clear: both;
  margin: 0;
  background: #dddddd;
  padding: 10.5px;
  padding-top: 30px;
  overflow: hidden;
}
#user_user_full_group_more .field,
.field-name-field-pay-information .field {
  width: 48%;
  padding-left: 2%;
  float: left;
}
#user_user_full_group_more .field.even_field,
.field-name-field-pay-information .field.even_field {
  width: 50%;
  padding: 0;
}
#user_user_full_group_more .fieldset-wrapper,
.field-name-field-pay-information .fieldset-wrapper {
  background: url(images/vert_line.png) repeat-y center;
  overflow: hidden;
}
#user_user_full_group_more legend,
.field-name-field-pay-information legend {
  position: absolute;
  top: 5px;
}
#user_user_full_group_more .fieldset-legend,
.field-name-field-pay-information .fieldset-legend {
  padding: 0;
  padding-left: 30px;
  background: url("images/earth.png") no-repeat left center;
}
.field-name-field-pay-information {
  color: #333333 !important;
  padding-top: 5px;
}
.field-name-field-pay-information fieldset {
  display: none;
}
.field-name-field-pay-information .field-label {
  float: none!important;
  background: url("images/earth.png") no-repeat left center;
  padding-left: 30px;
}
#block-custom-user-custom-user-pupils-course {
  background: none repeat scroll 0 0 #FFFFFF;
  padding: 10px;
  min-width: 430px;
  display: none;
  position: absolute;
  top: 100px;
  box-shadow: 0 0 4px #333333;
}
#block-custom-user-custom-user-pupils-course .title {
  color: #333333;
  background: url("images/cours.png") no-repeat left center;
  padding-left: 50px;
  line-height: 45px;
}
#block-custom-user-custom-user-pupils-course .close {
  position: absolute;
  top: -70px;
  right: 10px;
  color: #333333;
}
#block-custom-user-custom-user-pupils-course .content {
  position: relative;
}
#testing_form fieldset fieldset .form-item {
  float: left;
  min-width: 600px;
}
#testing_form fieldset fieldset .form-item label {
  float: left;
  color: #333333;
  width: 25px;
}
#testing_form fieldset fieldset .form-submit,
#testing_form fieldset fieldset .form-type-checkbox {
  float: right!important;
  min-width: 10px;
}
.change-lesson {
  width: 160px;
}
.change-lesson .form-text {
  float: left;
}
.change-lesson div {
  margin: 0;
}
.change-lesson .form-text {
  margin-right: 5px;
  width: 35px;
}
.finished {
  color: #A3A1C7!important;
}
.finished a {
  color: #A3A1C7!important;
}
.page-curator-pupil-list #block-system-main #add-to-cur-p-form {
  padding: 20px;
}
.page-curator-pupil-list #block-system-main ul li {
  overflow: hidden;
  padding: 5px;
  line-height: 35px;
}
.page-curator-pupil-list #block-system-main ul li.li-1 {
  background-color: #DFC9E8;
  color: #ffffff;
}
.page-curator-pupil-list #block-system-main ul li form {
  float: right;
}
#data_vk {
  position: fixed;
  top: 100px;
}
.video_navigation {
  margin-top: 20px;
  display: inline-block;
  margin: 0;
}
.video_navigation li {
  text-align: left;
  padding: 5px;
  margin: 5px 0;
  list-style: none;
  line-height: 15px;
  min-width: 150px;
  border-radius: 5px;
  cursor: pointer;
  background: #87e0fd;
  /* Old browsers */

  background: -moz-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #87e0fd), color-stop(40%, #53cbf1), color-stop(100%, #05abe0));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#87e0fd', endColorstr='#05abe0', GradientType=0);
  /* IE6-9 */

}
.video_navigation li.video_navigation_active {
  background: #d0e4f7;
  /* Old browsers */

  background: -moz-linear-gradient(top, #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d0e4f7), color-stop(24%, #73b1e7), color-stop(50%, #0a77d5), color-stop(79%, #539fe1), color-stop(100%, #87bcea));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0e4f7', endColorstr='#87bcea', GradientType=0);
  /* IE6-9 */

  color: #ffffff;
  font-weight: bold;
}
#block-vkxp-vkxp-soc-auth {
  position: absolute;
  right: -70px;
  top: 0px;
  width: 100px;
  text-align: center;
  background: #ffffff;
  border-radius: 16px;
  padding: 6px;
  font-size: 10px;
}
#block-vkxp-vkxp-soc-auth img {
  width: 50px;
  height: 50px;
  display: block;
  text-align: center;
  margin: 0 auto;
}
#block-custom-materials-cm-pupil .captcha-admin-links {
  display: none;
}
#block-custom-materials-cm-pupil ul li {
  overflow: hidden;
  padding: 5px;
  line-height: 35px;
}
#block-custom-materials-cm-pupil ul li.li-1 {
  background-color: #DFC9E8;
  color: #ffffff;
}
#block-custom-materials-cm-pupil ul li form {
  float: right;
}
#block-custom-materials-cm-pupil li {
  overflow: hidden;
}
#block-custom-materials-cm-pupil form {
  float: right;
}
.node-materials .video_navigation {
  margin-top: 30px;
}
.node-materials .field {
  overflow: hidden;
  clear: both;
  margin-top: 10px;
  margin-bottom: 20px;
}
.node-materials .field.field-name-field-photo .field-items {
  overflow: hidden;
}
.node-materials .field.field-name-field-photo .field-item {
  float: left;
  margin: 15px;
  box-shadow: 0 0 10px #333;
}
.node-materials .field .field-label {
  font-size: 20px;
  font-family: 'Conv_georgia';
  color: #555555;
  font-weight: normal;
  text-shadow: 1px 0 0 #cccccc;
  font-style: italic;
}
.node-materials .field-name-field-video {
  float: left;
  clear: none;
  margin-right: 20px;
}
.node-materials .field-name-field-video .field-items {
  display: none;
}
.element-invisible {
  margin: 0;
}
#block-search-form {
  position: absolute;
  right: 15px;
  bottom: 8px;
}
#block-search-form .form-actions {
  display: none;
}
#block-search-form .form-text {
  padding: 2px;
  padding-left: 27px;
  padding-right: 15px;
  width: 160px;
  border-radius: 7px;
  background-image: url("images/lupa.png");
  background-repeat: no-repeat;
  background-position: 3px center;
  color: #ffffff;
  background-color: transparent;
  border-top-color: #484848;
  border-bottom-color: #7d7d7d;
  border-right-color: #616161;
  border-left-color: #616161;
}
.jcarousel-skin-default .jcarousel-item {
  height: auto;
}
.page-user- .ckeditor_links {
  display: none;
}
