
/* Static View-only Star Version */
.fivestar-blue_stars div.fivestar-widget-static .star {
  width: 17px;
  height: 15px;
  background: url(stars.gif) no-repeat 0 0px;
}

.fivestar-blue_stars div.fivestar-widget-static .star span.on {
  background: url(stars.gif) no-repeat 0 -32px;
}

.fivestar-blue_stars div.fivestar-widget-static .star span.off {
  background: url(stars.gif) no-repeat 0 0;
}

/* Javascript Star Version */
.fivestar-blue_stars div.fivestar-widget .cancel,
.fivestar-blue_stars div.fivestar-widget .star {
  width: 17px;
  height: 15px;
}
.fivestar-blue_stars div.fivestar-widget .cancel,
.fivestar-blue_stars div.fivestar-widget .cancel a {
  background: url(stars.gif) no-repeat 0 0;
}

.fivestar-blue_stars div.fivestar-widget .star,
.fivestar-blue_stars div.fivestar-widget .star a {
  background: url(stars.gif) no-repeat 0 0;
}

.fivestar-blue_stars div.fivestar-widget div.on a {
  background-position: 0 -16px;
}
.fivestar-blue_stars div.fivestar-widget div.hover a,
.fivestar-blue_stars div.rating div a:hover {
  background-position: 0 -32px;
}
